Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2019-12, with the labels that each got.

#2760 Don't rely on bigquery table id anymore
  third_party/terraform/resources/resource_bigquery_table.go.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2776 Several test fixes
  third_party/terraform/data_sources/data_source_google_compute_vpn_gateway.go
  third_party/terraform/tests/resource_compute_target_pool_test.go
  third_party/terraform/tests/resource_dns_managed_zone_test.go.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2768 remove cloudrun test custom import ids
  third_party/terraform/tests/resource_cloud_run_service_test.go
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2795 standardize on two spaces instead of tabs for generated IAM docs/tests
  templates/terraform/examples/base_configs/iam_test_file.go.erb
  templates/terraform/iam/example_config_body/app_engine_service.tf.erb
  templates/terraform/iam/example_config_body/app_engine_version.tf.erb
  templates/terraform/iam/iam_attributes.tf.erb
  templates/terraform/resource_iam.html.markdown.erb
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2799 Add spanner service account and IAM
  templates/inspec/tests/integration/build/gcp-mm.tf
Labels: automerged, cla: yes, downstream-generated, inspec

#2804 DNS managed zone DS test ignores for beta-only fields
  third_party/terraform/tests/data_source_dns_managed_zone_test.go.erb
Labels: ansible, changelog: no-release-note, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2557 [logging_sink] Add bigquery_options field to support partitioned tables
  third_party/terraform/resources/resource_logging_billing_account_sink.go
  third_party/terraform/resources/resource_logging_folder_sink.go
  third_party/terraform/resources/resource_logging_organization_sink.go
  third_party/terraform/resources/resource_logging_project_sink.go
  third_party/terraform/resources/resource_logging_sink.go
  third_party/terraform/tests/resource_logging_billing_account_sink_test.go
  third_party/terraform/tests/resource_logging_folder_sink_test.go
  third_party/terraform/tests/resource_logging_organization_sink_test.go
  third_party/terraform/tests/resource_logging_project_sink_test.go
  third_party/terraform/website/docs/r/logging_billing_account_sink.html.markdown
  third_party/terraform/website/docs/r/logging_folder_sink.html.markdown
  third_party/terraform/website/docs/r/logging_organization_sink.html.markdown
  third_party/terraform/website/docs/r/logging_project_sink.html.markdown
Labels: ansible, automerged, cla: yes, community, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2823 Changing Ansible Repo on Concourse
  .ci/acceptance-tests/ansible-integration.sh
  .ci/ci.yml.tmpl
Labels: automerged, cla: yes, downstream-generated, inspec, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2794 storage bucket iam generation
  api/resource/iam_policy.rb
  products/storage/terraform.yaml
  templates/terraform/examples/base_configs/iam_test_file.go.erb
  templates/terraform/examples/storage_bucket_basic.tf.erb
  templates/terraform/iam/iam_context.go.erb
  templates/terraform/iam_policy.go.erb
  templates/terraform/resource_iam.html.markdown.erb
  third_party/terraform/resources/resource_iam_policy.go.erb
  third_party/terraform/tests/resource_storage_bucket_iam_test.go
  third_party/terraform/utils/iam_storage_bucket.go
  third_party/terraform/utils/provider.go.erb
  third_party/terraform/website/docs/r/storage_bucket_iam.html.markdown
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2833 Update .gitmodules
  .gitmodules
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google-beta

#2836 Update docker image and add docs
  .ci/containers/README.md
  .ci/containers/terraform-gcloud-inspec/Dockerfile
  .ci/unit-tests/task.yml
  .ci/unit-tests/test-terraform.yml
  .ci/unit-tests/tf-3.yml
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google

#2818 Allow for no-release-note to be used in relesenote block
  .ci/changelog.tmpl
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerged, cla: yes, downstream-generated, inspec

#2848 Initial functional downstream diff generator.
  .ci/containers/downstream-builder/Dockerfile
  .ci/containers/downstream-builder/generate_downstream.sh
  .ci/containers/github-differ/Dockerfile
  .ci/containers/github-differ/generate_comment.sh
  .ci/gcb-generate-diffs.yml
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated

#2863 Bump Composer timeouts
  third_party/terraform/resources/resource_composer_environment.go.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2868 Fixes discovered in testing GCB/GH differ.
  .ci/containers/downstream-builder/generate_downstream.sh
  .ci/containers/github-differ/Dockerfile
  .ci/containers/github-differ/generate_comment.sh
  .ci/gcb-generate-diffs.yml
Labels: automerged, cla: yes, downstream-generated

#2878 Retry reads of organization datasource
  third_party/terraform/data_sources/data_source_google_organization.go
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2896 Add Github issue template config
  .github/ISSUE_TEMPLATE/config.yml
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google
