Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2019-03, with the labels that each got.

#1432 Improve docs for Cloud Build
  products/cloudbuild/api.yaml
Labels: ansible, automerged, cla: yes, downstream-generated, inspec, no-op, terraform-provider-google, terraform-provider-google-beta

#1453 Remember to set gcr domain in AppEngine Read.
  third_party/terraform/resources/resource_app_engine_application.go
Labels: automerged, cla: yes, downstream-generated, no-op, terraform-provider-google, terraform-provider-google-beta

#1460 Inspec resource folder
  overrides/inspec/resource_override.rb
  products/resourcemanager/ansible.yaml
  products/resourcemanager/api.yaml
  products/resourcemanager/inspec.yaml
  products/resourcemanager/terraform.yaml
  provider/inspec.rb
  templates/inspec/examples/attributes/external_attributes.yml
  templates/inspec/examples/google_resourcemanager_folder/google_resourcemanager_folder.erb
  templates/inspec/examples/google_resourcemanager_folder/google_resourcemanager_folder_attributes.erb
  templates/inspec/examples/google_resourcemanager_folder/google_resourcemanager_folders.erb
  templates/inspec/integration_test_template.erb
  templates/inspec/plural_resource.erb
  templates/inspec/singular_resource.erb
  templates/inspec/tests/integration/build/gcp-mm.tf
  templates/inspec/tests/integration/configuration/mm-attributes.yml
Labels: ansible, automerged, cla: yes, downstream-generated, inspec, no-op, terraform-provider-google, terraform-provider-google-beta

#1108 [Terraform] DNS Policies
  products/dns/api.yaml
  products/dns/terraform.yaml
  templates/terraform/examples/dns_policy_basic.tf.erb
  templates/terraform/pre_delete/detach_network.erb
  third_party/terraform/tests/resource_dns_policy_test.go.erb
Labels: automerged, cla: yes, community, downstream-generated, no-op, terraform-provider-google, terraform-provider-google-beta

#1477 Add override providers to README
  README.md
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1481 Add retention duraction, retain acked message to pubsub
  products/pubsub/ansible.yaml
  products/pubsub/api.yaml
  templates/terraform/examples/pubsub_subscription_pull.tf.erb
Labels: ansible, automerged, cla: yes, downstream-generated, inspec, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#1484 Doctor should check that goimports is installed
  tools/doctor
Labels: automerged, cla: yes, community, downstream-generated, no-op

#1472 Automating version_added on Ansible
  .ci/magic-modules/create-pr.sh
  overrides/ansible/property_override.rb
  overrides/ansible/resource_override.rb
  products/bigquery/ansible.yaml
  products/bigquery/ansible_version_added.yaml
  products/cloudbuild/ansible.yaml
  products/cloudbuild/ansible_version_added.yaml
  products/compute/ansible.yaml
  products/compute/ansible_version_added.yaml
  products/container/ansible.yaml
  products/container/ansible_version_added.yaml
  products/dns/ansible.yaml
  products/dns/ansible_version_added.yaml
  products/iam/ansible.yaml
  products/iam/ansible_version_added.yaml
  products/pubsub/ansible.yaml
  products/pubsub/ansible_version_added.yaml
  products/redis/ansible.yaml
  products/redis/ansible_version_added.yaml
  products/resourcemanager/ansible.yaml
  products/resourcemanager/ansible_version_added.yaml
  products/sourcerepo/ansible.yaml
  products/sourcerepo/ansible_version_added.yaml
  products/spanner/ansible.yaml
  products/spanner/ansible_version_added.yaml
  products/sql/ansible.yaml
  products/sql/ansible_version_added.yaml
  products/storage/ansible.yaml
  products/storage/ansible_version_added.yaml
  provider/ansible.rb
  provider/ansible/documentation.rb
  provider/ansible/manifest.rb
  provider/ansible/version_added.rb
  provider/core.rb
  spec/copyright.rb
  spec/copyright_spec.rb
  templates/ansible/documentation.erb
  templates/ansible/facts.erb
Labels: automerged, cla: yes, downstream-generated, no-op

#1353 Support specifying project explicitly on the sql ssl resource
  third_party/terraform/resources/resource_sql_ssl_cert.go
Labels: automerged, cla: yes, downstream-generated, no-op, terraform-provider-google, terraform-provider-google-beta

#1440 Filestore Operation autogeneration
  products/filestore/api.yaml
  products/filestore/terraform.yaml
  third_party/terraform/utils/filestore_operation.go.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1505 Add test and alias for BigQuery Dataset name
  products/bigquery/inspec.yaml
  products/compute/inspec.yaml
  templates/inspec/custom_functions/bigquery_dataset_name.rb
  templates/inspec/examples/google_bigquery_dataset/google_bigquery_dataset.erb
  templates/inspec/plural_resource.erb
Labels: automerged, cla: yes, downstream-generated, inspec, no-op

#1502 Modify docs on managed ssl cert.
  products/compute/api.yaml
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google-beta

#1511 Add :exclude_import to Terraform resource properties
  overrides/terraform/resource_override.rb
  templates/terraform/resource.erb
Labels: cla: yes, downstream-generated, no-op, terraform-provider-google, terraform-provider-google-beta

#1508 Add project field to sql ssl cert
  third_party/terraform/website/docs/r/sql_ssl_cert.html.markdown
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1506 Fix spurious black error when generating Terraform
  provider/core.rb
Labels: automerged, cla: yes, downstream-generated, no-op, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#1435 Adding datasources for folder and project org policy
  third_party/terraform/data_sources/data_source_google_folder_organization_policy.go
  third_party/terraform/data_sources/data_source_google_project_organization_policy.go
  third_party/terraform/tests/data_source_google_folder_organization_policy_test.go
  third_party/terraform/tests/data_source_google_project_organization_policy_test.go
  third_party/terraform/utils/provider.go.erb
  third_party/terraform/website-compiled/google.erb
  third_party/terraform/website/docs/d/datasource_google_folder_organization_policy.html.markdown
  third_party/terraform/website/docs/d/datasource_google_project_organization_policy.html.markdown
Labels: automerged, cla: yes, downstream-generated, no-op, terraform-provider-google, terraform-provider-google-beta

#1516 removing no-op label
  .ci/magic-modules/create-pr.sh
Labels: automerged, cla: yes, downstream-generated

#1517 Ansible Release script typo
  .ci/magic-modules/release-ansible.sh
Labels: automerged, cla: yes, downstream-generated

#1529 Ansible Integration Test Docker Image Changes
  .ci/acceptance-tests/ansible-integration.yml
  .ci/containers/ansible/Dockerfile
Labels: automerged, cla: yes, downstream-generated

#1515 [terraform-conversions] Manually add storage_bucket to conversions library
  provider/terraform_object_library.rb
  third_party/validator/storage_bucket.go
Labels: automerged, cla: yes, community, downstream-generated

#1551 [Terraform] Add custom Service Account support to Dataflow Job resource
  third_party/terraform/resources/resource_dataflow_job.go
  third_party/terraform/tests/resource_dataflow_job_test.go
  third_party/terraform/website/docs/r/dataflow_job.html.markdown
Labels: automerged, cla: yes, downstream-generated

#1546 Add post-create for VpnTunnels Labels
  products/compute/ansible.yaml
  products/compute/api.yaml
  products/compute/terraform.yaml
  templates/terraform/examples/vpn_tunnel_beta.tf.erb
Labels: ansible, automerged, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#1543 Move encoders/decoders over to Ansible
  api/resource.rb
  overrides/ansible/resource_override.rb
  products/compute/ansible.yaml
  products/compute/api.yaml
  products/container/ansible.yaml
  products/container/api.yaml
  products/iam/ansible.yaml
  products/iam/api.yaml
  products/pubsub/ansible.yaml
  products/spanner/ansible.yaml
  products/spanner/api.yaml
Labels: ansible, automerged, cla: yes, downstream-generated

#1557 re-adding force flag
  .ci/magic-modules/release-ansible.sh
Labels: automerged, cla: yes, downstream-generated

#1564 Mark Forwarding Rule allPorts as GA
  products/compute/api.yaml
  third_party/terraform/tests/resource_compute_forwarding_rule_test.go.erb
Labels: ansible, automerged, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#1567 uploading coverage spreadsheet to a bucket
  .ci/magic-modules/coverage-spreadsheet-upload.sh
  .ci/magic-modules/coverage-spreadsheet-upload.yml
  .ci/release.yml.tmpl
  tools/linter/spreadsheet/csv_formatter.rb
Labels: automerged, cla: yes, downstream-generated

#1588 Fix .gitmodules to use https for Terraform mapper
  .gitmodules
Labels: cla: yes, downstream-generated, inspec

#1566 Use out_name instead of name for nested properties in markdown doc.
  provider/inspec.rb
Labels: automerged, cla: yes, downstream-generated, inspec

#1591 Migrating self_link_query to nested_query
  api/resource.rb
  products/dns/api.yaml
  products/resourcemanager/api.yaml
  products/sql/api.yaml
  templates/ansible/async.erb
  templates/ansible/resource.erb
  templates/ansible/transport.erb
  templates/inspec/plural_resource.erb
  templates/inspec/singular_resource.erb
Labels: automerged, cla: yes, downstream-generated

#1438 Terraform - AccessContextManager autogenerated operations
  products/accesscontextmanager/api.yaml
  products/accesscontextmanager/terraform.yaml
  templates/terraform/operation.go.erb
  templates/terraform/post_create/accesspolicy.erb
  third_party/terraform/resources/resource_google_folder.go
  third_party/terraform/resources/resource_google_project.go
  third_party/terraform/utils/access_context_manager_operation.go.erb
Labels: automerged, cla: yes, downstream-generated, inspec, terraform-provider-google, terraform-provider-google-beta

#1592 ERB Linting
  .erb-lint.yml
  Gemfile
  Gemfile.lock
  Rakefile
Labels: automerged, cla: yes, downstream-generated
