Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2019-09, with the labels that each got.

#2276 Ansible Custom Code Refactor
  overrides/ansible/resource_override.rb
  products/cloudfunctions/ansible.yaml
  products/cloudtasks/ansible.yaml
  products/compute/ansible.yaml
  products/container/ansible.yaml
  products/dns/ansible.yaml
  products/iam/ansible.yaml
  products/kms/ansible.yaml
  products/mlengine/ansible.yaml
  products/resourcemanager/ansible.yaml
  products/spanner/ansible.yaml
  products/sql/ansible.yaml
  provider/ansible/custom_code.rb
  templates/ansible/resource.erb
Labels: automerged, cla: yes, downstream-generated

#2284 Add purpose field to google compute address
  products/compute/api.yaml
  products/compute/terraform.yaml
  templates/terraform/examples/address_with_gce_endpoint.tf.erb
Labels: ansible, automerged, changelog: enhancement, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2281 bumping up ansible version
  products/bigquery/ansible_version_added.yaml
  products/cloudscheduler/ansible_version_added.yaml
  products/compute/ansible_version_added.yaml
  products/container/ansible_version_added.yaml
  products/pubsub/ansible_version_added.yaml
  products/sql/ansible_version_added.yaml
  provider/ansible/version_added.rb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2216 Add app engine domain mappings resource
  products/appengine/ansible.yaml
  products/appengine/api.yaml
  products/appengine/terraform.yaml
  templates/terraform/constants/domain_mapping.erb
  templates/terraform/examples/app_engine_domain_mapping_basic.tf.erb
  third_party/terraform/tests/resource_app_engine_domain_mapping_test.go
  third_party/terraform/website-compiled/google.erb
Labels: ansible, automerged, changelog: new-resource, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2286 Add metric descriptor unit to google_logging_metric
  products/logging/api.yaml
  templates/terraform/examples/logging_metric_basic.tf.erb
Labels: ansible, automerged, changelog: enhancement, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2292 Inspec project iam
  products/resourcemanager/inspec.yaml
  templates/inspec/iam_policy/iam_policy.erb
  templates/inspec/iam_policy/iam_policy.md.erb
  templates/inspec/plural_resource.erb
  templates/inspec/singular_resource.erb
Labels: automerged, cla: yes, downstream-generated, inspec

#2298 Better README on Ansible Collection
  provider/ansible/common~compile.yaml
  templates/ansible/README.md.erb
Labels: ansible, automerged, cla: yes, downstream-generated, terraform-provider-google

#2309 Add more debug lines to downstreaming changelog
  .ci/magic-modules/downstream_changelog_metadata.py
  .ci/magic-modules/pyutils/downstreams.py
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated

#2312 allow master authorized networks config to be removed
  third_party/terraform/resources/resource_container_cluster.go.erb
  third_party/terraform/tests/resource_container_cluster_test.go.erb
Labels: automerged, cla: yes, downstream-generated, inspec, terraform-provider-google, terraform-provider-google-beta

#2289 add mode option to google compute instance boot disk
  third_party/terraform/resources/resource_compute_instance.go
  third_party/terraform/tests/resource_compute_instance_test.go
  third_party/terraform/website/docs/r/compute_instance.html.markdown
  third_party/validator/compute_instance.go
Labels: ansible, automerged, changelog: enhancement, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2328 update docs and add `clustering` to big query table
  third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2325 Fix partially defined operation timeout blocks' default values
  api/async.rb
Labels: automerged, cla: yes, downstream-generated

#2228 Allow updating of resource policies in compute_disk
  products/compute/ansible.yaml
  products/compute/api.yaml
  products/compute/inspec.yaml
  products/compute/terraform.yaml
  templates/terraform/decoders/compute_disk_resource_policies_attachment.go.erb
  templates/terraform/encoders/compute_disk_resource_policies_attachment.go.erb
  templates/terraform/examples/resource_policy_basic.tf.erb
  templates/terraform/examples/resource_policy_full.tf.erb
  templates/terraform/pre_delete/compute_disk_resource_policies_attachment.go.erb
  third_party/terraform/tests/resource_compute_disk_resource_policy_attachment_test.go
Labels: automerged, cla: yes, community, downstream-generated, inspec, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2335 add test that checks that master authorized networks config is disabled
  third_party/terraform/tests/resource_container_cluster_test.go.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2339 add guest os features to compute image
  products/compute/api.yaml
  products/compute/terraform.yaml
  templates/terraform/examples/image_guest_os.tf.erb
Labels: ansible, automerged, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2344 Move changelog metadata task down
  .ci/ci.yml.tmpl
  .ci/magic-modules/downstream-changelog-metadata.yml
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated

#2353 Do not generate downstreams when PRs are opened against non-master branches.
  .ci/ci.yml.tmpl
Labels: automerged, cla: yes, downstream-generated

#2266 private-googleapis data source support
  third_party/terraform/data_sources/data_source_google_netblock_ip_ranges.go
  third_party/terraform/tests/data_source_google_netblock_ip_ranges_test.go
  third_party/terraform/website/docs/d/datasource_google_netblock_ip_ranges.html.markdown
Labels: automerged, changelog: enhancement, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2365 Fix error message for folder IAM test
  third_party/terraform/tests/resource_google_folder_iam_binding_test.go
  third_party/terraform/utils/iam_folder.go
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2378 Ignore new .go-version file
  .ci/magic-modules/generate-terraform.sh
Labels: changelog: no-release-note, cla: yes, downstream-generated, terraform-provider-google-beta

#2384 Remove bgp from router nat test, add a failing bgp test
  third_party/terraform/tests/resource_compute_router_nat_test.go.erb
  third_party/terraform/tests/resource_compute_router_test.go
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2395 Add bigtable GCPolicy resource
  third_party/terraform/resources/resource_bigtable_gc_policy.go
  third_party/terraform/tests/resource_bigtable_gc_policy_test.go
  third_party/terraform/utils/provider.go.erb
  third_party/terraform/website-compiled/google.erb
  third_party/terraform/website/docs/r/bigtable_gc_policy.html.markdown
Labels: ansible, automerged, changelog: new-resource, cla: yes, downstream-generated, inspec, terraform-provider-google, terraform-provider-google-beta

#2396 Ansible Core "Provider"
  .ci/magic-modules/release-ansible.sh
  compiler.rb
  provider/ansible.rb
  provider/ansible/common~copy~devel.yaml
  provider/ansible/example.rb
  provider/ansible/resource~compile~devel.yaml
  provider/ansible_devel.rb
  templates/ansible/resource.erb
Labels: automerged, cla: yes, downstream-generated, inspec, terraform-provider-google
