Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2019-06, with the labels that each got.

#1870 Add logging metric sidebar entry
  third_party/terraform/website-compiled/google.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1862 Add machine_type to dataflow_job
  third_party/terraform/resources/resource_dataflow_job.go
  third_party/terraform/tests/resource_dataflow_job_test.go
  third_party/terraform/website/docs/r/dataflow_job.html.markdown
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1835 Add more documentation on how to use notification channels
  products/monitoring/api.yaml
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1877 Remove version format validation
  third_party/terraform/tests/data_source_tpu_tensorflow_versions_test.go
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1885 Move AlertPolicy tests to a matrix
  third_party/terraform/tests/resource_monitoring_alert_policy_test.go
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1832 Fix two issues in instance template resources
  third_party/terraform/resources/resource_compute_instance_from_template.go
  third_party/terraform/resources/resource_compute_instance_template.go
  third_party/terraform/tests/resource_compute_instance_from_template_test.go
  third_party/terraform/tests/resource_compute_instance_template_test.go
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1912 use generated names for all resources in GFR ILB test
  third_party/terraform/tests/resource_compute_global_forwarding_rule_test.go.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google-beta

#1925 Update GKE examples metadata attributes for 0.12
  third_party/terraform/website/docs/r/container_cluster.html.markdown
  third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1869 Refactor CI python scripts
  .ci/magic-modules/ensure_downstreams_merged.py
  .ci/magic-modules/get_downstream_prs.py
  .ci/magic-modules/get_merged_patches.py
  .ci/magic-modules/pyutils/README.md
  .ci/magic-modules/pyutils/__init__.py
  .ci/magic-modules/pyutils/downstreams.py
  .ci/magic-modules/pyutils/downstreams_test.py
  .ci/magic-modules/pyutils/strutils.py
  .ci/magic-modules/pyutils/strutils_test.py
  .gitignore
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1940 Add pipeline-only changes for release notes and labels for changelogs
  .ci/ci.yml.tmpl
  .ci/magic-modules/downstream-changelog-metadata.yml
  .ci/magic-modules/downstream_changelog_metadata.py
  .ci/magic-modules/pyutils/downstreams_test.py
  .ci/magic-modules/pyutils/strutils.py
  .ci/magic-modules/pyutils/strutils_test.py
  .ci/vars.tmpl
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerged, cla: yes, downstream-generated

#1955 Chmod a ci script
  .ci/magic-modules/downstream_changelog_metadata.py
Labels: automerged, cla: yes, downstream-generated

#1956 Rename to_yaml method used in Ansible templates
  compile/core.rb
  provider/ansible/example.rb
  templates/ansible/documentation.erb
  templates/ansible/facts.erb
  templates/ansible/integration_test_variables.erb
Labels: automerged, cla: yes, downstream-generated

#1742 [terraform] add support for gke resource usage
  third_party/terraform/resources/resource_container_cluster.go.erb
  third_party/terraform/tests/resource_container_cluster_test.go.erb
  third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: automerged, cla: yes, community, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1953 Add override ability for an api.yaml
  api/compiler.rb
  api/object.rb
  compiler.rb
  spec/compiler_spec.rb
  spec/override_runner_spec.rb
  spec/override_validator_spec.rb
  spec/provider_terraform_import_spec.rb
  spec/provider_terraform_spec.rb
  spec/resource_spec.rb
Labels: automerged, cla: yes, downstream-generated

#1958 Update README.md with Codelab
  README.md
Labels: automerged, cla: yes, downstream-generated

#1966 Fix replaceVarsForTest to work with custom endpoints
  templates/terraform/examples/base_configs/test_file.go.erb
  third_party/terraform/tests/resource_access_context_manager_access_level_test.go.erb
  third_party/terraform/tests/resource_access_context_manager_access_policy_test.go.erb
  third_party/terraform/tests/resource_access_context_manager_service_perimeter_test.go.erb
  third_party/terraform/tests/resource_compute_backend_bucket_signed_url_key_test.go
  third_party/terraform/tests/resource_compute_backend_service_signed_url_key_test.go
  third_party/terraform/tests/resource_compute_network_endpoint_test.go.erb
  third_party/terraform/utils/transport_test.go
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1965 Sort IAM policy bindings by their role name to get simpler diffs
  third_party/terraform/data_sources/data_source_google_iam_policy.go
Labels: automerged, cla: no, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1895 Ansible: gcp_iam_service_account_key: python3 TypeError - add decode to variable assignment
  products/iam/helpers/ansible/service_account_key_template.erb
Labels: ansible, automerged, cla: yes, community, downstream-generated

#1969 old ansible release script
  tools/ansible-pr/README.md
  tools/ansible-pr/generate_template.rb
  tools/ansible-pr/run.sh
Labels: automerged, cla: yes, downstream-generated

#1971 removing some stray puppet references
  compile/core.rb
  compiler.rb
  products/compute/terraform.yaml
Labels: automerged, cla: yes, downstream-generated

#1978 measure timeouts in minutes
  api/timeout.rb
  products/accesscontextmanager/terraform.yaml
  products/compute/api.yaml
  products/compute/terraform.yaml
  products/filestore/terraform.yaml
  products/firestore/terraform.yaml
  products/redis/terraform.yaml
  products/sql/terraform.yaml
  products/tpu/terraform.yaml
  templates/terraform/resource.erb
  templates/terraform/resource.html.markdown.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1983 Remove a few redundant GKE tests
  third_party/terraform/tests/resource_container_cluster_test.go.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#1986 kubernetes_dashboard is disabled by default
  third_party/terraform/resources/resource_container_cluster.go.erb
  third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: automerged, cla: no, downstream-generated, terraform-provider-google, terraform-provider-google-beta
