Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2019-08, with the labels that each got.

#2126 Add support for override custom files outside MM root
  compiler.rb
  provider/core.rb
  provider/file_template.rb
  provider/terraform_object_library.rb
Labels: automerged, cla: yes, downstream-generated

#2111 Binary Authorization: globalPolicyEvaluationMode
  products/binaryauthorization/api.yaml
  products/binaryauthorization/terraform.yaml
  templates/terraform/examples/binary_authorization_policy_global_evaluation.tf.erb
  third_party/terraform/tests/resource_binaryauthorization_policy_test.go.erb
Labels: automerged, changelog: enhancement, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2140 have the magician tag a reviewer for external PRs
  .ci/magic-modules/welcome-contributor.sh
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2143 Allow partial URIs in Cloud Functions event_trigger.resource
  third_party/terraform/resources/resource_cloudfunctions_function.go
  third_party/terraform/tests/resource_cloudfunctions_function_test.go
  third_party/terraform/website/docs/r/cloudfunctions_function.html.markdown
Labels: automerged, changelog: enhancement, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2160 Update the comment about MM downstream commit emails
  .ci/magic-modules/generate-ansible.sh
  .ci/magic-modules/generate-inspec.sh
  .ci/magic-modules/generate-terraform.sh
Labels: automerged, cla: yes, downstream-generated

#2155 Oics provider all lower versions
  templates/terraform/examples/base_configs/test_file.go.erb
  third_party/terraform/utils/provider_test.go.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2137 Add vpc access connector resource and vpc_connector attribute to cloud functions
  products/pubsub/terraform.yaml
  products/vpcaccess/api.yaml
  products/vpcaccess/terraform.yaml
  templates/terraform/encoders/no_send_name.go.erb
  templates/terraform/examples/vpc_access_connector.tf.erb
  third_party/terraform/resources/resource_cloudfunctions_function.go
  third_party/terraform/tests/resource_cloudfunctions_function_test.go.erb
  third_party/terraform/website/docs/r/cloudfunctions_function.html.markdown
Labels: ansible, automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2164 Add note about cluster cidr range behaviours to GKE cluster
  third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2145 add support for user project overrides
  templates/terraform/examples/base_configs/test_file.go.erb
  templates/terraform/iam_policy.go.erb
  templates/terraform/operation.go.erb
  templates/terraform/post_create/labels.erb
  templates/terraform/pre_delete/detach_disk.erb
  templates/terraform/pre_delete/detach_network.erb
  templates/terraform/resource.erb
  templates/terraform/resource.html.markdown.erb
  templates/terraform/resource_iam.html.markdown.erb
  third_party/terraform/data_sources/data_source_google_client_openid_userinfo.go
  third_party/terraform/data_sources/data_source_google_composer_image_versions.go
  third_party/terraform/data_sources/data_source_google_kms_crypto_key_version.go
  third_party/terraform/data_sources/data_source_google_projects.go
  third_party/terraform/data_sources/data_source_google_storage_bucket_object.go
  third_party/terraform/data_sources/data_source_tpu_tensorflow_versions.go
  third_party/terraform/resources/resource_service_networking_connection.go
  third_party/terraform/tests/resource_access_context_manager_access_level_test.go.erb
  third_party/terraform/tests/resource_access_context_manager_access_policy_test.go.erb
  third_party/terraform/tests/resource_access_context_manager_service_perimeter_test.go.erb
  third_party/terraform/tests/resource_bigquery_data_transfer_config_test.go
  third_party/terraform/tests/resource_binaryauthorization_attestor_test.go.erb
  third_party/terraform/tests/resource_binaryauthorization_policy_test.go.erb
  third_party/terraform/tests/resource_compute_backend_bucket_signed_url_key_test.go
  third_party/terraform/tests/resource_compute_backend_service_signed_url_key_test.go
  third_party/terraform/tests/resource_compute_network_endpoint_test.go.erb
  third_party/terraform/tests/resource_healthcare_dataset_test.go.erb
  third_party/terraform/tests/resource_healthcare_dicom_store_test.go.erb
  third_party/terraform/tests/resource_healthcare_fhir_store_test.go.erb
  third_party/terraform/tests/resource_healthcare_hl7_v2_store_test.go.erb
  third_party/terraform/tests/resource_monitoring_alert_policy_test.go
  third_party/terraform/utils/config.go.erb
  third_party/terraform/utils/provider.go.erb
  third_party/terraform/utils/provider_test.go.erb
  third_party/terraform/utils/transport.go
  third_party/terraform/utils/utils.go.erb
  third_party/terraform/website/docs/provider_reference.html.markdown
Labels: automerged, changelog: enhancement, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2172 Fix typo by changing 'cvs' into 'csv'
  third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: automerged, cla: no, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2170 Remove quotes from boolean
  third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: automerged, cla: no, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2171 Fixed link for dataproc_job
  third_party/terraform/website-compiled/google.erb
Labels: automerged, cla: no, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2167 Add Cloud SCC Source resource
  products/kms/terraform.yaml
  products/securitycenter/api.yaml
  products/securitycenter/terraform.yaml
  templates/terraform/custom_delete/kms_key_ring.erb
  templates/terraform/custom_delete/skip_delete.go.erb
  templates/terraform/custom_import/scc_source_self_link_as_name_set_organization.go.erb
  templates/terraform/examples/scc_source_basic.tf.erb
  third_party/terraform/tests/resource_security_center_source_test.go
  third_party/terraform/website-compiled/google.erb
  third_party/terraform/website/docs/provider_reference.html.markdown
Labels: automerged, changelog: new-resource, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2186 Allow access to the full products object in compiled templates.
  compiler.rb
  third_party/terraform/utils/config.go.erb
  third_party/terraform/utils/provider.go.erb
Labels: ansible, automerged, changelog: no-release-note, cla: yes, downstream-generated, inspec, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2141 Adding new options to Compute Instance
  overrides/ansible/resource_override.rb
  products/compute/ansible.yaml
  products/compute/api.yaml
  products/compute/helpers/python/instance_update_methods.py
  templates/ansible/resource.erb
Labels: ansible, automerged, cla: yes, downstream-generated

#2188 Add debug lines to CI script for flaky issue with downstream changelog
  .ci/magic-modules/downstream_changelog_metadata.py
Labels: automerged, cla: yes, downstream-generated

#2196 parens around format string
  .ci/magic-modules/downstream_changelog_metadata.py
Labels: automerged, cla: yes, downstream-generated

#2201 Fix ci script for downstreaming
  .ci/magic-modules/downstream_changelog_metadata.py
Labels: automerged, cla: yes, downstream-generated

#2202 CI script fix for downstreaming again
  .ci/magic-modules/downstream_changelog_metadata.py
Labels: automerged, cla: yes, downstream-generated

#2161 Add support for oauth and oidc tokens to cloud_scheduler_job
  products/cloudscheduler/api.yaml
  products/cloudscheduler/terraform.yaml
  templates/terraform/constants/scheduler_auth.erb
  templates/terraform/examples/base_configs/test_file.go.erb
  templates/terraform/examples/scheduler_job_oauth.tf.erb
  templates/terraform/examples/scheduler_job_oidc.tf.erb
  templates/terraform/resource_definition/scheduler_auth.erb
Labels: ansible, automerged, cla: yes, downstream-generated, terraform-google-conversion, terraform-provider-google, terraform-provider-google-beta

#2199 Fix for SQL database import formats
  products/sql/api.yaml
  products/sql/terraform.yaml
  provider/terraform/import.rb
  templates/terraform/examples/sql_database_basic.tf.erb
  third_party/terraform/website/docs/r/sql_database.html.markdown
Labels: ansible, automerged, changelog: bug-fix, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2210 tf website fix
  third_party/terraform/website-compiled/google.erb
Labels: automerged, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2204 Throw an error on a duplicate copy, expand website
  products/cloudbuild/inspec.yaml
  products/cloudfunctions/inspec.yaml
  products/compute/inspec.yaml
  products/container/inspec.yaml
  products/dns/inspec.yaml
  products/pubsub/inspec.yaml
  products/resourcemanager/inspec.yaml
  provider/core.rb
  provider/inspec/common~copy.yaml
  provider/terraform/common~copy.yaml
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2225 bumping up nokogiri
  .ci/containers/go-ruby-python/Dockerfile
  .ci/containers/go-ruby/Gemfile.lock
  .ci/magic-modules/generate-ansible.yml
  .ci/magic-modules/generate-inspec.yml
  .ci/magic-modules/generate-terraform.yml
  Gemfile.lock
Labels: automerged, cla: yes, downstream-generated

#2238 Remove debugging start_time line
  provider/core.rb
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated

#2263 Add Cloud Run Service to the website
  third_party/terraform/website-compiled/google.erb
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta

#2278 Fix missed occurence of TpuBasePath
  third_party/terraform/data_sources/data_source_tpu_tensorflow_versions.go
Labels: automerged, changelog: no-release-note, cla: yes, downstream-generated, terraform-provider-google, terraform-provider-google-beta
