Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2023-11, with the labels that each got.

#9397 Revert "feat(spanner): add instance autoscaling attributed to spanner instance resource (#9267)"
  mmv1/products/spanner/Instance.yaml
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: override-breaking-change

#9419 Add custom domain config to Cloud Workstations cluster
  mmv1/products/workstations/WorkstationCluster.yaml
  mmv1/templates/terraform/examples/workstation_cluster_custom_domain.tf.erb
Labels: service/workstations

#9385 Add fleet field to google_container_cluster resource
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#9417 Add client config and permissions to google_identity_platform_config
  mmv1/products/identityplatform/Config.yaml
  mmv1/templates/terraform/examples/identity_platform_config_minimal.tf.erb
Labels: service/identitytoolkit

#9394 Make terraform_labels field immutable for immutable resources
  mmv1/api/resource.rb
  mmv1/provider/core.rb
  mmv1/provider/terraform.rb
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_domain_mapping_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_5_upgrade.html.markdown
  tpgtools/property.go
Labels: service/dataproc, service/datastream, service/beyondcorp, service/run, service/bigquery, service/compute-instances, service/aiplatform-prediction, service/datamigration, service/certificatemanager, service/networkservices-traffic-director

#8851 feat(vertexai): Make it possible to use Private Service Connect in Vertex AI Index Endpoint
  mmv1/products/vertexai/IndexEndpoint.yaml
  mmv1/templates/terraform/custom_flatten/vertex_ai_index_endpoint_private_service_connect_config.go.erb
  mmv1/templates/terraform/examples/vertex_ai_index_endpoint_with_false_psc.tf.erb
  mmv1/templates/terraform/examples/vertex_ai_index_endpoint_with_psc.tf.erb
Labels: service/aiplatform-matching-engine

#9403 feat(spanner): add instance autoscaling attributes to spanner instance resource
  mmv1/products/spanner/Instance.yaml
  mmv1/templates/terraform/encoders/spanner_instance.go.erb
  mmv1/templates/terraform/encoders/spanner_instance_update.go.erb
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#9406 Workflows: Add user defined environment variables feature to ga and update tests
  mmv1/products/workflows/Workflow.yaml
  mmv1/templates/terraform/examples/workflow_basic.tf.erb
  mmv1/templates/terraform/examples/workflow_beta.tf.erb
  mmv1/third_party/terraform/services/workflows/resource_workflows_workflow_test.go.erb
Labels: service/workflows

#9428 fix: do not store the ssl_mode field locally if it has never been used.
  mmv1/third_party/terraform/services/sql/data_source_sql_database_instances.go
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin

#9445 Improves the documentation rendering for `google_monitoring_uptime_check_config`
  mmv1/products/monitoring/UptimeCheckConfig.yaml
Labels: service/monitoring-uptime

#9447 Revert "Add client config and permissions to google_identity_platform_config"
  mmv1/products/identityplatform/Config.yaml
  mmv1/templates/terraform/examples/identity_platform_config_minimal.tf.erb
Labels: override-breaking-change, service/identitytoolkit

#9441 Promote `labels` field on `google_compute_vpn_tunnel` to GA
  mmv1/products/compute/VpnTunnel.yaml
  mmv1/templates/terraform/examples/vpn_tunnel_basic.tf.erb
  mmv1/templates/terraform/examples/vpn_tunnel_beta.tf.erb
Labels: service/compute-vpn

#9456 cloudrunv2: remove beta from custom audiences
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#9401 Add proxy_config field to containerattached resource.
  mmv1/products/containerattached/Cluster.yaml
  mmv1/templates/terraform/examples/container_attached_cluster_full.tf.erb
  mmv1/templates/terraform/pre_update/containerattached_update.go.erb
  mmv1/third_party/terraform/services/containerattached/resource_container_attached_cluster_update_test.go
Labels: service/gkemulticloud

#9461 Update doc links for lifecycle meta argument
  mmv1/products/apigateway/Gateway.yaml
  mmv1/products/kms/CryptoKey.yaml
  mmv1/products/spanner/Database.yaml
Labels: service/apigateway

#9458 data_loss_prevention_job_trigger: clarify how to define multiple actions with example
  mmv1/products/dlp/JobTrigger.yaml
  mmv1/templates/terraform/examples/dlp_job_trigger_multiple_actions.tf.erb
Labels: service/dlp

#9375 Add memcached-1.6.15 to the list of allowed memcache versions
  mmv1/products/memcache/Instance.yaml
  mmv1/third_party/terraform/services/memcache/resource_memcache_instance_test.go
Labels: service/memcache

#9457 Adding IAM support in Terraform for Dataform Repository resource
  mmv1/products/dataform/Repository.yaml
Labels: service/dataform

#9426 Add policycontroller fields to fleet default configs for GKE Hub Feature resource
  mmv1/products/gkehub2/Feature.yaml
  mmv1/templates/terraform/examples/enable_fleet_default_member_config_policycontroller.tf.erb
  mmv1/templates/terraform/examples/enable_fleet_default_member_config_policycontroller_set_empty.tf.erb
  mmv1/templates/terraform/examples/enable_fleet_default_member_config_policycontroller_update.tf.erb
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.erb
Labels: service/gkehub

#9460 [CloudBuild] Add npmPackages, pythonPackages, mavenArtifacts
  mmv1/products/cloudbuild/Trigger.yaml
  mmv1/templates/terraform/examples/cloudbuild_trigger_build.tf.erb
Labels: service/cloudbuild

#9468 Add Terraform Support For Cloud SQL Preferred Zone Selection Feature
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#9439 artifactregistry: implement upstream credentials
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_custom.tf.erb
Labels: service/artifactregistry

#9496 Remove beta min_version from the Cloud Run Service depends_on container field
  mmv1/products/cloudrunv2/Service.yaml
Labels: service/run

#9490 Add access restrictions field for google_iam_workforce_pool resource
  mmv1/products/iamworkforcepool/WorkforcePool.yaml
  mmv1/templates/terraform/examples/iam_workforce_pool_full.tf.erb
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_workforce_pool_test.go.erb
Labels: service/iam-workforce

#9485 Add serviceDirectoryRegistrations message to resource google_compute_global_forwarding_rule
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/templates/terraform/examples/private_service_connect_google_apis.tf.erb
Labels: service/compute-l7-load-balancer

#9416 add standard type vmwareengine network
  mmv1/products/vmwareengine/Network.yaml
  mmv1/products/vmwareengine/product.yaml
  mmv1/templates/terraform/examples/vmware_engine_network_legacy.tf.erb
  mmv1/templates/terraform/examples/vmware_engine_network_standard.tf.erb
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/vmwareengine/data_source_google_vmwareengine_network.go
  mmv1/third_party/terraform/services/vmwareengine/data_source_google_vmwareengine_network_test.go
  mmv1/third_party/terraform/services/vmwareengine/data_source_google_vmwareengine_network_test.go.erb
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_network_test.go
  mmv1/third_party/terraform/website/docs/d/vmwareengine_network.html.markdown
Labels: service/vmwareengine

#9455 Fix Datastream private connectivity docs
  mmv1/products/datastream/ConnectionProfile.yaml
  mmv1/products/datastream/Stream.yaml
  mmv1/templates/terraform/examples/datastream_connection_profile_bigquery_private_connection.tf.erb
  mmv1/templates/terraform/examples/datastream_connection_profile_postgresql_private_connection.tf.erb
Labels: awaiting-approval

#9510 promote Vmwareengine PC to GA
  mmv1/products/vmwareengine/PrivateCloud.yaml
  mmv1/templates/terraform/examples/vmware_engine_network_legacy.tf.erb
  mmv1/templates/terraform/examples/vmware_engine_private_cloud_basic.tf.erb
  mmv1/templates/terraform/examples/vmware_engine_private_cloud_full.tf.erb
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/vmwareengine/data_source_google_vmwareengine_private_cloud.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_test.go
  mmv1/third_party/terraform/website/docs/d/vmwareengine_private_cloud.html.markdown
Labels: service/vmwareengine

#9505 add support for IAM Group authentication to google_sql_user
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin

#9540 Add support for Queued Provisioning feature for GKE node pools
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container

#9534 Revert "add support for IAM Group authentication to google_sql_user"
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin

#9467 redefine as optional all attributes in timespan_config block for dlp job trigger
  mmv1/products/dlp/JobTrigger.yaml
  mmv1/templates/terraform/examples/dlp_job_trigger_cloud_storage_optional_timespan_autopopulation.tf.erb
Labels: service/dlp

#9389 [GKE Hub]: Add Fleet default cluster config
  mmv1/products/gkehub2/Fleet.yaml
  mmv1/templates/terraform/examples/gkehub_fleet_basic.tf.erb
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_fleet_test.go.erb
Labels: service/gkehub

#9427 add expiryDetail to google_cloud_identity_group_membership
  mmv1/products/cloudidentity/GroupMembership.yaml
  mmv1/templates/terraform/custom_update/cloud_identity_group_membership.go.erb
  mmv1/templates/terraform/examples/cloud_identity_group_membership.tf.erb
  mmv1/templates/terraform/update_encoder/cloud_identity_group_membership.go.erb
  mmv1/third_party/terraform/services/cloudidentity/resource_cloud_identity_group_membership_test.go.erb
Labels: service/cloudidentity-groups
