Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2023-12, with the labels that each got.

#9376 fixed artifact_registry_repository permadiff in unordered array
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/constants/artifact_registry_repository.go.erb
  mmv1/templates/terraform/examples/artifact_registry_repository_virtual.tf.erb
Labels: service/artifactregistry

#9509 Add resource EventThreatDetectionCustomModule
  mmv1/products/securitycenter/EventThreatDetectionCustomModule.yaml
  mmv1/templates/terraform/examples/scc_event_threat_detection_custom_module.tf.erb
  mmv1/third_party/terraform/services/securitycenter/resource_scc_event_threat_detection_custom_module_test.go
Labels: service/securitycenter

#9446 Allow updating DNSConfig in-place
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#9558 Promoting GKE Autoscaling Profiles to GA
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#9545 [GKE Hub]: Add Fleet binary authorization config
  mmv1/products/gkehub2/Fleet.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_fleet_test.go.erb
Labels: service/gkehub

#9563 Cloud Run v2 limits examples and docs
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_job_limits.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_limits.tf.erb
Labels: service/run

#7498 bigquery connection - spark connection type
  mmv1/products/bigqueryconnection/Connection.yaml
  mmv1/templates/terraform/examples/bigquery_connection_spark.tf.erb
Labels: service/bigquery

#9578 add support for IAM Group authentication to google_sql_user
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin

#6826 Add GKE support for tier 1 networking in GKE
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#9440 Add external dataset reference to bigquery dataset
  mmv1/products/bigquery/Dataset.yaml
  mmv1/products/bigquery/product.yaml
  mmv1/templates/terraform/examples/bigquery_dataset_external_reference_aws.tf.erb
  mmv1/templates/terraform/examples/bigquery_dataset_external_reference_aws_docs.tf.erb
Labels: service/bigquery

#9061 Add `saml` field to `google_iam_workload_identity_pool_provider` resource
  mmv1/products/iambeta/WorkloadIdentityPoolProvider.yaml
  mmv1/products/iambeta/product.yaml
  mmv1/templates/terraform/examples/iam_workload_identity_pool_provider_saml_basic.tf.erb
  mmv1/templates/terraform/examples/iam_workload_identity_pool_provider_saml_full.tf.erb
  mmv1/third_party/terraform/services/iambeta/test-fixtures/metadata.xml
Labels: service/iam-wlid

#9575 Do not replace GKE's NodePool resource on machineType/diskType/diskSizeGb change
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
Labels: service/container

#9595 Revert " add support for IAM Group authentication to google_sql_user"
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin

#9173 dataform_repository - add missing args
  mmv1/products/dataform/Repository.yaml
  mmv1/templates/terraform/examples/dataform_repository.tf.erb
Labels: service/dataform

#9565 Upgrade DCL to v1.59.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  tpgtools/api/recaptchaenterprise/samples/waf.key.json
  tpgtools/api/recaptchaenterprise/samples/waf_key.yaml
  tpgtools/go.mod
  tpgtools/go.sum
  tpgtools/overrides/containerazure/samples/nodepool/basic.tf.tmpl
  tpgtools/overrides/containerazure/samples/nodepool/basic_update.tf.tmpl
  tpgtools/overrides/containerazure/samples/nodepool/beta_basic.tf.tmpl
  tpgtools/overrides/containerazure/samples/nodepool/beta_basic_update.tf.tmpl
  tpgtools/overrides/orgpolicy/beta/policy.yaml
  tpgtools/overrides/orgpolicy/samples/policy/dry_run_spec.tf.tmpl
  tpgtools/overrides/orgpolicy/samples/policy/dry_run_spec.yaml
Labels: service/orgpolicy, service/gkemulticloud, service/recaptchaenterprise

#9550 Promote Vmwareengine Cluster to GA
  mmv1/products/vmwareengine/Cluster.yaml
  mmv1/templates/terraform/examples/vmware_engine_cluster_basic.tf.erb
  mmv1/templates/terraform/examples/vmware_engine_cluster_full.tf.erb
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/vmwareengine/data_source_google_vmwareengine_cluster.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_cluster_test.go
  mmv1/third_party/terraform/website/docs/d/vmwareengine_cluster.html.markdown
Labels: service/vmwareengine

#9544 Add support for severity options in AlertPolicy
  mmv1/products/monitoring/AlertPolicy.yaml
  mmv1/third_party/terraform/services/monitoring/resource_monitoring_alert_policy_test.go
Labels: service/monitoring-alerting

#9608 Add type field to PrivateCloud in Vmwareengine
  mmv1/products/vmwareengine/PrivateCloud.yaml
  mmv1/templates/terraform/examples/vmware_engine_private_cloud_full.tf.erb
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_test.go
Labels: service/vmwareengine

#9625 Label support for Google Managed Notebooks
  mmv1/products/notebooks/Runtime.yaml
  mmv1/templates/terraform/examples/notebook_runtime_kernels.tf.erb
  mmv1/templates/terraform/examples/notebook_runtime_script.tf.erb
Labels: service/notebooks

#9606 feat(spanner): support defining autoscaling limit as nodes
  mmv1/products/spanner/Instance.yaml
  mmv1/templates/terraform/encoders/spanner_instance_update.go.erb
  mmv1/templates/terraform/examples/spanner_instance_with_autoscaling.tf.erb
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#9587 The version field should be under configmanagement instead of under oci
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.erb
Labels: override-breaking-change, service/gkehub

#9484 add support for auxiliary_node_groups in google_dataproc_cluster
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/dataproc_cluster.html.markdown
Labels: service/dataproc

#9409 Add resources for Cloud Logging default settings
  mmv1/products/logging/FolderSettings.yaml
  mmv1/products/logging/OrganizationSettings.yaml
  mmv1/templates/terraform/examples/logging_folder_settings_all.tf.erb
  mmv1/templates/terraform/examples/logging_organization_settings_all.tf.erb
  mmv1/third_party/terraform/services/logging/resource_logging_folder_settings_test.go
  mmv1/third_party/terraform/services/logging/resource_logging_organization_settings_test.go
Labels: service/logging

#9645 Revert "The version field should be under configmanagement instead of under oci"
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.erb
Labels: service/gkehub

#9597 Add custom flattener for diagflowcx agent git integration settings field
  mmv1/products/dialogflowcx/Agent.yaml
  mmv1/templates/terraform/custom_flatten/dialogflowcx_agent_git_integration_settings_github_settings.go.erb
  mmv1/templates/terraform/custom_flatten/dialogflowcx_agent_git_integration_settings_github_settings_access_token.go.erb
Labels: service/dialogflow

#9637 Replace "Pubsub Subscription Different Project" example with making all examples cross-project-friendly
  mmv1/products/pubsub/Subscription.yaml
  mmv1/templates/terraform/examples/pubsub_subscription_dead_letter.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_different_project.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_pull.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_push.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_push_bq.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_push_cloudstorage.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_push_cloudstorage_avro.tf.erb
Labels: service/pubsub

#9635 bump go api client version to 0.154.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
Labels: service/composer

#9507 Composer internal ip
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#9638 Add support for WorkloadALTSConfig in google_container_cluster (Beta)
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#9648 The version field should be under configmanagement instead of under oci, deprecating the older field
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.erb
Labels: service/gkehub

#9345 Network fwp
  mmv1/products/compute/NetworkFirewallPolicy.yaml
  mmv1/products/compute/RegionNetworkFirewallPolicy.yaml
  mmv1/templates/terraform/examples/network_firewall_policy_full.tf.erb
  mmv1/templates/terraform/examples/region_network_firewall_policy_full.tf.erb
  mmv1/templates/terraform/resource.erb
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_firewall_policy_test.go
  mmv1/third_party/terraform/tpgresource/utils.go
  tpgtools/overrides/compute/beta/network_firewall_policy.yaml
  tpgtools/overrides/compute/network_firewall_policy.yaml
Labels: service/network-security-distributed-firewall

#9641 Update make transferJobs name field optional
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_test.go
  mmv1/third_party/terraform/website/docs/r/storage_transfer_job.html.markdown
Labels: service/storage

#9651 add primary key version
  mmv1/products/kms/CryptoKey.yaml
  mmv1/third_party/terraform/services/kms/resource_kms_crypto_key_test.go
Labels: service/cloudkms

#9422 Regional tier support for Filestore.
  mmv1/products/filestore/Backup.yaml
  mmv1/products/filestore/Instance.yaml
Labels: service/filestore

#9661 bq analyticshub listing - add support for restrictedExportConfig
  mmv1/products/bigqueryanalyticshub/Listing.yaml
  mmv1/templates/terraform/examples/bigquery_analyticshub_listing_restricted.tf.erb
Labels: awaiting-approval

#9685 add support for IAM Group authentication to google_sql_user
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin

#9649 Add support of provisioned iops and throughput on boot disk.
  mmv1/products/compute/Instance.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances

#9562 Add Cloud Deploy Automation
  mmv1/products/clouddeploy/Automation.yaml
  mmv1/products/clouddeploy/product.yaml
  mmv1/templates/terraform/examples/clouddeploy_automation_basic.tf.erb
  mmv1/templates/terraform/examples/clouddeploy_automation_full.tf.erb
  mmv1/third_party/terraform/fwmodels/provider_model.go.erb
  mmv1/third_party/terraform/fwtransport/framework_config.go.erb
  mmv1/third_party/terraform/services/clouddeploy/resource_clouddeploy_automation_test.go.erb
  tpgtools/overrides/clouddeploy/beta/tpgtools_product.yaml
  tpgtools/overrides/clouddeploy/tpgtools_product.yaml
Labels: service/clouddeploy
