Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-12, with the labels that each got.

#12423 Add `advanced_machine_features.enable_uefi_networking` field to instance and templates
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#12453 Add Guide to provider documentation describing how to test out ephemeral resources
  mmv1/third_party/terraform/website/docs/guides/using_ephemeral_resources.html.markdown
Labels: service/iam-serviceaccount

#12430 Add enterprise_config field to GKE cluster object
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#12462 Fix Failing test TestAccSecurityCenterManagement Folder SHA Custom Module
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_folder_security_health_analytics_custom_module_test.go.tmpl
Labels: service/securitycenter

#12463 Composer
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
Labels: service/composer

#12438 Add support for disabling metric validation in PromQL AlertPolicy
  mmv1/products/monitoring/AlertPolicy.yaml
  mmv1/third_party/terraform/services/monitoring/resource_monitoring_alert_policy_test.go
Labels: service/monitoring-alerting

#12367 Add threshold_configs in Cloud Armor Adaptive Protection security policy
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: awaiting-approval, service/compute-security-policy

#12406 update disk type documentation
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: awaiting-approval

#12455 Increase AlloyDB cluster timeout
  mmv1/products/alloydb/Cluster.yaml
Labels: service/alloydb

#12418 Fix client full example to use basename of kms config
  mmv1/templates/terraform/examples/integrations_client_advance.tf.tmpl
  mmv1/templates/terraform/examples/integrations_client_deprecated_fields.tf.tmpl
  mmv1/templates/terraform/examples/integrations_client_full.tf.tmpl
Labels: service/integrations

#12434 Update service_account_key.html.markdown
  mmv1/third_party/terraform/website/docs/d/service_account_key.html.markdown
Labels: service/iam-serviceaccount

#12477 Test and document the `configmanagement.config_sync.stop_syncing` field
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/gke_hub_feature_membership.html.markdown
Labels: service/gkehub

#12446 Update error in google_service_account_id_token data source docs
  mmv1/third_party/terraform/website/docs/d/service_account_id_token.html.markdown
Labels: service/iam-serviceaccount

#12278 Updated typos
  docs/content/contribute/review-pr.md
  docs/content/reference/make-commands.md
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/products/apigee/AppGroup.yaml
  mmv1/products/billingbudget/Budget.yaml
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/products/compute/Disk.yaml
  mmv1/products/compute/RegionDisk.yaml
  mmv1/products/dialogflowcx/Flow.yaml
  mmv1/products/gkehub2/Feature.yaml
  mmv1/products/integrationconnectors/Connection.yaml
  mmv1/products/netapp/ActiveDirectory.yaml
  mmv1/products/netapp/Volume.yaml
  mmv1/products/privateca/Certificate.yaml
  mmv1/products/privateca/CertificateAuthority.yaml
  mmv1/products/redis/Cluster.yaml
  mmv1/products/vertexai/IndexEndpointDeployedIndex.yaml
  mmv1/templates/terraform/constants/access_context_manager.go.tmpl
  mmv1/templates/terraform/constants/apigee_instance.go.tmpl
  mmv1/templates/terraform/constants/disk.tmpl
  mmv1/templates/terraform/custom_check_destroy/firestore_field.go.tmpl
  mmv1/templates/terraform/decoders/compute_region_target_https_proxy.go.tmpl
  mmv1/templates/terraform/decoders/compute_target_https_proxy.go.tmpl
  mmv1/templates/terraform/decoders/private_cloud.go.tmpl
  mmv1/templates/terraform/iam/iam_attributes.go.tmpl
  mmv1/templates/terraform/post_create/private_cloud.go.tmpl
  mmv1/templates/terraform/post_update/private_cloud.go.tmpl
  mmv1/templates/terraform/pre_update/datastream_stream.go.tmpl
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/functions/zone_from_id.go
  mmv1/third_party/terraform/provider/provider_internal_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_test.go.tmpl
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance_internal_test.go
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.tmpl
  mmv1/third_party/terraform/tpgresource/annotations.go
  mmv1/third_party/terraform/tpgresource/labels.go
  mmv1/third_party/terraform/website/docs/d/compute_forwarding_rules.html.markdown
  mmv1/third_party/terraform/website/docs/guides/version_5_upgrade.html.markdown
  tools/issue-labeler/labeler/labels_test.go
  tpgtools/property.go
  tpgtools/resource.go
Labels: service/terraform

#12476 Make `google_oracle_database_autonomous_database` and `google_oracle_database_cloud_exadata_infrastructure` generated tests use sweepable unique resource names
  mmv1/products/oracledatabase/AutonomousDatabase.yaml
  mmv1/products/oracledatabase/CloudExadataInfrastructure.yaml
Labels: service/oracledatabase

#12480 Make tests use sweepable, unique name
  mmv1/products/oracledatabase/CloudVmCluster.yaml
Labels: service/oracledatabase

#11742 Change update method for `boot_disk.auto_delete` on `google_compute_instance`
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
Labels: service/compute-instances

#12474 Add NetworkTier for GlobalForwardingRule.
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/templates/terraform/examples/global_forwarding_rule_external_managed.tf.tmpl
Labels: service/compute-l7-load-balancer

#12270 feat: add hdfs support to storage transfer
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.tmpl
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_test.go
  mmv1/third_party/terraform/website/docs/r/storage_transfer_job.html.markdown
Labels: service/storage

#12445 Update org_policy_policy documentation to make resource definition clearer
  mmv1/templates/terraform/examples/org_policy_policy_enforce.tf.tmpl
  mmv1/templates/terraform/examples/org_policy_policy_project.tf.tmpl
Labels: service/orgpolicy

#12352 Added CA_ENTERPRISE_ANNUAL option for ProjectCloudArmorTier;
  mmv1/products/compute/ProjectCloudArmorTier.yaml
Labels: awaiting-approval, service/compute-security-policy

#12318 bumping enforce on key configs for `google_compute_security_policy` to GA
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.tmpl
Labels: service/compute-security-policy

#12497 Update oracledatabase acceptance tests to use unique names with ofake- prefix
  mmv1/products/oracledatabase/CloudExadataInfrastructure.yaml
  mmv1/products/oracledatabase/CloudVmCluster.yaml
Labels: service/oracledatabase

#12454 Fix TF: Failing test(s): TestAccDataprocVirtualCluster_basic
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/dataproc_cluster.html.markdown
Labels: service/dataproc

#12498 container: promote enable_fqdn_network_policy to GA
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#12508 `computet`: rename network name for `NetworkProfile` test to be sweepable
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
Labels: service/compute-vpc

#12486 Add Intercept Deployment Group resource to Network Security.
  mmv1/products/networksecurity/InterceptDeploymentGroup.yaml
  mmv1/templates/terraform/examples/network_security_intercept_deployment_group_basic.tf.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_deployment_group_generated_test.go.tmpl
Labels: service/networksecurityintegrations

#12456 doc: list connector_enforcement options.
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12458 Fixed recaptcha_options permadiff causing rules being recreated
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
Labels: service/compute-security-policy

#12481 Add NetworkConfigs and NetworkConfig.QueueCount to TPU v2 VM
  mmv1/products/tpuv2/Vm.yaml
  mmv1/templates/terraform/examples/tpu_v2_vm_full.tf.tmpl
Labels: service/tpu

#12511 Make google_oracle_database_autonomous_database.name field unique per acceptance test
  mmv1/products/oracledatabase/AutonomousDatabase.yaml
  mmv1/templates/terraform/examples/oracledatabase_autonomous_database_basic.tf.tmpl
  mmv1/templates/terraform/examples/oracledatabase_autonomous_database_full.tf.tmpl
Labels: service/oracledatabase

#12484 fix assertions issues in oracledatabase
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_cloud_exadata_infrastructure_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_cloud_exadata_infrastructures_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_db_servers_test.go
Labels: service/oracledatabase

#12315 Enhanced documentation and property dependency for `quota` in `google_identity_platform_config`
  mmv1/products/identityplatform/Config.yaml
Labels: service/identitytoolkit

#12495 Fix an issue which cause failure when updating a sub-CA
  mmv1/templates/terraform/pre_update/privateca_certificate_authority.go.tmpl
  mmv1/third_party/terraform/services/privateca/resource_privateca_certificate_authority_test.go
Labels: service/privateca

#12346 artifactregistry: updated repository docs and import format
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/examples/artifact_registry_repository_multi_region.tf.tmpl
Labels: service/artifactregistry

#12510 Add nullFields logic to `guest_flush` on `resource_google_compute_resource_policy`
  mmv1/products/compute/ResourcePolicy.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_resource_policy_test.go
Labels: service/compute-instances

#12520 Docs: Fixed capitalization of words
  mmv1/products/firebase/Project.yaml
Labels: service/firebase

#12526 Add some wait time for IAM propagation before Firebase Realtime Database is ready to be created.
  mmv1/products/firebasedatabase/Instance.yaml
  mmv1/templates/terraform/examples/firebase_database_instance_default_database.tf.tmpl
Labels: service/firebase

#12519 Update Network Connectivity Spoke Router and VPN Tunnels
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_spoke_test.go
Labels: service/network-connectivity-center

#12530 Fix TF: unskip test TestAccDataprocVirtualCluster_basic
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
Labels: service/dataproc

#12527 Add headers to Hosting Version
  mmv1/products/firebasehosting/Version.yaml
  mmv1/templates/terraform/examples/firebasehosting_version_headers.tf.tmpl
  mmv1/templates/terraform/examples/firebasehosting_version_headers_regex.tf.tmpl
Labels: service/firebase

#12360 compute: Implement graceful switch for metadata_startup_script
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
Labels: service/compute-instances

#12496 Fix settings.data_cache_config permadiff when set to false
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#12523 Make `private_endpoint_label` unique per test run of `TestAccOracleDatabaseAutonomousDatabase_oracledatabaseAutonomousDatabaseFullExample`
  mmv1/products/oracledatabase/AutonomousDatabase.yaml
  mmv1/templates/terraform/examples/oracledatabase_autonomous_database_full.tf.tmpl
Labels: service/oracledatabase

#12542 Marked failing dataproc GDC tests for skipping
  mmv1/products/dataprocgdc/ApplicationEnvironment.yaml
  mmv1/products/dataprocgdc/SparkApplication.yaml
Labels: service/dataprocgdc

#12467 Fix IAM role race condition
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.tmpl
Labels: service/dataflow

#12461 compute: added `subnetwork_id` to compute subnet data source
  mmv1/third_party/terraform/services/compute/data_source_google_compute_subnetwork.go.tmpl
  mmv1/third_party/terraform/services/compute/data_source_google_compute_subnetwork_test.go
  mmv1/third_party/terraform/website/docs/d/compute_subnetwork.html.markdown
Labels: service/compute-vpc

#12539 refactor: resolve downstream gosimple warnings
  mmv1/third_party/terraform/provider/universe/universe_domain_compute_test.go
  mmv1/third_party/terraform/provider/universe/universe_domain_pubsub_test.go
  mmv1/third_party/terraform/provider/universe/universe_domain_storage_test.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_authorized_view_internal_test.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_gc_policy.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance_internal_test.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table.go
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
  mmv1/third_party/terraform/services/tags/resource_tags_location_tag_bindings.go.tmpl
  tpgtools/documentation.go
  tpgtools/sample.go
  tpgtools/templates/resource.go.tmpl
Labels: service/terraform

#12544 Removed TestAccComposer1Environment_withNodeConfig
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
Labels: service/composer

#12333 Fixes documentation of vpc_ip_subnetworks in google_access_context_ma…
  mmv1/products/accesscontextmanager/AccessLevel.yaml
Labels: service/accesscontextmanager

#12543 Fixes typos and misspellings
  mmv1/products/dialogflowcx/Agent.yaml
  mmv1/products/firebasehosting/CustomDomain.yaml
  mmv1/products/firestore/Database.yaml
  mmv1/products/integrationconnectors/Connection.yaml
  mmv1/templates/terraform/custom_expand/empty_object_if_set.go.tmpl
  mmv1/third_party/terraform/fwvalidators/framework_validators_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_secondary_cluster_test.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secrets_test.go
  mmv1/third_party/terraform/services/sql/data_source_sql_database_instances_test.go
  mmv1/third_party/terraform/services/sql/data_source_sql_databases_test.go
Labels: service/terraform

#12435 Promote BackupDR Backup and Data Source to GA
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_test.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_data_source.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_data_source_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/backup_dr_backup.html.markdown
  mmv1/third_party/terraform/website/docs/d/backup_dr_data_source.html.markdown
Labels: service/backupdr

#12422 TF: plan -refresh=false for google_compute_ha_vpn_gateway with gcs backend has resource replacement
  mmv1/products/compute/HaVpnGateway.yaml
  mmv1/templates/terraform/state_migrations/compute_ha_vpn_gateway.go.tmpl
Labels: service/compute-vpn

#12558 Parallelstore: adding deployment type to beta provider and making network field required.
  mmv1/products/parallelstore/Instance.yaml
  mmv1/templates/terraform/examples/parallelstore_instance_baic_beta.tmpl
  mmv1/third_party/terraform/services/parallelstore/resource_parallelstore_instance_test.go.tmpl
Labels: awaiting-approval

#12541 Make resource_google_storage_bucket_object generate diff for md5hash, generation, crc32c if content changes
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object.go
Labels: service/storage

#12537 Add `group` field to `google_network_connectivity_spoke`
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/templates/terraform/examples/network_connectivity_spoke_linked_vpc_network_group.tf.tmpl
Labels: service/network-connectivity-center

#12344 Document `auth_string` output parameter for google_redis_instance
  mmv1/products/redis/Instance.yaml
  mmv1/templates/terraform/resource.html.markdown.tmpl
Labels: service/redis-instance

#12568 Revert "Etag support for ACM service perimeters"
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_serviceperimeters_custom_flatten.go.tmpl
  mmv1/templates/terraform/pre_update/access_context_manager_service_perimeter.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_test.go.tmpl
Labels: override-breaking-change, service/accesscontextmanager

#12522 Add Intercept Endpoint Group resource to Network Security.
  mmv1/products/networksecurity/InterceptEndpointGroup.yaml
  mmv1/templates/terraform/examples/network_security_intercept_endpoint_group_basic.tf.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_endpoint_group_generated_test.go.tmpl
Labels: service/networksecurityintegrations

#12564 fix: update spanner terraform doc
  mmv1/third_party/terraform/website/docs/r/spanner_instance_iam.html.markdown
Labels: service/spanner

#12566 Add availability domain field to instance and instance template resource
  mmv1/third_party/cai2hcl/services/compute/compute_instance.go
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#12504 compute: added `network_id` to `google_compute_network`
  mmv1/products/compute/Network.yaml
  mmv1/third_party/terraform/services/compute/data_source_google_compute_network.go.tmpl
  mmv1/third_party/terraform/services/compute/data_source_google_compute_network_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/compute_network.html.markdown
Labels: service/compute-vpc

#12334 Fix Failing test TestAccSecurityCenterV2ProjectBigQueryExportConfig_basic + others
  mmv1/third_party/terraform/services/securitycenter/resource_scc_organization_big_query_export_config_test.go
  mmv1/third_party/terraform/services/securitycenter/resource_scc_project_big_query_export_config_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_big_query_export_config_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_big_query_exports_config_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_project_big_query_export_config_test.go
Labels: service/securitycenter

#12475 Add condition and accessPolicyVersion to BQ dataset access
  mmv1/products/bigquery/Dataset.yaml
  mmv1/products/bigquery/DatasetAccess.yaml
  mmv1/templates/terraform/examples/bigquery_dataset_external_reference_aws_test.tf.tmpl
  mmv1/templates/terraform/pre_read/bigquery_dataset.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_access_test.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go.tmpl
Labels: service/bigquery

#12569 Apply maintenance policy updates after upgrades so validation on maintenance policy uses the new versions.
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
Labels: service/container

#12574 Remove projects/ prefix if it exists
  mmv1/third_party/terraform/services/logging/resource_logging_project_bucket_config.go
Labels: service/logging

#12571 Fix service_attachment.target_service validation
  mmv1/products/compute/ServiceAttachment.yaml
  mmv1/templates/terraform/custom_expand/service_attachment_target_service.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_service_attachment_test.go.tmpl
Labels: service/private-service-connect-published-service

#12584 Try pinning software config
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
Labels: service/dataproc

#12585 Add new metadata tag to DSF for workbench instance
  mmv1/templates/terraform/constants/workbench_instance.go.tmpl
Labels: service/notebooks

#12540 TF Support for NCC Star Topology
  mmv1/products/networkconnectivity/Hub.yaml
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/templates/terraform/examples/network_connectivity_hub_mesh_topology.tf.tmpl
  mmv1/templates/terraform/examples/network_connectivity_hub_star_topology.tf.tmpl
  mmv1/templates/terraform/examples/network_connectivity_spoke_center_group.tf.tmpl
Labels: service/network-connectivity-center

#12459 Supporting gke hub feature data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/gkehub2/data_source_google_gke_hub_feature.go
  mmv1/third_party/terraform/services/gkehub2/data_source_google_gke_hub_feature_test.go
Labels: service/gkehub

#12011 Add google_gkeonprem_vmware_admin_cluster resource
  mmv1/products/gkeonprem/VmwareAdminCluster.yaml
  mmv1/templates/terraform/examples/gkeonprem_vmware_admin_cluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/gkeonprem_vmware_admin_cluster_full.tf.tmpl
  mmv1/templates/terraform/examples/gkeonprem_vmware_admin_cluster_metallb.tf.tmpl
  mmv1/third_party/terraform/services/gkeonprem/resource_gkeonprem_vmware_cluster_test.go.tmpl
Labels: service/gkeonprem

#12553 Adding DataSource for KMS Autokey Keyhandle
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/kms/data_source_google_kms_key_handle.go.tmpl
  mmv1/third_party/terraform/services/kms/data_source_google_kms_key_handle_test.go.tmpl
  mmv1/third_party/terraform/services/kms/kms_utils.go
  mmv1/third_party/terraform/website/docs/d/kms_key_handle.html.markdown
Labels: service/cloudkms

#12505 `gcs-data-bucket` metadata key is now modifiable by the user
  mmv1/templates/terraform/constants/workbench_instance.go.tmpl
Labels: service/notebooks

#12549 Add support for source_workstation in workstations_workstation resource.
  mmv1/products/workstations/Workstation.yaml
Labels: service/workstations

#12560 Adding deployment type to beta provider.
  mmv1/products/parallelstore/Instance.yaml
  mmv1/templates/terraform/examples/parallelstore_instance_basic_beta.tf.tmpl
  mmv1/third_party/terraform/services/parallelstore/resource_parallelstore_instance_test.go.tmpl
Labels: service/parallelstore

#12563 Add legacy long form project to compute firewall policy rule
  mmv1/products/compute/FirewallPolicyRule.yaml
Labels: service/network-security-distributed-firewall

#12578 fix errors details for zonal resize request & align with mixer errors details
  mmv1/products/compute/ResizeRequest.yaml
  mmv1/templates/terraform/custom_delete/compute_mig_resize_request_delete.go.tmpl
  mmv1/templates/terraform/examples/compute_mig_resize_request.tf.tmpl
Labels: service/compute-managed

#12528 Add external catalog table options to google_bigquery_table beta
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#12488 Make nodepool concurrent ops scale better
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#12603 Skip vmwareengine tests due to internal errors
  mmv1/products/vmwareengine/Network.yaml
  mmv1/products/vmwareengine/NetworkPolicy.yaml
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_cluster_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_external_address_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_network_peering_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_network_policy_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_test.go
Labels: service/vmwareengine

#12592 b/383149651 - Make export ranges fields immutable
  mmv1/products/networkconnectivity/Spoke.yaml
Labels: service/network-connectivity-center

#12466 Migrate google_compute_firewall_policy_association resource from DCL to MMv1
  mmv1/products/compute/FirewallPolicyAssociation.yaml
  mmv1/templates/terraform/custom_expand/compute_firewall_policy_association.go.tmpl
  mmv1/templates/terraform/examples/firewall_policy_association.tf.tmpl
  mmv1/templates/terraform/post_create/compute_firewall_policy_association_operation.go.tmpl
  mmv1/templates/terraform/post_delete/compute_firewall_policy_association_operation.go.tmpl
  mmv1/templates/terraform/pre_read/compute_firewall_policy_association.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_firewall_policy_association_test.go
  mmv1/third_party/terraform/website/docs/r/compute_firewall_policy_association.html.markdown
  tpgtools/overrides/compute/beta/firewall_policy_association.yaml
  tpgtools/overrides/compute/firewall_policy_association.yaml
Labels: service/network-security-distributed-firewall

#12415 Fix ApigeeEnvironment update response type.
  mmv1/products/apigee/Environment.yaml
Labels: service/apigee

#12493 Allow brand new setup for google_developer_connect_connection
  mmv1/products/developerconnect/Connection.yaml
  mmv1/templates/terraform/examples/developer_connect_connection_existing_credentials.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_connection_existing_installation.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_connection_new.tf.tmpl
Labels: service/developerconnect

#12026 fix TestAccAccessApprovalSettings
  mmv1/products/accessapproval/FolderSettings.yaml
  mmv1/products/accessapproval/OrganizationSettings.yaml
  mmv1/products/accessapproval/ProjectSettings.yaml
  mmv1/templates/terraform/post_create/sleep_5_min.go.tmpl
Labels: service/accessapproval

#12577 Add Intercept Endpoint Group Association resource to Network Security.
  mmv1/products/networksecurity/InterceptEndpointGroupAssociation.yaml
  mmv1/templates/terraform/examples/network_security_intercept_endpoint_group_association_basic.tf.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_endpoint_group_association_generated_test.go.tmpl
Labels: service/networksecurityintegrations

#12552 Fix autofilling values in `initialize_params.resource_policies` causing instance to recreate
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances

#12595 Skip datafusion tests for internal errors
  mmv1/products/datafusion/Instance.yaml
  mmv1/third_party/terraform/services/datafusion/resource_data_fusion_instance_test.go
Labels: service/datafusion

#12101 feat(HNS folders): add new resources to support HNS folders
  mmv1/products/storage/Folder.yaml
  mmv1/templates/terraform/custom_delete/storage_folder_delete.go.tmpl
  mmv1/templates/terraform/custom_import/storage_folder.go.tmpl
  mmv1/templates/terraform/custom_update/storage_folder_update.go.tmpl
  mmv1/templates/terraform/examples/storage_folder_basic.tf.tmpl
  mmv1/third_party/terraform/services/storage/resource_storage_folder_test.go
Labels: service/storage

#12565 Add support for database retention in Cloud Composer
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
Labels: service/composer

#12598 Bump Composer Version in Tests
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
Labels: service/composer

#12590 fix: (storage) fix failing testcase
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.tmpl
Labels: service/storage

#12570 Add post update 5s sleep to Topic update
  mmv1/products/managedkafka/Topic.yaml
Labels: service/managedkafka

#12465 Update Stream.yaml to add cdc method support for MySQL
  mmv1/products/datastream/Stream.yaml
  mmv1/templates/terraform/examples/datastream_stream_mysql_gtid.tf.tmpl
  mmv1/third_party/terraform/services/datastream/resource_datastream_stream_test.go
Labels: service/datastream

#12609 Update tests to use bootstrapped KMS keys
  mmv1/products/bigquery/Job.yaml
  mmv1/products/dataproc/Batch.yaml
  mmv1/products/metastore/Service.yaml
  mmv1/products/netapp/kmsconfig.yaml
  mmv1/products/securesourcemanager/Instance.yaml
  mmv1/templates/terraform/examples/bigquery_job_copy.tf.tmpl
  mmv1/templates/terraform/examples/bigquery_job_copy_table_reference.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_batch_spark_full.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_metastore_service_cmek_test.tf.tmpl
  mmv1/templates/terraform/examples/kmsConfig_create.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_instance_cmek.tf.tmpl
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_backup_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_secondary_cluster_test.go
  mmv1/third_party/terraform/services/apigee/resource_apigee_environment_type_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_snapshot_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_kmsconfig_test.go
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/dataproc, service/bigquery, service/metastore

#12637 make contentsDeltaUri optional
  mmv1/products/vertexai/Index.yaml
Labels: service/aiplatform-matching-engine

#12629 Allow AUTH_TYPE_UNSPECIFIED in auth config for connection
  mmv1/products/integrationconnectors/Connection.yaml
Labels: service/integrationconnectors

#12635 Marked RegionNetworkEndpointGroup psc_data as default_from_api
  mmv1/products/compute/RegionNetworkEndpointGroup.yaml
Labels: service/compute-networking-neg

#12634 Adding deployment_type to GA
  mmv1/products/parallelstore/Instance.yaml
  mmv1/templates/terraform/examples/parallelstore_instance_basic.tf.tmpl
  mmv1/third_party/terraform/services/parallelstore/resource_parallelstore_instance_test.go.tmpl
Labels: service/parallelstore

#12610 add MySQL 8.4 in `google_sql_database_instance` documentation
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12562 Add support for cross bucket replication feature
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.tmpl
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_test.go
  mmv1/third_party/terraform/website/docs/r/storage_transfer_job.html.markdown
Labels: service/storage

#12606 suppressing Project id vs project number diff in forwardingRule.target
  mmv1/products/compute/ForwardingRule.yaml
  mmv1/third_party/terraform/tpgresource/common_diff_suppress.go.tmpl
  mmv1/third_party/terraform/tpgresource/common_diff_suppress_test.go
  mmv1/third_party/terraform/tpgresource/self_link_helpers.go
  mmv1/third_party/terraform/tpgresource/self_link_helpers_test.go
Labels: service/compute-l7-load-balancer

#12619 Update description for scaling fields of `cloud_run_v2_service`
  mmv1/products/cloudrunv2/Service.yaml
Labels: service/run

#12572 Fix permadiff when Access Context Manager returns a different order for ingress / egress rule identities
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/templates/terraform/constants/access_context_manager.go.tmpl
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_egress_policy_from_identities_custom_flatten.go.tmpl
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_ingress_policy_from_identities_custom_flatten.go.tmpl
Labels: service/accesscontextmanager

#12626 Fix error drop column with BigQuery flexible column names
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go.tmpl
Labels: service/bigquery

#12648 Add google_chronicle_watchlist resource to chronicle
  mmv1/products/chronicle/Watchlist.yaml
  mmv1/products/chronicle/product.yaml
  mmv1/templates/terraform/examples/chronicle_watchlist_basic.tf.tmpl
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_watchlist_test.go.tmpl
Labels: service/chronicle

#12661 Fix TestAccDataSourceComputeInstance_networkAttachmentUsageExample
  mmv1/third_party/terraform/services/compute/data_source_google_compute_instance_test.go.tmpl
Labels: service/compute-instances

#12668 Fix Artifact Registry Repository URI test
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_common_repository_with_artifact_registry_uri.tf.tmpl
Labels: service/artifactregistry
