Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-05, with the labels that each got.

#10564 Upgrade DCL to 1.66.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  tpgtools/api/privateca/samples/basic.certificate_template.json
  tpgtools/api/privateca/samples/update.certificate_template.json
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/privateca, service/clouddeploy, service/network-security-distributed-firewall

#10203 Add support for AuthorizedView resource in Bigtable
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_authorized_view.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_authorized_view_internal_test.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_authorized_view_test.go
  mmv1/third_party/terraform/website/docs/r/bigtable_authorized_view.html.markdown
Labels: service/bigtableadmin

#10558 Add Terraform support for GKE enable_nested_virtualization option
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10512 correct doc for ghe example
  mmv1/templates/terraform/examples/cloudbuildv2_repository_ghe_doc.tf.erb
Labels: service/cloudbuild

#10578 Fix the bug to check key_diff_suppress_func in templates
  mmv1/products/sourcerepo/Repository.yaml
  mmv1/templates/terraform/schema_property.erb
  mmv1/templates/terraform/schema_property.go.tmpl
Labels: service/sourcerepo

#10491 Serializing the test cases for connection resource
  mmv1/products/integrationconnectors/Connection.yaml
  mmv1/third_party/terraform/services/integrationconnectors/resource_integration_connectors_connection_test.go
Labels: service/integrationconnectors

#10583 [#17865] Move NGFW Enterprise resources to GA
  mmv1/products/networksecurity/FirewallEndpoint.yaml
  mmv1/products/networksecurity/FirewallEndpointAssociation.yaml
  mmv1/products/networksecurity/SecurityProfile.yaml
  mmv1/products/networksecurity/SecurityProfileGroup.yaml
  mmv1/products/networksecurity/TlsInspectionPolicy.yaml
  mmv1/templates/terraform/examples/network_security_firewall_endpoint_association_basic.tf.erb
  mmv1/templates/terraform/examples/network_security_firewall_endpoint_basic.tf.erb
  mmv1/templates/terraform/examples/network_security_security_profile_basic.tf.erb
  mmv1/templates/terraform/examples/network_security_security_profile_group_basic.tf.erb
  mmv1/templates/terraform/examples/network_security_security_profile_overrides.tf.erb
  mmv1/templates/terraform/examples/network_security_tls_inspection_policy_basic.tf.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_firewall_endpoint_association_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_firewall_endpoint_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_security_profile_group_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_security_profile_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_tls_inspection_policy_test.go.erb
Labels: service/network-security-distributed-firewall, service/networksecurity-swp

#10507 Add reservedInternalRange fields to the google_compute_subnetwork resource
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/examples/subnetwork_reserved_internal_range.tf.erb
Labels: service/compute-vpc

#10592 Add ExtraAttributesOauthClient field for google_iam_workforce_pool_provider resource
  mmv1/products/iamworkforcepool/WorkforcePoolProvider.yaml
  mmv1/templates/terraform/custom_flatten/iam_workforce_pool_provider_extra_attributes_oauth2_config_client_secret_value.go.erb
  mmv1/templates/terraform/examples/iam_workforce_pool_provider_extra_attributes_oauth2_config_client_basic.tf.erb
  mmv1/templates/terraform/examples/iam_workforce_pool_provider_extra_attributes_oauth2_config_client_full.tf.erb
  mmv1/templates/terraform/post_create/iam_workforce_pool_provider.go.erb
  mmv1/templates/terraform/post_update/iam_workforce_pool_provider.go.erb
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_workforce_pool_provider_test.go.erb
Labels: service/iam-workforce

#10580 Add support for Managed zone resource of Integration Connectors.
  mmv1/products/integrationconnectors/ManagedZone.yaml
  mmv1/templates/terraform/examples/integration_connectors_managed_zone.tf.erb
  mmv1/third_party/terraform/services/integrationconnectors/resource_integration_connectors_managed_zone_test.go
Labels: service/integrationconnectors

#10590 Adding support for Cloud DNS Additive VPC Scope for GKE, currently in preview
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10607 update dataflow job service_account_email docs
  mmv1/third_party/terraform/website/docs/r/dataflow_flex_template_job.html.markdown
  mmv1/third_party/terraform/website/docs/r/dataflow_job.html.markdown
Labels: service/dataflow

#10532 Added "preconfiguredWafConfig" and "rateLimitOptions" support to region security policy rule
  mmv1/products/compute/RegionSecurityPolicyRule.yaml
  mmv1/templates/terraform/examples/region_security_policy_rule_with_preconfigured_waf_config.tf.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_security_policy_rule_test.go.erb
Labels: service/compute-security-policy

#10588 Remove cluster update validation for primary to secondary
  mmv1/templates/terraform/pre_update/alloydb_cluster.go.erb
Labels: service/alloydb

#10568 Allow deletion of resource_bigquery_table when it still has associated resource tags
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go.erb
Labels: service/bigquery

#10616 Make workforce pool provider extra attributes tests and examples follow intended use case better.
  mmv1/templates/terraform/examples/iam_workforce_pool_provider_extra_attributes_oauth2_config_client_basic.tf.erb
  mmv1/templates/terraform/examples/iam_workforce_pool_provider_extra_attributes_oauth2_config_client_full.tf.erb
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_workforce_pool_provider_test.go.erb
Labels: service/iam-workforce

#10623 Added "match.expr.expression" field support for compute region security policy rule
  mmv1/products/compute/RegionSecurityPolicyRule.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_region_security_policy_rule_test.go.erb
Labels: service/compute-security-policy

#10626 Add example to GCS bucket that explains the need for `no_age`
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#9379 add autoNetworkTier to Router NAT
  mmv1/products/compute/RouterNat.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_router_nat_test.go.erb
Labels: service/compute-nat

#10620 Detected when PRs add tests that are not run in VCR
  .ci/magician/cmd/test_terraform_vcr.go
  .ci/magician/cmd/test_terraform_vcr_test.go
  .ci/magician/source/repo.go
Labels: service/terraform

#10613 Removing version guards for fields going GA
  mmv1/products/compute/Router.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_router_bgp_peer_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_interface.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_interface_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_router_interface.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_router_peer.html.markdown
Labels: service/compute-router

#10561 Add KMS support for the google_bigquery_connection resource
  mmv1/products/bigqueryconnection/Connection.yaml
  mmv1/templates/terraform/examples/bigquery_connection_kms.tf.erb
Labels: service/bigquery

#10636 Update google_project_service docs
  mmv1/third_party/terraform/website/docs/r/google_project_service.html.markdown
Labels: service/serviceusage

#10625 Add cloud_sql_target field in google_data_loss_prevention_discovery_config
  mmv1/products/dlp/DiscoveryConfig.yaml
  mmv1/templates/terraform/examples/dlp_discovery_config_cloud_sql.tf.erb
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_test.go
Labels: service/dlp

#10553 feat: datastream sql server connection profile/stream
  mmv1/products/datastream/ConnectionProfile.yaml
  mmv1/products/datastream/Stream.yaml
  mmv1/products/datastream/product.yaml
  mmv1/templates/terraform/custom_flatten/datastream_connection_profile_sql_server_profile_password.go.erb
  mmv1/templates/terraform/custom_flatten/go/datastream_connection_profile_sql_server_profile_password.go.tmpl
  mmv1/templates/terraform/examples/datastream_connection_profile_sql_server.tf.erb
  mmv1/templates/terraform/examples/datastream_stream_sql_server.tf.erb
  mmv1/templates/terraform/examples/go/datastream_connection_profile_sql_server.tf.tmpl
  mmv1/templates/terraform/examples/go/datastream_stream_sql_server.tf.tmpl
Labels: service/datastream

#10637 Update compute snapshots doc for regex filters.
  mmv1/third_party/terraform/website/docs/d/compute_snapshot.html.markdown
Labels: service/compute-pd

#10624 Update instances of `google_compute_forwarding_rule` in tests and examples to avoid setting `ip_address` with resource ids
  mmv1/templates/terraform/examples/apigee_endpoint_attachment_basic_test.tf.erb
  mmv1/templates/terraform/examples/apigee_instance_service_attachment_basic_test.tf.erb
  mmv1/templates/terraform/examples/forwarding_rule_regional_http_xlb.tf.erb
  mmv1/templates/terraform/examples/forwarding_rule_regional_steering.tf.erb
  mmv1/templates/terraform/examples/go/apigee_endpoint_attachment_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_instance_service_attachment_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/go/forwarding_rule_regional_http_xlb.tf.tmpl
  mmv1/templates/terraform/examples/go/forwarding_rule_regional_steering.tf.tmpl
  mmv1/templates/terraform/examples/go/int_https_lb_https_redirect.tf.tmpl
  mmv1/templates/terraform/examples/go/regional_external_http_load_balancer.tf.tmpl
  mmv1/templates/terraform/examples/int_https_lb_https_redirect.tf.erb
  mmv1/templates/terraform/examples/regional_external_http_load_balancer.tf.erb
Labels: service/compute-l7-load-balancer, service/apigee, service/private-service-connect-published-service

#10597 Adding ReadOnly field in the description of terraform_labels google project
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project.go
Labels: service/cloudresourcemanager-crm

#10641 Update suppress func for compute_disk.type and compute_instance.machineType.
  mmv1/products/compute/Disk.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances, service/compute-pd

#10648 Sort ImportStateVerifyIgnore arrays in generated tests
  mmv1/templates/terraform/examples/base_configs/test_file.go.erb
Labels: service/terraform

#10646 Add uniform bucket level access to fix local testing
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.erb
Labels: service/cloudfunctions

#10549 Secure Web Proxy fields gatewaySecurityPolicy and certificateUrls supports updates.
  mmv1/products/networkservices/Gateway.yaml
  mmv1/templates/terraform/pre_update/network_services_gateway.erb
  mmv1/third_party/terraform/services/networkservices/resource_network_services_gateway_test.go
Labels: service/networkservices-traffic-director, service/networkservices-media-cdn

#10569 bump metastore federation to ga
  mmv1/products/metastore/Federation.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_federation_basic.tf.erb
  mmv1/templates/terraform/examples/dataproc_metastore_federation_bigquery.tf.erb
Labels: service/metastore

#10638 Adding support for FLEX service level in netapp volumes
  mmv1/products/netapp/storagePool.yaml
  mmv1/products/netapp/volume.yaml
Labels: service/netapp

#10605 Add KUBELET and CADVISOR to monitoring components
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10656 Fixed GA NetworkSecurity tests
  mmv1/templates/terraform/examples/go/network_security_gateway_security_policy_tls_inspection_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/network_security_tls_inspection_policy_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_gateway_security_policy_tls_inspection_basic.tf.erb
  mmv1/templates/terraform/examples/network_security_tls_inspection_policy_basic.tf.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_firewall_endpoint_association_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_firewall_endpoint_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_security_profile_group_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_security_profile_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_tls_inspection_policy_test.go.erb
Labels: service/network-security-distributed-firewall, service/networksecurity-swp

#10654 Adding self_link output to google_network_security profile group
  mmv1/products/networksecurity/SecurityProfileGroup.yaml
Labels: service/network-security-distributed-firewall

#10667 docs: correct nested_bundles
  mmv1/third_party/terraform/website/docs/r/gke_hub_feature_membership.html.markdown
Labels: service/gkehub

#10662 Sort parameters in oics link and remove white spaces in generated Go files
  mmv1/api/resource.go
  mmv1/provider/terraform/examples.rb
  mmv1/templates/terraform/nested_property_documentation.html.markdown.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/third_party/terraform/services/migrationcenter/resource_migration_center_group_test.go
  mmv1/third_party/terraform/services/migrationcenter/resource_migration_center_preference_set_test.go
  mmv1/third_party/terraform/services/monitoring/resource_monitoring_uptime_check_config_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_active_directory_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_policy_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go
Labels: service/terraform

#10650 added functionality in mmv1 to support configurable sweepers
  mmv1/api/resource.rb
  mmv1/products/datacatalog/Taxonomy.yaml
  mmv1/provider/terraform.rb
  mmv1/provider/terraform/sweeper.rb
  mmv1/templates/terraform/sweeper_file.go.erb
  mmv1/third_party/terraform/services/datacatalog/resource_data_catalog_taxonomy_sweeper.go
Labels: service/datacatalog

#10630 Remove min_master_version from stack type tests
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#10601 Fixes storage bucket custom_time_before/noncurrent_time_before update issue
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
Labels: service/storage

#10689 Switched to using channel-based versions for TestAccContainerCluster_updateVersion
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#10697 Revert "Add reservedInternalRange fields to the google_compute_subnetwork resource"
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/examples/subnetwork_reserved_internal_range.tf.erb
Labels: override-breaking-change, service/compute-vpc

#10696 Revert "Adding self_link output to google_network_security profile group"
  mmv1/products/networksecurity/SecurityProfileGroup.yaml
Labels: override-breaking-change, service/network-security-distributed-firewall

#10663 Add `local_ssd_interface` to Dataproc Cluster's `disk_config`.
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/dataproc_cluster.html.markdown
Labels: service/dataproc

#9864 adds NGFW support for google_network_security_tls_inspection_policy resource
  mmv1/products/networksecurity/TlsInspectionPolicy.yaml
  mmv1/templates/terraform/examples/network_security_tls_inspection_policy_custom.tf.erb
Labels: service/network-security, service/networksecurity-swp

#10333 Support V5P for type of accelerator_config in google_tpu_v2_vm
  mmv1/products/tpuv2/Vm.yaml
Labels: service/tpu

#10591 Add support for PrivateRegistryAccessConfig
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10720 Address acc tests failures with higher TF versions by removing unused output block from acctest configs
  mmv1/templates/terraform/examples/cloudfunctions2_basic.tf.erb
  mmv1/templates/terraform/examples/cloudfunctions2_basic_builder.tf.erb
  mmv1/templates/terraform/examples/go/cloudfunctions2_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudfunctions2_basic_builder.tf.tmpl
Labels: service/cloudfunctions

#10691 Allow setting both enable_autopilot and workload_identity_config in google_container_cluster resource
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#10596 Added support for "TLS_JA3_FINGERPRINT" and "USER_IP" options for enforceOnKey field in "compute_security_policy" and "compute_security_policy_rule"
  mmv1/products/compute/SecurityPolicyRule.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_rule_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.erb
Labels: service/compute-security-policy

#10326 Add support for instance_ip_mode to appengine flexible in beta
  mmv1/products/appengine/DomainMapping.yaml
  mmv1/products/appengine/FlexibleAppVersion.yaml
  mmv1/products/appengine/product.yaml
  mmv1/templates/terraform/constants/domain_mapping.erb
  mmv1/templates/terraform/constants/go/domain_mapping.tmpl
  mmv1/templates/terraform/decoders/app_engine_domain_mapping.go.erb
  mmv1/third_party/terraform/services/appengine/resource_app_engine_domain_mapping_test.go
  mmv1/third_party/terraform/services/appengine/resource_app_engine_flexible_app_version_test.go
Labels: override-breaking-change, service/appengine

#10708 Fix references to non-existent TF meta-argument `update_triggered_by` in docs
  mmv1/products/compute/InstanceGroup.yaml
  mmv1/products/compute/InstanceGroupMembership.yaml
  mmv1/products/compute/NetworkEndpoint.yaml
  mmv1/products/compute/NetworkEndpoints.yaml
Labels: service/compute-networking-neg, service/compute-networking-ig

#10694 Prevent permadiff on monitoring_uptime_check_config
  mmv1/products/monitoring/UptimeCheckConfig.yaml
  mmv1/templates/terraform/constants/monitoring_uptime_check_config.go.erb
  mmv1/third_party/terraform/services/monitoring/resource_monitoring_uptime_check_config_test.go
Labels: service/monitoring-uptime

#10244 Add nfs support to cloudrun v1 services.
  mmv1/products/cloudrun/Service.yaml
Labels: service/run

#10684 Add 'force' parameter to all Datastream resources
  mmv1/products/datastream/ConnectionProfile.yaml
  mmv1/products/datastream/PrivateConnection.yaml
  mmv1/products/datastream/Stream.yaml
  mmv1/third_party/terraform/services/datastream/resource_datastream_stream_test.go
Labels: service/datastream

#10712 Add resource_tags argument definitions to resource_bigquery_table documentation
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#10679 Add support for AutokeyConfig and KeyHandle KMS resources
  mmv1/products/kms/AutokeyConfig.yaml
  mmv1/products/kms/KeyHandle.yaml
  mmv1/products/kms/product.yaml
  mmv1/templates/terraform/custom_check_destroy/kms_autokey_config.go.erb
  mmv1/templates/terraform/examples/kms_autokey_config_all.tf.erb
  mmv1/templates/terraform/examples/kms_key_handle_basic.tf.erb
Labels: service/cloudkms

#10713 Add support for setting Pub/Sub subscription filename_datetime_format
  mmv1/products/pubsub/Subscription.yaml
  mmv1/templates/terraform/examples/pubsub_subscription_push_cloudstorage.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_push_cloudstorage_avro.tf.erb
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#10557 bigquery_table - add support for `external_data_configuration.bigtable_options`
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go.erb
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#10722 Add the subnetLength field to the InterconnectAttachment resource
  mmv1/products/compute/InterconnectAttachment.yaml
  mmv1/templates/terraform/examples/interconnect_attachment_dedicated.tf.erb
Labels: service/compute-interconnect

#10721 adding support for Cloud Dataplex Entry Group resource
  mmv1/products/dataplex/EntryGroup.yaml
  mmv1/templates/terraform/examples/dataplex_entry_group_basic.tf.erb
  mmv1/templates/terraform/examples/dataplex_entry_group_full.tf.erb
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_entry_group_test.go
Labels: service/dataplex

#10644 corrections in google_composer_user_workloads_secret
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_user_workloads_secret.html.markdown
Labels: service/composer

#10672 Fix the permadiff issue related to aws creds in resource_storage_transfer_job.
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.erb
Labels: service/storage

#10683 Support behavioral changes to instance, instance template's max_run_duration feature on Beta
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
Labels: service/compute-instances

#10739 update `launch_stage` test value: Fixes TestAccCloudRunV2Service_cloudrunv2ServiceWithDirectVPCUpdate
  mmv1/templates/terraform/examples/go/cloudrunv2_service_directvpc.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#10716 Fixes autoclass permadiff issue
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
Labels: service/storage

#10743 Replace f1-micro with g1-small to speed up tests.
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#10751 adding support for Dataplex Aspect Type resource.
  mmv1/products/dataplex/AspectType.yaml
  mmv1/templates/terraform/examples/dataplex_aspect_type_basic.tf.erb
  mmv1/templates/terraform/examples/dataplex_aspect_type_full.tf.erb
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_aspect_type_test.go
Labels: service/dataplex

#10733 Update description of resource_tags in resource_bigquery_table
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#10639 Support ignore_read on nested fields
  mmv1/api/resource.rb
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/custom_flatten/compute_backend_service_iap_oauth2_client_secret.go.erb
  mmv1/templates/terraform/examples/base_configs/test_file.go.erb
  mmv1/templates/terraform/flatten_property_method.erb
  mmv1/third_party/terraform/services/vertexai/data_source_vertex_ai_index_test.go
  mmv1/third_party/terraform/services/vertexai/resource_vertex_ai_index_test.go
Labels: service/terraform

#10711 Add definition of table_replication_info to public documentation and bigquery/Table.yaml
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#10731 Fix TestAccSqlUser_postgresIAM by using a real IAM user
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
Labels: service/sqladmin-infra

#10701 Docs: Add STANDARD_WITH_GRAPHQL option for json_parsing to google_compute_security_policy documentation
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: service/compute-security-policy

#10728 docs: Correction for google_sql_database_instance database_flags
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin-infra

#10766 Update documentation for `google_bigquery_data_transfer_config`
  mmv1/products/bigquerydatatransfer/Config.yaml
Labels: service/bigquery

#10762 Update compute instance docs to reflect that VMs with SEV enabled can…
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#10707 Add "count" in dag_processor section
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#10732 Adding support for week5 maintenance update track
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#10527 Migrate certificate template to mmv1
  mmv1/products/privateca/CertificateTemplate.yaml
  mmv1/templates/terraform/datasource_iam.html.markdown.erb
  mmv1/templates/terraform/examples/privateca_template_basic.tf.erb
  mmv1/templates/terraform/resource_iam.html.markdown.erb
  mmv1/third_party/terraform/services/privateca/resource_privateca_certificate_template_test.go
  tpgtools/overrides/privateca/beta/certificate_template.yaml
  tpgtools/overrides/privateca/beta/tpgtools_product.yaml
  tpgtools/overrides/privateca/certificate_template.yaml
  tpgtools/overrides/privateca/samples/certificatetemplate/meta.yaml
  tpgtools/overrides/privateca/tpgtools_product.yaml
Labels: override-breaking-change, service/privateca

#10572 [#9353] Make cloud router sort advertised_ip_ranges in state by config order
  mmv1/products/compute/Router.yaml
  mmv1/templates/terraform/custom_flatten/compute_router_range.go.erb
Labels: service/compute-router

#10757 adding support for Cloud Dataplex Entry Type resource.
  mmv1/products/dataplex/EntryType.yaml
  mmv1/templates/terraform/examples/dataplex_entry_type_basic.tf.erb
  mmv1/templates/terraform/examples/dataplex_entry_type_full.tf.erb
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_entry_type_test.go
Labels: service/dataplex

#10717 Fixes LifecycleRules Conditions not being set issue.
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#9113 docs(alloydb): use network_config instead of deprecated network in examples
  mmv1/templates/terraform/examples/alloydb_backup_basic.tf.erb
  mmv1/templates/terraform/examples/alloydb_backup_full.tf.erb
  mmv1/templates/terraform/examples/alloydb_cluster_basic.tf.erb
  mmv1/templates/terraform/examples/alloydb_cluster_full.tf.erb
  mmv1/templates/terraform/examples/alloydb_cluster_restore.tf.erb
  mmv1/templates/terraform/examples/alloydb_instance_basic.tf.erb
Labels: service/alloydb

#10685 Remove stray character from acceptance test definition
  mmv1/third_party/terraform/services/kms/resource_kms_key_ring_import_job_test.go
Labels: service/cloudkms

#10737 Add `hyperdisk` to compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
Labels: service/compute-instances

#10784 Adds support for IAM Policies for Cloud Logging LogView
  mmv1/products/logging/LogView.yaml
Labels: service/logging

#10777 Update Instance.yaml to fix name regex
  mmv1/products/looker/Instance.yaml
Labels: service/looker-core

#10791 Add field `default_uri_disabled` to `google_cloud_run_v2_job` resource
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#10611 fix: Verify `google_cloud_run_v2_{service,job}` 'timeout' field with regex
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
Labels: service/run

#10813 Add a sleep `google_service_account` to reduce the likelihood of eventual consistency errors
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account.go
Labels: service/iam-serviceaccount

#10783 [AlloyDB] Private Service Connect Support
  mmv1/products/alloydb/Cluster.yaml
  mmv1/products/alloydb/Instance.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
Labels: service/alloydb

#10562 Terraform Restore Improvements for GKEBackup
  mmv1/products/gkebackup/BackupPlan.yaml
  mmv1/products/gkebackup/RestorePlan.yaml
  mmv1/templates/terraform/examples/gkebackup_backupplan_permissive.tf.erb
  mmv1/templates/terraform/examples/gkebackup_restoreplan_gitops_mode.tf.erb
  mmv1/templates/terraform/examples/gkebackup_restoreplan_restore_order.tf.erb
  mmv1/templates/terraform/examples/gkebackup_restoreplan_volume_res.tf.erb
  mmv1/third_party/terraform/services/gkebackup/resource_gke_backup_backup_plan_test.go.erb
  mmv1/third_party/terraform/services/gkebackup/resource_gke_backup_restore_plan_test.go.erb
Labels: service/gkebackup

#10014 doc: Fix the description for attribute skip_initial_version_creation of the resource google_kms_crypto_key
  mmv1/products/kms/CryptoKey.yaml
Labels: service/cloudkms

#10793 Add support for specifying storage pool when creating a disk.
  mmv1/products/compute/Disk.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
Labels: service/compute-pd

#10776 Add standby_policy along with suspended / stopped target size.
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#10818 Removed required tag on maxFindingsPerInfoType.infoType
  mmv1/products/dlp/InspectTemplate.yaml
  mmv1/templates/terraform/examples/dlp_inspect_template_max_infotype_per_finding_default.tf.erb
Labels: service/dlp

#10822 Adding support for backup_config in netapp volumes volume resource
  mmv1/products/netapp/volume.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#10799 Add force_destroy field to google_bigtable_instance resource
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance_test.go
  mmv1/third_party/terraform/website/docs/r/bigtable_instance.html.markdown
Labels: service/bigtableadmin

#10838 Upgrade DCL to 1.67
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  tpgtools/api/clouddeploy/samples/update_execution_env.target.json
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/clouddeploy

#10632 Introduce endpoint global access field in endpoint attachment resource
  mmv1/products/integrationconnectors/EndpointAttachment.yaml
  mmv1/third_party/terraform/services/integrationconnectors/resource_integration_connectors_endpoint_attachment_test.go
Labels: service/integrationconnectors

#10844 [#11127] Fixes ability to add secret manager secrets IAM bindings with conditions
  mmv1/products/secretmanager/Secret.yaml
  mmv1/third_party/terraform/services/secretmanager/iam_secret_manager_secret_test.go.erb
Labels: service/secretmanager

#10849 Fix some wrong and missing GKE network config docs
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container
