Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-04, with the labels that each got.

#10225 add cilium clusterwide network policies support
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10090 Adding nodeType field in the terraform
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/examples/redis_cluster_ha.tf.erb
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.erb
Labels: service/redis-cluster

#10330 Ignore read on FlexibleAppVersion deployment
  mmv1/products/appengine/FlexibleAppVersion.yaml
  mmv1/templates/terraform/custom_flatten/app_version.go.erb
  mmv1/third_party/terraform/services/appengine/resource_app_engine_flexible_app_version_test.go
Labels: service/appengine

#10153 Updating Documentation for exchanging credentials with the kubernetes…
  mmv1/third_party/terraform/website/docs/guides/using_gke_with_terraform.html.markdown
Labels: service/gkehub

#10325 Update examples to use LOOKER_CORE_STANDARD_ANNUAL edition
  mmv1/products/looker/Instance.yaml
  mmv1/templates/terraform/examples/looker_instance_basic.tf.erb
  mmv1/templates/terraform/examples/looker_instance_custom_domain.tf.erb
  mmv1/templates/terraform/examples/looker_instance_full.tf.erb
Labels: service/looker-core

#10282 feat: Vector index support
  mmv1/products/firestore/Index.yaml
  mmv1/templates/terraform/examples/firestore_index_vector.tf.erb
Labels: service/firestore-dataplane

#10353 correct typo in dns docs
  mmv1/third_party/terraform/website/docs/r/dns_record_set.html.markdown
Labels: service/cloud-dns

#10246 Added "disabled" support to firewall endpoint association resource
  mmv1/products/networksecurity/FirewallEndpointAssociation.yaml
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_firewall_endpoint_association_test.go.erb
Labels: service/network-security-distributed-firewall

#10309 Test Fix: Replace Dataproc's usage of K80 in tests with T4
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.erb
Labels: service/dataproc

#10346 Remove database resource name constraint in firestore document surface
  mmv1/products/firestore/Document.yaml
Labels: service/firestore-dataplane

#10347 Run version guard checks on PRs
  .github/workflows/mmv1-check-templates.yml
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_disk_async_replication_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_membership_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_network_endpoint_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_network_endpoints_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_endpoint_test.go.erb
  mmv1/third_party/terraform/services/healthcare/resource_healthcare_hl7_v2_store_test.go.erb
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_id_test.go.erb
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_provider_id_test.go.erb
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_provider_test.go.erb
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_test.go.erb
  mmv1/third_party/terraform/services/notebooks/resource_notebooks_environment_test.go.erb
  mmv1/third_party/terraform/services/notebooks/resource_notebooks_instance_container_test.go.erb
  mmv1/third_party/terraform/services/notebooks/resource_notebooks_instance_gpu_test.go.erb
  mmv1/third_party/terraform/services/notebooks/resource_notebooks_instance_state_test.go.erb
  mmv1/third_party/terraform/tpgresource/common_diff_suppress.go.erb
Labels: service/compute-instances

#10316 test: Fix missing database for datastore_index test.
  mmv1/products/datastore/Index.yaml
  mmv1/templates/terraform/examples/datastore_index.tf.erb
Labels: service/firestore-dataplane

#10338 Added "endpointTypes" support to compute router nat resource
  mmv1/products/compute/RouterNat.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_router_nat_test.go.erb
Labels: service/compute-nat

#10170 Allow in-place column drop for bigquery table
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_internal_test.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
Labels: service/bigquery

#10370 Moved dataflow iam setting in tests to use bootstrapping
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.erb
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job_test.go.erb
Labels: service/dataflow

#10342 Promote InstanceSettings compute resource to GA.
  mmv1/products/compute/InstanceSettings.yaml
  mmv1/templates/terraform/examples/instance_settings_basic.tf.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_settings_test.go.erb
Labels: service/compute-instances

#10209 New Datasource for list Tag Keys and Tag Values
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/tags/data_source_tags_tag_keys.go
  mmv1/third_party/terraform/services/tags/data_source_tags_tag_keys_test.go
  mmv1/third_party/terraform/services/tags/data_source_tags_tag_values.go
  mmv1/third_party/terraform/services/tags/data_source_tags_tag_values_test.go
  mmv1/third_party/terraform/website/docs/d/tags_tag_keys.html.markdown
  mmv1/third_party/terraform/website/docs/d/tags_tag_values.html.markdown
Labels: service/cloudresourcemanager-tags

#10354 fixed permission issues when activating a sub-CA in a different region
  mmv1/products/privateca/CertificateAuthority.yaml
  mmv1/templates/terraform/custom_flatten/privateca_certificate_authority_subordinate_config_certificate_authority.go.erb
  mmv1/third_party/terraform/services/privateca/privateca_ca_utils.go
  mmv1/third_party/terraform/services/privateca/resource_privateca_certificate_authority_test.go
Labels: service/privateca

#10380 Add sweeper for firestore_database_instance
  mmv1/third_party/terraform/services/firestore/resource_firestore_database_sweeper.go
Labels: service/firestore-controlplane

#10343 add billing_project_id to basic firewall endpoint example
  mmv1/products/networksecurity/FirewallEndpoint.yaml
  mmv1/templates/terraform/examples/network_security_firewall_endpoint_basic.tf.erb
Labels: service/network-security-distributed-firewall

#10386 Made TestAccLoggingProjectSink_default use a separate project
  mmv1/third_party/terraform/services/logging/resource_logging_project_sink_test.go
Labels: service/logging

#10385 Increased google_compute_security_policy timeouts to 20 minutes (default)
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.erb
Labels: service/compute-security-policy

#10390 Add ignore_read_extra for subordinate_config
  mmv1/products/privateca/CertificateAuthority.yaml
Labels: service/privateca

#10375 Adding ipv6 support for bgp router peer, router interface and router
  mmv1/products/compute/Router.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_router_bgp_peer_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_interface.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_interface_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_router_interface.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_router_peer.html.markdown
Labels: service/compute-router

#10247 Add Smart Scheduling feature in BackupPlan for Backup for GKE
  mmv1/products/gkebackup/BackupPlan.yaml
  mmv1/templates/terraform/examples/gkebackup_backupplan_rpo_daily_window.tf.erb
  mmv1/templates/terraform/examples/gkebackup_backupplan_rpo_weekly_window.tf.erb
  mmv1/third_party/terraform/services/gkebackup/resource_gke_backup_backup_plan_test.go.erb
Labels: service/gkebackup

#10387 feat: add labels validations
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
Labels: service/storage

#10389 Minor fix to address ambiguity in error message.
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
Labels: service/composer

#10404 Change supported machine type to fix CHD tests.
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#10407 Drop IAM resources from EkmConnection tests.
  mmv1/third_party/terraform/services/kms/resource_kms_ekm_connection_test.go
Labels: service/cloudkms

#10401 Show diff for computed nested labels fields when creating resources
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.erb
  mmv1/third_party/terraform/tpgresource/annotations.go
  mmv1/third_party/terraform/tpgresource/labels.go
Labels: service/run

#10365 Set no prefix to fix "IP range no free block error" for test of looker enterprise
  mmv1/products/looker/Instance.yaml
Labels: service/looker-core

#10235 Move missing test detector into diff processor
  .ci/magician/cmd/generate_comment.go
  .ci/magician/cmd/generate_comment_test.go
  .ci/magician/cmd/mock_runner_test.go
  .github/workflows/unit-tests-diff-processor.yml
  tools/diff-processor/cmd/detect_missing_tests.go
  tools/diff-processor/cmd/root.go
  tools/diff-processor/detector/detector.go
  tools/diff-processor/detector/detector_test.go
  tools/diff-processor/missing_test_output.tmpl
  tools/diff-processor/reader/reader.go
  tools/diff-processor/reader/reader_test.go
  tools/diff-processor/reader/testdata/service/config_variable_test.go
  tools/diff-processor/reader/testdata/service/covered_resource_test.go
  tools/diff-processor/reader/testdata/service/cross_file_1_test.go
  tools/diff-processor/reader/testdata/service/cross_file_2_test.go
  tools/diff-processor/reader/testdata/service/function_call_test.go
  tools/diff-processor/reader/testdata/service/multiple_resource_test.go
  tools/diff-processor/reader/testdata/service/serial_resource_test.go
  tools/diff-processor/reader/testdata/service/uncovered_resource_test.go
  tools/missing-test-detector/changed.go
  tools/missing-test-detector/changed_test.go
  tools/missing-test-detector/go.mod
  tools/missing-test-detector/go.sum
  tools/missing-test-detector/main.go
Labels: service/alloydb

#10126 Restored skipped Container Node Pool tests
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
Labels: service/container

#10420 skip TestAccSqlUser_postgresIAM
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
Labels: service/sqladmin

#10217 Add tags support to (regional) instance group manager
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#10410 Extracted config ordering logic into a helper function
  docs/content/develop/permadiff.md
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
  mmv1/third_party/terraform/tpgresource/utils.go
  mmv1/third_party/terraform/tpgresource/utils_test.go
Labels: service/compute-managed

#10408 Remove beta label from enable_l4_ilb_subsetting
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10216 Update Network Edge Security Service sweeper
  mmv1/products/compute/NetworkEdgeSecurityService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_network_edge_security_service_sweeper.go.erb
Labels: service/compute-security-policy

#10242 artifactregistry: support custom remote repositories for language packages
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/custom_flatten/artifactregistry_rr_disable_upstream_validation.go.erb
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_docker_custom_with_auth.tf.erb
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_dockerhub_auth.tf.erb
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_maven_custom_with_auth.tf.erb
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_npm_custom_with_auth.tf.erb
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_python_custom_with_auth.tf.erb
  mmv1/templates/terraform/pre_create/artifact_registry_remote_repository.go.erb
Labels: service/artifactregistry

#10372 added build_config.service_account for google_cloudfunctions2_function
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/templates/terraform/examples/cloudfunctions2_basic_builder.tf.erb
Labels: service/cloudfunctions

#10430 Fixes a few typos in resource documentation
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.erb
Labels: service/container

#10368 Migrate `dns` data sources back to the SDK to solve auth issue resulting from migration to plugin framework
  mmv1/third_party/terraform/acctest/provider_test_utils.go
  mmv1/third_party/terraform/envvar/envvar_utils.go
  mmv1/third_party/terraform/fwprovider/framework_provider.go.erb
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/dns/data_source_dns_key_test.go.erb
  mmv1/third_party/terraform/services/dns/data_source_dns_keys.go
  mmv1/third_party/terraform/services/dns/data_source_dns_managed_zone.go
  mmv1/third_party/terraform/services/dns/data_source_dns_managed_zone_test.go.erb
  mmv1/third_party/terraform/services/dns/data_source_dns_managed_zones.go
  mmv1/third_party/terraform/services/dns/data_source_dns_managed_zones_test.go
  mmv1/third_party/terraform/services/dns/data_source_dns_record_set.go
  mmv1/third_party/terraform/services/dns/data_source_dns_record_set_test.go.erb
Labels: service/cloud-dns

#10429 Made apigee organization sort properties in state by config order
  docs/content/develop/permadiff.md
  mmv1/products/apigee/Organization.yaml
  mmv1/templates/terraform/custom_flatten/apigee_organization_property.go.erb
Labels: service/apigee

#10440 Fix the version of data fusion instance in tests
  mmv1/third_party/terraform/services/datafusion/resource_data_fusion_instance_test.go
Labels: service/datafusion

#10394 Fix bug that prevented setting 'create_ignore_already_exists' on existing resources
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account_test.go
Labels: service/iam-serviceaccount

#10426 fix: added gcs name validation
  mmv1/products/storage/Bucket.yaml
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/tpgresource/utils.go
  mmv1/third_party/terraform/tpgresource/utils_test.go
  mmv1/third_party/terraform/verify/validation.go
  mmv1/third_party/terraform/verify/validation_test.go
Labels: service/storage

#10453 update examples to use the workbench image
  mmv1/templates/terraform/examples/workbench_instance_basic_gpu.tf.erb
Labels: service/notebooks

#10459 Add OwnershipScope to the Billing Budget resource
  mmv1/products/billingbudget/Budget.yaml
  mmv1/templates/terraform/examples/billing_budget_optional.tf.erb
Labels: service/billingbudgets

#10427 Add field controlPlaneIp to the WorkstationCluster.yaml spec
  mmv1/products/workstations/WorkstationCluster.yaml
Labels: service/workstations

#10447 Fix typo in Document.yaml
  mmv1/products/firestore/Document.yaml
Labels: service/firestore-dataplane

#10376 Add New Resource resource_google_project_iam_member_remove
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_iam_member_remove.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_iam_member_remove_test.go
  mmv1/third_party/terraform/website/docs/r/google_project_iam_member_remove.html.markdown
Labels: service/cloudresourcemanager-crm

#10418 Fix tests to use dedicated bootstrapped service accounts instead of one shared account
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_account_access_token_test.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_account_id_token_test.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_account_jwt_test.go
Labels: service/iam-serviceaccount

#10412 Add support for apiConsumerDataLocation, apiConsumerDataEncryptionKeyName, and controlPlaneEncryptionKeyName in Apigee Organization.
  mmv1/products/apigee/Organization.yaml
  mmv1/templates/terraform/examples/apigee_organization_drz_test.tf.erb
  mmv1/templates/terraform/examples/go/apigee_organization_drz_test.tf.tmpl
Labels: service/apigee

#10443 Fix Stretch Private Cloud creation in vmwareengine
  mmv1/products/vmwareengine/PrivateCloud.yaml
Labels: override-breaking-change, service/vmwareengine

#10455 Add resource tags to BigQuery Table
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go.erb
Labels: service/bigquery

#10411 Fix Terraform updates for instances with Google ML Integration enabled
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin

#10231 Add DLP resource DiscoveryConfig
  mmv1/products/dlp/DiscoveryConfig.yaml
  mmv1/templates/terraform/examples/dlp_discovery_config_actions.tf.erb
  mmv1/templates/terraform/examples/dlp_discovery_config_basic.tf.erb
  mmv1/templates/terraform/examples/dlp_discovery_config_conditions_cadence.tf.erb
  mmv1/templates/terraform/examples/dlp_discovery_config_filter_regexes_and_conditions.tf.erb
  mmv1/templates/terraform/examples/dlp_discovery_config_org_folder_paused.tf.erb
  mmv1/templates/terraform/examples/dlp_discovery_config_org_running.tf.erb
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_test.go
Labels: service/dlp

#10441 Adding the support for secret version delayed destroy in the terraform provider
  mmv1/products/secretmanager/Secret.yaml
  mmv1/templates/terraform/examples/secret_with_version_destroy_ttl.tf.erb
  mmv1/third_party/terraform/services/secretmanager/resource_secret_manager_secret_test.go.erb
Labels: service/secretmanager

#10449 [dns_record_set] change primary-backup -> failover in docs
  mmv1/third_party/terraform/services/dns/resource_dns_record_set.go
  mmv1/third_party/terraform/website/docs/r/dns_record_set.html.markdown
Labels: service/cloud-dns

#10475 Use vars for resource ids in SecurityPosture
  mmv1/products/securityposture/Posture.yaml
  mmv1/products/securityposture/PostureDeployment.yaml
  mmv1/templates/terraform/examples/securityposture_posture_basic.tf.erb
  mmv1/templates/terraform/examples/securityposture_posture_deployment_basic.tf.erb
Labels: service/securityposture

#10466 Add resource for userWorkloadsSecret in Composer environment.
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_user_workloads_secret.html.markdown
Labels: service/composer

#10448 Add "path" property to rewrite config for firebase hosting version
  mmv1/products/firebasehosting/Version.yaml
  mmv1/templates/terraform/examples/firebasehosting_version_path.tf.erb
Labels: service/firebase

#10474 Add ignore_read_extra to IntegrationConnectors Connection status fields
  mmv1/products/integrationconnectors/Connection.yaml
Labels: service/integrationconnectors

#10457 Add support for configuring forward proxy in Apigee Environment.
  mmv1/products/apigee/Environment.yaml
  mmv1/templates/terraform/examples/apigee_environment_patch_update_test.tf.erb
  mmv1/third_party/terraform/services/apigee/resource_apigee_environment_type_test.go.erb
Labels: service/apigee

#10476 appengine: Suppress null automatic_scaling blocks during Read
  mmv1/products/appengine/StandardAppVersion.yaml
  mmv1/templates/terraform/custom_flatten/appengine_standardappversion_automatic_scaling_handlenil.go.erb
Labels: service/appengine

#10490 Documentstion changes, follow-up to #10466
  mmv1/third_party/terraform/website/docs/r/composer_user_workloads_secret.html.markdown
Labels: service/composer

#10435 Add data source for retrieving multiple objects from a GCS bucket
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket_objects.go
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket_objects_test.go
  mmv1/third_party/terraform/website/docs/d/storage_bucket_objects.html.markdown
Labels: service/storage

#10331 Public IP Support for AlloyDB
  mmv1/products/alloydb/Instance.yaml
  mmv1/templates/terraform/post_create/alloydb_instance.go.erb
  mmv1/templates/terraform/pre_create/alloydb_instance.go.erb
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
Labels: service/alloydb

#10500 Add version guard to google_composer_user_workloads_secret
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_user_workloads_secret.html.markdown
Labels: service/composer

#10423 feat: add custom SKI support
  mmv1/products/privateca/Certificate.yaml
  mmv1/products/privateca/CertificateAuthority.yaml
  mmv1/templates/terraform/examples/privateca_certificate_authority_custom_ski.tf.erb
  mmv1/templates/terraform/examples/privateca_certificate_custom_ski.tf.erb
Labels: service/privateca

#10501 Added item_validation property to handle validation on array elements
  docs/content/develop/field-reference.md
  mmv1/api/type.rb
  mmv1/templates/terraform/schema_property.erb
Labels: service/terraform

#10498 Update alloydb sweeper to sweep secondary clusters
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_sweeper.go.erb
Labels: service/alloydb

#10503 Add serviceAgentAuthentication for Uptime Checks
  mmv1/products/monitoring/UptimeCheckConfig.yaml
  mmv1/templates/terraform/examples/uptime_check_config_https.tf.erb
Labels: service/monitoring-uptime

#10306 Add Play Integrity & reCAPTCHA Enterprise APIs enablement for App Check examples
  mmv1/templates/terraform/examples/firebase_app_check_play_integrity_config_full.tf.erb
  mmv1/templates/terraform/examples/firebase_app_check_play_integrity_config_minimal.tf.erb
  mmv1/templates/terraform/examples/firebase_app_check_recaptcha_enterprise_config_basic.tf.erb
Labels: service/firebase

#9105 add serverTLSpolicy to google_compute_region_target_https_proxy
  mmv1/products/compute/RegionTargetHttpsProxy.yaml
  mmv1/templates/terraform/examples/region_target_https_proxy_mtls.tf.erb
Labels: service/compute

#10524 fix: update resource template to remove beta and remove egress
  mmv1/templates/terraform/examples/cloudrunv2_service_directvpc.tf.erb
Labels: service/run

#10525 Make storage bucket object respect custom endpoints
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket_object.go
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket_objects.go
Labels: service/storage

#10499 [AlloyDB] Maintenance Windows Support
  mmv1/products/alloydb/Cluster.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_test.go
Labels: service/alloydb

#10515 Add redis_configs parameter to Redis Cluster
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/examples/redis_cluster_ha.tf.erb
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.erb
Labels: service/redis-cluster

#10526 Fix DocAI Warehouse tests to work properly with a test project
  mmv1/products/documentaiwarehouse/DocumentSchema.yaml
  mmv1/products/documentaiwarehouse/Location.yaml
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_datetime.tf.erb
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_enum.tf.erb
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_float.tf.erb
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_integer.tf.erb
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_map.tf.erb
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_property.tf.erb
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_property_enum.tf.erb
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_text.tf.erb
  mmv1/templates/terraform/examples/document_ai_warehouse_document_schema_timestamp.tf.erb
  mmv1/third_party/terraform/services/documentaiwarehouse/resource_document_ai_warehouse_document_schema_test.go
Labels: service/documentaiwarehouse

#10444 Add data source for retrieving multiple GCS buckets from a project
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/storage/data_source_google_storage_buckets.go
  mmv1/third_party/terraform/services/storage/data_source_google_storage_buckets_test.go
  mmv1/third_party/terraform/website/docs/d/storage_buckets.html.markdown
Labels: service/storage

#10511 feat(google_container_node_pool): support secondary boot disks
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10529 Add database_id section in firebase rule release sample
  tpgtools/overrides/firebaserules/samples/release/firestore_release.tf.tmpl
  tpgtools/overrides/firebaserules/samples/release/firestore_release.yaml
Labels: service/firebase

#10536 fix:update resource template to remove beta and egree
  mmv1/templates/terraform/examples/cloudrunv2_job_directvpc.tf.erb
Labels: service/run

#10520 Fix the failing tests TestAccBigQueryJob_bigqueryJobCopy*
  mmv1/templates/terraform/examples/bigquery_job_copy.tf.erb
  mmv1/templates/terraform/examples/bigquery_job_copy_table_reference.tf.erb
Labels: service/bigquery

#10545 Update template parameters documentation
  mmv1/third_party/terraform/website/docs/r/dataflow_flex_template_job.html.markdown
  mmv1/third_party/terraform/website/docs/r/dataflow_job.html.markdown
Labels: service/dataflow

#10471 Update container_cluster: add MPS strategy on gpu_sharing block
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10454 [Composer] Reveal Image Version Updates to GA.
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
Labels: service/composer

#10542 Rewrite the code to handle handwritten resources
  mmv1/api/resource.go
  mmv1/main.go
  mmv1/provider/template_data.go
  mmv1/provider/terraform.go
  mmv1/third_party/terraform/.copywrite.hcl.tmpl
  mmv1/third_party/terraform/.goreleaser.yml.tmpl
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/main.go.tmpl
  mmv1/third_party/terraform/release-metadata.hcl.tmpl
  mmv1/third_party/terraform/services/containeranalysis/resource_container_analysis_occurrence_test.go
  mmv1/third_party/terraform/services/containeranalysis/test-fixtures/generated_payload.json
  mmv1/third_party/terraform/services/deploymentmanager/resource_deployment_manager_deployment_test.go
  mmv1/third_party/terraform/services/deploymentmanager/test-fixtures/service_account.yml
  mmv1/third_party/terraform/terraform-registry-manifest.json
  mmv1/third_party/terraform/utils/provider_versionfive_upgrade_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_firewall_policy_rule.html.markdown
Labels: service/deploymentmanager, service/containeranalysis

#10559 Adding SOA Deletion short-circuit
  mmv1/third_party/terraform/services/dns/resource_dns_record_set.go
  mmv1/third_party/terraform/services/dns/resource_dns_record_set_test.go.erb
  mmv1/third_party/terraform/website/docs/r/dns_record_set.html.markdown
Labels: service/cloud-dns
