Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-02, with the labels that each got.

#9902 Fix firebasehosting CustomDomain issues.details JSON type
  mmv1/products/firebasehosting/CustomDomain.yaml
Labels: override-breaking-change, service/firebase

#9888 Add Cloud Deploy Delivery Pipeline
  mmv1/products/clouddeploy/DeliveryPipeline.yaml
  mmv1/templates/terraform/examples/clouddeploy_delivery_pipeline_basic.tf.erb
Labels: service/clouddeploy

#9909 Promote support for replica mv in resource_bigquery_table to GA
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
Labels: service/bigquery

#9891 Add fine grained resource for instance group membership
  mmv1/products/compute/InstanceGroup.yaml
  mmv1/products/compute/InstanceGroupMembership.yaml
  mmv1/templates/terraform/custom_import/compute_instance_group_membership.go.erb
  mmv1/templates/terraform/encoders/compute_instance_group_membership.go.erb
  mmv1/templates/terraform/examples/instance_group_membership.tf.erb
  mmv1/templates/terraform/pre_delete/compute_instance_group_membership.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_membership_test.go.erb
Labels: service/compute-networking-neg

#9847 Add beta support for confidentialInstanceType
  mmv1/products/compute/Instance.yaml
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#9537 Migrate cloudbuild connection to mmv1
  mmv1/products/cloudbuildv2/Connection.yaml
  mmv1/templates/terraform/examples/cloudbuildv2_connection_ghe.tf.erb
  mmv1/templates/terraform/examples/cloudbuildv2_connection_github.tf.erb
  mmv1/third_party/terraform/services/cloudbuildv2/resource_cloudbuildv2_connection_test.go
  tpgtools/api/cloudbuildv2/samples/ghe.repository.json
  tpgtools/api/cloudbuildv2/samples/ghe_complete.connection.json
  tpgtools/api/cloudbuildv2/samples/ghe_complete_connection.yaml
  tpgtools/api/cloudbuildv2/samples/ghe_connection.yaml
  tpgtools/api/cloudbuildv2/samples/ghe_initial.connection.json
  tpgtools/api/cloudbuildv2/samples/ghe_priv.connection.json
  tpgtools/api/cloudbuildv2/samples/ghe_priv_connection.yaml
  tpgtools/api/cloudbuildv2/samples/ghe_priv_update_connection.yaml
  tpgtools/api/cloudbuildv2/samples/ghe_repository.yaml
  tpgtools/api/cloudbuildv2/samples/github.repository.json
  tpgtools/api/cloudbuildv2/samples/github_connection.yaml
  tpgtools/api/cloudbuildv2/samples/github_initial.connection.json
  tpgtools/api/cloudbuildv2/samples/github_repository.yaml
  tpgtools/api/cloudbuildv2/samples/github_update.connection.json
  tpgtools/api/cloudbuildv2/samples/gitlab.connection.json
  tpgtools/api/cloudbuildv2/samples/gitlab.repository.json
  tpgtools/api/cloudbuildv2/samples/gitlab_connection.yaml
  tpgtools/api/cloudbuildv2/samples/gitlab_repository.yaml
  tpgtools/api/cloudbuildv2/samples/gle.connection.json
  tpgtools/api/cloudbuildv2/samples/gle.repository.json
  tpgtools/api/cloudbuildv2/samples/gle_connection.yaml
  tpgtools/api/cloudbuildv2/samples/gle_old.connection.json
  tpgtools/api/cloudbuildv2/samples/gle_old_connection.yaml
  tpgtools/api/cloudbuildv2/samples/gle_priv_connection.yaml
  tpgtools/api/cloudbuildv2/samples/gle_priv_update_connection.yaml
  tpgtools/api/cloudbuildv2/samples/gle_repository.yaml
  tpgtools/api/cloudbuildv2/samples/gle_update.connection.json
  tpgtools/overrides/cloudbuildv2/beta/connection.yaml
  tpgtools/overrides/cloudbuildv2/beta/tpgtools_product.yaml
  tpgtools/overrides/cloudbuildv2/connection.yaml
  tpgtools/overrides/cloudbuildv2/samples/connection/github.yaml
  tpgtools/overrides/cloudbuildv2/samples/connection/meta.yaml
  tpgtools/overrides/cloudbuildv2/tpgtools_product.yaml
Labels: service/cloudbuild

#9925 Add support for disable_ssh field in workstations_config
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/templates/terraform/examples/workstation_config_basic.tf.erb
Labels: service/workstations

#9915 Fix notebooks instances recreating for scopes and CMEK
  mmv1/products/notebooks/Instance.yaml
  mmv1/templates/terraform/constants/notebooks_instance.go
  mmv1/templates/terraform/examples/notebook_instance_full.tf.erb
Labels: service/notebooks

#9941 Add sample for trigger using http_destination
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_trigger_test.go.erb
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/clouddeploy, service/recaptchaenterprise, service/eventarc

#9930 App check debug token
  mmv1/products/firebaseappcheck/DebugToken.yaml
  mmv1/templates/terraform/examples/firebase_app_check_debug_token_basic.tf.erb
  mmv1/third_party/terraform/services/firebaseappcheck/resource_firebase_app_check_debug_token_test.go
Labels: service/firebase

#9960 Allow GCE apis to handle validations for boot disk permformance
  mmv1/products/compute/Instance.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances

#9950 Add Cloud Deploy CustomTargetType resource
  mmv1/products/clouddeploy/CustomTargetType.yaml
  mmv1/templates/terraform/examples/clouddeploy_custom_target_type_basic.tf.erb
  mmv1/templates/terraform/examples/clouddeploy_custom_target_type_gcs_skaffold_modules.tf.erb
  mmv1/templates/terraform/examples/clouddeploy_custom_target_type_git_skaffold_modules.tf.erb
  mmv1/third_party/terraform/services/clouddeploy/resource_clouddeploy_custom_target_type_test.go
Labels: service/clouddeploy

#9963 fix forceNew on resource_manager_tags
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
Labels: awaiting-approval

#9633 Add support for `enable_relay` field to `advanced_datapath_observability_config`
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: override-breaking-change, service/container

#9967 add featureregistry field support for featureview
  mmv1/products/vertexai/FeatureOnlineStoreFeatureview.yaml
  mmv1/templates/terraform/examples/vertex_ai_featureonlinestore_featureview_feature_registry.tf.erb
  mmv1/third_party/terraform/services/vertexai/resource_vertex_ai_feature_online_store_featureview_test.go
Labels: service/aiplatform-featurestore

#9976 Posture1
  mmv1/products/securityposture/posture.yaml
  mmv1/templates/terraform/examples/securityposture_posture_basic.tf.erb
Labels: override-breaking-change, service/securityposture

#9977 Adding support for reject_duplicate_message flag while creating hl7v2store
  mmv1/products/healthcare/Hl7V2Store.yaml
  mmv1/templates/terraform/examples/healthcare_hl7_v2_store_basic.tf.erb
  mmv1/third_party/terraform/services/healthcare/resource_healthcare_hl7_v2_store_test.go.erb
Labels: service/healthcare

#9945 Add desired state to workbench instances.
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/constants/workbench_instance.go
  mmv1/templates/terraform/custom_flatten/workbench_instance_boot_disk_encryption_flatten.go.erb
  mmv1/templates/terraform/custom_flatten/workbench_instance_boot_disk_kms_flatten.go.erb
  mmv1/templates/terraform/custom_flatten/workbench_instance_data_disk_encryption_flatten.go.erb
  mmv1/templates/terraform/custom_flatten/workbench_instance_data_disk_kms_flatten.go.erb
  mmv1/templates/terraform/examples/workbench_instance_full.tf.erb
  mmv1/templates/terraform/examples/workbench_instance_labels_stopped.tf.erb
  mmv1/templates/terraform/post_create/workbench_instance.go.erb
  mmv1/templates/terraform/post_update/workbench_instance.go.erb
  mmv1/templates/terraform/pre_update/workbench_instance.go.erb
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.erb
Labels: service/notebooks

#9872 Promote `user_ip_request_headers` field on `google_compute_security_policy` resource to GA
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: service/compute-security-policy

#9969 Expose version_id on google_cloudfunctions_function
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function.go
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.erb
Labels: service/cloudfunctions

#9698 Add Preference Set resource
  mmv1/products/migrationcenter/PreferenceSet.yaml
  mmv1/templates/terraform/examples/preference_set_basic.tf.erb
  mmv1/templates/terraform/examples/preference_set_full.tf.erb
  mmv1/third_party/terraform/services/migrationcenter/resource_migration_center_preference_set_test.go
Labels: service/migrationcenter

#9918 Netapp volumes: Add restoreParameters
  mmv1/products/netapp/volume.yaml
  mmv1/templates/terraform/examples/netapp_volume_basic.tf.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#9983 Fix updating NIC stack type for google compute instance
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#9936 Add custom domain configuration for Looker
  mmv1/products/looker/Instance.yaml
  mmv1/templates/terraform/examples/looker_instance_custom_domain.tf.erb
Labels: service/looker-core

#10002 Fix doc typos
  mmv1/products/integrationconnectors/Connection.yaml
  mmv1/templates/terraform/examples/scc_event_threat_detection_custom_module.tf.erb
Labels: service/integrationconnectors

#10001 make poilcy sets and policies required field.
  mmv1/products/securityposture/posture.yaml
Labels: override-breaking-change, service/securityposture

#9974 Add two output-only fields (`membership_id`, `membership_location`) under google_container_cluster.fleet
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#9622 shielded instance config for Workbench instances
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/examples/workbench_instance_full.tf.erb
  mmv1/templates/terraform/examples/workbench_instance_labels_stopped.tf.erb
  mmv1/templates/terraform/pre_update/workbench_instance.go.erb
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_shielded_config_test.go.erb
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.erb
Labels: service/notebooks

#10006 Notebook instances output tags by default
  mmv1/products/notebooks/Instance.yaml
Labels: service/notebooks

#9973 Add support for custom containers for workbench instances
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/examples/workbench_instance_basic_container.tf.erb
Labels: service/notebooks

#9991 App Check reCAPTCHA V3 and reCAPTCHA Enterprise providers
  mmv1/products/firebaseappcheck/RecaptchaEnterpriseConfig.yaml
  mmv1/products/firebaseappcheck/RecaptchaV3Config.yaml
  mmv1/templates/terraform/examples/firebase_app_check_recaptcha_enterprise_config_basic.tf.erb
  mmv1/templates/terraform/examples/firebase_app_check_recaptcha_v3_config_basic.tf.erb
  mmv1/third_party/terraform/services/firebaseappcheck/resource_firebase_app_check_recaptcha_enterprise_config_test.go
  mmv1/third_party/terraform/services/firebaseappcheck/resource_firebase_app_check_recaptcha_v3_config_test.go
Labels: service/firebase

#9989 fixes: permadiff issue if event trigger region is not specified
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/templates/terraform/examples/cloudfunctions2_basic_gcs.tf.erb
Labels: service/cloudfunctions

#9531 Add Resource Manager Tags support to 'google_container_cluster'
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#9816 Add volume replication support for Google Cloud NetApp Volumes
  mmv1/products/netapp/VolumeReplication.yaml
  mmv1/templates/terraform/constants/netapp_volume_replication.go.erb
  mmv1/templates/terraform/custom_flatten/netapp_volume_replicaton_mirror_state.go.erb
  mmv1/templates/terraform/examples/netapp_volume_replication_create.tf.erb
  mmv1/templates/terraform/post_create/netapp_volume_replication_post_create.go.erb
  mmv1/templates/terraform/post_delete/netapp_volume_replication_delete_destination_volume.go.erb
  mmv1/templates/terraform/post_update/netapp_volume_replication_mirror_state.go.erb
  mmv1/templates/terraform/pre_delete/netapp_volume_replication_stop_before_delete.go.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_replication_test.go
Labels: service/netapp

#10005 Adds description for default value of `cpuidle` field
  mmv1/products/cloudrunv2/Service.yaml
Labels: service/run

#10032 Sync main branch into FEATURE-BRANCH-provider-functions
  mmv1/products/alloydb/User.yaml
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/products/compute/RouterNat.yaml
  mmv1/products/firebase/AndroidApp.yaml
  mmv1/products/firebase/AppleApp.yaml
  mmv1/products/firebase/WebApp.yaml
  mmv1/products/netapp/VolumeReplication.yaml
  mmv1/templates/terraform/constants/netapp_volume_replication.go.erb
  mmv1/templates/terraform/custom_flatten/netapp_volume_replicaton_mirror_state.go.erb
  mmv1/templates/terraform/examples/cloudfunctions2_basic_gcs.tf.erb
  mmv1/templates/terraform/examples/netapp_volume_replication_create.tf.erb
  mmv1/templates/terraform/post_create/netapp_volume_replication_post_create.go.erb
  mmv1/templates/terraform/post_delete/netapp_volume_replication_delete_destination_volume.go.erb
  mmv1/templates/terraform/post_update/netapp_volume_replication_mirror_state.go.erb
  mmv1/templates/terraform/pre_delete/netapp_volume_replication_stop_before_delete.go.erb
  mmv1/third_party/terraform/.teamcity/CONTRIBUTION_GUIDE.md
  mmv1/third_party/terraform/.teamcity/components/inputs/packages.kt
  mmv1/third_party/terraform/.teamcity/components/projects/project_sweeper_project.kt
  mmv1/third_party/terraform/.teamcity/components/projects/reused/mm_upstream.kt
  mmv1/third_party/terraform/.teamcity/components/projects/reused/nightly_tests.kt
  mmv1/third_party/terraform/.teamcity/components/projects/root_project.kt
  mmv1/third_party/terraform/.teamcity/tests/sweepers.kt
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/compute/data_source_google_compute_forwarding_rules.go
  mmv1/third_party/terraform/services/compute/data_source_google_compute_forwarding_rules_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job.go.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_replication_test.go
  mmv1/third_party/terraform/website/docs/d/compute_forwarding_rules.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_machine_types.html.markdown
  mmv1/third_party/terraform/website/docs/guides/getting_started.html.markdown
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container, service/cloudfunctions, service/compute-instances, service/compute-nat, service/netapp

#9968 Add location field in DNS authorization resource.
  mmv1/products/certificatemanager/DnsAuthorization.yaml
  mmv1/templates/terraform/examples/certificate_manager_dns_authorization_basic.tf.erb
  mmv1/templates/terraform/state_migrations/certificate_manager_dns_authorization.go.erb
  mmv1/third_party/terraform/services/certificatemanager/resource_certificate_manager_dns_authorization_upgrade_test.go
Labels: service/certificatemanager

#9917 Add validations for Composer 2/3 only fields
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
Labels: service/composer

#10011 Add ceritificateManagerCertificates field to ComputeRegionTargetHttpsProxy resource
  mmv1/products/compute/RegionTargetHttpsProxy.yaml
  mmv1/templates/terraform/decoders/compute_region_target_https_proxy.go.erb
  mmv1/templates/terraform/encoders/compute_region_target_https_proxy.go.erb
  mmv1/templates/terraform/examples/region_target_https_proxy_certificate_manager_certificate.tf.erb
Labels: service/compute-l7-load-balancer

#9993 Promote enable_confidential_storage from beta to GA
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#9927 Add IAM resources for Cloud Deploy Target
  mmv1/products/clouddeploy/Target.yaml
  mmv1/templates/terraform/examples/clouddeploy_target_basic.tf.erb
Labels: service/clouddeploy

#9893 add `remote_function_options` to bigquery_routine
  mmv1/products/bigquery/Routine.yaml
  mmv1/templates/terraform/examples/bigquery_routine_basic.tf.erb
  mmv1/templates/terraform/examples/bigquery_routine_json.tf.erb
  mmv1/templates/terraform/examples/bigquery_routine_pyspark.tf.erb
  mmv1/templates/terraform/examples/bigquery_routine_pyspark_mainfile.tf.erb
  mmv1/templates/terraform/examples/bigquery_routine_remote_function.tf.erb
  mmv1/templates/terraform/examples/bigquery_routine_spark_jar.tf.erb
  mmv1/templates/terraform/examples/bigquery_routine_tvf.tf.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_routine_test.go
  mmv1/third_party/terraform/services/bigquery/test-fixtures/function-source.zip
Labels: service/bigquery

#9964 All instances config GA
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#9972 Adding the namespace_labels field to the GKE Hub Scope resource
  mmv1/products/gkehub2/Scope.yaml
  mmv1/templates/terraform/examples/gkehub_scope_basic.tf.erb
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_scope_test.go
Labels: service/gkehub

#9889 Support connectivity fields for Composer 3
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
Labels: service/composer

#10043 Promote Cloud Deploy Automation to GA
  mmv1/products/clouddeploy/Automation.yaml
  mmv1/templates/terraform/examples/clouddeploy_automation_basic.tf.erb
  mmv1/templates/terraform/examples/clouddeploy_automation_full.tf.erb
  mmv1/third_party/terraform/services/clouddeploy/resource_clouddeploy_automation_test.go
Labels: service/clouddeploy

#10051 Add IAM resources for Cloud Deploy Custom Target Type
  mmv1/products/clouddeploy/CustomTargetType.yaml
Labels: service/clouddeploy
