Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-03, with the labels that each got.

#10030 Add type field to DNS authorization reosurce
  mmv1/products/certificatemanager/Certificate.yaml
  mmv1/products/certificatemanager/DnsAuthorization.yaml
  mmv1/templates/terraform/examples/certificate_manager_dns_authorization_regional.tf.erb
  mmv1/templates/terraform/examples/certificate_manager_google_managed_regional_certificate_dns_auth.tf.erb
Labels: service/certificatemanager

#9582 fix(kms): certificate chain type to array of strings
  mmv1/products/kms/CryptoKeyVersion.yaml
  mmv1/third_party/terraform/services/kms/resource_kms_crypto_key_test.go
Labels: override-breaking-change, service/cloudkms

#10044 feat: Add CMEK support for Firestore database in Beta provider
  mmv1/products/firestore/Database.yaml
  mmv1/templates/terraform/examples/firestore_cmek_database.tf.erb
  mmv1/templates/terraform/examples/firestore_cmek_database_in_datastore_mode.tf.erb
Labels: service/firestore-controlplane

#9946 Allow vcenter_network to be set
  mmv1/products/gkeonprem/VmwareCluster.yaml
  mmv1/templates/terraform/examples/gkeonprem_vmware_cluster_f5lb.tf.erb
Labels: service/gkeonprem

#10042 Add `ephemeral_directories` to google_workstations_workstation_config
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.erb
Labels: service/workstations

#9978 App Check DeviceCheck provider
  mmv1/products/firebaseappcheck/DeviceCheckConfig.yaml
  mmv1/templates/terraform/examples/firebase_app_check_device_check_config_full.tf.erb
  mmv1/third_party/terraform/services/firebaseappcheck/resource_firebase_app_check_device_check_config_test.go.erb
  mmv1/third_party/terraform/services/firebaseappcheck/test-fixtures/private-key-2.p8
  mmv1/third_party/terraform/services/firebaseappcheck/test-fixtures/private-key.p8
Labels: service/firebase

#10194 google_firebase_android_app should be replaced when package_name changes
  mmv1/products/firebase/AndroidApp.yaml
Labels: override-breaking-change

#9746 Add gcs volume type to Cloud Run v2 beta provider
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#9985 Add ingestion settings to `google_pubsub_topic`
  mmv1/products/pubsub/Topic.yaml
  mmv1/templates/terraform/examples/pubsub_topic_ingestion_kinesis.tf.erb
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_topic_test.go
Labels: service/pubsub

#10243 Add generic id to regional backend service
  mmv1/products/compute/RegionBackendService.yaml
Labels: service/compute-l7-load-balancer

#10256 Pin workflow dependency versions
  .github/workflows/build-downstream.yml
  .github/workflows/mmv1-lint-product-yaml.yml
Labels: service/cloudbilling

#10215 bq table - add geojson support
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#10213 metastore - add support for scheduled backups
  mmv1/products/metastore/Service.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_service_scheduled_backup.tf.erb
  mmv1/third_party/terraform/services/dataprocmetastore/resource_dataproc_metastore_service_test.go.erb
Labels: service/metastore

#9859 add `dataGovernanceType` field to `bigquery_routine` resource
  mmv1/products/bigquery/Routine.yaml
  mmv1/templates/terraform/examples/bigquery_routine_data_governance_type.tf.erb
Labels: service/bigquery

#10275 add ipv6 outputs
  mmv1/products/compute/InterconnectAttachment.yaml
Labels: service/compute-interconnect

#10295 docs: Correct google_firestore_backup_schedule recurrence descriptions
  mmv1/products/firestore/BackupSchedule.yaml
Labels: service/firestore-controlplane

#9931 Unblock EXTERNAL/EXTERNAL_VPC Cloud KMS key creation.
  mmv1/products/kms/CryptoKey.yaml
  mmv1/products/kms/CryptoKeyVersion.yaml
  mmv1/templates/terraform/pre_update/kms_crypto_key_version.go.erb
  mmv1/third_party/terraform/services/kms/resource_kms_crypto_key_test.go
Labels: service/cloudkms

#10271 Update documentation for the endpoints to include mention of update_triggered_by
  mmv1/products/compute/NetworkEndpoint.yaml
  mmv1/products/compute/NetworkEndpoints.yaml
Labels: service/compute-networking-neg

#10302 Remove beta label from GKE autoscaling_profile
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10298 Fix Cloud Run v2 resources creation failure state inconsistency
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
Labels: service/run

#10303 Fix crash when `parameter.enableStreamingEngine` is set on `google_dataflow_flex_template_job`, update resource's docs
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job.go.erb
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.erb
  mmv1/third_party/terraform/website/docs/r/dataflow_flex_template_job.html.markdown
Labels: service/dataflow

#10123 Add resource manager tags to GKE autopilot
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10310 Add disable_bundled_ingress in google_gkeonprem_vmware_cluster
  mmv1/products/gkeonprem/VmwareCluster.yaml
  mmv1/templates/terraform/examples/gkeonprem_vmware_cluster_f5lb.tf.erb
  mmv1/third_party/terraform/services/gkeonprem/resource_gkeonprem_vmware_cluster_test.go.erb
Labels: service/gkeonprem

#10312 Add `project_number` field to google_storage_bucket resource and datasource, enable providing `project` argument to data source
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket.go
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket_test.go
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
  mmv1/third_party/terraform/website/docs/d/storage_bucket.html.markdown
Labels: service/storage

#10319 Fix crash caused by nil value in BigQuery Table
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
Labels: service/bigquery

#10220 add nfs support to cloudrun v2 jobs in beta
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.erb
Labels: service/run
