Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-09, with the labels that each got.

#11583 Add support for setting Pub/Sub Cloud Storage subscription max_messages and use_topic_schema
  mmv1/products/pubsub/Subscription.yaml
  mmv1/templates/terraform/examples/pubsub_subscription_push_cloudstorage.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_push_cloudstorage_avro.tf.erb
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#11574 Redis Cluster maintenance policy and schedule addition
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/examples/redis_cluster_ha.tf.erb
  mmv1/templates/terraform/examples/redis_cluster_ha_single_zone.tf.erb
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.erb
Labels: service/redis-cluster

#11609 `google_network_connectivity_spoke`: add `include_export_ranges`
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/products/networkconnectivity/go_Spoke.yaml
  mmv1/templates/terraform/examples/go/network_connectivity_spoke_linked_vpc_network_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_connectivity_spoke_linked_vpc_network_basic.tf.erb
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_spoke_test.go
  tpgtools/overrides/networkconnectivity/samples/spoke/linked_vpc_network.tf.tmpl
Labels: service/network-connectivity-center

#11550 `storage`: fix `google_storage_bucket` 429 Error
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
Labels: service/storage

#11502 Add service mesh field to Cloud Run v2 Service
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_service_mesh.tf.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#11580 Upgrade to dcl v1.72.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  tpgtools/api/assuredworkloads/samples/basic.workload.json
  tpgtools/api/assuredworkloads/samples/split_billing_partner.workload.json
  tpgtools/api/assuredworkloads/samples/split_billing_partner_workload.yaml
  tpgtools/go.mod
  tpgtools/go.sum
  tpgtools/overrides/assuredworkloads/samples/workload/meta.yaml
Labels: service/gkehub, service/assuredworkloads

#11503 feat: support nfs and gcs in cloudrun and cloudrunv2 GA provider
  mmv1/products/cloudrun/Service.yaml
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_service_mount_gcs.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_mount_nfs.tf.erb
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#11543 Add certificate manager certificates datasource
  mmv1/products/certificatemanager/Certificate.yaml
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/certificatemanager/data_source_google_certificate_manager_certificates.go
  mmv1/third_party/terraform/services/certificatemanager/data_source_google_certificate_manager_certificates_test.go
  mmv1/third_party/terraform/tpgresource/datasource_helpers.go
  mmv1/third_party/terraform/transport/config.go.erb
  mmv1/third_party/terraform/website/docs/d/certificate_manager_certificates.html.markdown
Labels: service/certificatemanager

#11413 Support full resource names in autokey_config.folder
  mmv1/products/kms/AutokeyConfig.yaml
  mmv1/templates/terraform/constants/autokey_config_folder_diff.go.erb
  mmv1/templates/terraform/constants/go/autokey_config_folder_diff.go.tmpl
  mmv1/templates/terraform/custom_check_destroy/kms_autokey_config.go.erb
  mmv1/templates/terraform/examples/kms_autokey_config_all.tf.erb
  mmv1/templates/terraform/post_create/kms_autokey_config_folder.go.erb
  mmv1/templates/terraform/pre_create/kms_autokey_config_folder.go.erb
  mmv1/templates/terraform/pre_delete/kms_autokey_config_folder.go.erb
  mmv1/templates/terraform/pre_read/kms_autokey_config_folder.go.erb
  mmv1/templates/terraform/pre_update/kms_autokey_config_folder.go.erb
  mmv1/third_party/terraform/services/kms/resource_kms_autokey_config_sweeper.go
Labels: service/cloudkms

#11553 feat: Remove force replacement from gcfs_config
  mmv1/third_party/terraform/services/container/go/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/go/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/go/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
Labels: service/container

#11613 fix: Router advertised-route-priority undefined behavior
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.erb
Labels: service/compute-router

#11633 Fixed potential panics during VCR tests
  .ci/magician/cmd/test_terraform_vcr.go
  .ci/magician/cmd/test_terraform_vcr_test.go
  .ci/magician/cmd/vcr_cassette_update.go
  .ci/magician/cmd/vcr_cassette_update_test.go
  .ci/magician/vcr/tester.go
Labels: service/terraform

#11535 Added Filter validation for google_scc_notification_config
  mmv1/products/securitycenter/NotificationConfig.yaml
  mmv1/products/securitycenter/ProjectNotificationConfig.yaml
  mmv1/products/securitycenterv2/OrganizationNotificationConfig.yaml
  mmv1/products/securitycenterv2/ProjectNotificationConfig.yaml
  mmv1/third_party/terraform/services/securitycenter/resource_scc_notification_config_test.go
  mmv1/third_party/terraform/services/securitycenter/resource_scc_project_notification_config_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_notification_config_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_project_notification_config_test.go
Labels: service/securitycenter

#11628 Make vcr tester Run and RunParallel use options struct
  .ci/magician/cmd/check_cassettes.go
  .ci/magician/cmd/generate_comment.go
  .ci/magician/cmd/request_service_reviewers.go
  .ci/magician/cmd/scheduled_pr_reminders.go
  .ci/magician/cmd/test_terraform_vcr.go
  .ci/magician/cmd/vcr_cassette_update.go
  .ci/magician/vcr/tester.go
Labels: service/pubsub

#11637 Skip TestAccComputeInstanceTemplate_withNamePrefix in VCR
  mmv1/third_party/terraform/services/compute/data_source_google_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
Labels: service/compute-instances

#11493 Support X509 Federation
  mmv1/products/iambeta/WorkloadIdentityPoolProvider.yaml
  mmv1/templates/terraform/examples/iam_workload_identity_pool_provider_x509_basic.tf.erb
  mmv1/templates/terraform/examples/iam_workload_identity_pool_provider_x509_full.tf.erb
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_provider_test.go.erb
  mmv1/third_party/terraform/services/iambeta/test-fixtures/intermediate_ca.pem
  mmv1/third_party/terraform/services/iambeta/test-fixtures/trust_anchor.pem
  mmv1/third_party/terraform/services/iambeta/test-fixtures/trust_anchor_updated.pem
Labels: service/iam-wlid

#11424 Add `tags` field to Folder resource
  mmv1/third_party/terraform/services/resourcemanager/resource_google_folder.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_folder_test.go
  mmv1/third_party/terraform/website/docs/r/google_folder.html.markdown
Labels: service/cloudresourcemanager-crm

#11601 add Large Volumes support for netapp volumes
  mmv1/products/netapp/Volume.yaml
Labels: service/netapp

#11524 Add new compute-network-firewall-policy-with-rules resource
  mmv1/products/compute/NetworkFirewallPolicyWithRules.yaml
  mmv1/templates/terraform/constants/resource_compute_network_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/decoders/resource_compute_network_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/encoders/resource_compute_network_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/examples/compute_network_firewall_policy_with_rules_full.tf.erb
  mmv1/templates/terraform/post_create/resource_compute_network_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/update_encoder/resource_compute_network_firewall_policy_with_rules.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_with_rules_test.go.erb
Labels: service/network-security-distributed-firewall

#11643 Update docs for new image types support for VmwareNodePool
  mmv1/products/gkeonprem/VmwareNodePool.yaml
Labels: service/gkeonprem

#10445 re-enable Dataproc Metastore Federation tests
  mmv1/products/metastore/Federation.yaml
  mmv1/products/metastore/Service.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_federation_basic.tf.erb
  mmv1/templates/terraform/examples/dataproc_metastore_federation_bigquery.tf.erb
  mmv1/templates/terraform/examples/dataproc_metastore_service_private_service_connect.tf.erb
  mmv1/templates/terraform/examples/go/dataproc_metastore_federation_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/dataproc_metastore_federation_bigquery.tf.tmpl
  mmv1/templates/terraform/examples/go/dataproc_metastore_service_private_service_connect.tf.tmpl
Labels: service/metastore

#11598 Bootstrap storage pool in tests
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances, service/compute-pd

#11592 Dataproc Cluster: add more nil handling following API-side change
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
Labels: service/dataproc

#11552 Feat: Add new files for datasources google_bigquery_tables
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/bigquery/data_source_google_bigquery_tables.go
  mmv1/third_party/terraform/services/bigquery/data_source_google_bigquery_tables_test.go
  mmv1/third_party/terraform/website/docs/d/bigquery_tables.html.markdown
Labels: service/bigquery

#11657 Scc rename to remove incorrect plural resources
  mmv1/products/securitycenterv2/FolderSccBigQueryExport.yaml
  mmv1/products/securitycenterv2/ProjectSccBigQueryExport.yaml
  mmv1/products/securitycenterv2/go_FolderSccBigQueryExport.yaml
  mmv1/products/securitycenterv2/go_ProjectSccBigQueryExport.yaml
  mmv1/templates/terraform/examples/go/scc_v2_folder_big_query_export_config_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/scc_v2_project_big_query_export_config_basic.tf.tmpl
  mmv1/templates/terraform/examples/scc_v2_folder_big_query_export_config_basic.tf.erb
  mmv1/templates/terraform/examples/scc_v2_project_big_query_export_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_folder_big_query_export_config_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_project_big_query_export_config_test.go
Labels: override-breaking-change, service/securitycenter

#11527 Add disk resource policies field to the compute instance
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/website/docs/d/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances

#7636 update datastream desired_state description
  mmv1/products/datastream/Stream.yaml
Labels: awaiting-approval

#11516 feat(containerattached): Add security_posture_config
  mmv1/products/containerattached/Cluster.yaml
  mmv1/templates/terraform/examples/container_attached_cluster_full.tf.erb
  mmv1/templates/terraform/pre_update/containerattached_update.go.erb
  mmv1/third_party/terraform/services/containerattached/resource_container_attached_cluster_update_test.go
Labels: service/gkemulticloud

#11622 Fix google_dns_record_set with same name throw an error
  mmv1/third_party/terraform/services/dns/resource_dns_record_set.go
Labels: service/cloud-dns

#11589 continue sweeper run for other resources if no resource found
  mmv1/third_party/terraform/services/netapp/resource_netapp_active_directory_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_policy_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_vault_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_kmsconfig_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_snapshot_sweeper.go
Labels: service/netapp

#11659 Go rewrite diffs fix
  mmv1/products/securitycenterv2/ProjectMuteConfig.yaml
  mmv1/templates/terraform/env_var_context.go.tmpl
  mmv1/templates/terraform/examples/base_configs/test_file.go.tmpl
  mmv1/templates/terraform/iam/go/iam_context.go.tmpl
Labels: service/securitycenter

#11612 FixDoc google_vpc_access_connector [max,min]_throughput
  mmv1/products/vpcaccess/Connector.yaml
Labels: awaiting-approval, service/vpcaccess

#11625 Added propagatedConnectionLimit and connectedEndpoints output fields to ServiceAttachment
  mmv1/products/compute/ServiceAttachment.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_service_attachment_test.go.erb
Labels: service/private-service-connect-published-service

#11665 Add post create 5s sleep to Topic creation
  mmv1/products/managedkafka/Topic.yaml
Labels: service/managedkafka

#11634 Add field httpKeepAliveTimeoutSec to resources google_compute_region_target_http_proxy and google_compute_region_target_https_proxy
  mmv1/products/compute/RegionTargetHttpProxy.yaml
  mmv1/products/compute/RegionTargetHttpsProxy.yaml
  mmv1/products/compute/TargetHttpProxy.yaml
  mmv1/products/compute/TargetHttpsProxy.yaml
  mmv1/templates/terraform/examples/region_target_http_proxy_http_keep_alive_timeout.tf.erb
  mmv1/templates/terraform/examples/region_target_https_proxy_http_keep_alive_timeout.tf.erb
Labels: service/compute-l7-load-balancer

#11615 fix TestAccComputeInstance_confidentialHyperDiskBootDisk
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#11286 Support interface for attached_disk
  mmv1/third_party/terraform/services/compute/resource_compute_attached_disk.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_attached_disk_test.go
  mmv1/third_party/terraform/website/docs/r/compute_attached_disk.html.markdown
Labels: service/compute-pd

#11479 apigee: Added in-place update for consumer_accept_list field in google_apigee_instance
  mmv1/products/apigee/Instance.yaml
  mmv1/templates/terraform/examples/apigee_instance_service_attachment_basic_test.tf.erb
  mmv1/third_party/terraform/services/apigee/resource_apigee_instance_update_test.go
Labels: service/apigee

#11675 Public outbound ip
  mmv1/products/alloydb/Instance.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
Labels: service/alloydb

#11674 Address google_compute_router_nat nat_ips dependency issue with updates to docs
  mmv1/products/compute/RouterNat.yaml
  mmv1/templates/terraform/examples/go/router_nat_manual_ips.tf.tmpl
  mmv1/templates/terraform/examples/router_nat_manual_ips.tf.erb
  mmv1/third_party/terraform/services/compute/go/resource_compute_router_nat_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_router_nat_test.go.erb
Labels: service/compute-nat

#11602 Adds support for Filestore instance new feature: deletion protection.
  mmv1/products/filestore/Instance.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
Labels: service/filestore

#11564 feat(spanner): support google_spanner_schedule_backup
  mmv1/products/spanner/BackupSchedule.yaml
  mmv1/products/spanner/Instance.yaml
  mmv1/templates/terraform/decoders/spanner_schedule_backup.go.erb
  mmv1/templates/terraform/encoders/spanner_instance_update.go.erb
  mmv1/templates/terraform/encoders/spanner_schedule_backup.go.erb
  mmv1/templates/terraform/examples/spanner_backup_schedule_daily_full.tf.erb
  mmv1/templates/terraform/examples/spanner_backup_schedule_daily_incremental.tf.erb
  mmv1/templates/terraform/examples/spanner_instance_basic.tf.erb
  mmv1/templates/terraform/pre_update/spanner_schedule_backup.go.erb
  mmv1/third_party/terraform/services/spanner/resource_spanner_schedule_backup_test.go
Labels: service/spanner

#11645 add AutoTier support for netapp storagePools and Volumes
  mmv1/products/netapp/StoragePool.yaml
  mmv1/products/netapp/Volume.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#11632 Fix dnssecConfig filed on google_dns_managed_zone resource
  mmv1/products/dns/ManagedZone.yaml
Labels: service/cloud-dns

#11691 Add lifecycle prevent destroy to Secure Source Manager examples
  mmv1/products/securesourcemanager/Instance.yaml
  mmv1/products/securesourcemanager/Repository.yaml
  mmv1/templates/terraform/examples/secure_source_manager_instance_basic.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_instance_cmek.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_instance_private.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_instance_private_psc_backend.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_instance_private_psc_endpoint.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_repository_basic.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_repository_initial_config.tf.erb
Labels: service/securesourcemanager

#11692 Use target org for security postures
  mmv1/products/securityposture/Posture.yaml
  mmv1/products/securityposture/go_Posture.yaml
  mmv1/third_party/terraform/services/securityposture/resource_securityposture_posture_deployment_test.go
  mmv1/third_party/terraform/services/securityposture/resource_securityposture_posture_test.go
Labels: service/securityposture

#11572 container: make `cpu_manager_policy` optional in `kubelet_config`
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11582 Add Resource v1 SCC Findings Export to BQ Organization Config
  mmv1/products/securitycenter/OrganizationSccBigQueryExport.yaml
  mmv1/templates/terraform/examples/scc_organization_big_query_export_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenter/resource_scc_organization_big_query_export_config_test.go
Labels: service/securitycenter

#11595 Add Resource v1 SCC Findings Export to BQ Project Config
  mmv1/products/securitycenter/ProjectSccBigQueryExport.yaml
  mmv1/templates/terraform/examples/scc_project_big_query_export_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenter/resource_scc_project_big_query_export_config_test.go
Labels: service/securitycenter

#11669 Add a new resource TargetSite.
  mmv1/products/discoveryengine/TargetSite.yaml
  mmv1/templates/terraform/custom_import/discoveryengine_targetsite_set_id.go.erb
  mmv1/templates/terraform/examples/discoveryengine_targetsite_advanced.tf.erb
  mmv1/templates/terraform/examples/discoveryengine_targetsite_basic.tf.erb
Labels: service/discoveryengine

#11684 Add an example for Config Sync auto-upgrades into google_gkehub_feature_membership resource doc
  mmv1/third_party/terraform/website/docs/r/gke_hub_feature_membership.html.markdown
Labels: service/gkehub

#11603 Add a new resource for creating DataMapper Workspaces
  mmv1/products/healthcare/Workspace.yaml
  mmv1/templates/terraform/examples/healthcare_workspace_basic.tf.erb
  mmv1/third_party/terraform/services/healthcare/resource_healthcare_workspace_test.go
Labels: service/healthcare

#11525 Add new compute-firewall-policy-with-rules resource
  mmv1/products/compute/FirewallPolicyWithRules.yaml
  mmv1/templates/terraform/constants/resource_compute_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/decoders/resource_compute_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/encoders/resource_compute_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/examples/compute_firewall_policy_with_rules_full.tf.erb
  mmv1/templates/terraform/post_create/resource_compute_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/post_delete/resource_compute_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/post_update/resource_compute_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/update_encoder/resource_compute_firewall_policy_with_rules.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_firewall_policy_with_rules_test.go.erb
Labels: service/network-security-distributed-firewall

#11587 Add Resource v1 SCC Findings Export to BQ Folder Config
  mmv1/products/securitycenter/FolderSccBigQueryExport.yaml
  mmv1/templates/terraform/examples/scc_folder_big_query_export_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenter/resource_scc_folder_big_query_export_config_test.go
Labels: service/securitycenter

#11708 Clarifying documentation for google_compute_region_backend_service locality_lb_policy
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/products/compute/go_RegionBackendService.yaml
Labels: service/compute-l7-load-balancer

#11604 Add DMS MigrationJob resource
  mmv1/products/databasemigrationservice/MigrationJob.yaml
  mmv1/templates/terraform/examples/database_migration_service_migration_job_mysql_to_mysql.tf.erb
  mmv1/templates/terraform/examples/database_migration_service_migration_job_postgres_to_alloydb.tf.erb
  mmv1/templates/terraform/examples/database_migration_service_migration_job_postgres_to_postgres.tf.erb
  mmv1/third_party/terraform/services/databasemigrationservice/resource_database_migration_service_migration_job_test.go
Labels: service/datamigration

#11718 Add support for regional secret datasource `google_secret_manager_regional_secret`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_test.go
  mmv1/third_party/terraform/website/docs/d/secret_manager_regional_secret.html.markdown
Labels: service/secretmanager

#11350 Change ExpectedError in TestAccComputeInstanceNetworkIntefaceWithSecurityPolicy
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#11706 Rewrite tgc provider and resource converter template
  mmv1/api/resource.go
  mmv1/api/type.go
  mmv1/main.go
  mmv1/provider/provider.go
  mmv1/provider/template_data.go
  mmv1/provider/terraform.go
  mmv1/provider/terraform_tgc.go
  mmv1/templates/terraform/encoders/dlp_job_trigger.go.erb
  mmv1/templates/terraform/encoders/go/dlp_job_trigger.go.tmpl
  mmv1/templates/terraform/encoders/go/region_backend_service.go.tmpl
  mmv1/templates/terraform/encoders/region_backend_service.go.erb
  mmv1/templates/tgc/resource_converter.go.tmpl
Labels: service/dlp, service/compute-l7-load-balancer

#11699 Add support for regional secret version resource `google_secret_manager_regional_secret_version`
  mmv1/products/secretmanagerregional/RegionalSecretVersion.yaml
  mmv1/templates/terraform/custom_expand/regional_secret_version_enable.go.erb
  mmv1/templates/terraform/custom_flatten/regional_secret_version_access.go.erb
  mmv1/templates/terraform/custom_flatten/regional_secret_version_version.go.erb
  mmv1/templates/terraform/custom_import/regional_secret_version.go.erb
  mmv1/templates/terraform/custom_update/regional_secret_version.go.erb
  mmv1/templates/terraform/examples/regional_secret_version_basic.tf.erb
  mmv1/templates/terraform/examples/regional_secret_version_deletion_policy_abandon.tf.erb
  mmv1/templates/terraform/examples/regional_secret_version_deletion_policy_disable.tf.erb
  mmv1/templates/terraform/examples/regional_secret_version_disabled.tf.erb
  mmv1/templates/terraform/examples/regional_secret_version_with_base64_data.tf.erb
  mmv1/templates/terraform/post_create/regional_secret_version.go.erb
  mmv1/templates/terraform/pre_create/secret_manager_regional_secret_version.go.erb
  mmv1/templates/terraform/pre_delete/regional_secret_version_deletion_policy.go.erb
  mmv1/templates/terraform/pre_read/secret_manager_regional_secret_version.go.erb
  mmv1/third_party/terraform/services/secretmanagerregional/resource_secret_manager_regional_secret_version_test.go.erb
  mmv1/third_party/terraform/services/secretmanagerregional/test-fixtures/binary-file.pfx
Labels: service/secretmanager

#11731 Metastore: add `deletion_protection`
  mmv1/products/metastore/Service.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_service_deletion_protection.tf.erb
Labels: service/metastore

#11728 Move iam member resources into .ci/infra
  .ci/infra/terraform/main.tf
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#11700 Fix interconnect immutability issue causing macsec failure
  mmv1/products/compute/Interconnect.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_interconnect_macsec_test.go
Labels: service/compute-interconnect

#11736 make backend service iap computed
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
Labels: service/compute-l7-load-balancer

#11488 Add FIPS enablement option to Looker
  mmv1/products/looker/Instance.yaml
  mmv1/templates/terraform/examples/looker_instance_fips.tf.erb
Labels: service/looker-core, disable-automatic-closure

#11717 container: fix updates for `node_config.gcfs_config` and make optional
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
Labels: service/container

#11732 Clarifying documentation for `google_compute_backend_service` `locality_lb_policy`
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/go_BackendService.yaml
Labels: service/compute-l7-load-balancer

#11730 Add support for regional secret version datasource `google_secret_manager_regional_secret_version`
  mmv1/products/secretmanagerregional/RegionalSecret.yaml
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version_test.go
  mmv1/third_party/terraform/services/secretmanagerregional/resource_secret_manager_regional_secret_test.go.erb
  mmv1/third_party/terraform/website/docs/d/secret_manager_regional_secret_version.html.markdown
Labels: service/secretmanager

#11541 container - add hugepages config
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11487 Add Private Service Connect to Looker
  mmv1/products/looker/Instance.yaml
  mmv1/templates/terraform/examples/looker_instance_psc.tf.erb
Labels: service/looker-core

#11597 Add support for GPU fields in Cloud Run Service v1 and v2 api
  mmv1/products/cloudrun/Service.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloud_run_service_gpu.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_gpu.tf.erb
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#11743 Add support for regional secrets list datasource `google_secret_manager_regional_secrets`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secrets.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secrets_test.go
  mmv1/third_party/terraform/website/docs/d/secret_manager_regional_secrets.html.markdown
Labels: service/secretmanager

#11754 Add support for regional secret version access datasource `google_secret_manager_regional_secret_version_access`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version_access.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version_access_test.go
  mmv1/third_party/terraform/website/docs/d/secret_manager_regional_secret_version_access.html.markdown
Labels: service/secretmanager

#11724 # Add: biglake_configuration to bigquery_table
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#11677 Add new resource for creating Whistle Mapping, Reconciliation and Backfill Pipeline Jobs for Healthcare Data Engine
  mmv1/products/healthcare/PipelineJob.yaml
  mmv1/templates/terraform/examples/healthcare_pipeline_job_backfill.tf.erb
  mmv1/templates/terraform/examples/healthcare_pipeline_job_mapping_recon_dest.tf.erb
  mmv1/templates/terraform/examples/healthcare_pipeline_job_reconciliation.tf.erb
  mmv1/templates/terraform/examples/healthcare_pipeline_job_whistle_mapping.tf.erb
Labels: service/healthcare

#11688 Do not force send insecure_kubelet_readonly_port_enabled during creation
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#11526 Add new compute-region-network-firewall-policy-with-rules resource
  mmv1/products/compute/RegionNetworkFirewallPolicyWithRules.yaml
  mmv1/templates/terraform/constants/resource_compute_region_network_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/decoders/resource_compute_region_network_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/encoders/resource_compute_region_network_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/examples/compute_region_network_firewall_policy_with_rules_full.tf.erb
  mmv1/templates/terraform/post_create/resource_compute_region_network_firewall_policy_with_rules.go.erb
  mmv1/templates/terraform/update_encoder/resource_compute_region_network_firewall_policy_with_rules.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_firewall_policy_with_rules_test.go.erb
Labels: service/network-security-distributed-firewall

#11769 Increase create timeout to 20mins
  mmv1/products/workbench/Instance.yaml
Labels: service/notebooks

#11606 Add diff suppress for storage_config.bucket field
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
Labels: service/composer

#11757 Fix test TestAccDataflowJob_withProviderDefaultLabels
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job_test.go.erb
Labels: service/dataflow

#11739 Stop sending external data configuration schema when updating google_bigquery_table
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
Labels: service/bigquery

#11763 Adding a new cloud logging resource `LogScope` to Terraform
  mmv1/products/logging/LogScope.yaml
  mmv1/templates/terraform/encoders/logging_log_scope.go.erb
  mmv1/templates/terraform/examples/logging_log_scope_basic.tf.erb
Labels: service/logging

#11679 FixDoc Update subnetwork purpose description
  mmv1/products/compute/Subnetwork.yaml
Labels: awaiting-approval, service/compute-vpc

#11776 Revert "Add new resource for creating Whistle Mapping, Reconciliation and Backfill Pipeline Jobs for Healthcare Data Engine "
  mmv1/products/healthcare/PipelineJob.yaml
  mmv1/templates/terraform/examples/healthcare_pipeline_job_backfill.tf.erb
  mmv1/templates/terraform/examples/healthcare_pipeline_job_mapping_recon_dest.tf.erb
  mmv1/templates/terraform/examples/healthcare_pipeline_job_reconciliation.tf.erb
  mmv1/templates/terraform/examples/healthcare_pipeline_job_whistle_mapping.tf.erb
Labels: override-breaking-change, service/healthcare

#11697 container: fix `node_config.kubelet_config` updates in `google_container_cluster`
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#11722 Fix permadiff in google_bigquery_datapolicy_data_policy policy tag
  mmv1/products/bigquerydatapolicy/DataPolicy.yaml
  mmv1/templates/terraform/custom_flatten/bigquery_datapolicy_policy_tag_location_to_lower_case.go.erb
Labels: service/bigquery

#11778 Fix securityprofiles link in doc
  mmv1/products/networksecurity/SecurityProfile.yaml
Labels: service/network-security-distributed-firewall

#11746 Fix: Interconnect fail_open field
  mmv1/products/compute/Interconnect.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_interconnect_macsec_test.go
Labels: service/compute-interconnect

#11771 Promote the Port Mapping NEG from Beta to GA
  mmv1/products/compute/RegionNetworkEndpoint.yaml
  mmv1/products/compute/RegionNetworkEndpointGroup.yaml
  mmv1/templates/terraform/examples/region_network_endpoint_group_portmap.tf.erb
  mmv1/templates/terraform/examples/region_network_endpoint_portmap.tf.erb
  mmv1/templates/terraform/pre_delete/compute_region_network_endpoint.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_endpoint_test.go.erb
Labels: service/compute-networking-neg

#11652 Add `host_error_timeout_seconds` field to `compute_instance` on beta provider
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/website/docs/d/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_region_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#11588 Add data source "google_privileged_access_manger_entitlement"
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/privilegedaccessmanager/data_source_privileged_access_manager_entitlement.go
  mmv1/third_party/terraform/services/privilegedaccessmanager/data_source_privileged_access_manager_entitlement_test.go
Labels: awaiting-approval, service/privilegedaccessmanager

#11790 Add existing_reservations to google_compute_region_commitment
  mmv1/products/compute/RegionCommitment.yaml
Labels: service/compute-commitment

#11672 Add state "SUSPENDED" to `desired_status` field on `google_compute_instance`
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances

#11794 feat: promote service scaling to GA in cloudrunv2 Service resource
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#11720 Add datasource for google_compute_region_instance_group_manager
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/compute/data_source_google_compute_region_instance_group_manager.go
  mmv1/third_party/terraform/services/compute/data_source_google_compute_region_instance_group_manager_test.go
  mmv1/third_party/terraform/tpgresource/field_helpers.go
  mmv1/third_party/terraform/website/docs/d/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#11748 container: add support for autopilot to set gcp_filestore_csi_driver_config in addons config
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#11662 Add reading hostname to `google_compute_instance` data source
  mmv1/third_party/terraform/services/compute/data_source_google_compute_instance.go.erb
Labels: service/compute-instances

#11798 Fix removing `host_error_timeout_seconds` that was broken due to an API bug
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#11619 [Composer] Reveal cloud_data_lineage_integration to GA.
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#11782 Add new import function to `google_compute_project_metadata_item`
  mmv1/third_party/terraform/services/compute/resource_compute_project_metadata_item.go.erb
Labels: service/compute-instances

#11796 Skip test that fails in replaying
  mmv1/products/networkconnectivity/Spoke.yaml
Labels: service/network-connectivity-center

#11804 upgrade dcl version to v1.73.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  tpgtools/go.mod
  tpgtools/go.sum
  tpgtools/overrides/containeraws/samples/nodepool/basic.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/basic_update.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/beta_basic.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/beta_basic_update.tf.tmpl
Labels: service/assuredworkloads, service/gkemulticloud

#11542 container: bump gcsfs to GA
  mmv1/third_party/terraform/services/container/go/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/go/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11756 fixed flaky test TestAccSecurityCenterManagement
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_folder_security_health_analytics_custom_module_test.go.erb
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_event_threat_detection_custom_module_test.go.erb
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_project_security_health_analytics_custom_module_test.go.erb
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_security_health_analytics_custom_module_test.go.erb
Labels: service/securitycenter, not-go-migrated

#11640 Marked customer_name field as optional for interconnect resource
  mmv1/products/compute/Interconnect.yaml
Labels: service/compute-interconnect

#11667 workbench: Fix a bug with instance labels being removed not working as expected
  mmv1/templates/terraform/constants/workbench_instance.go
  mmv1/templates/terraform/pre_update/workbench_instance.go.erb
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.erb
Labels: service/notebooks, disable-review-reminders, not-go-migrated

#11806 Set labels for the resource compute interconnect
  mmv1/products/compute/Interconnect.yaml
  mmv1/templates/terraform/examples/compute_interconnect_basic_test.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_interconnect_macsec_test.go
Labels: service/compute-interconnect

#11817 docs(bigtable): Fix documentation formatting
  mmv1/third_party/terraform/website/docs/r/bigtable_gc_policy.html.markdown
Labels: service/bigtableadmin

#11832 container: fix storage pool resource names in test
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#11202 Add Sql Server Timezone Update Support
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#11845 Add fields to support stateful cookie-based affinity
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/examples/backend_service_stateful_session_affinity.tf.tmpl
  mmv1/templates/terraform/examples/region_backend_service_ilb_stateful_session_affinity.tf.tmpl
Labels: service/compute-l7-load-balancer

#11823 Add GCS ingestion settings and platform log settings to `google_pubsub_topic`
  mmv1/products/pubsub/Topic.yaml
  mmv1/templates/terraform/examples/pubsub_topic_ingestion_cloud_storage.tf.tmpl
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_topic_test.go
Labels: service/pubsub

#11862 Revert "upgrade dcl version to v1.73.0 (#11804)"
  mmv1/third_party/terraform/go.mod.tmpl
  mmv1/third_party/terraform/go.sum
  tpgtools/go.mod
  tpgtools/go.sum
  tpgtools/overrides/containeraws/samples/nodepool/basic.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/basic_update.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/beta_basic.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/beta_basic_update.tf.tmpl
Labels: service/assuredworkloads, service/gkemulticloud

#11853 fixing deletion for iam members after destroy is called on bigquery_d…
  mmv1/third_party/terraform/services/bigquery/iam_bigquery_member_dataset.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_iam_member_test.go
Labels: service/bigquery

#11854 Revert the promotion of Port Mapping NEGs from GA to Beta
  mmv1/products/compute/RegionNetworkEndpoint.yaml
  mmv1/products/compute/RegionNetworkEndpointGroup.yaml
  mmv1/templates/terraform/examples/region_network_endpoint_group_portmap.tf.tmpl
  mmv1/templates/terraform/examples/region_network_endpoint_portmap.tf.tmpl
  mmv1/templates/terraform/pre_delete/compute_region_network_endpoint.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_endpoint_test.go.tmpl
Labels: override-breaking-change, service/compute-networking-neg

#11750 Add resource Dataproc batch
  mmv1/products/dataproc/Batch.yaml
  mmv1/products/dataproc/product.yaml
  mmv1/templates/terraform/constants/cloud_dataproc_batch.go.tmpl
  mmv1/templates/terraform/decoders/cloud_dataproc_batch.go.tmpl
  mmv1/templates/terraform/examples/dataproc_batch_pyspark.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_batch_spark.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_batch_spark_full.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_batch_sparkr.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_batch_sparksql.tf.tmpl
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_batch_test.go
Labels: service/dataproc

#11753 Fix permadiff on boot_disk.initialize_params.resource_policies
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
Labels: service/compute-instances

#11857 Handle location tag bindings of removed resources
  mmv1/third_party/terraform/services/tags/resource_tags_location_tag_bindings.go.tmpl
Labels: service/cloudresourcemanager-tags

#11870 Fix resource name in google_project_iam_member_remove.html.markdown
  mmv1/third_party/terraform/website/docs/r/google_project_iam_member_remove.html.markdown
Labels: service/cloudresourcemanager-crm

#11871 Fix subnetwork_reserved_secondary_range test vars
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/examples/subnetwork_reserved_secondary_range.tf.tmpl
Labels: service/compute-vpc

#11873 Fix labels related tests
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job_test.go.tmpl
Labels: service/container, service/run, service/dataflow
