Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-11, with the labels that each got.

#11968 Add support for Regional Managed Instance Groups Resize Request (Dynamic Workload Scheduler)
  mmv1/products/compute/RegionResizeRequest.yaml
  mmv1/templates/terraform/custom_delete/compute_rmig_resize_request_delete.go.tmpl
  mmv1/templates/terraform/examples/compute_rmig_resize_request.tf.tmpl
Labels: service/compute-managed

#12212 Increase timeout on `google_compute_security_policy`
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
Labels: service/compute-security-policy

#12182 Fix address group ordering for network firewall policy rule
  mmv1/products/compute/NetworkFirewallPolicyRule.yaml
  mmv1/templates/terraform/custom_flatten/compute_network_firewall_policy_rule_dest_address_group_order.go.tmpl
  mmv1/templates/terraform/custom_flatten/compute_network_firewall_policy_rule_src_address_group_order.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_rule_test.go.tmpl
Labels: service/network-security-distributed-firewall

#12207 marked `networks` field optional in `google_backup_dr_management_server` resource
  mmv1/products/backupdr/ManagementServer.yaml
  mmv1/templates/terraform/examples/backup_dr_management_server.tf.tmpl
  mmv1/templates/terraform/examples/backup_dr_management_server_test.tf.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_management_server_test.go.tmpl
Labels: service/backupdr

#12169 Update guest_accelerator block guidance
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container, service/compute-instances

#12158 Bp tf resource
  mmv1/products/backupdr/BackupPlan.yaml
  mmv1/templates/terraform/examples/backup_dr_backup_plan_simple.tf.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan_test.go.tmpl
Labels: service/backupdr

#11360 Migrate google_compute_firewall_policy_rule resource from DCL to MMv1
  mmv1/products/compute/FirewallPolicyRule.yaml
  mmv1/templates/terraform/custom_expand/compute_firewall_policy_rule.go.tmpl
  mmv1/templates/terraform/examples/firewall_policy_rule.tf.tmpl
  mmv1/templates/terraform/post_create/compute_firewall_policy_rule.go.tmpl
  mmv1/templates/terraform/post_delete/compute_firewall_policy_rule.go.tmpl
  mmv1/templates/terraform/post_update/compute_firewall_policy_rule.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_firewall_policy_rule_test.go.tmpl
  tpgtools/overrides/compute/beta/firewall_policy_rule.yaml
  tpgtools/overrides/compute/firewall_policy_rule.yaml
Labels: service/network-security-distributed-firewall

#12213 workbench instances: update documentation for instance_owners field
  mmv1/products/workbench/Instance.yaml
Labels: service/notebooks

#12227 alloydb: re-enabled VCR for `TestAccAlloydb*` tests
  mmv1/products/alloydb/Backup.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_secondary_cluster_test.go
Labels: service/alloydb

#12229 ci: updated match group in reassign-reviewer
  .github/workflows/reassign-reviewer.yml
Labels: awaiting-approval

#12144 fix import documentation for string separated values
  mmv1/products/activedirectory/Domain.yaml
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/products/integrations/AuthConfig.yaml
  mmv1/products/monitoring/AlertPolicy.yaml
  mmv1/products/monitoring/Group.yaml
  mmv1/products/monitoring/MetricDescriptor.yaml
  mmv1/products/monitoring/Service.yaml
  mmv1/products/monitoring/Slo.yaml
  mmv1/products/monitoring/UptimeCheckConfig.yaml
  mmv1/products/osconfig/PatchDeployment.yaml
  mmv1/products/securitycenter/NotificationConfig.yaml
  mmv1/products/securitycenter/ProjectNotificationConfig.yaml
  mmv1/products/securitycenterv2/OrganizationNotificationConfig.yaml
  mmv1/products/securityscanner/ScanConfig.yaml
  mmv1/products/transcoder/Job.yaml
  mmv1/templates/terraform/resource.html.markdown.tmpl
Labels: service/terraform

#12217 container: unskipped VCR for `TestAccContainerCluster_privateRegistry`
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12226 feat: cloudrunv2 jobs and services support passing flags to gcsfuse in beta
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.tmpl
Labels: service/run

#12012 Change backupvault force-delete behavior: have two separate parameters for different deletion scenarios.
  mmv1/products/backupdr/BackupVault.yaml
  mmv1/templates/terraform/examples/backup_dr_backup_vault_full.tf.tmpl
  mmv1/templates/terraform/pre_delete/backup_dr_backup_vault.go.tmpl
  mmv1/third_party/terraform/services/backupdr/resource_backup_dr_backup_vault_test.go.tmpl
Labels: service/backupdr

#12216 refactor: terraform code updates and formatting for `google_container_cluster` tests
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12211 Add missing documentation for custom learned routes
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_router_peer.html.markdown
Labels: service/compute-router

#12110 Adding missing fields to vertexai.Endpoint resource
  mmv1/products/vertexai/Endpoint.yaml
  mmv1/templates/terraform/examples/vertex_ai_endpoint_dedicated_endpoint.tf.tmpl
  mmv1/templates/terraform/examples/vertex_ai_endpoint_network.tf.tmpl
  mmv1/templates/terraform/examples/vertex_ai_endpoint_private_service_connect.tf.tmpl
  mmv1/third_party/terraform/services/vertexai/iam_vertex_endpoint_test.go.tmpl
  mmv1/third_party/terraform/services/vertexai/resource_vertex_ai_endpoint_test.go
Labels: service/aiplatform-prediction

#12187 feat: Add `disks` support to compute_node_template
  mmv1/products/compute/NodeTemplate.yaml
  mmv1/templates/terraform/examples/node_template_disks.tf.tmpl
Labels: service/compute-sole-tenancy

#11865 Enable update in apigee reference
  mmv1/products/apigee/EnvReferences.yaml
  mmv1/third_party/terraform/services/apigee/resource_apigee_env_references_test.go
Labels: service/apigee

#11946 Fixed preconfigured_waf_config permadiff causing rules being recreated
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: awaiting-approval, service/compute-security-policy

#12230 feat: move emptydir to GA for cloudrun and cloudrunv2
  mmv1/products/cloudrun/Service.yaml
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_job_emptydir.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_service_multicontainer.tf.tmpl
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.tmpl
Labels: service/run

#12178 fix(apigee): Added in-place update of `google_apigee_environment` resource
  mmv1/products/apigee/Environment.yaml
  mmv1/third_party/terraform/services/apigee/resource_apigee_environment_update_test.go
Labels: service/apigee

#12195 Add support for GKE DNS-based endpoints
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#12159 Adding google_backup_dr_backup_plan_association resource and datasource
  mmv1/products/backupdr/BackupPlanAssociation.yaml
  mmv1/templates/terraform/examples/backup_dr_bpa.tf.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan_association.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan_association_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/backup_dr_backup_plan_association.html.markdown
Labels: service/backupdr

#12214 looker: required `oauth_config` in `google_looker_instance`
  mmv1/products/looker/Instance.yaml
Labels: override-breaking-change, service/looker-core

#12252 Resolving test failure: adding the pre-update scope in the updated sc…
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_membership_binding_test.go
Labels: service/gkehub

#12241 Support SQL Server Switchover (after resolving email rebase conflicts)
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/guides/sql_instance_switchover.html.markdown
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12246 spanner: updated docs for database name regex
  mmv1/products/spanner/Database.yaml
Labels: service/spanner

#12215 Hard-configuring machine type of dataproc cluster in nodeaffinity test
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
Labels: service/dataproc

#12219 Add RDB & AOF Persistence support to Memorystore for Redis Cluster
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/examples/redis_cluster_aof.tf.tmpl
  mmv1/templates/terraform/examples/redis_cluster_rdb.tf.tmpl
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.tmpl
Labels: service/redis-cluster

#12254 feat(spanner): add support for defaultBackupScheduleType in spanner instance
  mmv1/products/spanner/Instance.yaml
  mmv1/templates/terraform/encoders/spanner_instance_update.go.tmpl
  mmv1/templates/terraform/examples/spanner_instance_basic.tf.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#11358 Migrate google_compute_firewall_policy_association resource from DCL to MMv1
  mmv1/products/compute/FirewallPolicyAssociation.yaml
  mmv1/templates/terraform/custom_expand/compute_firewall_policy_association.go.tmpl
  mmv1/templates/terraform/examples/firewall_policy_association.tf.tmpl
  mmv1/templates/terraform/post_create/compute_firewall_policy_association_operation.go.tmpl
  mmv1/templates/terraform/post_delete/compute_firewall_policy_association_operation.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_firewall_policy_association_test.go
  mmv1/third_party/terraform/website/docs/r/compute_firewall_policy_association.html.markdown
  tpgtools/overrides/compute/beta/firewall_policy_association.yaml
  tpgtools/overrides/compute/firewall_policy_association.yaml
Labels: service/network-security-distributed-firewall

#12257 [FIX] Use workload identity while enabling secret manager
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12245 Add performance config field to Filestore instance
  mmv1/products/filestore/Instance.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
Labels: service/filestore

#12267 Fix identity type comparison for service perimeters
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/templates/terraform/constants/access_context_manager.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_test.go.tmpl
Labels: service/accesscontextmanager

#12259 privateca: update certificate authority samples with more realistic values
  mmv1/templates/terraform/examples/privateca_certificate_authority_basic.tf.tmpl
  mmv1/templates/terraform/examples/privateca_certificate_authority_byo_key.tf.tmpl
  mmv1/templates/terraform/examples/privateca_certificate_authority_custom_ski.tf.tmpl
  mmv1/templates/terraform/examples/privateca_certificate_authority_subordinate.tf.tmpl
Labels: service/privateca

#12253 Fixes https://github.com/hashicorp/terraform-provider-google/issues/19540
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
Labels: service/accesscontextmanager

#12239 Added controlled-vault feature to backupdr-backupvault
  mmv1/products/backupdr/BackupVault.yaml
  mmv1/templates/terraform/examples/backup_dr_backup_vault_full.tf.tmpl
  mmv1/third_party/terraform/services/backupdr/resource_backup_dr_backup_vault_test.go.tmpl
Labels: service/backupdr

#12280 spanner: updated tests to allow VCR
  mmv1/third_party/terraform/services/spanner/data_source_spanner_instance_test.go
  mmv1/third_party/terraform/services/spanner/resource_spanner_database_test.go.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#12264 Promoting Managed Kafka Cluster and Topic resources to GA
  mmv1/products/managedkafka/Cluster.yaml
  mmv1/products/managedkafka/Topic.yaml
  mmv1/products/managedkafka/product.yaml
  mmv1/templates/terraform/examples/managedkafka_cluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/managedkafka_topic_basic.tf.tmpl
  mmv1/third_party/terraform/services/managedkafka/resource_managed_kafka_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/managedkafka/resource_managed_kafka_topic_test.go.tmpl
Labels: service/managedkafka

#12258 in-place upgrade for minor and patch versions is in GA - update doc
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#12282 doc: fix wrong iam auth flag for sql_user
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin-infra

#12255 Fix plan for google_identity_platform_config always showing a change for phone_number.enabled=false and email.enabled=false
  mmv1/products/identityplatform/Config.yaml
  mmv1/templates/terraform/custom_flatten/identity_platform_config_email.go.tmpl
  mmv1/templates/terraform/custom_flatten/identity_platform_config_phone_number.go.tmpl
  mmv1/templates/terraform/examples/identity_platform_config_with_false_values.tf.tmpl
Labels: service/identitytoolkit

#12256 Add IDPF support for the google_compute_instance and google_compute_image.guest_os_features
  mmv1/products/compute/Image.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances, service/compute-pd

#11990 Make type assertions more defensive on the secret manager datasources
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secret_version.go
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secret_version_access.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version_access.go
Labels: service/secretmanager

#12238 fix gle private test
  mmv1/third_party/terraform/services/cloudbuildv2/resource_cloudbuildv2_connection_test.go
Labels: service/cloudbuild

#11951 Add workforce identity federation config to secure source manager ins…
  mmv1/products/securesourcemanager/Instance.yaml
  mmv1/templates/terraform/examples/secure_source_manager_instance_workforce_identity_federation.tf.tmpl
Labels: service/securesourcemanager

#12284 Serialize ACM IAM tests
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_access_policy_iam_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_access_policy_test.go.tmpl
Labels: service/accesscontextmanager

#12276 Updated remaining tag key / value examples
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_test.go
  mmv1/third_party/terraform/website/docs/r/google_tags_location_tag_binding.html.markdown
Labels: service/dlp, service/compute-instances, service/cloudresourcemanager-tags

#12299 fix TestAccCloudRunService_cloudRunServiceMulticontainerExample
  mmv1/templates/terraform/examples/cloud_run_service_multicontainer.tf.tmpl
Labels: service/run

#12288 Use regular string sorting for custom access context manager ingress and egress flatteners
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_egress_policy_resources_custom_flatten.go.tmpl
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_ingress_policy_resources_custom_flatten.go.tmpl
Labels: service/accesscontextmanager

#12272 Add datasource for ACM access policies
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/data_source_access_context_manager_access_policy.go
  mmv1/third_party/terraform/services/accesscontextmanager/data_source_access_context_manager_access_policy_test.go
  mmv1/third_party/terraform/website/docs/d/access_context_manager_access_policy.html.markdown
Labels: service/accesscontextmanager

#12290 Support `common_repository` for `google_artifact_registry_repository`
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_common_repository_with_docker.tf.tmpl
Labels: service/artifactregistry

#12311 pubsub: additional test permissions fixes
  mmv1/templates/terraform/examples/pubsub_subscription_push_bq_service_account.tf.tmpl
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#12194 Add Cloud Run v2 Service urls field
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/third_party/terraform/services/cloudrunv2/data_source_google_cloud_run_v2_service_test.go
Labels: service/run

#12309 Made google_container_cluster.user_managed_keys_config not settable and fixed diff due to server-set values
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_internal_test.go.tmpl
Labels: service/container

#12233 compute: forced recreation of `google_compute_security_policy` on `type` updates
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.tmpl
Labels: service/compute-security-policy

#12260 networkservices: increased `path_matcher` and `host_rule` limits
  mmv1/products/networkservices/EdgeCacheService.yaml
  mmv1/third_party/terraform/services/networkservices/resource_network_services_edge_cache_service_test.go
Labels: service/networkservices-media-cdn

#12307 container: fix `TestAccContainerCluster_withFleetConfig` failure
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12271 promoting `google_parallelstore_instance` to ga
  mmv1/products/parallelstore/Instance.yaml
  mmv1/products/parallelstore/product.yaml
  mmv1/templates/terraform/examples/parallelstore_instance_basic.tf.tmpl
  mmv1/third_party/terraform/services/parallelstore/resource_parallelstore_instance_test.go.tmpl
Labels: service/parallelstore

#12234 Composer 3 GA
  mmv1/products/composer/UserWorkloadsConfigMap.yaml
  mmv1/templates/terraform/examples/composer_user_workloads_config_map_basic.tf.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_config_map.go.tmpl
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_config_map_test.go.tmpl
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_secret.go.tmpl
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_secret_test.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_config_map_test.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_config_map.html.markdown
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_secret.html.markdown
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
  mmv1/third_party/terraform/website/docs/r/composer_user_workloads_secret.html.markdown
Labels: service/composer

#12319 Add RDMA features to google-beta provider
  mmv1/products/compute/Network.yaml
  mmv1/third_party/terraform/services/compute/data_source_google_compute_network.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/website/docs/d/compute_network.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances, service/compute-vpc

#12323 Made traffic_split field use default_from_api
  mmv1/products/vertexai/Endpoint.yaml
Labels: service/aiplatform-prediction

#12281 Support `advanced_machine_features.performance_monitoring_unit` for instance and templates
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#12199 Add creationTime to cloud identity group membership datasource
  mmv1/third_party/terraform/services/cloudidentity/data_source_cloud_identity_group_memberships.go.tmpl
Labels: service/cloudidentity-groups

#12312 artifactregistry: fix comments, more examples for common remote repositories
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_common_repository_with_artifact_registry_uri.tf.tmpl
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_common_repository_with_custom_upstream.tf.tmpl
Labels: service/artifactregistry

#12305 fix: derive the project attribute from resource or compute api or fallback to provider
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
  mmv1/third_party/terraform/website/docs/d/storage_bucket.html.markdown
Labels: service/storage

#12313 increase google cloud netapp create storagePool timeout to 45 mins
  mmv1/products/netapp/StoragePool.yaml
Labels: service/netapp

#12108 Fix bug in Pub/Sub Subscription avroConfig which was not sending empty configurations.
  mmv1/products/pubsub/Subscription.yaml
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#12283 Support `IPV6_ONLY` configurations for compute API
  mmv1/products/compute/Subnetwork.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances, service/compute-vpc

#12345 Fix backup vault tests in VCR
  mmv1/products/backupdr/BackupPlan.yaml
  mmv1/templates/terraform/examples/backup_dr_backup_plan_simple.tf.tmpl
  mmv1/third_party/terraform/services/backupdr/resource_backup_dr_backup_vault_test.go.tmpl
Labels: service/backupdr

#12335 Fix TestAccDataprocCluster_withNetworkRefs
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
Labels: service/dataproc

#12332 Promote backupvault to GA
  mmv1/products/backupdr/BackupVault.yaml
  mmv1/products/backupdr/product.yaml
  mmv1/templates/terraform/examples/backup_dr_backup_vault_full.tf.tmpl
  mmv1/third_party/terraform/services/backupdr/resource_backup_dr_backup_vault_test.go.tmpl
Labels: service/backupdr

#12249 Add TF support for LocalSsdEncryptionMode flag
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container

#12244 Promote InstanceFlexibilityPolicy to GA
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#12347 fix(apigee): Error of update in google_apigee_developer
  mmv1/products/apigee/Developer.yaml
  mmv1/third_party/terraform/services/apigee/resource_apigee_developer_update_test.go
Labels: service/apigee

#12297 Add deletion_protection field in cloudvmcluster resource
  mmv1/products/oracledatabase/CloudVmCluster.yaml
  mmv1/templates/terraform/examples/oracledatabase_cloud_vmcluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/oracledatabase_cloud_vmcluster_full.tf.tmpl
  mmv1/templates/terraform/pre_delete/oracledatabase_cloud_vmcluster.go.tmpl
Labels: service/oracledatabase

#12289 Fix edition downgrade failure for an ENTERPRISE_PLUS instance with da…
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#12327 Add ProvisioningModelMix to InstanceFlexibilityPolicy for Dataproc cluster
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
Labels: service/dataproc

#12303 Use project name for PSC allowlist
  mmv1/templates/terraform/examples/vertex_ai_index_endpoint_with_psc.tf.tmpl
Labels: service/aiplatform-matching-engine

#12331 Remove unused test case
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_image_test.go
Labels: service/artifactregistry

#12351 add server-side id for a few resources
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/products/compute/InstanceGroupManager.yaml
  mmv1/products/compute/RegionHealthCheck.yaml
  mmv1/products/compute/RegionInstanceGroupManager.yaml
  mmv1/products/compute/RegionNetworkEndpoint.yaml
  mmv1/products/compute/Subnetwork.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_global_forwarding_rule_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_health_check_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_endpoint_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_subnetwork_test.go.tmpl
Labels: service/terraform

#12357 Add `autotuning_config` and `cohort` fields for Dataproc batch
  mmv1/products/dataproc/Batch.yaml
  mmv1/templates/terraform/examples/dataproc_batch_autotuning.tf.tmpl
Labels: service/dataproc

#12365 wait for SA to propagate on beyondcord app
  mmv1/products/beyondcorp/AppConnection.yaml
  mmv1/templates/terraform/examples/beyondcorp_app_connection_basic.tf.tmpl
  mmv1/templates/terraform/examples/beyondcorp_app_connection_full.tf.tmpl
  mmv1/third_party/terraform/services/beyondcorp/data_source_google_beyondcorp_app_connection_test.go
  mmv1/third_party/terraform/services/beyondcorp/resource_beyondcorp_app_connection_test.go
Labels: service/beyondcorp

#12353 Support V6E for type of accelerator_config in google_tpu_v2_vm
  mmv1/products/tpuv2/Vm.yaml
Labels: service/tpu

#11903 Refactor muxing 1 : Re-use same config to configure the SDK and PF providers, fix VCR testing
  mmv1/third_party/terraform/acctest/framework_test_utils.go.tmpl
  mmv1/third_party/terraform/acctest/provider_test_utils.go
  mmv1/third_party/terraform/acctest/test_utils.go.tmpl
  mmv1/third_party/terraform/acctest/vcr_utils.go
  mmv1/third_party/terraform/fwprovider/data_source_provider_config_plugin_framework.go
  mmv1/third_party/terraform/fwprovider/framework_provider.go.tmpl
  mmv1/third_party/terraform/fwprovider/framework_provider_access_token_test.go.tmpl
  mmv1/third_party/terraform/fwprovider/framework_provider_add_terraform_attribution_label_test.go
  mmv1/third_party/terraform/fwprovider/framework_provider_billing_project_test.go.tmpl
  mmv1/third_party/terraform/fwprovider/framework_provider_internal_test.go
  mmv1/third_party/terraform/fwprovider/framework_provider_project_test.go
  mmv1/third_party/terraform/fwprovider/framework_provider_request_reason_test.go
  mmv1/third_party/terraform/fwprovider/framework_provider_request_timeout_test.go
  mmv1/third_party/terraform/fwprovider/framework_provider_terraform_attribution_label_addition_strategy_test.go
  mmv1/third_party/terraform/fwprovider/framework_provider_test.go.tmpl
  mmv1/third_party/terraform/fwprovider/framework_provider_user_project_override_test.go.tmpl
  mmv1/third_party/terraform/fwprovider/framework_validators_test.go
  mmv1/third_party/terraform/fwresource/field_helpers.go
  mmv1/third_party/terraform/fwresource/framework_location.go
  mmv1/third_party/terraform/main.go.tmpl
  mmv1/third_party/terraform/provider/provider.go.tmpl
  mmv1/third_party/terraform/provider/provider_request_timeout_test.go
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_android_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_android_app_config_test.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_apple_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_apple_app_config_test.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_web_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/resource_firebase_web_app_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_client_config.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_client_openid_userinfo.go
  mmv1/third_party/terraform/transport/config.go.tmpl
Labels: service/firebase

#12375 Fix TestAccSqlDatabaseInstance_withPSCEnabled_withIpV4Enabled
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#11578 Refactor muxing 2 : Remove unused code, resulting from #11903
  mmv1/third_party/terraform/fwtransport/framework_config.go.tmpl
  mmv1/third_party/terraform/fwtransport/framework_config_test.go.tmpl
  mmv1/third_party/terraform/fwtransport/framework_provider_clients.go.tmpl
  mmv1/third_party/terraform/fwtransport/framework_transport.go
  mmv1/third_party/terraform/fwtransport/framework_utils.go
Labels: service/firebase

#12090 Bigtable row affinity
  mmv1/templates/terraform/custom_expand/bigtable_app_profile_routing.tmpl
  mmv1/templates/terraform/custom_flatten/bigtable_app_profile_routing.tmpl
  mmv1/templates/terraform/examples/bigtable_app_profile_row_affinity.tf.tmpl
  mmv1/templates/terraform/extra_schema_entry/bigtable_app_profile.go.tmpl
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_app_profile_test.go
Labels: service/bigtableadmin

#12366 Fix failing TestAccSqlDatabaseInstance_replica and TestAccSQLDatabaseInstance_sqlPostgresDataCacheConfig acceptance tests for Cloud SQL
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#12145 Fix bug with updating cloudfunctions vpcConnectorEgressSettings
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function.go
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.tmpl
Labels: service/cloudfunctions

#12277 Add new TPUv2 QueuedResource resource in beta
  mmv1/products/tpuv2/QueuedResource.yaml
  mmv1/templates/terraform/examples/tpu_v2_queued_resource_basic.tf.tmpl
Labels: service/tpu

#12105 Create Terraform Backup Data Source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_test.go.tmpl
Labels: service/backupdr

#12386 Revert "wait for SA to propagate on beyondcord app"
  mmv1/products/beyondcorp/AppConnection.yaml
  mmv1/templates/terraform/examples/beyondcorp_app_connection_basic.tf.tmpl
  mmv1/templates/terraform/examples/beyondcorp_app_connection_full.tf.tmpl
  mmv1/third_party/terraform/services/beyondcorp/data_source_google_beyondcorp_app_connection_test.go
  mmv1/third_party/terraform/services/beyondcorp/resource_beyondcorp_app_connection_test.go
Labels: service/beyondcorp

#12381 Fix typo in terraform provider website docs
  mmv1/third_party/terraform/website/docs/d/storage_bucket_object_content.html.markdown
Labels: service/storage

#12378 Ensure oneOf condition is honored when expanding the job configs
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_job.go.tmpl
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_job_test.go.tmpl
Labels: service/dataproc

#12363 Etag support for ACM service perimeters
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_serviceperimeters_custom_flatten.go.tmpl
  mmv1/templates/terraform/pre_update/access_context_manager_service_perimeter.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_test.go.tmpl
Labels: service/accesscontextmanager

#12362 adding deployment type to beta provider
  mmv1/products/parallelstore/Instance.yaml
  mmv1/templates/terraform/examples/parallelstore_instance_basic.tf.tmpl
Labels: service/parallelstore

#12382 Add support for cgroup_mode in node_pool_auto_config
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#12408 Revert "Support `IPV6_ONLY` configurations for compute API"
  mmv1/products/compute/Subnetwork.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances, service/compute-vpc

#12377 Add google_backup_dr_backup_vault datasource
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_vault.go
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_vault_test.go
  mmv1/third_party/terraform/website/docs/d/backup_dr_backup_vault.html.markdown
Labels: service/backupdr

#12425 add the healthcare_fhir enum value to the industry vertical property in the discovery engine search engine
  mmv1/products/discoveryengine/SearchEngine.yaml
Labels: service/discoveryengine

#12399 Composer 3 GA: Reintroduce changes
  mmv1/products/composer/UserWorkloadsConfigMap.yaml
  mmv1/templates/terraform/examples/composer_user_workloads_config_map_basic.tf.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_config_map.go.tmpl
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_config_map_test.go.tmpl
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_secret.go.tmpl
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_secret_test.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_config_map_test.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_user_workloads_secret_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_config_map.html.markdown
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_secret.html.markdown
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
  mmv1/third_party/terraform/website/docs/r/composer_user_workloads_secret.html.markdown
Labels: service/composer

#12387 Fix flaky apigee tests
  mmv1/products/apigee/Developer.yaml
  mmv1/products/apigee/EnvKeystore.yaml
  mmv1/products/apigee/Environment.yaml
  mmv1/products/apigee/Instance.yaml
  mmv1/products/apigee/InstanceAttachment.yaml
  mmv1/products/apigee/Organization.yaml
  mmv1/templates/terraform/examples/apigee_developer_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_environment_basic_deployment_apiproxy_type_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_environment_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_environment_keystore_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_environment_patch_update_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_instance_attachment_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_instance_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_instance_cidr_range_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_instance_full_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_instance_ip_range_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_instance_service_attachment_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_organization_cloud_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_organization_cloud_full_disable_vpc_peering_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_organization_cloud_full_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_organization_drz_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_organization_retention_test.tf.tmpl
  mmv1/third_party/terraform/services/apigee/resource_apigee_developer_update_test.go
  mmv1/third_party/terraform/services/apigee/resource_apigee_environment_type_test.go.tmpl
  mmv1/third_party/terraform/services/apigee/resource_apigee_environment_update_test.go
Labels: service/apigee

#12298 add deletion_protection for autonomousDatabase resource
  mmv1/products/oracledatabase/AutonomousDatabase.yaml
  mmv1/templates/terraform/examples/oracledatabase_autonomous_database_basic.tf.tmpl
  mmv1/templates/terraform/examples/oracledatabase_autonomous_database_full.tf.tmpl
  mmv1/templates/terraform/pre_delete/oracledatabase_autonomous_database.go.tmpl
Labels: service/oracledatabase

#12296 Add deletion_protection field for cloudExadataInfrastructure resource
  mmv1/products/oracledatabase/CloudExadataInfrastructure.yaml
  mmv1/templates/terraform/examples/oracledatabase_cloud_exadata_infrastructure_basic.tf.tmpl
  mmv1/templates/terraform/examples/oracledatabase_cloud_exadata_infrastructure_full.tf.tmpl
  mmv1/templates/terraform/examples/oracledatabase_cloud_vmcluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/oracledatabase_cloud_vmcluster_full.tf.tmpl
  mmv1/templates/terraform/pre_delete/oracledatabase_cloud_exadata_infrastructure.go.tmpl
Labels: service/oracledatabase

#12397 Add confidential compute support to google_dataproc_cluster
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/dataproc_cluster.html.markdown
Labels: service/dataproc

#12436 Correct triple-negative documentation.
  mmv1/products/oracledatabase/CloudVmCluster.yaml
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container, service/oracledatabase

#12111 Add support for specifying storage pool with name or partial url.
  mmv1/products/compute/Disk.yaml
  mmv1/templates/terraform/constants/disk.tmpl
  mmv1/templates/terraform/custom_expand/storage_pool_full_url.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances, service/compute-pd

#12416 Handle operation for ApigeeOrganization delete requests.
  mmv1/products/apigee/Organization.yaml
Labels: service/apigee

#12440 `region_compute_disk`: move several parameters into properties since they arent used in URL
  mmv1/products/compute/RegionDisk.yaml
Labels: service/compute-pd

#12439 `compute.disk`: move several parameters into properties since they arent used in URL
  mmv1/products/compute/Disk.yaml
Labels: service/compute-pd

#11929 Set google_service_account IAM-related fields during plan stage
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account_test.go
  mmv1/third_party/terraform/tpgresource/resource_test_utils.go
  mmv1/third_party/terraform/tpgresource/utils.go
  mmv1/third_party/terraform/transport/config.go.tmpl
  mmv1/third_party/tgc/tests/data/example_container_cluster.json
  mmv1/third_party/tgc/tests/data/example_google_composer_environment.json
Labels: service/iam-serviceaccount

#12451 Add acceptance test showing empty delegate arrays don't cause issues
  mmv1/third_party/terraform/services/resourcemanager/ephemeral_google_service_account_id_token_test.go
Labels: service/iam-serviceaccount

#12401 Remove LocationDescriber interface from google_client_config as it's unneeded
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_client_config.go
Labels: disable-review-reminders, disable-automatic-closure
