Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-06, with the labels that each got.

#10819 Add missing closing backtick for `gae_app` in monitoring uptime check resource
  mmv1/products/monitoring/UptimeCheckConfig.yaml
Labels: awaiting-approval

#10841 Add support secret manager csi addon in beta
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10753 add support for partner metadata field on instance and instance template
  mmv1/third_party/terraform/services/compute/metadata.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#10851 Healthcare Fhir Store, promote `notification_configs` field to GA, deprecation message for `notification_config`
  mmv1/products/healthcare/FhirStore.yaml
  mmv1/templates/terraform/examples/go/healthcare_fhir_store_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/healthcare_fhir_store_notification_configs.tf.tmpl
  mmv1/templates/terraform/examples/healthcare_fhir_store_basic.tf.erb
  mmv1/templates/terraform/examples/healthcare_fhir_store_notification_configs.tf.erb
  mmv1/third_party/terraform/services/healthcare/resource_healthcare_fhir_store_test.go.erb
Labels: service/healthcare

#10864 add nested virtualization, boot disk size, and pool size to boost
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/templates/terraform/examples/workstation_config_boost.tf.erb
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.erb
Labels: service/workstations

#10780 add datasource to google_compute_security_policy resource
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/compute/data_source_compute_secutity_policy.go
  mmv1/third_party/terraform/services/compute/data_source_compute_secutity_policy_test.go
  mmv1/third_party/terraform/website/docs/d/compute_security_policy.html.markdown
Labels: service/compute-security-policy

#10769 Add Resource OrganizationEventThreatDetectionCustomModule
  mmv1/products/securitycentermanagement/OrganizationEventThreatDetectionCustomModule.yaml
  mmv1/products/securitycentermanagement/product.yaml
  mmv1/templates/terraform/examples/scc_management_organization_event_threat_detection_custom_module.tf.erb
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_event_threat_detection_custom_module_test.go
Labels: service/securitycenter

#10871 compute target pool sweeper
  mmv1/third_party/terraform/services/compute/resource_compute_target_pool_sweeper.go
Labels: service/compute-regional-pass-through-lb

#10855 Add notification_config.send_for_bulk_import field to google_healthcare_dicom_store
  mmv1/products/healthcare/DicomStore.yaml
  mmv1/templates/terraform/examples/go/healthcare_dicom_store_bq_stream.tf.tmpl
  mmv1/templates/terraform/examples/healthcare_dicom_store_bq_stream.tf.erb
  mmv1/third_party/terraform/services/healthcare/resource_healthcare_dicom_store_test.go
Labels: service/healthcare

#10767 Rework comments on deletion_protection
  mmv1/products/privateca/CertificateAuthority.yaml
  mmv1/products/spanner/Database.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.erb
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance.go
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
  mmv1/third_party/terraform/website/docs/r/bigtable_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/terraform

#10341 feat(spanner): Add InstanceConfig resource in Spanner product
  mmv1/products/spanner/InstanceConfig.yaml
  mmv1/templates/terraform/constants/spanner_instance_config.go.erb
  mmv1/templates/terraform/decoders/spanner_instance_config.go.erb
  mmv1/templates/terraform/encoders/spanner_instance_config.go.erb
  mmv1/templates/terraform/examples/go/spanner_instance_config_basic.tf.tmpl
  mmv1/templates/terraform/examples/spanner_instance_config_basic.tf.erb
  mmv1/templates/terraform/update_encoder/spanner_instance_config_update.go.erb
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_config_sweeper.go
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_config_test.go
Labels: service/spanner

#10854 feat(google_container_node_pool): Handle nil mode in secondary boot disk.
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
Labels: service/container

#10798 Add secrets_discovery_target field in google_data_loss_prevention_discovery_config, as well as fields to support single-resource mode for big_query_target and cloud_sql_target
  mmv1/products/dlp/DiscoveryConfig.yaml
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_test.go
Labels: service/dlp

#10795 Add flexibleRuntimeSettings to app engine flexible
  mmv1/products/appengine/FlexibleAppVersion.yaml
  mmv1/third_party/terraform/services/appengine/resource_app_engine_flexible_app_version_test.go
  mmv1/third_party/terraform/services/appengine/test-fixtures/hello-world-flask/requirements.txt
Labels: service/appengine

#10730 Add new resource "Service LB Policy" to the provider
  mmv1/products/compute/BackendService.yaml
  mmv1/products/networkservices/ServiceLBPolicies.yaml
  mmv1/templates/terraform/examples/go/network_services_service_lb_policies_advanced.tmpl
  mmv1/templates/terraform/examples/go/network_services_service_lb_policies_basic.tmpl
  mmv1/templates/terraform/examples/network_services_service_lb_policies_advanced.tf.erb
  mmv1/templates/terraform/examples/network_services_service_lb_policies_basic.tf.erb
  mmv1/third_party/terraform/services/networkservices/resource_network_services_service_lb_policies_test.go.erb
Labels: service/compute-l7-load-balancer

#10809 Add support for preventDrift field in ConfigManagement Fleet-level default config
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.erb
Labels: service/gkehub

#10856 Allow guest OS validation to be handled by GCE APIs
  mmv1/products/compute/Disk.yaml
Labels: service/compute-pd

#10842 adding builtin administrators field in AD resource
  mmv1/products/netapp/activeDirectory.yaml
  mmv1/templates/terraform/examples/netapp_active_directory_full.tf.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_active_directory_test.go
Labels: service/netapp

#10852 Add Enterprise to security_posture_config.mode
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#10674 AB
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table_test.go
Labels: service/bigtableadmin

#10885 Update AlloyDB e2e tests and remove custom code for Public-IP feature
  mmv1/products/alloydb/Instance.yaml
  mmv1/templates/terraform/post_create/alloydb_instance.go.erb
  mmv1/templates/terraform/pre_create/alloydb_instance.go.erb
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
Labels: service/alloydb

#10823 Make `google_compute_security_policy`'s `rule_visibility` optional + computed and remove default value
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.erb
Labels: override-breaking-change, service/compute-security-policy

#10867 Add the beta support for Port Mapping NEG and endpoint
  mmv1/products/compute/RegionNetworkEndpoint.yaml
  mmv1/products/compute/RegionNetworkEndpointGroup.yaml
  mmv1/templates/terraform/examples/region_network_endpoint_group_portmap.tf.erb
  mmv1/templates/terraform/examples/region_network_endpoint_portmap.tf.erb
  mmv1/templates/terraform/pre_delete/compute_region_network_endpoint.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_endpoint_test.go.erb
Labels: service/compute-networking-neg

#10802 promote optimized field to GA
  mmv1/products/vertexai/FeatureOnlineStore.yaml
Labels: service/aiplatform-featurestore

#10615 Adding Datasource: google_composer_user_workloads_secret
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_secret.go.erb
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_secret_test.go.erb
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_secret.html.markdown
Labels: service/composer

#10765 [discoveryengine] Add documentProcessingConfig field to DataStore resource
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/templates/terraform/examples/discoveryengine_datastore_document_processing_config.tf.erb
  mmv1/templates/terraform/examples/discoveryengine_datastore_document_processing_config_ocr.tf.erb
Labels: service/discoveryengine

#10875 Add intercept_children property to log sink documentation.
  mmv1/third_party/terraform/website/docs/r/logging_folder_sink.html.markdown
  mmv1/third_party/terraform/website/docs/r/logging_organization_sink.html.markdown
Labels: service/logging

#10510 Use data google_kms(_key_ring | _crypto_key) instead of resource
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.erb
Labels: service/dataflow

#10858 Adding support for google_netapp_backup resource in netapp volumes
  mmv1/products/netapp/Backup.yaml
  mmv1/templates/terraform/examples/netapp_backup.tf.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_test.go
Labels: service/netapp

#10874 Fix inaccurate documentation for TargetHttpsProxy resource
  mmv1/products/compute/RegionTargetHttpsProxy.yaml
  mmv1/products/compute/TargetHttpsProxy.yaml
Labels: service/compute-l7-load-balancer

#10905 Fix issue in TestAccBigtableInstance_forceDestroyBackups test
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance_test.go
Labels: service/bigtableadmin

#10877 Added update support to sslPolicy field in region_target_https_proxy
  mmv1/products/compute/RegionTargetHttpsProxy.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_region_target_https_proxy_test.go.erb
Labels: service/compute-l7-load-balancer

#10907 Made network edge security service docs not force Portuguese
  mmv1/products/compute/NetworkEdgeSecurityService.yaml
Labels: service/compute-security-policy

#10830 Replace non-test usage of resource library with id and retry
  mmv1/api/resource/examples.go
  mmv1/products/compute/RegionSslCertificate.yaml
  mmv1/products/compute/SslCertificate.yaml
  mmv1/provider/terraform/examples.rb
  mmv1/templates/terraform/constants/agent_pool.go.erb
  mmv1/templates/terraform/constants/clouddomains_registration.go.erb
  mmv1/templates/terraform/constants/datastream_stream.go.erb
  mmv1/templates/terraform/constants/go/agent_pool.go.tmpl
  mmv1/templates/terraform/constants/go/clouddomains_registration.go.tmpl
  mmv1/templates/terraform/constants/go/datastream_stream.go.tmpl
  mmv1/templates/terraform/constants/go/integration_connectors_connection.go.tmpl
  mmv1/templates/terraform/constants/go/interconnect_attachment.go.tmpl
  mmv1/templates/terraform/constants/go/private_connection.go.tmpl
  mmv1/templates/terraform/constants/integration_connectors_connection.go.erb
  mmv1/templates/terraform/constants/interconnect_attachment.go.erb
  mmv1/templates/terraform/constants/notebooks_instance.go
  mmv1/templates/terraform/constants/private_connection.go.erb
  mmv1/templates/terraform/constants/workbench_instance.go
  mmv1/templates/terraform/custom_expand/go/name_or_name_prefix.go.tmpl
  mmv1/templates/terraform/custom_expand/name_or_name_prefix.go.erb
  mmv1/templates/terraform/encoders/api_config.go.erb
  mmv1/templates/terraform/encoders/go/api_config.go.tmpl
  mmv1/templates/terraform/encoders/go/spanner_instance.go.tmpl
  mmv1/templates/terraform/encoders/go/workflow.go.tmpl
  mmv1/templates/terraform/encoders/spanner_instance.go.erb
  mmv1/templates/terraform/encoders/workflow.go.erb
  mmv1/templates/terraform/resource.erb
  mmv1/templates/tgc/resource_converter.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_disk_async_replication.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job.go.erb
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job.go.erb
  mmv1/third_party/terraform/services/dns/dns_change.go
  mmv1/third_party/terraform/services/resourcemanager/service_account_waiter.go
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.erb
  mmv1/third_party/terraform/tpgresource/common_operation.go
  mmv1/third_party/terraform/transport/common_polling.go
  mmv1/third_party/terraform/transport/config.go.erb
  mmv1/third_party/terraform/transport/retry_transport.go
  mmv1/third_party/terraform/transport/retry_utils.go
  mmv1/third_party/tgc/sql_database_instance.go
Labels: service/terraform

#10900 update protected metadata
  mmv1/templates/terraform/constants/workbench_instance.go
Labels: service/notebooks

#10847 Add support for `google_firebase_project` to TGC
  mmv1/provider/terraform_tgc.rb
  mmv1/templates/tgc/resource_converters.go.erb
  mmv1/third_party/tgc/firebase_project.go
  mmv1/third_party/tgc/tests/data/example_google_firebase_project.json
  mmv1/third_party/tgc/tests/data/example_google_firebase_project.tf
Labels: awaiting-approval

#10863 Add Resource ProjectSecurityHealthAnalyticsCustomModule
  mmv1/products/securitycentermanagement/ProjectSecurityHealthAnalyticsCustomModule.yaml
  mmv1/templates/terraform/examples/scc_management_organization_project_security_health_analytics_custom_module_basic.tf.erb
  mmv1/templates/terraform/examples/scc_management_organization_project_security_health_analytics_custom_module_full.tf.erb
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_project_security_health_analytics_custom_module_test.go
Labels: service/securitycenter

#10804 Add terraform support for edgecontainer maintenance cluster's exclusion windows
  mmv1/products/edgecontainer/Cluster.yaml
Labels: service/edgecontainer

#10729 Add field update tests for google_network_securtiy_tls_inspection_policy
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_tls_inspection_policy_test.go.erb
Labels: service/networksecurity-swp, disable-review-reminders

#10914 Revert "Update Documentation for ACM Service Perimeter resources to reflect Granular Controls group support"
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_granular_controls.tf.erb
Labels: service/accesscontextmanager

#10789 Bitbucket support for cloudbuild repos
  mmv1/products/cloudbuildv2/Connection.yaml
  mmv1/third_party/terraform/services/cloudbuildv2/resource_cloudbuildv2_connection_test.go
Labels: service/cloudbuild

#10902 Adding "status.0.description" to ImportStateVerifyIgnore of Connection resource tests
  mmv1/third_party/terraform/services/integrationconnectors/resource_integration_connectors_connection_test.go
Labels: service/integrationconnectors

#10859 Unset operation when reading instance_group_manager resource
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
Labels: service/compute-managed

#10898 Add warning to google_access_context_manager_access_levels docs
  mmv1/products/accesscontextmanager/AccessLevels.yaml
Labels: service/accesscontextmanager

#10908 Removed unused variable
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.erb
Labels: service/dataflow

#10930 Sweep up Firestore (default) databases to prevent errant ALREADY_EXISTS errors
  mmv1/third_party/terraform/services/firestore/resource_firestore_database_sweeper.go
Labels: service/firestore-controlplane

#10911 Skip tpuv2 vm tests in VCR
  mmv1/products/tpuv2/Vm.yaml
Labels: service/tpu

#10927 Updated description of connection_draining_timeout_sec, balancing_mode and outlier_detection in backend_service and regional_backend_service before changing defaults
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
Labels: service/compute-l7-load-balancer

#10882 update BackendService timeoutSec description
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
Labels: service/compute-l7-load-balancer

#10945 Bump min gke version to fix TestAccContainerNodePool_fastSocket
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
Labels: service/container

#10931 remove network url custom expand for workbench instance
  mmv1/products/workbench/Instance.yaml
Labels: service/notebooks

#10680 Adding Datasource: google_composer_user_workloads_config_map
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_config_map.go.erb
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_config_map_test.go.erb
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_config_map.html.markdown
Labels: service/composer

#10952 Add handling of amd64 canonical ubuntu lts images on compute disk.
  mmv1/third_party/terraform/services/compute/image.go
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
Labels: service/compute-pd

#10922 add redis self service update support
  mmv1/products/redis/Instance.yaml
  mmv1/third_party/terraform/services/redis/resource_redis_instance_test.go
Labels: service/redis-instance

#10522 Add autoscaling to DPMS terraform
  mmv1/products/metastore/Service.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_max_scaling_factor.tf.erb
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_min_and_max_scaling_factor.tf.erb
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_min_scaling_factor.tf.erb
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_no_limit_config.tf.erb
  mmv1/templates/terraform/examples/go/dataproc_metastore_service_autoscaling_max_scaling_factor.tf.tmpl
  mmv1/templates/terraform/examples/go/dataproc_metastore_service_autoscaling_min_and_max_scaling_factor.tf.tmpl
  mmv1/templates/terraform/examples/go/dataproc_metastore_service_autoscaling_min_scaling_factor.tf.tmpl
  mmv1/templates/terraform/examples/go/dataproc_metastore_service_autoscaling_no_limit_config.tf.tmpl
Labels: service/metastore

#10941 Reararngement of google_composer_environment resource documentation
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#10956 Fix ArtifactRegistry Yum test
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_yum.tf.erb
Labels: service/artifactregistry

#10926 feat(billingbudget): support project level recicipients on budgets
  mmv1/products/billingbudget/Budget.yaml
  mmv1/templates/terraform/examples/billing_budget_notify_project_recipient.tf.erb
Labels: service/billingbudgets

#10895 fix: added ENTERPRISE option to GKE Hub Fleet Security Posture setting
  mmv1/products/gkehub2/Fleet.yaml
Labels: service/gkehub

#10959 Fix flaky DiscoveryConfig.yaml tests
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_test.go
Labels: service/dlp

#10967 feat: Add Pub/Sub Subscription support for specifying a service account
  mmv1/products/pubsub/Subscription.yaml
  mmv1/templates/terraform/examples/pubsub_subscription_push_bq_service_account.tf.erb
  mmv1/templates/terraform/examples/pubsub_subscription_push_cloudstorage_service_account.tf.erb
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#9521 Add artifact docker image data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_image.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_image_test.go
  mmv1/third_party/terraform/website/docs/d/artifact_registry_docker_image.html.markdown
Labels: service/artifactregistry

#10899 Add Service Networking VPC Service Controls resource.
  mmv1/products/servicenetworking/VPCServiceControls.yaml
  mmv1/products/servicenetworking/product.yaml
  mmv1/templates/terraform/constants/service_networking_vpc_service_controls.go.erb
  mmv1/templates/terraform/custom_create/service_networking_vpc_service_controls.go.erb
  mmv1/templates/terraform/examples/service_networking_vpc_service_controls_basic.tf.erb
  mmv1/templates/terraform/pre_read/service_networking_vpc_service_controls.go.erb
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go
  mmv1/third_party/terraform/fwmodels/provider_model.go.erb
  mmv1/third_party/terraform/fwprovider/framework_provider.go.erb
  mmv1/third_party/terraform/provider/provider.go.erb
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/servicenetworking/resource_google_service_networking_peered_dns_domain.go
  mmv1/third_party/terraform/services/servicenetworking/resource_service_networking_connection.go
  mmv1/third_party/terraform/services/servicenetworking/resource_service_networking_vpc_service_controls_test.go
  mmv1/third_party/terraform/services/servicenetworking/service_networking_operation_hw.go
  mmv1/third_party/terraform/transport/config.go.erb
Labels: service/service-networking

#10968 go rewrite - some compute and AD diffs
  mmv1/api/resource.go
  mmv1/api/resource/examples.go
  mmv1/api/type.go
  mmv1/products/activedirectory/Domain.yaml
  mmv1/products/activedirectory/DomainTrust.yaml
  mmv1/products/activedirectory/go_Domain.yaml
  mmv1/products/activedirectory/go_DomainTrust.yaml
  mmv1/products/activedirectory/go_Peering.yaml
  mmv1/provider/template_data.go
  mmv1/provider/terraform.go
  mmv1/template-converter.go
  mmv1/templates/terraform/custom_flatten/go/default_if_empty.tmpl
  mmv1/templates/terraform/env_var_context.go.tmpl
  mmv1/templates/terraform/examples/base_configs/iam_test_file.go.tmpl
  mmv1/templates/terraform/examples/go/artifact_registry_repository_remote_yum.tf.tmpl
  mmv1/templates/terraform/examples/go/billing_budget_notify_project_recipient.tf.tmpl
  mmv1/templates/terraform/expand_property_method.go.tmpl
  mmv1/templates/terraform/flatten_property_method.go.tmpl
  mmv1/templates/terraform/nested_query.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/templates/terraform/schema_property.go.tmpl
  mmv1/templates/terraform/schema_subresource.go.tmpl
  mmv1/templates/terraform/unordered_list_customize_diff.go.tmpl
  mmv1/templates/terraform/update_mask.go.tmpl
  mmv1/templates/terraform/yaml_conversion.erb
  mmv1/templates/terraform/yaml_conversion_field.erb
Labels: service/managedidentities

#10835 Update sql_user type
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin-infra

#10971 Add resource tags to BigQuery Dataset in the Beta provider
  mmv1/products/bigquery/Dataset.yaml
  mmv1/templates/terraform/examples/bigquery_dataset_resource_tags.tf.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go.erb
Labels: service/bigquery

#10936 `google_storage_bucket`: fix `custom_placement_config` values not normalized
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
Labels: service/storage

#10970 Remove redundant `resource.TestStep`
  mmv1/third_party/terraform/services/binaryauthorization/resource_binary_authorization_attestor_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_autoscaler_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_forwarding_rule_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_global_address_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_autoscaler_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/services/dns/resource_dns_managed_zone_test.go.erb
  mmv1/third_party/terraform/services/dns/resource_dns_policy_test.go.erb
  mmv1/third_party/terraform/services/dns/resource_dns_response_policy_rule_test.go.erb
  mmv1/third_party/terraform/services/dns/resource_dns_response_policy_test.go.erb
Labels: service/compute-instances

#10960 Increase timeouts on `google_sql_database_instance` to 90m
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#10975 go rewrite - sort context map in test file
  mmv1/templates/terraform/env_var_context.go.erb
  mmv1/templates/terraform/examples/base_configs/test_file.go.erb
Labels: service/terraform

#10961 fix empty accelerator config permadiff and instance not starting after an update in resource `google_workbench_instance`
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/constants/workbench_instance.go
  mmv1/templates/terraform/post_update/workbench_instance.go.erb
  mmv1/templates/terraform/pre_update/workbench_instance.go.erb
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_shielded_config_test.go.erb
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.erb
Labels: service/notebooks

#10995 Make `google_vpc_access_connector` acc tests use a bootstrapped VPC network
  mmv1/products/vpcaccess/Connector.yaml
  mmv1/templates/terraform/examples/vpc_access_connector.tf.erb
  mmv1/templates/terraform/examples/vpc_access_connector_shared_vpc.tf.erb
Labels: service/vpcaccess

#10038 fix(storage-bucket-object): do not delete object on update content, j…
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object.go
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object_test.go
Labels: service/storage, awaiting-approval

#10972 Resize disk in `google_workbench_instance` resource
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/constants/workbench_instance.go
  mmv1/templates/terraform/pre_update/workbench_instance.go.erb
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.erb
Labels: service/notebooks

#10963 Enabling empty value send for fleet default member config in google_gke_hub_feature
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.erb
  mmv1/third_party/tgc/tests/data/example_gke_hub_feature.json
Labels: service/gkehub

#11006 Updates in the documentation of google_composer_environment
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#10974 add update support to big_query field on google_vertex_ai_feature_group resource
  mmv1/products/vertexai/FeatureGroup.yaml
  mmv1/third_party/terraform/services/vertexai/resource_vertex_ai_feature_group_test.go
Labels: service/aiplatform-featurestore

#10966 compute: promote `google_compute_network_attachment` GA
  mmv1/products/compute/Instance.yaml
  mmv1/products/compute/NetworkAttachment.yaml
  mmv1/templates/terraform/examples/network_attachment_basic.tf.erb
  mmv1/templates/terraform/examples/network_attachment_instance_usage.tf.erb
Labels: service/private-service-connect-interfaces

#10994 Make sweeper for google_vmwareengine_network handwritten, fix how it accesses data from the list operation, add looping through locations
  mmv1/products/vmwareengine/Network.yaml
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_network_sweeper.go
Labels: service/vmwareengine

#11007 Fix resource_compute_shared_reservation_update encoder
  mmv1/products/compute/Reservation.yaml
  mmv1/templates/terraform/update_encoder/go/reservation.go.tmpl
  mmv1/templates/terraform/update_encoder/reservation.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_shared_reservation_update_test.go
Labels: service/compute-reservation

#11000 make index_configs O+C in google_logging_organization_bucket_config
  mmv1/third_party/terraform/services/logging/resource_logging_bucket_config.go
Labels: service/logging

#11009 Update dcl dependencies to v1.68.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/gkemulticloud

#11002 Add handwritten sweeper for google_vmwareengine_private_cloud
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_sweeper.go
Labels: service/vmwareengine

#10787 Add beta support for custom error response policies for URL maps
  mmv1/products/compute/UrlMap.yaml
  mmv1/templates/terraform/examples/url_map_custom_error_response_policy.tf.erb
  mmv1/third_party/terraform/services/compute/resource_compute_url_map_test.go.erb
Labels: service/compute-l7-load-balancer

#10954 Add tlsEarlyData support to TargetHttpsProxy.
  mmv1/products/compute/TargetHttpsProxy.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_target_https_proxy_test.go.erb
Labels: service/compute-l7-load-balancer

#11013 promote dedicated_serving_endpoint to GA on featureOnlineStore
  mmv1/products/vertexai/FeatureOnlineStore.yaml
  mmv1/templates/terraform/examples/vertex_ai_featureonlinestore_with_optimized.tf.erb
Labels: service/aiplatform-featurestore

#10986 Make firebase_hosting_site upsert on creation
  mmv1/products/firebasehosting/Site.yaml
  mmv1/templates/terraform/pre_create/firebasehosting_site.go.erb
  mmv1/third_party/terraform/services/firebasehosting/resource_firebase_hosting_site_test.go.erb
Labels: service/firebase

#10965 fix google_access_context_manager_service_perimeters permadiff
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_serviceperimeters_custom_flatten.go.erb
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_services_perimeters_test.go
Labels: service/accesscontextmanager

#10358 fix: google_compute_instance with user-managed service account and empty scopes results in no service account assignment
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#10969 datafusion: Add network config fields for Private Service Connect
  mmv1/products/datafusion/Instance.yaml
  mmv1/templates/terraform/examples/data_fusion_instance_psc.tf.erb
Labels: service/datafusion, service/private-service-connect-interfaces

#11020 go rewrite - description-copy update and overall refresh
  GNUmakefile
  mmv1/description-copy.go
  mmv1/main.go
  mmv1/products/compute/Address.yaml
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/ForwardingRule.yaml
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/products/compute/HttpHealthCheck.yaml
  mmv1/products/compute/HttpsHealthCheck.yaml
  mmv1/products/compute/ManagedSslCertificate.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/products/compute/RegionSslCertificate.yaml
  mmv1/products/compute/SslCertificate.yaml
  mmv1/products/compute/go_Address.yaml
  mmv1/products/compute/go_BackendService.yaml
  mmv1/products/compute/go_Firewall.yaml
  mmv1/products/compute/go_ForwardingRule.yaml
  mmv1/products/compute/go_GlobalForwardingRule.yaml
  mmv1/products/compute/go_HttpHealthCheck.yaml
  mmv1/products/compute/go_HttpsHealthCheck.yaml
  mmv1/products/compute/go_ManagedSslCertificate.yaml
  mmv1/products/compute/go_RegionBackendService.yaml
  mmv1/products/compute/go_RegionSslCertificate.yaml
  mmv1/products/compute/go_Route.yaml
  mmv1/products/compute/go_RouterNat.yaml
  mmv1/products/compute/go_ServiceAttachment.yaml
  mmv1/products/compute/go_SslCertificate.yaml
  mmv1/products/compute/go_TargetHttpsProxy.yaml
  mmv1/products/compute/go_UrlMap.yaml
  mmv1/products/compute/go_VpnGateway.yaml
  mmv1/products/pubsub/go_Subscription.yaml
  mmv1/templates/terraform/custom_flatten/go/accesscontextmanager_serviceperimeters_custom_flatten.go.tmpl
  mmv1/templates/terraform/examples/go/url_map_custom_error_response_policy.tf.tmpl
  mmv1/templates/terraform/examples/go/vertex_ai_featureonlinestore_with_optimized.tf.tmpl
  mmv1/templates/terraform/pre_create/go/firebasehosting_site.go.tmpl
  mmv1/templates/terraform/yaml_conversion.erb
  mmv1/third_party/terraform/go/go.mod
  mmv1/third_party/terraform/services/compute/go/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/go/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/go/resource_compute_target_https_proxy_test.go.tmpl
  mmv1/third_party/terraform/services/compute/go/resource_compute_url_map_test.go.tmpl
  mmv1/third_party/terraform/services/firebasehosting/go/resource_firebase_hosting_site_test.go.tmpl
Labels: service/terraform

#10978 Add support for CMEK datasets to terraform.
  mmv1/products/healthcare/Dataset.yaml
  mmv1/templates/terraform/examples/healthcare_dataset_cmek.tf.erb
Labels: service/healthcare

#11031 Fix https://github.com/hashicorp/terraform-provider-google/issues/18085
  mmv1/products/identityplatform/Config.yaml
Labels: service/identitytoolkit

#10627 Gcf gen2 base image update
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/templates/terraform/encoders/cloudfunctions2_runtime_update_policy.go.erb
  mmv1/templates/terraform/examples/cloudfunctions2_abiu.tf.erb
  mmv1/templates/terraform/examples/cloudfunctions2_abiu_on_deploy.tf.erb
  mmv1/third_party/terraform/services/cloudfunctions2/resource_cloudfunctions2_function_test.go
Labels: service/cloudfunctions

#11021 go rewrite - compute documentation diffs
  mmv1/api/resource.go
  mmv1/google/template_utils.go
  mmv1/templates/terraform/nested_property_documentation.html.markdown.tmpl
  mmv1/templates/terraform/property_documentation.html.markdown.tmpl
  mmv1/templates/terraform/resource.html.markdown.tmpl
Labels: service/terraform

#11017 Add support for links in Monitoring AlertPolicy
  mmv1/products/monitoring/AlertPolicy.yaml
  mmv1/third_party/terraform/services/monitoring/resource_monitoring_alert_policy_test.go
Labels: service/monitoring-alerting

#10887 Add GA support for confidentialInstanceType
  mmv1/products/compute/Instance.yaml
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.erb
  mmv1/third_party/terraform/services/compute/go/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances, disable-review-reminders

#10786 Add support for GCS managed folders
  mmv1/products/storage/ManagedFolder.yaml
  mmv1/templates/terraform/examples/storage_managed_folder_basic.tf.erb
  mmv1/templates/terraform/iam/example_config_body/storage_managed_folder.tf.erb
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/storage/iam_storage_managed_folder.go
  mmv1/third_party/terraform/services/storage/iam_storage_managed_folder_test.go
  mmv1/third_party/terraform/website/docs/r/storage_managed_folder_iam.html.markdown
Labels: service/storage

#11046 go rewrite - all remaining compute documentation diffs
  mmv1/api/resource.go
  mmv1/api/resource/docs.go
  mmv1/api/resource/examples.go
  mmv1/description-copy.go
  mmv1/products/beyondcorp/AppConnection.yaml
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/products/compute/RegionUrlMap.yaml
  mmv1/products/compute/ResourcePolicy.yaml
  mmv1/products/compute/UrlMap.yaml
  mmv1/products/compute/go_GlobalForwardingRule.yaml
  mmv1/products/compute/go_RegionUrlMap.yaml
  mmv1/products/compute/go_ResourcePolicy.yaml
  mmv1/products/compute/go_Subnetwork.yaml
  mmv1/products/compute/go_UrlMap.yaml
  mmv1/products/datafusion/go_Instance.yaml
  mmv1/templates/terraform/encoders/go/cloudfunctions2_runtime_update_policy.go.tmpl
  mmv1/templates/terraform/examples/go/cloudfunctions2_abiu.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudfunctions2_abiu_on_deploy.tf.tmpl
  mmv1/templates/terraform/examples/go/data_fusion_instance_psc.tf.tmpl
  mmv1/templates/terraform/examples/go/healthcare_dataset_cmek.tf.tmpl
  mmv1/templates/terraform/examples/go/region_network_endpoint_group_appengine.tf.tmpl
  mmv1/templates/terraform/examples/go/region_network_endpoint_group_appengine_empty.tf.tmpl
  mmv1/templates/terraform/examples/go/region_network_endpoint_group_cloudrun.tf.tmpl
  mmv1/templates/terraform/examples/region_network_endpoint_group_appengine.tf.erb
  mmv1/templates/terraform/examples/region_network_endpoint_group_appengine_empty.tf.erb
  mmv1/templates/terraform/examples/region_network_endpoint_group_cloudrun.tf.erb
  mmv1/templates/terraform/property_documentation.html.markdown.tmpl
  mmv1/templates/terraform/resource.html.markdown.erb
  mmv1/templates/terraform/resource.html.markdown.tmpl
Labels: service/terraform

#11003 Make sweeper for google_vmwareengine_cluster handwritten, add iteration over loop of regions/locations
  mmv1/products/vmwareengine/Cluster.yaml
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_cluster_sweeper.go
Labels: service/vmwareengine

#11043 add sqlAssertion rule
  mmv1/products/dataplex/Datascan.yaml
  mmv1/templates/terraform/examples/dataplex_datascan_full_quality.tf.erb
Labels: service/dataplex

#11054 go rewrite - compute whitespace and test import diffs
  mmv1/api/resource.go
  mmv1/templates/terraform/constants/go/router_nat_validate_action_active_range.go.tmpl
  mmv1/templates/terraform/constants/router_nat_validate_action_active_range.go.erb
  mmv1/templates/terraform/nested_query.go.tmpl
  mmv1/templates/terraform/pre_create/compute_snapshot_precreate_url.go.erb
  mmv1/templates/terraform/pre_create/go/compute_snapshot_precreate_url.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/templates/terraform/update_encoder/compute_service_attachment.go.erb
  mmv1/templates/terraform/update_encoder/go/compute_service_attachment.go.tmpl
Labels: service/compute-nat, service/private-service-connect-published-service

#11057 Update destroy_scheduled_duration default value description
  mmv1/products/kms/CryptoKey.yaml
Labels: service/cloudkms

#11044 Add a sleep to reduce the likelihood of eventual consistency issue
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account_key.go
Labels: service/iam-serviceaccount

#11024 Added missing changes to "compute_security_policy" contribution docs
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: service/compute-security-policy

#11065 Fix docs link to predefined metadata keys
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances

#10840 Add Secure Source Manager Repository resource
  mmv1/products/securesourcemanager/Repository.yaml
  mmv1/templates/terraform/examples/secure_source_manager_repository_basic.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_repository_initial_config.tf.erb
Labels: service/securesourcemanager

#11068 Fix typo in `google_pubsub_subscription` terraform manual page
  mmv1/products/pubsub/Subscription.yaml
Labels: service/pubsub

#10894 Migrate BigQuery Reservation Assignment from DCL to MMv1
  mmv1/products/bigqueryreservation/Assignment.yaml
  mmv1/templates/terraform/examples/bigquery_reservation_assignment_basic.tf.erb
  mmv1/templates/terraform/examples/bigquery_reservation_assignment_full.tf.erb
  mmv1/templates/terraform/pre_create/bigquery_reservation_assignment.go.erb
  tpgtools/overrides/bigqueryreservation/assignment.yaml
  tpgtools/overrides/bigqueryreservation/beta/assignment.yaml
  tpgtools/overrides/bigqueryreservation/beta/tpgtools_product.yaml
  tpgtools/overrides/bigqueryreservation/samples/assignment/basic.tf.tmpl
  tpgtools/overrides/bigqueryreservation/samples/assignment/basic.yaml
  tpgtools/overrides/bigqueryreservation/samples/assignment/meta.yaml
  tpgtools/overrides/bigqueryreservation/tpgtools_product.yaml
Labels: override-breaking-change, service/bigquery

#11048 Logging bucket index_configs documentation fixes
  mmv1/third_party/terraform/website/docs/r/logging_billing_account_bucket_config.html.markdown
  mmv1/third_party/terraform/website/docs/r/logging_folder_bucket_config.html.markdown
  mmv1/third_party/terraform/website/docs/r/logging_organization_bucket_config.html.markdown
  mmv1/third_party/terraform/website/docs/r/logging_project_bucket_config.html.markdown
Labels: service/logging

#11030 Add support for Config Sync enabled field in ConfigManagement Fleet-level default config
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.erb
Labels: service/gkehub

#10906 Add allowlistedCertificates field to TrustConfig
  mmv1/products/certificatemanager/TrustConfig.yaml
  mmv1/templates/terraform/examples/certificate_manager_trust_config_allowlisted_certificates.tf.erb
  mmv1/third_party/terraform/services/certificatemanager/resource_certificate_manager_trust_config_test.go
Labels: service/certificatemanager

#11015 feat: added new field vm_tags to the workstation config
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/templates/terraform/examples/workstation_config_basic.tf.erb
  mmv1/third_party/terraform/services/workstations/go/resource_workstations_workstation_config_test.go.tmpl
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.erb
Labels: service/workstations

#10878 Add sourceRegions field to google compute health check resource.
  mmv1/products/compute/HealthCheck.yaml
  mmv1/templates/terraform/examples/compute_health_check_http_source_regions.tf.erb
  mmv1/templates/terraform/examples/compute_health_check_https_source_regions.tf.erb
  mmv1/templates/terraform/examples/compute_health_check_tcp_source_regions.tf.erb
  mmv1/third_party/terraform/services/compute/resource_compute_health_check_test.go.erb
Labels: service/compute-health

#10817 Notifcation config
  mmv1/products/securitycenterv2/OrganizationNotificationConfig.yaml
  mmv1/products/securitycenterv2/product.yaml
  mmv1/templates/terraform/custom_import/scc_v2_source_self_link_as_name_set_organization.go.erb
  mmv1/templates/terraform/examples/scc_v2_organization_notification_config_basic.tf.erb
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_notification_config_test.go
Labels: service/securitycenter

#10593 Add DCGM enum to monitoring config
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11053 Add plural data source `google_kms_crypto_keys`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/kms/data_source_google_kms_crypto_keys.go
  mmv1/third_party/terraform/services/kms/data_source_google_kms_crypto_keys_test.go
  mmv1/third_party/terraform/transport/error_retry_predicates.go
  mmv1/third_party/terraform/website/docs/d/kms_crypto_keys.html.markdown
Labels: service/cloudkms

#11083 Autoscaler maxreplicas fix
  mmv1/products/compute/Autoscaler.yaml
  mmv1/products/compute/RegionAutoscaler.yaml
Labels: service/compute-autoscaler

#10946 Adding support for regional flex zones in netapp volume beta provider
  mmv1/products/netapp/storagePool.yaml
  mmv1/products/netapp/volume.yaml
  mmv1/templates/terraform/pre_update/netapp_storagepool.go.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.erb
Labels: service/netapp

#11084 Use sweepable name for vpc access connector
  mmv1/third_party/terraform/services/vpcaccess/data_source_vpc_access_connector_test.go
Labels: service/vpcaccess

#11061 `KMS`: add plural data source for `resource_google_kms_key_ring`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/kms/data_source_google_kms_key_rings.go
  mmv1/third_party/terraform/services/kms/data_source_google_kms_key_rings_test.go
Labels: service/cloudkms
