Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-08, with the labels that each got.

#11314 Fix `Error: Inconsistent dependency lock file` error in test
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_service_test.go.erb
Labels: service/serviceusage

#11260 Dataform repository kms
  mmv1/products/dataform/Repository.yaml
  mmv1/templates/terraform/examples/dataform_repository.tf.erb
  mmv1/templates/terraform/examples/dataform_repository_with_cloudsource_repo.tf.erb
Labels: service/dataform

#11325 Fix dependencies for TestAccAppEngineFlexibleAppVersion_update
  mmv1/third_party/terraform/services/appengine/resource_app_engine_flexible_app_version_test.go.erb
Labels: service/appengine

#11312 Ignore fingerprint during import in TestAccComputeInstanceSettings_update, as it often changes
  mmv1/third_party/terraform/services/compute/go/resource_compute_instance_settings_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_instance_settings_test.go.erb
Labels: service/compute-instances

#11327 make insights_config computed
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
Labels: service/sqladmin-cp

#11291 Add support for the management field in ConfigManagement Fleet-level default config
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.erb
Labels: service/gkehub

#11288 Add an example of Composer 3 configuration with network attachment
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#11335 extend data storage_bucket_object with generation
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket_object.go
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object.go
  mmv1/third_party/terraform/website/docs/d/storage_bucket_object.html.markdown
  mmv1/third_party/terraform/website/docs/r/storage_bucket_object.html.markdown
Labels: service/storage

#11303 Add `force_destroy` field to `google_storage_managed_folder`
  mmv1/products/storage/ManagedFolder.yaml
  mmv1/templates/terraform/custom_update/storage_managed_folder.go.erb
  mmv1/templates/terraform/examples/storage_managed_folder_basic.tf.erb
  mmv1/third_party/terraform/services/storage/resource_storage_managed_folder_test.go
Labels: service/storage

#11349 fix data storage_bucket_object with generation
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket_object.go
  mmv1/third_party/terraform/services/storage/data_source_google_storage_bucket_object_test.go
Labels: service/storage

#11344 Don't send labels in POST request to create PSC forwarding rules
  mmv1/products/compute/ForwardingRule.yaml
  mmv1/products/compute/go_ForwardingRule.yaml
  mmv1/templates/terraform/pre_create/compute_forwarding_rule.go.erb
  mmv1/templates/terraform/pre_create/go/compute_forwarding_rule.go.tmpl
  mmv1/third_party/terraform/services/compute/go/resource_compute_forwarding_rule_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_forwarding_rule_test.go.erb
Labels: service/compute-l7-load-balancer

#11347 adding storage.us-central1 as the network connectivity regional endp…
  mmv1/templates/terraform/examples/go/network_connectivity_regional_endpoint_global_access.tf.tmpl
  mmv1/templates/terraform/examples/go/network_connectivity_regional_endpoint_regional_access.tf.tmpl
  mmv1/templates/terraform/examples/network_connectivity_regional_endpoint_global_access.tf.erb
  mmv1/templates/terraform/examples/network_connectivity_regional_endpoint_regional_access.tf.erb
Labels: service/regional-endpoints

#11308 Logging view iam
  mmv1/products/logging/LogView.yaml
Labels: service/logging

#11362 Fixed TestAccWorkbenchInstance_removeGpu
  mmv1/third_party/terraform/services/workbench/go/resource_workbench_instance_test.go
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.erb
Labels: service/notebooks

#11354 Remove resource google_identity_platform_project_default_config
  mmv1/products/identityplatform/ProjectDefaultConfig.yaml
  mmv1/products/identityplatform/go_ProjectDefaultConfig.yaml
  mmv1/templates/terraform/custom_check_destroy/go/identity_platform_project_default_config.go.tmpl
  mmv1/templates/terraform/custom_check_destroy/identity_platform_project_default_config.go.erb
  mmv1/templates/terraform/examples/go/identity_platform_project_default_config.tf.tmpl
  mmv1/templates/terraform/examples/identity_platform_project_default_config.tf.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: override-breaking-change, service/identitytoolkit

#11316 Add project level mute config for SCC v2
  mmv1/products/securitycenterv2/ProjectMuteConfig.yaml
  mmv1/templates/terraform/examples/scc_v2_project_mute_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_project_mute_config_test.go
Labels: service/securitycenter

#11229 Add named binary authorization policy support for cloud run v2 resources
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
Labels: service/run

#11198 Allow server_tls_policy property of compute_target_https_proxy to use update verb
  mmv1/products/compute/TargetHttpsProxy.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_target_https_proxy_test.go.erb
Labels: service/compute-l7-load-balancer

#11331 feat: support Cloud SQL's new field `server_ca_mode`.
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#11322 Make resource have sweepable, unique name in TestAccIntegrationsClient_integrationsClientBasicExample
  mmv1/products/integrations/Client.yaml
  mmv1/products/integrations/go_Client.yaml
  mmv1/templates/terraform/examples/integrations_client_full.tf.erb
Labels: service/integrations

#10881 Organization Source iam
  mmv1/products/securitycenterv2/OrganizationSource.yaml
  mmv1/templates/terraform/examples/scc_v2_organization_source_basic.tf.erb
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/securitycenterv2/iam_scc_v2_organization_source_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_source_test.go
Labels: service/securitycenter

#11374 Promote source_regions field in google_compute_healthcheck to ga
  mmv1/products/compute/HealthCheck.yaml
  mmv1/templates/terraform/examples/compute_health_check_http_source_regions.tf.erb
  mmv1/templates/terraform/examples/compute_health_check_https_source_regions.tf.erb
  mmv1/templates/terraform/examples/compute_health_check_tcp_source_regions.tf.erb
  mmv1/third_party/terraform/services/compute/resource_compute_health_check_test.go.erb
Labels: service/compute-health

#11184 Add update support to serverTlsPolicy field in region_target_https_proxy
  mmv1/products/compute/RegionTargetHttpsProxy.yaml
  mmv1/templates/terraform/encoders/compute_region_target_https_proxy.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_target_https_proxy_test.go.erb
Labels: awaiting-approval, service/compute-l7-load-balancer

#10964 Add Resource SCC V2 Project Nofitification Config
  mmv1/products/securitycenterv2/ProjectNotificationConfig.yaml
  mmv1/templates/terraform/examples/scc_v2_project_notification_config_basic.tf.erb
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_project_notification_config_test.go
Labels: service/securitycenter

#11351 Description update for transferBytes and totalTransferDuration for Netapp Volumes Replication
  mmv1/products/netapp/VolumeReplication.yaml
Labels: service/netapp

#11363 Removed immutable fields from update test
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_data_store_test.go
Labels: service/discoveryengine

#11365 Corrected importstateverifyignore for TestAccProjectService
  mmv1/third_party/terraform/services/resourcemanager/go/resource_google_project_service_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_service_test.go.erb
Labels: service/serviceusage

#11375 Made managed zone test use a random test prefix
  mmv1/products/dns/ManagedZone.yaml
Labels: service/cloud-dns

#11321 Add retaining unchanged alias ip ranges and handle permadiff caused by the change
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#11285 update dcl to 1.70
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.erb
  tpgtools/api/clouddeploy/samples/update_execution_env.target.json
  tpgtools/api/clouddeploy/samples/updatecanaryservicenetworking.delivery_pipeline.json
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/gkehub, service/clouddeploy

#11311 Skip default schema while datastore creation
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/templates/terraform/examples/discoveryengine_datastore_basic.tf.erb
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_data_store_test.go
Labels: service/discoveryengine

#11318 Add deletion_protection to v2 cloud run service resource
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_job_basic.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_job_directvpc.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_job_emptydir.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_job_limits.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_job_run_job.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_job_secret.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_job_sql.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_job_vpcaccess.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_basic.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_custom_audiences.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_directvpc.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_limits.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_mount_gcs.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_mount_nfs.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_multicontainer.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_probes.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_secret.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_sql.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_vpcaccess.tf.erb
  mmv1/templates/terraform/examples/go/cloudrunv2_job_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_job_directvpc.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_job_emptydir.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_job_limits.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_job_run_job.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_job_secret.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_job_sql.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_job_vpcaccess.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_custom_audiences.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_directvpc.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_limits.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_mount_gcs.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_mount_nfs.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_multicontainer.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_probes.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_secret.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_sql.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_service_vpcaccess.tf.tmpl
  mmv1/templates/terraform/pre_delete/cloudrunv2_job_deletion_policy.go.erb
  mmv1/templates/terraform/pre_delete/cloudrunv2_service_deletion_policy.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/data_source_google_cloud_run_v2_job_test.go
  mmv1/third_party/terraform/services/cloudrunv2/data_source_google_cloud_run_v2_service_test.go
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/run

#11323 Add missing permissions to TestAccBigqueryConnectionConnection_bigqueryConnectionKmsExample
  mmv1/templates/terraform/examples/bigquery_connection_kms.tf.erb
Labels: service/bigquery

#11384 Fix typo
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container

#11333 fix permadiff issue in google_cloudfunctions2_function service_config.environment_variables
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/products/cloudfunctions2/go_Function.yaml
  mmv1/templates/terraform/examples/cloudfunctions2_full.tf.erb
Labels: service/cloudfunctions

#11385 Get generated service account name under 28 chars
  mmv1/products/integrations/Client.yaml
Labels: service/integrations

#11359 Add deletion_policy field to Project resource
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_project_test.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_test.go
  mmv1/third_party/terraform/website/docs/r/google_project.html.markdown
Labels: service/cloudresourcemanager-crm

#11376 Updated test configurations to use confidential instances
  mmv1/third_party/terraform/services/container/go/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/go/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container, service/compute-instances

#11361 Corrected category for cloud_run_v2 datasource docs
  mmv1/third_party/terraform/website/docs/d/cloud_run_v2_job.html.markdown
  mmv1/third_party/terraform/website/docs/d/cloud_run_v2_service.html.markdown
Labels: service/run

#11287 functions2 align storage object generation to other storage source attributes
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/templates/terraform/custom_flatten/cloudfunctions2_function_source_generation.go.erb
  mmv1/third_party/terraform/services/cloudfunctions2/resource_cloudfunctions2_function_test.go
Labels: service/cloudfunctions

#11166 Changes to support TDX ConfidentialInstanceType
  mmv1/products/compute/Instance.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#11380 Updated tests to set a current OS / runtime combination
  mmv1/templates/terraform/examples/app_engine_flexible_app_version.tf.erb
  mmv1/templates/terraform/examples/go/app_engine_flexible_app_version.tf.tmpl
  mmv1/templates/terraform/examples/go/region_network_endpoint_group_appengine.tf.tmpl
  mmv1/templates/terraform/examples/region_network_endpoint_group_appengine.tf.erb
Labels: service/compute-networking-neg, service/appengine

#11364 Add a flag to use patch when creating a service networking connection fails
  mmv1/third_party/terraform/services/servicenetworking/resource_service_networking_connection.go
  mmv1/third_party/terraform/services/servicenetworking/resource_service_networking_connection_test.go
  mmv1/third_party/terraform/website/docs/r/service_networking_connection.html.markdown
Labels: service/service-networking

#11337 Add new data source `google_cloud_identity_transitive_group_memberships`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/cloudidentity/data_source_cloud_identity_group_transitive_memberships.go.erb
  mmv1/third_party/terraform/services/cloudidentity/data_source_cloud_identity_group_transitive_memberships_test.go
  mmv1/third_party/terraform/services/cloudidentity/resource_cloud_identity_group_test.go.erb
  mmv1/third_party/terraform/website/docs/d/cloud_identity_group_membership.html.markdown
  mmv1/third_party/terraform/website/docs/d/cloud_identity_transitive_group_membership.html.markdown
Labels: service/cloudidentity-groups

#11397 Update deprecation message for google_project.skip_delete
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project.go
  mmv1/third_party/terraform/website/docs/r/google_project.html.markdown
Labels: service/cloudresourcemanager-crm

#11396 Ignore failing tests for AppEngine and IAP
  mmv1/products/appengine/FlexibleAppVersion.yaml
  mmv1/products/iap/AppEngineService.yaml
  mmv1/third_party/terraform/services/appengine/resource_app_engine_flexible_app_version_test.go.erb
  mmv1/third_party/terraform/services/appengine/resource_app_engine_standard_app_version_test.go
Labels: service/appengine, service/iap

#11208 Add artifact registry locations support
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_locations.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_locations_test.go
  mmv1/third_party/terraform/website/docs/d/artifact_registry_locations.html.markdown
Labels: service/artifactregistry

#11356 Removes `no_age` from `google_storage_bucket` resource.
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#11370 fix: Update bigtable version to 1.28.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/go/go.mod
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_image_test.go
  mmv1/third_party/terraform/services/networkservices/resource_network_services_lb_route_extension_test.go
Labels: service/artifactregistry, service/appengine

#10190 Change load_balancer_type to optional in dns_record_set resource
  mmv1/third_party/terraform/services/dns/resource_dns_record_set.go
  mmv1/third_party/terraform/services/dns/resource_dns_record_set_test.go.erb
  mmv1/third_party/terraform/website/docs/r/dns_record_set.html.markdown
Labels: service/cloud-dns

#11404 Revert "Add send_age_if_zero field and deprecate no_age. (#11098)"
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: override-breaking-change, service/storage

#11346 Add Resource SCC V2 Folder Nofitification Config
  mmv1/products/securitycenterv2/FolderNotificationConfig.yaml
  mmv1/templates/terraform/examples/scc_v2_folder_notification_config_basic.tf.erb
  mmv1/templates/terraform/post_import/scc_v2_folder_notification_config.go.erb
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_folder_notification_config_test.go
Labels: service/securitycenter

#11367 Add Resource SCC V1 Folder Nofitification Config
  mmv1/products/securitycenter/FolderNotificationConfig.yaml
  mmv1/templates/terraform/examples/scc_folder_notification_config_basic.tf.erb
  mmv1/templates/terraform/post_import/scc_v1_folder_notification_config.go.erb
  mmv1/third_party/terraform/services/securitycenter/resource_scc_folder_notification_config_test.go
Labels: service/securitycenter

#11403 Add generic option to distribution field
  mmv1/products/containerattached/Cluster.yaml
Labels: service/gkemulticloud

#10274 Remove relay_mode field support
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: override-breaking-change, service/container

#11039 `vertex_ai`: add `google_vertex_ai_index_endpoint_deployed_index` resource
  mmv1/products/vertexai/IndexEndpointDeployedIndex.yaml
  mmv1/templates/terraform/custom_import/vertex_ai_index_endpoint_deployed_index.go.erb
  mmv1/templates/terraform/decoders/vertex_ai_index_endpoint_deployed_index.go.erb
  mmv1/templates/terraform/encoders/vertex_ai_index_endpoint_deployed_index.go.erb
  mmv1/templates/terraform/examples/vertex_ai_index_endpoint_deployed_index_automatic_resources.tf.erb
  mmv1/templates/terraform/examples/vertex_ai_index_endpoint_deployed_index_basic.tf.erb
  mmv1/templates/terraform/examples/vertex_ai_index_endpoint_deployed_index_basic_two.tf.erb
  mmv1/templates/terraform/examples/vertex_ai_index_endpoint_deployed_index_dedicated_resources.tf.erb
  mmv1/templates/terraform/pre_delete/vertex_ai_index_endpoint_deployed_index.go.erb
  mmv1/templates/terraform/update_encoder/vertex_ai_index_endpoint_deployed_index.go.erb
  mmv1/third_party/terraform/services/vertexai/resource_vertex_ai_index_endpoint_deployed_index_test.go
Labels: service/aiplatform-matching-engine

#11411 Update Managed Kafka service name
  mmv1/products/managedkafka/Cluster.yaml
  mmv1/products/managedkafka/Topic.yaml
  mmv1/products/managedkafka/go_Cluster.yaml
  mmv1/products/managedkafka/go_Topic.yaml
Labels: service/managedkafka

#11320 Apply new labels model to container cluster and edgenetwork resources
  mmv1/api/type.rb
  mmv1/products/edgenetwork/Network.yaml
  mmv1/products/edgenetwork/Subnet.yaml
  mmv1/third_party/terraform/services/container/data_source_google_container_cluster.go
  mmv1/third_party/terraform/services/container/data_source_google_container_cluster_test.go
  mmv1/third_party/terraform/services/container/go/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/tpgresource/labels.go
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: override-breaking-change, service/container, service/edgenetwork

#11409 Remove default_from_api from certificateId field
  mmv1/products/compute/ManagedSslCertificate.yaml
Labels: override-breaking-change, service/certificatemanager

#11393 Remove allow_resource_tags_on_deletion from google_bigquery_table
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: override-breaking-change, service/bigquery

#10671 Dispatch MM unit test workflows based on modular-magician downstream SHAs
  .ci/magician/cmd/generate_downstream.go
  .ci/magician/cmd/test_tgc.go
  .ci/magician/cmd/test_tgc_test.go
  .ci/magician/cmd/test_tpg.go
  .ci/magician/cmd/test_tpg_test.go
  .github/workflows/test-tgc.yml
  .github/workflows/test-tpg.yml
Labels: service/apigee

#11153 Prevent Dataflow options in parameters
  mmv1/third_party/terraform/services/dataflow/go/resource_dataflow_flex_template_job.go.tmpl
  mmv1/third_party/terraform/services/dataflow/go/resource_dataflow_flex_template_job_test.go.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job.go.erb
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.erb
Labels: service/dataflow

#11412 Fix subnet documentation for Managed Kafka
  mmv1/products/managedkafka/Cluster.yaml
Labels: service/managedkafka

#11402 Upgrade DCL to 1.71.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  tpgtools/api/clouddeploy/samples/updatecanary.delivery_pipeline.json
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/clouddeploy

#11225 Set disbaleSsh default value to true for workstation create
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: override-breaking-change, service/workstations

#11408 Ignore `trace_id` in the request
  mmv1/products/cloudquotas/QuotaPreference.yaml
  mmv1/templates/terraform/custom_expand/cloudquotas_quota_preference_trace_id.go.erb
  mmv1/third_party/terraform/services/cloudquotas/resource_cloud_quotas_quota_preference_test.go
Labels: service/serviceusage-quota

#11425 Prepare removal of guest_accelerator ConfigModeAttr
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/container, service/compute-instances

#11427 Fixes tests TestAccDataSourceGoogleFirebaseAndroidAppConfig
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_android_app_config_test.go.erb
  mmv1/third_party/terraform/services/firebase/go/data_source_google_firebase_android_app_config_test.go.tmpl
Labels: service/firebase

#11387 Promote Firestore database cmek support to GA
  mmv1/products/firestore/Database.yaml
  mmv1/templates/terraform/examples/firestore_cmek_database.tf.erb
  mmv1/templates/terraform/examples/firestore_cmek_database_in_datastore_mode.tf.erb
Labels: service/firestore-controlplane

#11419 Run CryptoKey key_access_justification test only in beta
  mmv1/third_party/terraform/services/kms/resource_kms_crypto_key_test.go.erb
Labels: service/cloudkms

#11433 Fix broken TestAccDataflowFlexTemplateJob_withKmsKey
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.erb
Labels: service/dataflow

#11429 Add handwritten sweeper for google_data_loss_prevention_discovery_config
  mmv1/products/dlp/DiscoveryConfig.yaml
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_sweeper.go
Labels: service/dlp

#11394 Fix Datastream private connection resource destruction
  mmv1/products/datastream/PrivateConnection.yaml
  mmv1/templates/terraform/pre_delete/private_connection.go.erb
Labels: service/datastream

#11407 Fix metadata drifting on workbench instances
  mmv1/templates/terraform/constants/workbench_instance.go
Labels: service/notebooks

#11352 fix(hashicorp/terraform-provider-google#11218): Added logic for mergi…
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/bigquery/iam_bigquery_member_dataset.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_iam_member_test.go
Labels: service/bigquery

#11410 add send_secondary_ip_range_if_empty
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/constants/subnetwork.erb
  mmv1/templates/terraform/post_update/compute_subnetwork.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_subnetwork_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/compute-vpc

#11018 Add schema resource
  mmv1/products/discoveryengine/Schema.yaml
  mmv1/templates/terraform/custom_flatten/discoveryengine_schema_json_schema.go.erb
  mmv1/templates/terraform/examples/discoveryengine_schema_basic.tf.erb
Labels: service/discoveryengine

#11430 logging_project_bucket_config: support "no preference" for enable_analytics setting.
  mmv1/third_party/terraform/services/logging/resource_logging_project_bucket_config.go
Labels: service/logging

#11434 Fix tgc unit test
  mmv1/third_party/cai2hcl/services/resourcemanager/testdata/project_create.tf
Labels: service/cloudresourcemanager-crm

#11421 validate filter length doesn't exceed 256 bytes in subscription
  mmv1/products/pubsub/Subscription.yaml
  mmv1/products/pubsub/go_Subscription.yaml
Labels: service/pubsub

#11378 feat: Add IAM resources for KMS EKM Connection
  mmv1/products/kms/EkmConnection.yaml
  mmv1/third_party/terraform/services/kms/resource_kms_ekm_connection_test.go
Labels: service/cloudkms

#11418 Fixed test failures due to incorrect GKE versions
  mmv1/third_party/terraform/services/container/go/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/d/container_engine_versions.html.markdown
Labels: service/container

#11395 Fix condition in forceNewIfNetworkIPNotUpdatableFunc
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#11437 Add EXTENDED as an option for release_channel in google_container_cluster
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11444 alloydb: make psc_instance_config O+C in google_alloydb_instance
  mmv1/products/alloydb/Instance.yaml
  mmv1/templates/terraform/examples/alloydb_instance_psc_test.tf.erb
Labels: service/alloydb

#11450 remove deprecated integration client fields
  mmv1/products/integrations/Client.yaml
  mmv1/templates/terraform/examples/integrations_client_deprecated_fields.tf.erb
  mmv1/third_party/terraform/services/integrations/resource_integrations_auth_config_test.go
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: override-breaking-change, service/integrations

#10897 Breaking change - Add integration for subnetworks with internal ranges API
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/examples/subnetwork_reserved_internal_range.tf.erb
  mmv1/templates/terraform/examples/subnetwork_reserved_secondary_range.tf.erb
Labels: service/compute-vpc

#11448 reduce name prefix in compute resources
  mmv1/products/compute/RegionSslCertificate.yaml
  mmv1/products/compute/SslCertificate.yaml
  mmv1/templates/terraform/custom_expand/name_or_name_prefix.go.erb
  mmv1/templates/terraform/encoders/workflow.go.erb
  mmv1/templates/terraform/extra_schema_entry/ssl_certificate.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/tpgresource/utils.go
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances, service/certificatemanager, service/workflows

#11398 docs: fix inaccurate docs for Cloud Run environment variables
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
Labels: service/run

#11405 Remove mentions of conditions support from google_bigquery_table_iam
  mmv1/products/bigquery/Table.yaml
Labels: service/bigquery

#11422 Update reserved_ip_range for testAccFilestoreInstance_reservedIpRange…
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
Labels: service/filestore

#11457 Remove references to deprecated `google_datastore_index` feature.
  mmv1/products/datastore/Index.yaml
  mmv1/products/datastore/go_Index.yaml
  mmv1/products/datastore/go_product.yaml
  mmv1/products/datastore/product.yaml
  mmv1/templates/terraform/examples/datastore_index.tf.erb
  mmv1/templates/terraform/examples/go/datastore_index.tf.tmpl
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  tools/issue-labeler/labeler/enrolled_teams.yml
Labels: override-breaking-change

#11443 Add missing 'global' to serverTlsPolicy update_url on `google_compute_target_https_proxy`
  mmv1/products/compute/TargetHttpsProxy.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_target_https_proxy_test.go.erb
Labels: service/compute-l7-load-balancer

#11462 Remove project dependency from TestAccApikeysKey_*
  tpgtools/api/apikeys/samples/android.key.json
  tpgtools/api/apikeys/samples/android_key.yaml
  tpgtools/api/apikeys/samples/android_update.key.json
  tpgtools/api/apikeys/samples/apikeys.serviceusage.service.json
  tpgtools/api/apikeys/samples/basic.cloudbilling.project_billing_info.json
  tpgtools/api/apikeys/samples/basic.cloudresourcemanager.project.json
  tpgtools/api/apikeys/samples/basic.key.json
  tpgtools/api/apikeys/samples/basic_key.yaml
  tpgtools/api/apikeys/samples/ios.key.json
  tpgtools/api/apikeys/samples/ios_key.yaml
  tpgtools/api/apikeys/samples/ios_update.key.json
  tpgtools/api/apikeys/samples/minimal.key.json
  tpgtools/api/apikeys/samples/minimal_key.yaml
  tpgtools/api/apikeys/samples/server.key.json
  tpgtools/api/apikeys/samples/server_key.yaml
  tpgtools/api/apikeys/samples/server_update.key.json
  tpgtools/api/apikeys/samples/update.key.json
Labels: service/apikeys

#11431 Add send_age_if_zero field and deprecate no_age
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_600_migration.go
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#11471 add state upgrader to set send_age_if_zero virtual field default to false
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_600_migration.go
Labels: service/storage

#10367 Add DeletionProtectionEnabled to Redis Cluster
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/examples/redis_cluster_ha.tf.erb
  mmv1/templates/terraform/examples/redis_cluster_ha_single_zone.tf.erb
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.erb
Labels: service/redis-cluster

#11454 Adds the IdleTimeout parameter to the RouteAction section of the TcpRoute resource.
  mmv1/products/networkservices/TcpRoute.yaml
  mmv1/templates/terraform/examples/network_services_tcp_route_actions.tf.erb
  mmv1/third_party/terraform/services/networkservices/resource_network_services_tcp_route_test.go.erb
Labels: service/networkservices-traffic-director

#11460 Remove network in google_alloydb_cluster
  mmv1/products/alloydb/Cluster.yaml
  mmv1/templates/terraform/examples/alloydb_backup_basic_test.tf.erb
  mmv1/templates/terraform/examples/alloydb_backup_full_test.tf.erb
  mmv1/templates/terraform/examples/alloydb_cluster_restore.tf.erb
  mmv1/templates/terraform/examples/alloydb_instance_basic_test.tf.erb
  mmv1/templates/terraform/examples/alloydb_secondary_cluster_basic.tf.erb
  mmv1/templates/terraform/examples/alloydb_secondary_cluster_basic_test.tf.erb
  mmv1/templates/terraform/examples/alloydb_secondary_instance_basic.tf.erb
  mmv1/templates/terraform/examples/alloydb_secondary_instance_basic_test.tf.erb
  mmv1/templates/terraform/examples/alloydb_user_builtin.tf.erb
  mmv1/templates/terraform/examples/alloydb_user_builtin_test.tf.erb
  mmv1/templates/terraform/examples/alloydb_user_iam.tf.erb
  mmv1/templates/terraform/examples/alloydb_user_iam_test.tf.erb
  mmv1/templates/terraform/examples/go/alloydb_backup_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_backup_full_test.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_cluster_restore.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_instance_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_secondary_cluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_secondary_cluster_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_secondary_instance_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_secondary_instance_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_user_builtin.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_user_builtin_test.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_user_iam.tf.tmpl
  mmv1/templates/terraform/examples/go/alloydb_user_iam_test.tf.tmpl
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_backup_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_restore_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_secondary_cluster_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_secondary_instance_test.go
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_user_test.go
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/tgc/tests/data/example_alloydb_instance.tf
Labels: service/alloydb

#11428 Add Resource for V2 SCC Findings Exports to Big Query Organization Config
  mmv1/products/securitycenterv2/OrganizationSccBigQueryExports.yaml
  mmv1/templates/terraform/examples/scc_v2_organization_big_query_export_config_basic.tf.erb
  mmv1/templates/terraform/post_import/scc_v2_organization_big_query_export_config.go.erb
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_big_query_export_config_test.go
Labels: service/securitycenter

#11373 fixed firewall endpoint association example
  mmv1/products/networksecurity/FirewallEndpointAssociation.yaml
  mmv1/templates/terraform/examples/network_security_firewall_endpoint_association_basic.tf.erb
Labels: service/network-security-distributed-firewall

#11439 Enable goog-terraform-provisioned provider label
  .ci/gcb-generate-diffs-new.yml
  mmv1/api/resource.rb
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/products/compute/ForwardingRule.yaml
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/products/compute/NetworkPeeringRoutesConfig.yaml
  mmv1/products/dataplex/Datascan.yaml
  mmv1/products/dataplex/Task.yaml
  mmv1/products/edgecontainer/Cluster.yaml
  mmv1/products/kms/AutokeyConfig.yaml
  mmv1/products/kms/KeyHandle.yaml
  mmv1/products/networksecurity/ClientTlsPolicy.yaml
  mmv1/products/vertexai/FeatureOnlineStore.yaml
  mmv1/products/vertexai/FeatureOnlineStoreFeatureview.yaml
  mmv1/third_party/terraform/acctest/test_utils.go.erb
  mmv1/third_party/terraform/acctest/vcr_utils.go
  mmv1/third_party/terraform/provider/provider.go.erb
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_image_test.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go
  mmv1/third_party/terraform/services/bigquerydatatransfer/resource_bigquery_data_transfer_config_test.go
  mmv1/third_party/terraform/services/clouddeploy/resource_clouddeploy_target_test.go
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.erb
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_address_test.go
  mmv1/third_party/terraform/services/container/data_source_google_container_cluster_test.go
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_client_tls_policy_test.go.erb
  mmv1/third_party/terraform/services/networkservices/resource_network_services_lb_route_extension_test.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_test.go
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secrets_test.go
  mmv1/third_party/terraform/services/vertexai/resource_vertex_ai_index_endpoint_test.go
  mmv1/third_party/terraform/tpgresource/labels.go
  mmv1/third_party/terraform/website/docs/guides/provider_reference.html.markdown
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/terraform

#11480 Support Undelete for Vmwareengine Private Cloud
  mmv1/products/vmwareengine/PrivateCloud.yaml
  mmv1/templates/terraform/constants/vmwareengine_private_cloud.go.erb
  mmv1/templates/terraform/post_delete/private_cloud.go.erb
  mmv1/templates/terraform/pre_create/vmwareengine_private_cloud.go.erb
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_test.go
Labels: service/vmwareengine

#11485 Revert "Prevent Dataflow options in parameters"
  mmv1/third_party/terraform/services/dataflow/go/resource_dataflow_flex_template_job.go.tmpl
  mmv1/third_party/terraform/services/dataflow/go/resource_dataflow_flex_template_job_test.go.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job.go.erb
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.erb
Labels: service/dataflow

#11504 Promoted labelFingerprint field to GA
  mmv1/products/compute/GlobalAddress.yaml
  mmv1/third_party/terraform/acctest/resource_test_utils.go
  mmv1/third_party/terraform/services/compute/resource_compute_global_address_test.go.erb
Labels: service/compute-ipam

#11469 Fix test `TestAccSecurityCenterManagementOrganizationEventThreatDetectionCustomModule`
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_folder_security_health_analytics_custom_module_test.go
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_event_threat_detection_custom_module_test.go
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_project_security_health_analytics_custom_module_test.go
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_security_health_analytics_custom_module_test.go
Labels: service/securitycenter

#11506 Remove SchemaConfigModeAttr
  docs/content/develop/breaking-changes/breaking-changes.md
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/schema_property.erb
  mmv1/templates/terraform/schema_property.go.tmpl
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_subnetwork_test.go.erb
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/terraform

#11513 Sync main feature branch 6.0.0 - 8/21
  mmv1/products/compute/GlobalAddress.yaml
  mmv1/products/vmwareengine/PrivateCloud.yaml
  mmv1/templates/terraform/constants/vmwareengine_private_cloud.go.erb
  mmv1/templates/terraform/post_delete/private_cloud.go.erb
  mmv1/templates/terraform/pre_create/vmwareengine_private_cloud.go.erb
  mmv1/third_party/terraform/acctest/resource_test_utils.go
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_global_address_test.go.erb
  mmv1/third_party/terraform/services/dataflow/go/resource_dataflow_flex_template_job.go.tmpl
  mmv1/third_party/terraform/services/dataflow/go/resource_dataflow_flex_template_job_test.go.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job.go.erb
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.erb
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_folder_security_health_analytics_custom_module_test.go
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_event_threat_detection_custom_module_test.go
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_project_security_health_analytics_custom_module_test.go
  mmv1/third_party/terraform/services/securitycentermanagement/resource_scc_management_organization_security_health_analytics_custom_module_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_test.go
Labels: service/terraform

#11522 Fix 6.0-related VCR failures and skip previously failing ones
  mmv1/products/networksecurity/ServerTlsPolicy.yaml
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_rule_test.go.erb
  mmv1/third_party/terraform/services/container/data_source_google_container_cluster_test.go
  mmv1/third_party/terraform/services/dataform/resource_dataform_repository_test.go.erb
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.erb
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_membership_binding_test.go
  mmv1/third_party/terraform/services/kms/resource_kms_crypto_key_test.go.erb
  mmv1/third_party/terraform/services/securitycenter/resource_scc_folder_notification_config_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_folder_notification_config_test.go
Labels: service/terraform

#11514 container: add oauth scope to private registry test
  mmv1/third_party/terraform/services/container/go/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
Labels: service/container

#11518 Add Confidential Computing examples to google_compute_instance and google_compute_instance_template resources
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
Labels: service/compute-instances

#11533 Fix TestAccSecurityCenterV2OrganizationBigQueryExportConfig_basic
  mmv1/products/securitycenterv2/OrganizationSccBigQueryExports.yaml
  mmv1/templates/terraform/examples/scc_v2_organization_big_query_export_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_big_query_export_config_test.go
Labels: service/securitycenter

#11496 Improve handling when enabling/disabling server TLS policy in global target HTTPS proxies
  mmv1/products/compute/TargetHttpsProxy.yaml
  mmv1/templates/terraform/encoders/compute_target_https_proxy.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_target_https_proxy_test.go.erb
Labels: service/compute-l7-load-balancer

#11466 fix overwriting of `name` field for IAM Group user in resourceSqlUserRead method
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
Labels: service/sqladmin-infra

#11528 Fix documentation for data rentention configuration
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#11455 `KMS`: add `google_kms_crypto_key_versions` data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/kms/data_source_google_kms_crypto_key_versions.go
  mmv1/third_party/terraform/services/kms/data_source_google_kms_crypto_key_versions_test.go
  mmv1/third_party/terraform/website/docs/d/kms_crypto_key_versions.html.markdown
Labels: service/cloudkms

#11509 fix 404 links
  mmv1/third_party/terraform/website/docs/r/cloudbuild_worker_pool.html.markdown
  mmv1/third_party/terraform/website/docs/r/dataproc_workflow_template.html.markdown
Labels: service/dataproc, service/cloudbuild

#11523 google_sql_user: Fixed import where host is an IPv4 CIDR
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
Labels: service/sqladmin-infra

#11067 Add data clean rooms support
  mmv1/products/bigqueryanalyticshub/DataExchange.yaml
  mmv1/products/bigqueryanalyticshub/Listing.yaml
  mmv1/templates/terraform/examples/bigquery_analyticshub_data_exchange_dcr.tf.erb
  mmv1/templates/terraform/examples/bigquery_analyticshub_listing_dcr.tf.erb
Labels: service/bigquery, disable-review-reminders

#11500 initial fix
  mmv1/third_party/terraform/services/container/go/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/go/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
Labels: service/container

#11456 `KMS`: add `google_kms_crypto_key_latest_version` data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/kms/data_source_google_kms_crypto_key_latest_version.go
  mmv1/third_party/terraform/services/kms/data_source_google_kms_crypto_key_latest_version_test.go
  mmv1/third_party/terraform/services/kms/data_source_google_kms_crypto_key_versions.go
  mmv1/third_party/terraform/website/docs/d/kms_crypto_key_latest_version.html.markdown
  mmv1/third_party/terraform/website/docs/d/kms_crypto_key_versions.html.markdown
Labels: service/cloudkms

#11544 Add http_target field to google_cloud_tasks_queue
  mmv1/products/cloudtasks/Queue.yaml
  mmv1/templates/terraform/examples/cloud_tasks_queue_http_target_oauth.tf.erb
  mmv1/templates/terraform/examples/cloud_tasks_queue_http_target_oidc.tf.erb
  mmv1/third_party/terraform/services/cloudtasks/resource_cloud_tasks_queue_test.go.erb
Labels: service/cloudtasks

#11546 Update compute_instance_group_manager version doc
  mmv1/third_party/terraform/website/docs/r/compute_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#11492 Update data_source_artifact_registry_docker_image_test.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_image_test.go
Labels: service/artifactregistry

#11438 Fix google_bigquery_data_transfer salesforce test parameter values
  mmv1/templates/terraform/examples/bigquerydatatransfer_config_salesforce.tf.erb
  mmv1/third_party/terraform/services/bigquerydatatransfer/resource_bigquery_data_transfer_config_test.go
Labels: service/bigquery

#11459 Add the source-regions examples to the HealthCheck yaml file.
  mmv1/products/compute/HealthCheck.yaml
Labels: service/compute-health

#11477 Handle email casing in google_bigquery_dataset_access
  mmv1/products/bigquery/DatasetAccess.yaml
  mmv1/templates/terraform/constants/bigquery_dataset_access.go.erb
  mmv1/templates/terraform/custom_expand/string_to_lower_case.go.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_access_test.go
Labels: service/bigquery

#11494 ResourceManager : Update error messages for resource `google_project_services` in google-beta
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_service.go.erb
Labels: service/serviceusage

#11508 fix typo in compute_instance
  mmv1/third_party/terraform/website/docs/d/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: awaiting-approval

#11207 TF changes for AlloyDB Free trials
  mmv1/products/alloydb/Cluster.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_test.go
Labels: service/alloydb

#11549 Remove require_ssl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: override-breaking-change, service/sqladmin-cp

#11478 `BigQuery`: support `encryptionConfiguration` in `google_bigquery_data_transfer_config`
  mmv1/.ruby-version
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/templates/terraform/examples/bigquerydatatransfer_config_cmek.tf.erb
  mmv1/third_party/terraform/services/bigquerydatatransfer/resource_bigquery_data_transfer_config_test.go
Labels: service/bigquery

#11536 added test covereage for SslPolicy in google_compute_target_https_proxy
  mmv1/third_party/terraform/services/compute/resource_compute_target_https_proxy_test.go.erb
Labels: service/compute-l7-load-balancer

#11498 docs: add a missing quote for `google_project_iam_member_remove` example
  mmv1/third_party/terraform/website/docs/r/google_project_iam_member_remove.html.markdown
Labels: service/cloudresourcemanager-crm

#11436 [discoveryengine] Added `chunking_config` and `layout_parsing_config` fields to google_discovery_engine_data_store resource
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/templates/terraform/examples/discoveryengine_datastore_document_processing_config_layout.tf.erb
Labels: service/discoveryengine

#11548 Update docs for `google_compute_firewall` resource - Remove quotes for numbers in the list
  mmv1/products/compute/Firewall.yaml
Labels: service/network-security-distributed-firewall

#11507 Add InspectTemplateModifiedCadence to BigQueryTarget and CloudSqlTarg…
  mmv1/products/dlp/DiscoveryConfig.yaml
  mmv1/templates/terraform/examples/dlp_discovery_config_actions.tf.erb
  mmv1/templates/terraform/examples/dlp_discovery_config_conditions_cadence.tf.erb
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_test.go
Labels: service/dlp

#11556 `pubsub`: allow empty filter definition
  mmv1/products/pubsub/Subscription.yaml
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#11467 Adding manual sweepers for resources in netapp
  mmv1/products/netapp/Backup.yaml
  mmv1/products/netapp/VolumeSnapshot.yaml
  mmv1/products/netapp/activeDirectory.yaml
  mmv1/products/netapp/backupPolicy.yaml
  mmv1/products/netapp/backupVault.yaml
  mmv1/products/netapp/kmsconfig.yaml
  mmv1/products/netapp/storagePool.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_active_directory_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_policy_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_vault_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_kmsconfig_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_snapshot_sweeper.go
Labels: service/netapp

#11468 Terraform Support for Secret Manager CSI addon GA Version
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11540 Made virtual fields get generated with the same template as non-virtual fields
  mmv1/api/resource.go
  mmv1/api/resource.rb
  mmv1/api/type.go
  mmv1/api/type.rb
  mmv1/products/alloydb/Cluster.yaml
  mmv1/products/alloydb/go_Cluster.yaml
  mmv1/products/compute/PerInstanceConfig.yaml
  mmv1/products/compute/RegionPerInstanceConfig.yaml
  mmv1/products/compute/go_PerInstanceConfig.yaml
  mmv1/products/compute/go_RegionPerInstanceConfig.yaml
  mmv1/products/containerattached/Cluster.yaml
  mmv1/products/containerattached/go_Cluster.yaml
  mmv1/products/datastream/Stream.yaml
  mmv1/products/datastream/go_Stream.yaml
  mmv1/products/firebase/AndroidApp.yaml
  mmv1/products/firebase/AppleApp.yaml
  mmv1/products/firebase/WebApp.yaml
  mmv1/products/firebase/go_AndroidApp.yaml
  mmv1/products/firebase/go_AppleApp.yaml
  mmv1/products/firebase/go_WebApp.yaml
  mmv1/products/firebasedatabase/Instance.yaml
  mmv1/products/firebasedatabase/go_Instance.yaml
  mmv1/products/firestore/Database.yaml
  mmv1/products/firestore/go_Database.yaml
  mmv1/products/netapp/go_Volume.yaml
  mmv1/products/netapp/volume.yaml
  mmv1/products/notebooks/Instance.yaml
  mmv1/products/notebooks/go_Instance.yaml
  mmv1/products/privateca/CertificateAuthority.yaml
  mmv1/products/privateca/go_CertificateAuthority.yaml
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/products/workbench/Instance.yaml
  mmv1/products/workbench/go_Instance.yaml
  mmv1/provider/terraform.rb
  mmv1/templates/terraform/resource.erb
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/terraform

#11484 Support creating Database Migration Service connection profiles connected to existing Cloud SQL and AlloyDB instances
  mmv1/products/databasemigrationservice/ConnectionProfile.yaml
  mmv1/templates/terraform/examples/database_migration_service_connection_profile_existing_alloydb.tf.erb
  mmv1/templates/terraform/examples/database_migration_service_connection_profile_existing_mysql.tf.erb
  mmv1/templates/terraform/examples/database_migration_service_connection_profile_existing_postgres.tf.erb
Labels: service/datamigration

#11511 Adding accelerators[] for NodeTemplate
  mmv1/products/compute/NodeTemplate.yaml
  mmv1/templates/terraform/examples/node_template_accelerators.tf.erb
Labels: service/compute-sole-tenancy

#11547 Promote Client Tls Policy to V1
  mmv1/products/networksecurity/ClientTlsPolicy.yaml
  mmv1/templates/terraform/examples/network_security_client_tls_policy_advanced.tf.erb
  mmv1/templates/terraform/examples/network_security_client_tls_policy_basic.tf.erb
Labels: service/network-security

#11453 Mark VcrTest() as a test helper function
  mmv1/third_party/terraform/acctest/vcr_utils.go
Labels: disable-review-reminders

#11252 Add type support
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table_test.go
  mmv1/third_party/terraform/website/docs/r/bigtable_table.html.markdown
Labels: service/bigtableadmin

#11534 Add Resource V2 SCC Findings Export to BQ Project Config
  mmv1/products/securitycenterv2/ProjectSccBigQueryExports.yaml
  mmv1/templates/terraform/examples/scc_v2_project_big_query_export_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_project_big_query_export_config_test.go
Labels: service/securitycenter

#11272 container: add support for kubelet read only port
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11545 container: bump `additive_vpc_scope_dns_domain` to GA
  mmv1/third_party/terraform/services/container/go/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/go/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11566 Composer 3 documentation update. Change Private IP networking field name
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer
