Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-01, with the labels that each got.

#9653 Software and workloads configs
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#9612 [#16356] Add support for resource manager tags for google_compute_instance_template
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#9435 mutate vsphere_config and add host_groups
  mmv1/products/gkeonprem/VmwareNodePool.yaml
  mmv1/templates/terraform/examples/gkeonprem_vmware_node_pool_full.tf.erb
  mmv1/third_party/terraform/services/gkeonprem/resource_gkeonprem_vmware_node_pool_test.go.erb
Labels: service/gkeonprem

#9748 [#11433] Update google_compute_instance description in place
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#9599 Add ExternalAccessRule to Vmwareengine
  mmv1/products/vmwareengine/ExternalAccessRule.yaml
  mmv1/templates/terraform/examples/vmware_engine_external_access_rule_basic.tf.erb
  mmv1/templates/terraform/examples/vmware_engine_external_access_rule_full.tf.erb
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/vmwareengine/data_source_google_vmwareengine_external_access_rule.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_external_access_rule_test.go
  mmv1/third_party/terraform/website/docs/d/vmwareengine_external_access_rule.html.markdown
Labels: service/vmwareengine

#9739 Upgrade DCL to v1.60.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.erb
  mmv1/third_party/terraform/website/docs/r/gke_hub_feature_membership.html.markdown
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/gkehub, service/orgpolicy, service/gkemulticloud

#9639 make scheduler_service_account_email o+c
  mmv1/products/datapipeline/Pipeline.yaml
Labels: service/dataflow

#9666 Adding md5auth key to bgp router peer
  mmv1/third_party/terraform/services/compute/resource_compute_router_bgp_peer_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.erb
  output.log
Labels: service/compute-router

#9770 docs: Fix user_env_vars string limit
  mmv1/products/workflows/Workflow.yaml
Labels: service/workflows

#9727 Add error handling for ALREADY_EXISTS in IAM CreateServiceAccount call
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account_test.go
  mmv1/third_party/terraform/website/docs/r/google_service_account.html.markdown
Labels: service/iam-serviceaccount

#9768 promoting label fingerprint field for VPNTunnel resource to GA
  mmv1/products/compute/VpnTunnel.yaml
Labels: service/compute-vpn

#9684 chore: do not show sensitive certificate details in Terraform cmd out…
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/services/sql/resource_sql_ssl_cert.go
Labels: service/sqladmin

#9740 Allow users to update google_compute_instance resource_manager_tags in place
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#9765 Added abandon policy
  mmv1/third_party/terraform/services/servicenetworking/resource_service_networking_connection.go
  mmv1/third_party/terraform/services/servicenetworking/resource_service_networking_connection_test.go
  mmv1/third_party/terraform/website/docs/r/service_networking_connection.html.markdown
Labels: service/service-networking

#9798 Accept the AlloyDB cluster database version as an input
  mmv1/products/alloydb/Cluster.yaml
  mmv1/templates/terraform/examples/alloydb_cluster_full.tf.erb
Labels: service/alloydb

#9789 Promote enable_confidential_compute for disks to v1.
  mmv1/products/compute/Disk.yaml
  mmv1/products/compute/Instance.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances, service/compute-pd

#9728 Add support for NFS and GCS mounts in Cloud Run v2 service
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_service_mount_gcs.tf.erb
  mmv1/templates/terraform/examples/cloudrunv2_service_mount_nfs.tf.erb
Labels: service/run

#9807 Upgrade DCL to 1.61.0
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/orgpolicy

#9513 Added volume module for Google Cloud NetApp Volume
  mmv1/products/netapp/volume.yaml
  mmv1/templates/terraform/examples/volume_basic.tf.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#9682 Discovery Engine Data Store
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/products/discoveryengine/product.yaml
  mmv1/templates/terraform/examples/discoveryengine_datastore_basic.tf.erb
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_data_store_test.go
Labels: service/discoveryengine

#9697 In-place update `labels` and `terraform_labels` fields in immutable resources
  mmv1/api/resource.rb
  mmv1/api/type.rb
  mmv1/provider/terraform.rb
  mmv1/templates/terraform/resource.erb
  mmv1/templates/terraform/resource.html.markdown.erb
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_job.go.erb
  tpgtools/property.go
  tpgtools/resource.go
  tpgtools/templates/resource.go.tmpl
Labels: service/datastream, service/beyondcorp, service/bigquery, service/aiplatform-prediction, service/datamigration, service/certificatemanager, service/edgecontainer, service/policy-based-routing, service/tpu

#9824 Add `disable_tcp_connections` to `google_workstations_workstation_config`
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.erb
Labels: service/workstations

#9823 Add support for enableHistoryModifications in FHIR Stores
  mmv1/products/healthcare/FhirStore.yaml
  mmv1/templates/terraform/examples/healthcare_fhir_store_notification_configs.tf.erb
  mmv1/third_party/terraform/services/healthcare/resource_healthcare_fhir_store_test.go.erb
Labels: service/healthcare

#9773 Support replica materialized view in resource_bigquery_table in the beta provider
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go.erb
Labels: service/bigquery

#9793 Add support for Stored Procedure for Apache Spark
  mmv1/products/bigquery/Routine.yaml
  mmv1/templates/terraform/examples/big_query_routine_pyspark.tf.erb
  mmv1/templates/terraform/examples/big_query_routine_pyspark_mainfile.tf.erb
  mmv1/templates/terraform/examples/big_query_routine_spark_jar.tf.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_routine_test.go
Labels: service/bigquery

#9689 New fields: enable_private_environment, enable_private_builds_only
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#9771 Fix issue due to Secure Web Proxy recreation due to not setting addresses field
  mmv1/products/networkservices/Gateway.yaml
  mmv1/third_party/terraform/services/networkservices/resource_network_services_gateway_test.go
Labels: service/networkservices-traffic-director

#9752 Add support for gcsfuse volumes to cloudrun v1 in beta
  mmv1/products/cloudrun/Service.yaml
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.erb
Labels: service/run

#9821 Add Cloud Composer Support for Logs in Cloud Logging Only feature
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.erb
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.erb
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#9825 Promote the call_log_level attribute to GA and update tests.
  mmv1/products/workflows/Workflow.yaml
  mmv1/templates/terraform/examples/workflow_basic.tf.erb
  mmv1/third_party/terraform/services/workflows/resource_workflows_workflow_test.go.erb
Labels: service/workflows

#9820 Make the `destination.cloud_function` field on google_eventarc_trigger output only, update field description in docs
  tpgtools/overrides/eventarc/beta/trigger.yaml
  tpgtools/overrides/eventarc/trigger.yaml
Labels: override-breaking-change, service/eventarc

#9528 add `enabled` boolean field to ``compute_backend_service.iap` resource
  mmv1/products/compute/BackendService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.erb
Labels: service/compute-l7-load-balancer

#9831 feat(pubsub): Add support for use_table_schema feature in subscription
  mmv1/products/pubsub/Subscription.yaml
  mmv1/templates/terraform/examples/pubsub_subscription_push_bq_table_schema.tf.erb
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#9840 Firestore: Fix tests
  mmv1/products/firestore/BackupSchedule.yaml
  mmv1/products/firestore/Database.yaml
  mmv1/products/firestore/Document.yaml
  mmv1/products/firestore/Field.yaml
  mmv1/products/firestore/Index.yaml
  mmv1/templates/terraform/examples/firestore_backup_schedule_daily.tf.erb
  mmv1/templates/terraform/examples/firestore_backup_schedule_weekly.tf.erb
  mmv1/templates/terraform/examples/firestore_database.tf.erb
  mmv1/templates/terraform/examples/firestore_database_in_datastore_mode.tf.erb
  mmv1/templates/terraform/examples/firestore_default_database.tf.erb
  mmv1/templates/terraform/examples/firestore_default_database_in_datastore_mode.tf.erb
  mmv1/templates/terraform/examples/firestore_document_basic.tf.erb
  mmv1/templates/terraform/examples/firestore_document_nested_document.tf.erb
  mmv1/templates/terraform/examples/firestore_field_basic.tf.erb
  mmv1/templates/terraform/examples/firestore_field_complex_field_name.tf.erb
  mmv1/templates/terraform/examples/firestore_field_match_override.tf.erb
  mmv1/templates/terraform/examples/firestore_field_timestamp.tf.erb
  mmv1/templates/terraform/examples/firestore_index_basic.tf.erb
  mmv1/templates/terraform/examples/firestore_index_datastore_mode.tf.erb
  mmv1/third_party/terraform/services/firestore/resource_firestore_document_test.go
  mmv1/third_party/terraform/services/firestore/resource_firestore_field_test.go
Labels: service/firestore-controlplane

#9850 fix: permadiff issue when `docker_repository` field is not specified
  mmv1/products/cloudfunctions2/Function.yaml
Labels: service/cloudfunctions

#9832 artifact registry repository - promote cleanup policy to ga
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/examples/artifact_registry_repository_cleanup.tf.erb
Labels: service/artifactregistry

#9860 Add a resource: Discovery Engine Data Store
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/products/discoveryengine/product.yaml
  mmv1/templates/terraform/examples/discoveryengine_datastore_basic.tf.erb
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_data_store_test.go
Labels: service/discoveryengine

#9843 Remove duplicated function memory parameter
  mmv1/products/firebaseextensions/Instance.yaml
  mmv1/templates/terraform/examples/firebase_extentions_instance_resize_image.tf.erb
  mmv1/third_party/terraform/services/firebaseextensions/resource_firebase_extensions_instance_test.go.erb
Labels: service/firebase

#9841 Add `readiness_checks` to `google_workstations_workstation_config`
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.erb
Labels: service/workstations

#9794 Filestore instance - make sourceBackup field configureable.
  mmv1/products/filestore/Instance.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_restore_test.go
Labels: service/filestore

#9670 Add support for creating a memcached instance that uses a specific IP address range
  mmv1/products/memcache/Instance.yaml
  mmv1/third_party/terraform/services/memcache/resource_memcache_instance_test.go
Labels: service/memcache

#9874 Add creation_timestamp to google_compute_(region_)instance_group_manager
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.erb
Labels: service/compute-managed

#9862 google_netapp_volume: Add deletion_policy
  mmv1/products/netapp/volume.yaml
  mmv1/templates/terraform/examples/volume_basic.tf.erb
  mmv1/templates/terraform/pre_delete/netapp_volume_force_delete.go.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#9881 Revert "add `enabled` boolean field to ``compute_backend_service.iap` resource"
  mmv1/products/compute/BackendService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.erb
Labels: override-breaking-change, service/compute-l7-load-balancer

#9868 Mark Alloydb instance database_flags as default_from_api
  mmv1/products/alloydb/Instance.yaml
Labels: service/alloydb

#9870 Remove default value from PC type
  mmv1/products/vmwareengine/PrivateCloud.yaml
  mmv1/templates/terraform/constants/vmwareengine_private_cloud_type.go.erb
Labels: override-breaking-change, service/vmwareengine

#9812 Adding Support for Snapshot module for Google Cloud Netapp Volume
  mmv1/products/netapp/VolumeSnapshot.yaml
  mmv1/templates/terraform/examples/volume_snapshot_create.tf.erb
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_snapshot_test.go
Labels: service/netapp

#9890 add stack_type attribute
  mmv1/products/compute/InterconnectAttachment.yaml
Labels: service/compute-interconnect

#9822 Search Engine TF Provider
  mmv1/products/discoveryengine/SearchEngine.yaml
  mmv1/templates/terraform/encoders/discovery_engine_search_engine_hardcode_solution_type.go.erb
  mmv1/templates/terraform/examples/discoveryengine_searchengine_basic.tf.erb
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_search_engine_test.go
Labels: service/discoveryengine

#9875 App Check service config
  mmv1/products/firebaseappcheck/ServiceConfig.yaml
  mmv1/products/firebaseappcheck/product.yaml
  mmv1/templates/terraform/custom_check_destroy/firebase_app_check_service_config.go
  mmv1/templates/terraform/examples/firebase_app_check_service_config_enforced.tf.erb
  mmv1/templates/terraform/examples/firebase_app_check_service_config_off.tf.erb
  mmv1/templates/terraform/examples/firebase_app_check_service_config_unenforced.tf.erb
  mmv1/third_party/terraform/services/firebaseappcheck/resource_firebase_app_check_service_config_test.go
Labels: service/firebase
