Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-10, with the labels that each got.

#11875 Handle service account casing in google_bigquery_dataset_access
  mmv1/products/bigquery/DatasetAccess.yaml
  mmv1/templates/terraform/custom_flatten/string_to_lower_case.go.tmpl
Labels: service/bigquery

#11849 Move ConfidentialInstanceType "TDX" from Beta to GA
  mmv1/products/compute/Instance.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#11825 Terraform support for best path selection
  mmv1/products/compute/Network.yaml
  mmv1/products/compute/Route.yaml
  mmv1/templates/terraform/examples/network_bgp_best_path_selection_mode.tf.tmpl
  mmv1/templates/terraform/examples/network_bgp_best_path_selection_mode_standard.tf.tmpl
  mmv1/templates/terraform/examples/network_bgp_best_path_selection_mode_standard_custom_fields.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
Labels: service/compute-vpc

#11882 Update documentation to list `global` as the only supported location for logging resource `LogScope`
  mmv1/products/logging/LogScope.yaml
Labels: service/logging

#11827 Add increased length & Unicode tagkey and tagvalue shortname support
  mmv1/products/tags/TagKey.yaml
  mmv1/products/tags/TagValue.yaml
Labels: service/cloudresourcemanager-tags

#11883 Upgrade dcl to 1.74.0
  GNUmakefile
  mmv1/provider/terraform.go
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  tpgtools/go.mod
  tpgtools/go.sum
  tpgtools/overrides/containeraws/samples/nodepool/basic.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/basic_update.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/beta_basic.tf.tmpl
  tpgtools/overrides/containeraws/samples/nodepool/beta_basic_update.tf.tmpl
Labels: service/assuredworkloads, service/gkemulticloud

#11880 Set `config_sync.enabled` field to `true` to fix broken tests
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
Labels: service/gkehub

#11770 Add create_ignore_already_exists to google_sourcerepo_repository
  mmv1/products/sourcerepo/Repository.yaml
  mmv1/templates/terraform/constants/source_repo_repository.go.tmpl
  mmv1/templates/terraform/custom_create/source_repo_repository.go.tmpl
  mmv1/templates/terraform/extra_schema_entry/source_repo_repository.tmpl
  mmv1/third_party/terraform/services/sourcerepo/resource_sourcerepo_repository_test.go
Labels: service/sourcerepo

#11812 Add new resource for creating Whistle Mapping, Reconciliation and Backfill Pipeline Jobs for Healthcare Data Engine
  mmv1/products/healthcare/PipelineJob.yaml
  mmv1/templates/terraform/examples/healthcare_pipeline_job_backfill.tf.tmpl
  mmv1/templates/terraform/examples/healthcare_pipeline_job_mapping_recon_dest.tf.tmpl
  mmv1/templates/terraform/examples/healthcare_pipeline_job_reconciliation.tf.tmpl
  mmv1/templates/terraform/examples/healthcare_pipeline_job_whistle_mapping.tf.tmpl
Labels: service/healthcare

#11885 Update docs to specify workaround for required field:
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11889 Added dialogflow_agent_to_link field to the google_discovery_engine_chat_engine resource
  mmv1/products/discoveryengine/ChatEngine.yaml
  mmv1/templates/terraform/examples/discoveryengine_chat_engine_existing_dialogflow_agent.tf.tmpl
Labels: service/discoveryengine

#11890 Fix how conditions are handled in `google_bigtable_instance_iam_*` resources
  mmv1/third_party/terraform/services/bigtable/iam_bigtable_instance.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance_iam_test.go
  mmv1/third_party/terraform/website/docs/r/bigtable_instance_iam.html.markdown
Labels: service/bigtableadmin

#11811 Fix Service Account creation by ignoring 403 errors on read polling
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account.go
Labels: service/iam-serviceaccount

#11810 Fix GKE not being able to disable Cilium Policies
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#11900 Fix whitespace diffs on logging_sink exclusion filters
  mmv1/third_party/terraform/services/logging/resource_logging_sink.go
Labels: service/logging

#11915 fix TestAccNetappBackupVault_NetappBackupVaultExample_update
  mmv1/templates/terraform/examples/netapp_backup_vault.tf.tmpl
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_vault_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_vault_test.go
Labels: service/netapp

#11916 fix TestAccSecurityCenterProjectBigQueryExportConfig_basic
  mmv1/third_party/terraform/services/securitycenter/resource_scc_project_big_query_export_config_test.go
Labels: service/securitycenter

#11904 Fix the issue of unpopulated fields in the terraform state for the `google_secret_manager_secrets` datasource
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secrets.go
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secrets_test.go
  mmv1/third_party/terraform/website/docs/d/secret_manager_secrets.html.markdown
Labels: service/secretmanager

#11909 Fix TestAccCloudFunctionsFunction_buildServiceAccount
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.tmpl
Labels: service/cloudfunctions

#11912 fix TestAccSpannerBackupSchedule_spannerBackupScheduleDailyIncrementallExample
  mmv1/templates/terraform/examples/spanner_backup_schedule_daily_incremental.tf.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#11919 fix: fix slice init length
  mmv1/templates/terraform/unordered_list_customize_diff.erb
  mmv1/templates/terraform/unordered_list_customize_diff.go.tmpl
  mmv1/third_party/terraform/services/compute/metadata.go.tmpl
  tpgtools/ignored_handwritten/common_custom_diff.go
Labels: service/compute-vpc

#11926 Fix TestAccComposer1Environment_withNodeConfig
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
Labels: service/composer

#11905 fix: Make key handle sweepable
  mmv1/products/kms/KeyHandle.yaml
  mmv1/templates/terraform/examples/kms_key_handle_basic.tf.tmpl
Labels: service/cloudkms

#11840 Add support for routing_mode to google_network_services_gateway
  mmv1/products/networkservices/Gateway.yaml
  mmv1/templates/terraform/pre_update/network_services_gateway.go.tmpl
  mmv1/third_party/terraform/services/networkservices/resource_network_services_gateway_test.go
Labels: service/networkservices-traffic-director, service/private-service-connect-published-service

#11921 Clarify doc for `google_compute_instance` and related resources regarding `access_config` block
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#11931 tests: add a acc test for CAS instance creation.
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#11709 adding new google_secure_source_manager_branch_rule resource
  mmv1/products/securesourcemanager/BranchRule.yaml
  mmv1/templates/terraform/examples/secure_source_manager_branch_rule_basic.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_branch_rule_with_fields.tf.tmpl
  mmv1/third_party/terraform/services/securesourcemanager/resource_secure_source_manager_branch_rule_update_test.go
Labels: service/securesourcemanager

#11923 Force send internal_ip_only
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_job_test.go.tmpl
Labels: service/dataproc

#11834 pubsub: fix permadiff with configuring an empty retry_policy.
  mmv1/products/pubsub/Subscription.yaml
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
  mmv1/third_party/tgc/tests/data/example_pubsub_subscription.json
  mmv1/third_party/tgc/tests/data/example_pubsub_subscription_iam_binding.json
  mmv1/third_party/tgc/tests/data/example_pubsub_subscription_iam_member.json
  mmv1/third_party/tgc/tests/data/example_pubsub_subscription_iam_policy.json
Labels: service/pubsub

#11936 Add example of a Workload Identity Pool configuration for GitHub Actions
  mmv1/products/iambeta/WorkloadIdentityPoolProvider.yaml
  mmv1/templates/terraform/examples/iam_workload_identity_pool_provider_github_actions.tf.tmpl
Labels: service/iam-wlid

#11927 Add missing test for `data.google_firebase_web_app_config`, clean up plugin-framework Firebase code a bit
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_android_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_apple_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_web_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_web_app_config_test.go.tmpl
Labels: service/firebase

#11956 Clarify data source attached_disk documentation
  mmv1/third_party/terraform/website/docs/d/compute_instance.html.markdown
Labels: awaiting-approval

#11907 Allow sending `false` for `enabled` field under IAP message for resource google_compute_backend_service and resource google_compute_region_backend_service
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.tmpl
Labels: service/compute-l7-load-balancer

#11949 Increase timeout time to 20 minutes for cloudfunctions function
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function.go
Labels: service/cloudfunctions

#11808 gkehub: remove `google_gke_hub_membership` deprecated `description` field from example
  mmv1/templates/terraform/examples/gkehub_feature_multi_cluster_ingress.tf.tmpl
Labels: service/gkehub

#11940 Add logging_settings and speech_settings to dialogflow_cx_agent/flow
  mmv1/products/dialogflowcx/Agent.yaml
  mmv1/products/dialogflowcx/Flow.yaml
  mmv1/templates/terraform/examples/dialogflowcx_agent_full.tf.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_flow_full.tf.tmpl
  mmv1/third_party/terraform/services/dialogflowcx/resource_dialogflowcx_agent_test.go.tmpl
  mmv1/third_party/terraform/services/dialogflowcx/resource_dialogflowcx_flow_test.go
Labels: service/dialogflow

#11934 NCC Producer VPC Spoke resource added
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/templates/terraform/examples/network_connectivity_spoke_linked_producer_vpc_network_basic.tf.tmpl
Labels: service/network-connectivity-center

#11970 Disable TestAccHealthcareDataset_healthcareDatasetCmekExample test
  mmv1/products/healthcare/Dataset.yaml
Labels: service/healthcare

#11605 Change `google_compute_instance` documentation to warn about API overrides when using custom `machine_type`
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: awaiting-approval, service/compute-instances

#11973 Support the new logging options of KCP_CONNECTION and KCP_SSHD
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#11975 Fix google_network_security_server_tls_policy description
  mmv1/products/networksecurity/ServerTlsPolicy.yaml
Labels: service/network-security

#11910 Add wording on folder & project for how tags works
  mmv1/third_party/terraform/services/resourcemanager/resource_google_folder.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project.go
  mmv1/third_party/terraform/website/docs/r/google_folder.html.markdown
  mmv1/third_party/terraform/website/docs/r/google_project.html.markdown
Labels: service/cloudresourcemanager-crm

#11976 Remove slashes from datasource names in docs
  mmv1/third_party/terraform/website/docs/d/artifact_registry_docker_image.html.markdown
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_config_map.html.markdown
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_secret.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_global_forwarding_rule.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_region_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_subnetworks.html.markdown
Labels: service/terraform

#11971 Add computed to node_config.kubelet_config & node_pool_auto_config.node_kubelet_config
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
Labels: service/container

#11964 Fix TestAccGKEHubFeatureMembership_gkehubFeatureAcmUpdate
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
Labels: service/gkehub

#11979 Fix bad bt instance field description
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance.go
Labels: service/bigtableadmin

#11980 Update google_sql_user documentation for IAM Group authentication for Postgres
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin-infra

#11986 Fix TestAccComputeRegionNetworkEndpointGroup_regionNetworkEndpointGroupAppengineExample
  mmv1/templates/terraform/examples/region_network_endpoint_group_appengine.tf.tmpl
Labels: service/compute-networking-neg

#11983 fix doc for Datastream Postgres connection profile
  mmv1/templates/terraform/examples/datastream_stream_postgresql.tf.tmpl
Labels: service/datastream

#11977 Fix bad frontmatter in docs
  mmv1/third_party/terraform/website/docs/d/compute_region_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/d/site_verification_token.html.markdown
  mmv1/third_party/terraform/website/docs/r/site_verification_owner.html.markdown
Labels: service/compute-managed

#11877 Add support for `is_secret_data_base64` in secret_version and secret_version_access datasources for global and regional stacks
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secret_version.go
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secret_version_access.go
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secret_version_access_test.go
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secret_version_test.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version_access.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version_access_test.go
  mmv1/third_party/terraform/services/secretmanagerregional/data_source_secret_manager_regional_secret_version_test.go
  mmv1/third_party/terraform/website/docs/d/secret_manager_regional_secret_version.html.markdown
  mmv1/third_party/terraform/website/docs/d/secret_manager_regional_secret_version_access.html.markdown
  mmv1/third_party/terraform/website/docs/d/secret_manager_secret_version.html.markdown
  mmv1/third_party/terraform/website/docs/d/secret_manager_secret_version_access.html.markdown
Labels: service/secretmanager

#11954 Adds support for cloudrunv2 Service.invokerIamDisabled
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_service_invokeriam.tf.tmpl
Labels: service/run

#11978 Send empty GKE objects explicitly
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#11993 Make the appengine service name sweepable in the test compute region network endpoint
  mmv1/templates/terraform/examples/region_network_endpoint_group_appengine.tf.tmpl
Labels: service/appengine

#11299 Add Beta support for allowedPorts field for Cloud Workstations configurations
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/templates/terraform/examples/workstation_config_allowed_ports.tf.tmpl
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.tmpl
Labels: service/workstations, disable-review-reminders

#11898 Fix the regression of handling deleted IAM members in google_bigquery_dataset_iam*
  mmv1/third_party/terraform/services/bigquery/iam_bigquery_dataset.go
  mmv1/third_party/terraform/services/bigquery/iam_bigquery_member_dataset.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_iam_member_test.go
Labels: service/bigquery

#11957 Ip address selection policy
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/examples/backend_service_ip_address_selection_policy.tf.tmpl
  mmv1/templates/terraform/examples/region_backend_service_ip_address_selection_policy.tf.tmpl
Labels: service/compute-l7-load-balancer

#12007 accesscontextmanager - Add links to the ingress and egress rules docs
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
Labels: service/accesscontextmanager

#11939 Block backup vault creation tests to run in parallel
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_policy_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_vault_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#11826 container: refactor `node_config` node pool update
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#11876 Update the API document references for the secret manager regional resources and datasources
  mmv1/products/secretmanagerregional/RegionalSecret.yaml
  mmv1/third_party/terraform/website/docs/d/secret_manager_regional_secret_version.html.markdown
  mmv1/third_party/terraform/website/docs/d/secret_manager_regional_secret_version_access.html.markdown
Labels: service/secretmanager

#11908 Added maxUsableWorkstations to workstation Config
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/templates/terraform/examples/workstation_config_basic.tf.tmpl
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.tmpl
Labels: service/workstations

#11995 Fix import for google_essential_contacts_contact
  mmv1/products/essentialcontacts/Contact.yaml
  mmv1/templates/terraform/post_import/essential_contacts_contact.go.tmpl
  mmv1/third_party/terraform/services/essentialcontacts/resource_essential_contacts_contact_test.go
Labels: service/essentialcontacts

#11984 Add documentation for google_privileged_access_manager_entitlement data source
  mmv1/third_party/terraform/website/docs/d/privileged_access_manager_entitlement.html.markdown
Labels: service/privilegedaccessmanager

#12006 Doc: add some missing description for ssl_mode and server_ca_mode.
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#11911 fix TestAccDialogflowCXSecuritySettings_dialogflowcxSecuritySettings_update
  mmv1/products/dialogflowcx/SecuritySettings.yaml
Labels: service/dialogflow

#12010 Remove orgpolicy policy rule limit from documentation
  mmv1/products/orgpolicy/Policy.yaml
Labels: service/orgpolicy

#11866 Update `google_sql_database` and `google_sql_user` to not do Read actions when instance is not active
  mmv1/products/sql/Database.yaml
  mmv1/templates/terraform/pre_read/sql_database_activation_policy.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_test.go
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
Labels: service/sqladmin-infra

#12005 Added google_apigee_developer resource
  mmv1/products/apigee/Developer.yaml
  mmv1/templates/terraform/custom_import/apigee_developer.go.tmpl
  mmv1/templates/terraform/examples/apigee_developer_basic.tf.tmpl
  mmv1/templates/terraform/examples/apigee_developer_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_developer_with_attributes.tf.tmpl
  mmv1/templates/terraform/examples/apigee_developer_with_attributes_test.tf.tmpl
Labels: service/apigee

#12048 Deprecate security_posture_config in google_container_attached_cluster
  mmv1/products/containerattached/Cluster.yaml
  mmv1/third_party/terraform/services/containerattached/resource_container_attached_cluster_update_test.go
Labels: service/gkemulticloud

#12027 Container node pool empty guest accelerator
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#12020 Added google_apigee_app_group resource
  mmv1/products/apigee/AppGroup.yaml
  mmv1/templates/terraform/custom_import/apigee_app_group.go.tmpl
  mmv1/templates/terraform/examples/apigee_app_group_basic.tf.tmpl
  mmv1/templates/terraform/examples/apigee_app_group_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_app_group_with_attributes.tf.tmpl
  mmv1/templates/terraform/examples/apigee_app_group_with_attributes_test.tf.tmpl
Labels: service/apigee

#12037 add nil check to nodepool management flattener
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#12052 feat(monitoring_alert_policy): support notification prompts
  mmv1/products/monitoring/AlertPolicy.yaml
  mmv1/third_party/terraform/services/monitoring/resource_monitoring_alert_policy_test.go
Labels: service/monitoring-alerting

#12064 Remove security_posture_config from example
  mmv1/templates/terraform/examples/container_attached_cluster_full.tf.tmpl
Labels: service/gkemulticloud

#11867 Data source compute security policy file and function renames
  mmv1/third_party/terraform/services/compute/data_source_compute_security_policy.go
  mmv1/third_party/terraform/services/compute/data_source_compute_security_policy_test.go
Labels: service/compute-security-policy

#12050 Allow proper changing of google_compute_region_instance_group_manager.distribution_policy_target_shape
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.tmpl
Labels: service/compute-managed

#11920 Add `key_revocation_action_field` to `google_compute_instance` and related resources
  mmv1/third_party/terraform/services/compute/data_source_google_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_region_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#12084 container: simplify terraform code for `google_container_node_pool` tests
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#12078 fix an argument in data.google_artifact_registry_docker_image example
  mmv1/third_party/terraform/website/docs/d/artifact_registry_docker_image.html.markdown
Labels: service/artifactregistry

#12003 Add autoscaling settings to external clusters
  mmv1/products/vmwareengine/Cluster.yaml
  mmv1/templates/terraform/examples/vmware_engine_cluster_full.tf.tmpl
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_cluster_test.go
Labels: service/vmwareengine

#12028 fix: remove retry in read as retry for create/update is already handled in respective methods
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
Labels: service/storage

#12080 Update docs to fix incorrect timeout value in google_composer_environment
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#12076 Update bootstrapped keys in Composer tests
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
Labels: service/composer

#12091 Bump GKE Hub Feature versions
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.tmpl
Labels: service/gkehub

#12092 Remove bad timeouts from GKE tests
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12096 Mark `google_sql_database_instance.settings.data_cache_config` Computed
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
Labels: service/sqladmin-cp

#11366 Migrate Network Firewall Policy Association (global and region) resource from DCL to MMv1
  mmv1/products/compute/NetworkFirewallPolicyAssociation.yaml
  mmv1/products/compute/RegionNetworkFirewallPolicyAssociation.yaml
  mmv1/templates/terraform/examples/network_firewall_policy_association.tf.tmpl
  mmv1/templates/terraform/examples/region_network_firewall_policy_association.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_rule_test.go.tmpl
  tpgtools/overrides/compute/beta/network_firewall_policy_association.yaml
  tpgtools/overrides/compute/network_firewall_policy_association.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicyassociation/global.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyassociation/global.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicyassociation/global_update.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyassociation/meta.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicyassociation/regional.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyassociation/regional.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicyassociation/regional_update.tf.tmpl
Labels: override-breaking-change, service/network-security-distributed-firewall

#12077 Allow ENTERPRISE_PLUS as default Edition for POSTGRES_16
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: override-breaking-change, service/sqladmin-cp

#12093 Remove stale GKE 1.27 version references
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#12082 promote netapp regional flex storage pool and volume to GA
  mmv1/products/netapp/StoragePool.yaml
  mmv1/products/netapp/Volume.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.tmpl
Labels: service/netapp

#12063 Filestore protocol GA
  mmv1/products/filestore/Instance.yaml
  mmv1/templates/terraform/examples/filestore_instance_protocol.tf.tmpl
Labels: service/filestore

#12094 Ignore param value in Datastream tests
  mmv1/third_party/terraform/services/datastream/resource_datastream_stream_test.go
Labels: service/datastream

#12046 Upgrade DCL to 1.75.0
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  tpgtools/api/assuredworkloads/samples/basic.workload.json
  tpgtools/go.mod
  tpgtools/go.sum
  tpgtools/overrides/assuredworkloads/samples/workload/basic.tf.tmpl
  tpgtools/overrides/assuredworkloads/samples/workload/meta.yaml
Labels: service/assuredworkloads

#12053 Secure Web Proxy: Bump TlsInspectionPolicy to GA
  mmv1/products/networksecurity/GatewaySecurityPolicy.yaml
Labels: service/networksecurity-swp

#12106 Fixed dataproc metastore service GA tests for a beta-only field
  mmv1/products/metastore/Service.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_max_scaling_factor.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_min_and_max_scaling_factor.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_min_scaling_factor.tf.tmpl
Labels: service/metastore

#12100 feat(spanner): add instance asymmetric autoscaling options support in spanner instance resource
  mmv1/products/spanner/Instance.yaml
  mmv1/templates/terraform/encoders/spanner_instance_update.go.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#12017 Add support for global application in Apphub
  mmv1/products/apphub/Application.yaml
  mmv1/templates/terraform/constants/apphub_application.go.tmpl
  mmv1/templates/terraform/examples/apphub_application_basic.tf.tmpl
  mmv1/third_party/terraform/services/apphub/resource_apphub_application_test.go
Labels: service/apphub

#12073 Promoted ServiceAttachment propagatedConnection fields to V1;
  mmv1/products/compute/ServiceAttachment.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_service_attachment_test.go.tmpl
Labels: service/private-service-connect-published-service

#12099 Fix null deletion_protection values in gkebackup examples
  mmv1/products/gkebackup/RestorePlan.yaml
Labels: service/gkebackup

#12062 Remove references to deleted compute images in multiple tests
  mmv1/products/compute/Image.yaml
  mmv1/templates/terraform/examples/image_basic.tf.tmpl
  mmv1/templates/terraform/examples/image_basic_storage_location.tf.tmpl
  mmv1/templates/terraform/examples/image_guest_os.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_image_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/test-fixtures/raw-disk-image.tar.gz
Labels: service/compute-instances, service/compute-pd

#12118 refactor: update resource manager tag references
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_rule_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_with_rules_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_firewall_policy_rule_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_firewall_policy_with_rules_test.go.tmpl
  mmv1/third_party/terraform/services/tags/resource_tags_test.go
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.tmpl
Labels: service/terraform

#11902 Allow for setting `desired_status` to different values than "RUNNING" on creation of `google_compute_instance`
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
Labels: service/compute-instances

#12088 fixed failing test TestAccSecurityCenterV2OrganizationBigQueryExport
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_big_query_export_config_test.go
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_big_query_exports_config_test.go
Labels: service/securitycenter

#12129 Add disabled attribute to service account data source
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_account.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_account_test.go
  mmv1/third_party/terraform/website/docs/d/service_account.html.markdown
Labels: service/iam-serviceaccount

#12095 pubsub: use boostrapped IAM for `TestAccPubsubSubscription` tests
  mmv1/products/pubsub/Subscription.yaml
  mmv1/templates/terraform/examples/pubsub_subscription_push_bq.tf.tmpl
  mmv1/templates/terraform/examples/pubsub_subscription_push_bq_table_schema.tf.tmpl
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#11886 Add plan-time validation of `name` on `google_compute_instance`
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/verify/validation.go
  mmv1/third_party/terraform/verify/validation_test.go
Labels: service/compute-instances

#12131 Confirm that internal_ip_only is settable to false, fix failing test
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
Labels: service/dataproc

#12014 container: fix missing updates for `google_container_cluster.node_config` subfields
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12119 accesscontextmanager - Fix permadiff for perimeter ingress / egress rule resources
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/templates/terraform/constants/access_context_manager.go.tmpl
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_egress_policy_resources_custom_flatten.go.tmpl
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_ingress_policy_resources_custom_flatten.go.tmpl
Labels: service/accesscontextmanager

#12151 Update documentation of `hierarchical_namespace` in `google_storage_bucket` resource.
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#12130 Add data source for retrieving all service accounts from a project
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_accounts.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_accounts_test.go
  mmv1/third_party/terraform/website/docs/d/service_accounts.html.markdown
Labels: service/iam-serviceaccount

#12098 container: re-enable LB step in `TestAccContainerCluster_withAddons`
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12150 Updated docs for dump_file_path in replica_configuration for sql to reflect the current API behavior.
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12054 Fixed SecurityPolicyRule and RegionSecurityPolicyRule resources being unable to manage the policy default rule
  mmv1/products/compute/RegionSecurityPolicyRule.yaml
  mmv1/products/compute/SecurityPolicyRule.yaml
  mmv1/templates/terraform/examples/region_security_policy_rule_default_rule.tf.tmpl
  mmv1/templates/terraform/examples/security_policy_rule_default_rule.tf.tmpl
  mmv1/templates/terraform/pre_create/region_security_policy_default_rule_update_on_create.go.tmpl
  mmv1/templates/terraform/pre_create/security_policy_default_rule_update_on_create.go.tmpl
  mmv1/templates/terraform/pre_delete/security_policy_default_rule_delete.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_security_policy_rule_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.tmpl
Labels: service/compute-security-policy

#12133 Removing the version field from the ACM Fleet Default Member Config when MANAGEMENT_AUTOMATIC is used.
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.tmpl
Labels: service/gkehub

#12115 gkehub: replace docs regarding ACM version with Config Sync version
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/website/docs/r/gke_hub_feature_membership.html.markdown
Labels: service/gkehub

#12146 Unbreak TestAccBigQueryDataset_withProvider5
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go
Labels: service/bigquery

#11473 Add missing special member identifiers
  mmv1/third_party/terraform/website/docs/r/bigquery_dataset_iam.html.markdown
Labels: awaiting-approval

#12153 docs: remove colon from IAM binding docs
  mmv1/templates/terraform/resource_iam.html.markdown.erb
  mmv1/templates/terraform/resource_iam.html.markdown.tmpl
  mmv1/third_party/terraform/website/docs/r/bigtable_instance_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/bigtable_table_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/billing_account_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/dataproc_cluster_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/dataproc_job_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/google_folder_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/google_organization_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/google_project_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/google_service_account_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/healthcare_dataset_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/healthcare_dicom_store_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/healthcare_fhir_store_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/healthcare_hl7_v2_store_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/pubsub_subscription_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/spanner_instance_iam.html.markdown
  mmv1/third_party/terraform/website/docs/r/storage_managed_folder_iam.html.markdown
Labels: awaiting-approval

#12157 improve big query job error messages
  mmv1/templates/terraform/custom_expand/bigquery_table_ref.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_job_test.go
Labels: service/bigquery

#12184 Remove documentation of allow_resource_tags_on_deletion from google_bigquery_table
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#11985 Added redirectOptions and headerAction fields to compute SecurityPolicyRule
  mmv1/products/compute/SecurityPolicyRule.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_rule_test.go.tmpl
Labels: service/compute-security-policy

#12149 compute: update tdx tests to use standard images
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
Labels: service/compute-instances

#12137 Stop `TestAccDataSourceGoogleFirebaseWebAppConfig` failing when `database_url` isn't returned from the API
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_web_app_config_test.go.tmpl
Labels: service/firebase

#11918 Skip Custom Ski CA test for Private CA
  mmv1/products/privateca/CertificateAuthority.yaml
Labels: service/privateca

#12183 Implement IapSettings resource.
  mmv1/products/iap/Settings.yaml
  mmv1/templates/terraform/custom_delete/clear_iap_settings.go.tmpl
  mmv1/templates/terraform/custom_import/iap_settings.go.tmpl
  mmv1/templates/terraform/examples/iap_settings_basic.tf.tmpl
  mmv1/third_party/terraform/services/iap/resource_iap_settings_test.go
Labels: service/iap

#12168 Rename VCR re-replaying test logs to prevent overwriting replaying logs
  .ci/magician/vcr/tester.go
Labels: service/run

#12148 compute: added support for `advanced_machine_features.turbo_mode`
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#11982 Add support for IPv6 addresses with the google_compute_external_vpn_gateway terraform resource
  mmv1/products/compute/ExternalVpnGateway.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_external_vpn_gateway_test.go
Labels: service/compute-vpn

#12128 Normalize GKE resource link in the example given in gkehub membership description
  mmv1/products/gkehub/Membership.yaml
Labels: service/gkehub

#12117 Improve custom error response policy examples to match docs
  mmv1/templates/terraform/examples/url_map_custom_error_response_policy.tf.tmpl
Labels: service/compute-l7-load-balancer

#12051 Modified Internal Range acceptance tests for Network Connectivity to check for expected fields
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_internal_range_test.go
Labels: disable-review-reminders

#12113 Add external catalog dataset options to google_bigquery_dataset beta
  mmv1/products/bigquery/Dataset.yaml
  mmv1/templates/terraform/examples/bigquery_dataset_external_catalog_dataset_options.tf.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go.tmpl
Labels: service/bigquery

#12162 Support sub-CA to be activated into staged state
  mmv1/templates/terraform/constants/privateca_certificate_authority.go.tmpl
  mmv1/templates/terraform/post_create/privateca_certificate_authority.go.tmpl
  mmv1/third_party/terraform/services/privateca/resource_privateca_certificate_authority_test.go
Labels: service/privateca

#12174 Remove unnecessary update API call for client-side-only field changes in google_bigquery_table
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
Labels: service/bigquery

#12013 GKE: Support Control Plane Authority / UserManagedKeysConfig
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12116 Add deletion_protection field to workflow resource
  mmv1/products/workflows/Workflow.yaml
  mmv1/templates/terraform/examples/workflow_basic.tf.tmpl
  mmv1/templates/terraform/pre_delete/workflows_workflow.go.tmpl
  mmv1/third_party/terraform/services/workflows/resource_workflows_workflow_test.go.tmpl
Labels: service/workflows

#12135 container: fix in-place updates for `node_config.containerd_config`
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#12154 spanner: added `google_spanner_database` data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/spanner/data_source_spanner_database.go
  mmv1/third_party/terraform/services/spanner/data_source_spanner_database_test.go
  mmv1/third_party/terraform/website/docs/d/spanner_database.html.markdown
Labels: service/spanner

#12155 container: remove ignores in `TestAccContainerClusterDatasource`
  mmv1/third_party/terraform/services/container/data_source_google_container_cluster_test.go
Labels: service/container

#12185 Clean up inconsistent formats in the google_bigquery_table reference documentation
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#12166 Remove policycontroller block from ACM configmanagement in gkehub_feature_membership tests
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
Labels: service/gkehub

#11894 Updated resource "Region Security Policy" to allow for rule creation when creating the policy resource
  mmv1/products/compute/RegionSecurityPolicy.yaml
  mmv1/templates/terraform/examples/region_security_policy_with_rules.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_security_policy_test.go.tmpl
Labels: service/compute-security-policy

#12121 Allow for single field indexes in 'google_firestore_index' resources to support __name__ DESC indexes
  mmv1/products/firestore/Index.yaml
  mmv1/templates/terraform/examples/firestore_index_name_descending.tf.tmpl
Labels: service/firestore-dataplane

#12152 spanner: bootstrap permissions for `TestAccSpannerDatabase_cmek` and `TestAccSpannerDatabase_mrcmek`
  mmv1/third_party/terraform/services/spanner/resource_spanner_database_test.go.tmpl
Labels: service/spanner

#12132 refactor: update resource manager tag references
  mmv1/templates/terraform/examples/bigquery_dataset_resource_tags.tf.tmpl
  mmv1/templates/terraform/examples/compute_network_firewall_policy_with_rules_full.tf.tmpl
  mmv1/templates/terraform/examples/compute_region_network_firewall_policy_with_rules_full.tf.tmpl
  mmv1/templates/terraform/examples/dlp_discovery_config_actions.tf.tmpl
  mmv1/templates/terraform/examples/network_firewall_policy_rule.tf.tmpl
  mmv1/templates/terraform/examples/region_network_firewall_policy_rule.tf.tmpl
  mmv1/templates/terraform/examples/tag_binding_basic.tf.tmpl
  mmv1/templates/terraform/examples/tag_value_basic.tf.tmpl
  mmv1/templates/terraform/examples/workstation_config_basic.tf.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/global.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/global_update.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/regional.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/regional_update.tf.tmpl
Labels: service/terraform

#12196 Added missing period for nested objects with no description
  mmv1/api/type.go
Labels: service/terraform

#12163 Add instanceFlexibilityPolicy to google_compute_region_instance_group_manager
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#12189 bigtable: fix failing test `TestAccBigtableTable_familyType
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table_test.go
Labels: service/bigtableadmin
