Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2024-07, with the labels that each got.

#11078 Fix acceptance tests for `google_workstations_workstation_config` following `vm_tags` field being added
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/templates/terraform/examples/workstation_config_basic.tf.erb
  mmv1/third_party/terraform/services/workstations/go/resource_workstations_workstation_config_test.go.tmpl
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.erb
Labels: service/workstations

#11085 Fix DataprocCluster sweeper to use clusters field from API response
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_sweeper.go
Labels: service/dataproc

#11049 Fix clashing fields in workstation_config ephemeral directories test.
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.erb
Labels: service/workstations

#11035 Add example for using TimespanConfig successfully without row_limit_percent or row_limit set
  mmv1/products/dlp/JobTrigger.yaml
  mmv1/templates/terraform/examples/dlp_job_trigger_timespan_config_big_query.tf.erb
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_job_trigger_test.go
Labels: service/dlp

#11041 Promote max_run_duration, on_instance_stop_action fields on instance, instance template resources to GA.
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
Labels: service/compute-instances

#11038 fix: Allow Pub/Sub Topic update to remove schema settings
  mmv1/products/pubsub/Topic.yaml
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_topic_test.go
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: override-breaking-change, service/pubsub

#11081 Add custom update to update metadata in a separate call
  mmv1/products/vertexai/Index.yaml
  mmv1/templates/terraform/custom_update/vertex_ai_index.go.erb
Labels: service/aiplatform-matching-engine

#11059 Add Address Group support for Cloud Armor
  mmv1/products/networksecurity/AddressGroup.yaml
  mmv1/templates/terraform/examples/network_security_address_groups_cloud_armor.tf.erb
Labels: service/network-security-distributed-firewall

#10759 Migrate orgpolicy policy to mmv1
  mmv1/products/orgpolicy/Policy.yaml
  mmv1/templates/terraform/constants/org_policy_policy.go.erb
  mmv1/templates/terraform/custom_expand/enum_bool.go.erb
  mmv1/templates/terraform/custom_flatten/enum_bool.go.erb
  mmv1/templates/terraform/encoders/org_policy_policy.go.erb
  mmv1/templates/terraform/examples/org_policy_policy_dry_run_spec.tf.erb
  mmv1/templates/terraform/examples/org_policy_policy_enforce.tf.erb
  mmv1/templates/terraform/examples/org_policy_policy_folder.tf.erb
  mmv1/templates/terraform/examples/org_policy_policy_organization.tf.erb
  mmv1/templates/terraform/examples/org_policy_policy_project.tf.erb
  mmv1/templates/terraform/pre_read/org_policy_policy.go.erb
  mmv1/templates/terraform/pre_update/org_policy_policy.go.tmpl
  mmv1/third_party/terraform/services/orgpolicy/resource_org_policy_policy_test.go
  mmv1/third_party/terraform/transport/error_retry_predicates.go
  tpgtools/api/orgpolicy/samples/basic.cloudresourcemanager.folder.json
  tpgtools/api/orgpolicy/samples/basic.cloudresourcemanager.project.json
  tpgtools/api/orgpolicy/samples/enforce.policy.json
  tpgtools/api/orgpolicy/samples/enforce_policy.yaml
  tpgtools/api/orgpolicy/samples/folder.policy.json
  tpgtools/api/orgpolicy/samples/folder_policy.yaml
  tpgtools/api/orgpolicy/samples/organization.policy.json
  tpgtools/api/orgpolicy/samples/organization_dry_run.policy.json
  tpgtools/api/orgpolicy/samples/organization_dry_run_policy.yaml
  tpgtools/api/orgpolicy/samples/organization_policy.yaml
  tpgtools/api/orgpolicy/samples/project.policy.json
  tpgtools/api/orgpolicy/samples/project_policy.yaml
  tpgtools/api/orgpolicy/samples/update_enforce.policy.json
  tpgtools/api/orgpolicy/samples/update_folder.policy.json
  tpgtools/api/orgpolicy/samples/update_organization.policy.json
  tpgtools/api/orgpolicy/samples/update_organization_dry_run.policy.json
  tpgtools/api/orgpolicy/samples/update_project.policy.json
  tpgtools/overrides/orgpolicy/beta/policy.yaml
  tpgtools/overrides/orgpolicy/beta/tpgtools_product.yaml
  tpgtools/overrides/orgpolicy/policy.yaml
  tpgtools/overrides/orgpolicy/samples/policy/dry_run_spec.yaml
  tpgtools/overrides/orgpolicy/samples/policy/meta.yaml
Labels: service/orgpolicy

#10857 add project_number field to featureview
  mmv1/products/vertexai/FeatureOnlineStoreFeatureview.yaml
  mmv1/templates/terraform/custom_flatten/vertex_ai_feature_view_ignore_project_number.go.erb
  mmv1/templates/terraform/examples/vertex_ai_featureonlinestore_featureview_cross_project.tf.erb
Labels: service/aiplatform-featurestore

#11093 Move Globaladdress.Labels to GA
  mmv1/products/compute/GlobalAddress.yaml
  mmv1/products/compute/go_GlobalAddress.yaml
Labels: service/compute-ipam

#11092 fixed permadiffs on `environment_variables` in cloudfunctions2 function
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/templates/terraform/constants/cloudfunctions2_function.go.erb
Labels: service/cloudfunctions

#11106 Revert "Fix `content` in `google_storage_bucket_object_content` datasource"
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content.go
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content_test.go
  mmv1/third_party/terraform/website/docs/d/storage_bucket_object_content.html.markdown
Labels: service/storage

#11103 Add missing quota in bigtable_authorized_view doc example
  mmv1/third_party/terraform/website/docs/r/bigtable_authorized_view.html.markdown
Labels: service/bigtableadmin

#11105 Fixed the permadiffs in purpose of networksecurity address
  mmv1/products/networksecurity/AddressGroup.yaml
Labels: service/network-security-distributed-firewall

#11115 Fix acc test `TestAccContainerNodePool_concurrent` with latest node version number
  mmv1/third_party/terraform/services/container/go/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
Labels: service/container

#11091 Make ResourcePolicy updatable to avoid recreation of it.
  mmv1/products/compute/ResourcePolicy.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_disk_resource_policy_attachment_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
Labels: service/compute-instances, service/compute-pd

#10792 Add beta support for keyAccessJustificationsPolicy to KMS module
  mmv1/products/kms/CryptoKey.yaml
  mmv1/third_party/terraform/services/kms/resource_kms_crypto_key_test.go
Labels: service/cloudkms

#11077 Add documentation for Switchover operation
  mmv1/products/alloydb/Cluster.yaml
Labels: service/alloydb

#11032 New data source for google_gke_hub_membership_binding
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/gkehub2/data_source_google_gke_hub_membership_binding.go
  mmv1/third_party/terraform/services/gkehub2/data_source_google_gke_hub_membership_binding_test.go
Labels: service/gkehub

#11124 Fix wrong field value example in the iap client resource
  mmv1/products/iap/Client.yaml
Labels: service/iap

#11004 Add Resource SCC V1 Project Notification Config
  mmv1/products/securitycenter/ProjectNotificationConfig.yaml
  mmv1/templates/terraform/examples/scc_project_notification_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenter/resource_scc_project_notification_config_test.go
Labels: service/securitycenter

#11110 Update ACM version to highest valid version number
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.erb
Labels: service/gkehub

#11094 promote resource privileged_access_manager_entitlement to ga
  mmv1/products/privilegedaccessmanager/Entitlement.yaml
  mmv1/products/privilegedaccessmanager/product.yaml
  mmv1/templates/terraform/constants/privileged_access_manager_entitlement.go.erb
  mmv1/templates/terraform/examples/privileged_access_manager_entitlement_basic.tf.erb
  mmv1/third_party/terraform/services/privilegedaccessmanager/resource_privileged_access_manager_entitlement_test.go.erb
Labels: service/privilegedaccessmanager

#10999 Add data_source_google_site_verification_token
  mmv1/products/siteverification/product.yaml
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.erb
  mmv1/third_party/terraform/services/siteverification/data_source_google_site_verification_token.go
  mmv1/third_party/terraform/services/siteverification/data_source_google_site_verification_token_test.go
  mmv1/third_party/terraform/website/docs/d/site_verification_token.html.markdown
Labels: disable-review-reminders

#11114 Make `TestAccCloudRunV2Job_cloudrunv2JobRunJobExample ` test beta-only
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/templates/terraform/examples/cloudrunv2_job_run_job.tf.erb
Labels: service/run

#11111 Make `TestAccDataprocMetastoreService_dataprocMetastoreServiceAutoscalingNoLimitConfigExample` beta-only
  mmv1/products/metastore/Service.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_no_limit_config.tf.erb
Labels: service/metastore

#11130 Add `member` property to `google_project_service_identity`
  mmv1/templates/terraform/examples/apigee_environment_patch_update_test.tf.erb
  mmv1/templates/terraform/examples/apigee_instance_full.tf.erb
  mmv1/templates/terraform/examples/apigee_instance_full_test.tf.erb
  mmv1/templates/terraform/examples/apigee_nat_address_basic.tf.erb
  mmv1/templates/terraform/examples/apigee_organization_cloud_full.tf.erb
  mmv1/templates/terraform/examples/apigee_organization_cloud_full_disable_vpc_peering.tf.erb
  mmv1/templates/terraform/examples/apigee_organization_cloud_full_disable_vpc_peering_test.tf.erb
  mmv1/templates/terraform/examples/apigee_organization_cloud_full_test.tf.erb
  mmv1/templates/terraform/examples/apigee_organization_drz_test.tf.erb
  mmv1/templates/terraform/examples/apigee_organization_retention_test.tf.erb
  mmv1/templates/terraform/examples/cloudfunctions2_cmek.tf.erb
  mmv1/templates/terraform/examples/cloudfunctions2_cmek_docs.tf.erb
  mmv1/templates/terraform/examples/go/apigee_environment_patch_update_test.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_environment_type_test.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_instance_full.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_instance_full_test.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_nat_address_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_organization_cloud_full.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_organization_cloud_full_disable_vpc_peering.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_organization_cloud_full_disable_vpc_peering_test.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_organization_cloud_full_test.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_organization_drz_test.tf.tmpl
  mmv1/templates/terraform/examples/go/apigee_organization_retention_test.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudfunctions2_cmek.tf.tmpl
  mmv1/templates/terraform/examples/go/cloudfunctions2_cmek_docs.tf.tmpl
  mmv1/templates/terraform/examples/go/network_security_tls_inspection_policy_custom.tf.tmpl
  mmv1/templates/terraform/examples/go/privateca_certificate_authority_byo_key.tf.tmpl
  mmv1/templates/terraform/examples/go/sql_instance_cmek.tf.tmpl
  mmv1/templates/terraform/examples/go/sql_instance_iam_condition.tf.tmpl
  mmv1/templates/terraform/examples/network_security_tls_inspection_policy_custom.tf.erb
  mmv1/templates/terraform/examples/privateca_certificate_authority_byo_key.tf.erb
  mmv1/templates/terraform/examples/sql_instance_cmek.tf.erb
  mmv1/templates/terraform/examples/sql_instance_iam_condition.tf.erb
  mmv1/third_party/terraform/services/apigee/go/resource_apigee_environment_type_test.go.tmpl
  mmv1/third_party/terraform/services/apigee/resource_apigee_environment_type_test.go.erb
  mmv1/third_party/terraform/services/networksecurity/go/resource_network_security_tls_inspection_policy_test.go.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_tls_inspection_policy_test.go.erb
  mmv1/third_party/terraform/services/resourcemanager/go/resource_project_service_identity.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/go/resource_project_service_identity_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_project_service_identity.go.erb
  mmv1/third_party/terraform/services/resourcemanager/resource_project_service_identity_test.go.erb
  mmv1/third_party/terraform/services/spanner/go/resource_spanner_database_test.go.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_database_test.go.erb
  mmv1/third_party/terraform/website/docs/r/project_service_identity.html.markdown
Labels: service/terraform

#10313 Fix permadiff on google_vpc_access_connector resource with breaking changes (min_instances, max_instances, min_throughput, max_throughput fields)
  mmv1/products/vpcaccess/Connector.yaml
  mmv1/templates/terraform/examples/vpc_access_connector.tf.erb
  mmv1/templates/terraform/examples/vpc_access_connector_shared_vpc.tf.erb
  mmv1/third_party/terraform/services/appengine/resource_app_engine_standard_app_version_test.go
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.erb
  mmv1/third_party/terraform/services/vpcaccess/data_source_vpc_access_connector_test.go
  mmv1/third_party/terraform/services/vpcaccess/resource_vpc_access_connector_test.go
  mmv1/third_party/terraform/website/docs/d/vpc_access_connector.html.markdown
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/tgc/tests/data/example_vpc_access_connector.tf
Labels: override-breaking-change, service/vpcaccess

#10764 Support Delayed Deletion for Vmwareengine Private Cloud
  mmv1/products/vmwareengine/PrivateCloud.yaml
  mmv1/templates/terraform/constants/vmwareengine_private_cloud.go.erb
  mmv1/templates/terraform/constants/vmwareengine_private_cloud_type.go.erb
  mmv1/templates/terraform/examples/vmware_engine_private_cloud_basic.tf.erb
  mmv1/templates/terraform/examples/vmware_engine_private_cloud_full.tf.erb
  mmv1/templates/terraform/post_delete/private_cloud.go.erb
  mmv1/templates/terraform/pre_delete/vmwareengine_private_cloud.go.erb
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_external_access_rule_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_external_address_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_subnet_test.go
Labels: service/vmwareengine

#11100 Add buildServiceAccount field to cloudfunctions
  mmv1/products/cloudfunctions/CloudFunction.yaml
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function.go
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.erb
  mmv1/third_party/terraform/website/docs/r/cloudfunctions_function.html.markdown
Labels: service/cloudfunctions

#11132 cloudrunv2 and dialogflowcx
  mmv1/products/alloydb/go_Backup.yaml
  mmv1/products/alloydb/go_Cluster.yaml
  mmv1/products/alloydb/go_Instance.yaml
  mmv1/products/cloudrunv2/go_Job.yaml
  mmv1/products/cloudrunv2/go_Service.yaml
  mmv1/products/cloudrunv2/go_product.yaml
  mmv1/products/compute/go_NetworkAttachment.yaml
  mmv1/products/compute/go_ResourcePolicy.yaml
  mmv1/products/dialogflowcx/go_Agent.yaml
  mmv1/products/dialogflowcx/go_EntityType.yaml
  mmv1/products/dialogflowcx/go_Environment.yaml
  mmv1/products/dialogflowcx/go_Flow.yaml
  mmv1/products/dialogflowcx/go_Intent.yaml
  mmv1/products/dialogflowcx/go_Page.yaml
  mmv1/products/dialogflowcx/go_SecuritySettings.yaml
  mmv1/products/dialogflowcx/go_TestCase.yaml
  mmv1/products/dialogflowcx/go_Version.yaml
  mmv1/products/dialogflowcx/go_Webhook.yaml
  mmv1/products/dialogflowcx/go_product.yaml
  mmv1/templates/terraform/constants/go/privileged_access_manager_entitlement.go.tmpl
  mmv1/templates/terraform/datasource_iam.html.markdown.tmpl
  mmv1/templates/terraform/examples/go/cloudrunv2_job_run_job.tf.tmpl
  mmv1/templates/terraform/examples/go/dataproc_metastore_service_autoscaling_no_limit_config.tf.tmpl
  mmv1/templates/terraform/examples/go/network_attachment_instance_usage.tf.tmpl
  mmv1/templates/terraform/examples/go/privileged_access_manager_entitlement_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/scc_project_notification_config_basic.tf.tmpl
  mmv1/templates/terraform/iam_policy.go.tmpl
  mmv1/templates/terraform/pre_create/dialogflow_set_location.go.erb
  mmv1/templates/terraform/pre_create/dialogflowcx_set_location_skip_default_obj.go.erb
  mmv1/templates/terraform/pre_create/go/dialogflow_set_location.go.tmpl
  mmv1/templates/terraform/pre_create/go/dialogflowcx_set_location_skip_default_obj.go.tmpl
  mmv1/templates/terraform/pre_delete/dialogflowcx_set_location_skip_default_obj.go.erb
  mmv1/templates/terraform/pre_delete/go/dialogflowcx_set_location_skip_default_obj.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/templates/terraform/resource_iam.html.markdown.tmpl
  mmv1/third_party/terraform/services/compute/go/resource_compute_disk_test.go.tmpl
  mmv1/third_party/terraform/services/gkehub/go/resource_gke_hub_feature_membership_test.go.tmpl
  mmv1/third_party/terraform/services/privilegedaccessmanager/go/resource_privileged_access_manager_entitlement_test.go
Labels: service/dialogflow

#8826 Add Apigee environment scope KVMs resource support
  mmv1/products/apigee/EnvironmentKeyvaluemap.yaml
  mmv1/products/apigee/EnvironmentKeyvaluemapEntry.yaml
  mmv1/templates/terraform/custom_create/apigee_environment_keyvaluemaps.go
  mmv1/templates/terraform/custom_import/apigee_environment_keyvaluemaps.go.erb
  mmv1/templates/terraform/custom_import/apigee_environment_keyvaluemaps_entries.go.erb
  mmv1/templates/terraform/decoders/apigee_environment_keyvaluemaps.go.erb
  mmv1/templates/terraform/examples/apigee_environment_keyvaluemaps_basic.tf.erb
  mmv1/templates/terraform/examples/apigee_environment_keyvaluemaps_beta_test.tf.erb
  mmv1/templates/terraform/examples/apigee_environment_keyvaluemaps_entries_basic.tf.erb
  mmv1/templates/terraform/examples/apigee_environment_keyvaluemaps_entries_beta_test.tf.erb
  mmv1/templates/terraform/examples/apigee_environment_keyvaluemaps_entries_test.tf.erb
  mmv1/templates/terraform/examples/apigee_environment_keyvaluemaps_test.tf.erb
Labels: service/apigee

#11122 Promote support for BigQuery dataset resource tags to GA
  mmv1/products/bigquery/Dataset.yaml
  mmv1/templates/terraform/examples/bigquery_dataset_resource_tags.tf.erb
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go
Labels: service/bigquery

#11125 Replace labelKeys/Values for tagKeys/Values in policy constraint examples
  mmv1/templates/terraform/examples/go/org_policy_policy_project.tf.tmpl
  mmv1/templates/terraform/examples/org_policy_policy_project.tf.erb
Labels: service/orgpolicy

#11137 skip TestAccComputeInstanceNetworkIntefaceWithSecurityPolicy in VCR
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#11117 Update backend service default values
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/examples/backend_service_traffic_director_ring_hash.tf.erb
  mmv1/templates/terraform/examples/go/region_backend_service_balancing_mode.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/compute-l7-load-balancer

#11052 Migration of Hub from DCL to Magic-Modules
  mmv1/products/networkconnectivity/Hub.yaml
  mmv1/templates/terraform/examples/network_connectivity_hub_basic.tf.erb
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_hub_sweeper.go.erb
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_hub_test.go
  tpgtools/overrides/networkconnectivity/beta/hub.yaml
  tpgtools/overrides/networkconnectivity/hub.yaml
Labels: service/network-connectivity-center

#11118 Router peer changes- Added customLearnedIpRanges and customLearnedRoutePriority
  mmv1/third_party/terraform/services/compute/resource_compute_router_bgp_peer_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.erb
Labels: service/compute-router

#11149 Add new zone to VmwareenginePrivateCloud sweeper
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_sweeper.go
Labels: service/vmwareengine

#11159 feat: datastream sql server connection profile/stream from beta to GA
  mmv1/products/datastream/ConnectionProfile.yaml
  mmv1/products/datastream/Stream.yaml
  mmv1/templates/terraform/examples/datastream_connection_profile_sql_server.tf.erb
  mmv1/templates/terraform/examples/datastream_stream_sql_server.tf.erb
  mmv1/templates/terraform/examples/go/datastream_connection_profile_sql_server.tf.tmpl
  mmv1/templates/terraform/examples/go/datastream_stream_sql_server.tf.tmpl
Labels: service/datastream

#11162 bigtable: add automated backups documentation to bigtable table
  mmv1/third_party/terraform/website/docs/r/bigtable_table.html.markdown
Labels: service/bigtableadmin

#10934 workbench instances support for static external IP
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/examples/workbench_instance_full.tf.erb
Labels: service/notebooks

#11167 Go rewrite apphub yaml files
  mmv1/api/resource/examples.go
  mmv1/products/apphub/Application.yaml
  mmv1/products/apphub/Service.yaml
  mmv1/products/apphub/ServiceProjectAttachment.yaml
  mmv1/products/apphub/Workload.yaml
  mmv1/products/apphub/go_Application.yaml
  mmv1/products/apphub/go_Service.yaml
  mmv1/products/apphub/go_ServiceProjectAttachment.yaml
  mmv1/products/apphub/go_Workload.yaml
  mmv1/products/apphub/go_product.yaml
  mmv1/templates/terraform/constants/go/vmwareengine_private_cloud.go.tmpl
  mmv1/templates/terraform/examples/apphub_service_basic.tf.erb
  mmv1/templates/terraform/examples/apphub_service_full.tf.erb
  mmv1/templates/terraform/examples/go/apphub_service_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/apphub_service_full.tf.tmpl
  mmv1/templates/terraform/examples/go/vmware_engine_private_cloud_basic.tf.tmpl
  mmv1/templates/terraform/examples/go/vmware_engine_private_cloud_full.tf.tmpl
  mmv1/templates/terraform/post_delete/go/private_cloud.go.tmpl
  mmv1/templates/terraform/pre_delete/go/vmwareengine_private_cloud.go.tmpl
  mmv1/templates/terraform/yaml_conversion.erb
Labels: service/apphub

#11139 Add cloud_storage_target field in google_data_loss_prevention_discovery_config
  mmv1/products/dlp/DiscoveryConfig.yaml
  mmv1/templates/terraform/examples/dlp_discovery_config_cloud_storage.tf.erb
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_test.go
Labels: service/dlp

#11123 Promote support for BigQuery table resource tags to GA
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#11107 Add Service Attachment support for Secure Web Proxy
  mmv1/products/compute/ServiceAttachment.yaml
  mmv1/products/compute/go_ServiceAttachment.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_service_attachment_test.go
Labels: service/private-service-connect-published-service

#10991 Add observability config to AlloyDB instance
  mmv1/products/alloydb/Instance.yaml
  mmv1/products/alloydb/go_Instance.yaml
Labels: service/alloydb

#11161 Documenting reservation_affinity attribute for gke-nodepool
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container

#11168 Add organization level mute config for SCC v2.
  mmv1/products/securitycenterv2/OrganizationMuteConfig.yaml
  mmv1/templates/terraform/examples/scc_v2_organization_mute_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_organization_mute_config_test.go
Labels: service/securitycenter

#10973 Add check_if_service_has_usage_on_destroy field to google_project_service resource
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_service.go.erb
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_service_test.go.erb
  mmv1/third_party/terraform/website/docs/r/google_project_service.html.markdown
Labels: service/serviceusage

#11129 Fix duplicate attribute field in the iap client resource documentation
  mmv1/products/iap/Client.yaml
Labels: service/iap

#11158 Adding route policies support to Router
  mmv1/products/compute/RouterRoutePolicy.yaml
  mmv1/templates/terraform/decoders/unwrap_route_policy_resource.go.erb
  mmv1/templates/terraform/examples/router_route_policy_export.tf.erb
  mmv1/templates/terraform/examples/router_route_policy_import.tf.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_bgp_peer_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_router_peer.html.markdown
Labels: service/compute-router

#11176 suppress IT_PRIVATE from response to DEDICATED diff
  mmv1/products/compute/Interconnect.yaml
  mmv1/templates/terraform/constants/interconnect.go.erb
  mmv1/templates/terraform/examples/compute_interconnect_basic_test.tf.erb
  mmv1/templates/terraform/examples/interconnect_attachment_dedicated.tf.erb
Labels: service/compute-interconnect

#11190 Remove `default_from_api` from `liveness_probe` field in Cloud Run v2 service
  mmv1/products/cloudrunv2/Service.yaml
Labels: override-breaking-change, service/run

#11101 Add validation to prevent BigQuery view from creation when input schema contains required fields
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/bigquery

#11183 Annotate immutable fields in ServerTlsPolicy.yaml
  mmv1/products/networksecurity/ServerTlsPolicy.yaml
Labels: service/network-security

#11173 Use the correct custom import for fields.
  mmv1/products/firestore/Field.yaml
  mmv1/third_party/terraform/services/firestore/resource_firestore_field_test.go
Labels: service/firestore-dataplane

#9581 Remove default addition of IAP message in encoder and decoder, add new required `enabled` field and remove the previous required tags under IAP message for resource google_compute_backend_service and resource google_compute_region_backend_service
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/decoders/backend_service.go.erb
  mmv1/templates/terraform/decoders/region_backend_service.go.erb
  mmv1/templates/terraform/encoders/backend_service.go.erb
  mmv1/templates/terraform/encoders/region_backend_service.go.erb
  mmv1/templates/terraform/examples/backend_service_external_iap.tf.erb
  mmv1/templates/terraform/examples/region_backend_service_external_iap.tf.erb
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/compute-l7-load-balancer, disable-review-reminders

#11090 Add pre-read for importing log view from previous versions
  mmv1/products/logging/LogView.yaml
  mmv1/templates/terraform/pre_read/logging_log_view.go.erb
Labels: service/logging

#11066 Migrate network connectivity spoke from DCL to MMv1
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/templates/terraform/examples/network_connectivity_spoke_linked_vpc_network_basic.tf.erb
  mmv1/templates/terraform/examples/network_connectivity_spoke_router_appliance_basic.tf.erb
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_spoke_sweeper.go.erb
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_spoke_test.go
  tpgtools/overrides/networkconnectivity/beta/spoke.yaml
  tpgtools/overrides/networkconnectivity/spoke.yaml
Labels: override-breaking-change, service/network-connectivity-center

#11200 google_datastore_index: Deprecate
  mmv1/products/datastore/Index.yaml
  mmv1/products/firestore/Index.yaml
Labels: service/firestore-dataplane

#11206 fix tpg/tpgb tests
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_spoke_test.go
Labels: service/network-connectivity-center

#11146 google_compute_public_advertised_prefix adding in output only shared_secret
  mmv1/products/compute/PublicAdvertisedPrefix.yaml
Labels: service/compute-ipam

#11182 add default values from api to smb_settings field in google cloud netapp volumes
  mmv1/products/netapp/volume.yaml
Labels: service/netapp

#11150 Add an example for connecting to a private SSM instance using PSC
  mmv1/products/securesourcemanager/Instance.yaml
  mmv1/templates/terraform/examples/secure_source_manager_instance_private.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_instance_private_psc_backend.tf.erb
  mmv1/templates/terraform/examples/secure_source_manager_instance_private_psc_endpoint.tf.erb
Labels: service/securesourcemanager

#11165 Adding delay after SecuritySettings create to work around API inconsistency
  mmv1/products/dialogflowcx/SecuritySettings.yaml
Labels: service/dialogflow

#11144 Update document for concurrency fields in Cloud Run service v1 and v2 resources
  mmv1/products/cloudrun/Service.yaml
  mmv1/products/cloudrunv2/Service.yaml
Labels: service/run

#11042 Added private origin authentication for cloud cdn 'compute_backend_service'
  mmv1/products/compute/BackendService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.erb
Labels: service/compute-l7-load-balancer

#11181 Need self_link instead of id in private_network
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#11189 workbench: Changed `instance_owners` field in the examples to not use a service account.
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/examples/workbench_instance_full.tf.erb
  mmv1/templates/terraform/examples/workbench_instance_labels_stopped.tf.erb
Labels: service/notebooks

#11220 Add deprecation notice for multi_region_auxiliary field in BQ reservation
  mmv1/products/bigqueryreservation/Reservation.yaml
Labels: service/bigquery

#11228 Add deprecation message for allow_resource_tags_on_deletion in google_bigquery_table
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#11203 Add compute instance beta tests for c3d machine type
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
Labels: service/compute-instances

#11230 Add support of storage pool on boot disk.
  mmv1/products/compute/Instance.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances, service/compute-pd

#11138 Bigtable: add data_boost_isolation_read_only support for the Data Boost feature.
  mmv1/products/bigtable/AppProfile.yaml
  mmv1/templates/terraform/examples/bigtable_app_profile_data_boost.tf.erb
  mmv1/templates/terraform/pre_update/bigtable_app_profile.go.erb
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_app_profile_test.go
Labels: service/bigtableadmin

#11224 Go rewrite deploymentmanager, dialogflow, discoveryengine, documentai, documentaiwarehouse, datastore, metastore
  mmv1/api/resource.go
  mmv1/products/datastore/go_Index.yaml
  mmv1/products/datastore/go_product.yaml
  mmv1/products/deploymentmanager/go_Deployment.yaml
  mmv1/products/deploymentmanager/go_product.yaml
  mmv1/products/dialogflow/go_Agent.yaml
  mmv1/products/dialogflow/go_EntityType.yaml
  mmv1/products/dialogflow/go_Fulfillment.yaml
  mmv1/products/dialogflow/go_Intent.yaml
  mmv1/products/dialogflow/go_product.yaml
  mmv1/products/discoveryengine/go_ChatEngine.yaml
  mmv1/products/discoveryengine/go_DataStore.yaml
  mmv1/products/discoveryengine/go_SearchEngine.yaml
  mmv1/products/discoveryengine/go_product.yaml
  mmv1/products/documentai/go_Processor.yaml
  mmv1/products/documentai/go_ProcessorDefaultVersion.yaml
  mmv1/products/documentai/go_product.yaml
  mmv1/products/documentaiwarehouse/go_DocumentSchema.yaml
  mmv1/products/documentaiwarehouse/go_Location.yaml
  mmv1/products/documentaiwarehouse/go_product.yaml
  mmv1/products/metastore/go_Federation.yaml
  mmv1/products/metastore/go_Service.yaml
  mmv1/products/metastore/go_product.yaml
  mmv1/templates/terraform/encoders/discovery_engine_chat_engine_hardcode_solution_type.go.erb
  mmv1/templates/terraform/encoders/go/discovery_engine_chat_engine_hardcode_solution_type.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/templates/terraform/yaml_conversion.erb
Labels: service/discoveryengine

#11174 Firestore: Mark identifier fields as immutable.
  mmv1/products/firestore/Document.yaml
  mmv1/products/firestore/Field.yaml
Labels: service/firestore-controlplane, service/firestore-dataplane

#11177 google_firestore_index: Add reference to google_firestore_field
  mmv1/products/firestore/Index.yaml
Labels: service/firestore-dataplane

#11175 Use new VPC networks in private connection tests
  mmv1/products/databasemigrationservice/PrivateConnection.yaml
  mmv1/templates/terraform/examples/database_migration_service_private_connection.tf.erb
Labels: service/datamigration

#11226 Update resource id for ProjectInfo
  mmv1/products/billing/ProjectInfo.yaml
Labels: service/cloudbilling

#11145 Add support for Ray Operator on GKE
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11005 Update the descriptions for sql_database_instance disk_size and disk_autoresize
  mmv1/third_party/terraform/services/sql/go/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#11236 Update Documentation for Composer
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#11152 Fix perma-diff on gpu_driver_installation_config for node_config
  mmv1/third_party/terraform/services/container/node_config.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
Labels: service/container

#11036 Added stack_type (enum) and gateway_ip_version (enum) to HAVPN resource
  mmv1/products/compute/HaVpnGateway.yaml
  mmv1/third_party/terraform/services/compute/data_source_google_compute_ha_vpn_gateway_test.go
Labels: service/compute-vpn

#10935 Update documentation for update_policy fields
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.erb
  mmv1/third_party/terraform/website/docs/r/compute_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#11062 move multi-network to GA
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.erb
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container

#11154 Deprecate google_sql_database_instance.settings.ip_configuration's require_ssl in favor of ssl_mode
  mmv1/templates/terraform/examples/go/sql_instance_ssl_cert.tf.tmpl
  mmv1/templates/terraform/examples/sql_instance_ssl_cert.tf.erb
  mmv1/third_party/terraform/services/sql/go/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
  mmv1/third_party/tgc/sql_database_instance.go
  mmv1/third_party/tgc/tests/data/example_google_datastream_stream.json
  mmv1/third_party/tgc/tests/data/example_google_datastream_stream_append_only.json
  mmv1/third_party/tgc/tests/data/full_sql_database_instance.json
  mmv1/third_party/tgc/tests/data/full_sql_database_instance.tf
Labels: override-breaking-change, service/datamigration, service/sqladmin-cp

#11240 Update Resource id for Compute_network_endpoints
  mmv1/products/compute/NetworkEndpoints.yaml
Labels: service/compute-networking-neg

#11248 Update max threshold permitted in ServiceLevelObjectives
  mmv1/templates/terraform/constants/monitoring_slo.go.erb
Labels: service/monitoring-services

#11254 Add deprecation message to docs for relay_mode field
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11243 Add new field enable_dataplex_integration to google_sql_database_instance settings
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#11257 docs: add missing closing a tag
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#11199 Make cloudrunv2 containers' env a set
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/run

#11249 Add accessMode support for compute disk
  mmv1/products/compute/Disk.yaml
  mmv1/templates/terraform/update_encoder/hyper_disk.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.erb
Labels: service/compute-pd

#11241 add export psc support to Network Connectivity Center hub
  mmv1/products/networkconnectivity/Hub.yaml
  mmv1/templates/terraform/examples/network_connectivity_hub_with_export_psc.tf.erb
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_hub_test.go
Labels: service/terraform

#11263 Add deprecation message for skip_delete for Project resource
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project.go
  mmv1/third_party/terraform/website/docs/r/google_project.html.markdown
Labels: service/cloudresourcemanager-crm

#11262 Permadiff fix: advertised_ip_ranges in cloud router
  mmv1/templates/terraform/custom_flatten/compute_router_range.go.erb
  mmv1/third_party/terraform/services/compute/resource_compute_router_test.go.erb
Labels: service/compute-router

#11245 feat(bigtable): update deps
  mmv1/third_party/terraform/go.mod.erb
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/go/go.mod
Labels: service/composer

#11269 `KMS`: add documentation for `google_kms_key_rings` data source
  mmv1/third_party/terraform/website/docs/d/kms_crypto_key_rings.html.markdown
Labels: service/cloudkms

#11273 Add ingress_from documentation for VPC Service Controls resources for using networks as an incoming source.
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
Labels: service/accesscontextmanager

#11275 Fix the typo for enforcment
  mmv1/third_party/terraform/services/sql/go/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.erb
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#11232 Fix salesforce params specification in google_bigquery_data_transfer_config
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/templates/terraform/encoders/bigquery_data_transfer.go.erb
  mmv1/templates/terraform/examples/bigquerydatatransfer_config_salesforce.tf.erb
  mmv1/third_party/terraform/services/bigquerydatatransfer/resource_bigquery_data_transfer_config_test.go
Labels: service/bigquery

#11246 Update description of `resourceTypeSelector` KeyHandle field
  mmv1/products/kms/KeyHandle.yaml
Labels: service/cloudkms

#11266 Add notes about user_project_override in google_firebase_project
  mmv1/products/firebase/Project.yaml
Labels: service/firebase

#11222 update cloudfunctionv2 test runtimes to nodejs18
  mmv1/third_party/terraform/services/cloudfunctions2/data_source_google_cloudfunctions2_function_test.go
  mmv1/third_party/terraform/services/cloudfunctions2/resource_cloudfunctions2_function_test.go
Labels: service/cloudfunctions

#11292 Change datastream stream merge and append_only to conflicts with
  mmv1/products/datastream/Stream.yaml
  mmv1/templates/terraform/examples/datastream_stream_bigquery.tf.erb
Labels: service/datastream

#11256 Add deletion_protection field to CloudAD domain resource
  mmv1/products/activedirectory/Domain.yaml
  mmv1/products/activedirectory/go_Domain.yaml
  mmv1/templates/terraform/examples/active_directory_domain_basic.tf.erb
  mmv1/templates/terraform/examples/active_directory_domain_trust_basic.tf.erb
  mmv1/templates/terraform/examples/active_directory_peering_basic.tf.erb
  mmv1/templates/terraform/examples/go/active_directory_domain_basic.tf.tmpl
  mmv1/templates/terraform/pre_delete/active_directory_domain.go.erb
  mmv1/templates/terraform/pre_delete/go/active_directory_domain.go.tmpl
  mmv1/third_party/terraform/services/activedirectory/resource_active_directory_domain_trust_test.go
  mmv1/third_party/terraform/services/activedirectory/resource_active_directory_domain_update_test.go
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: service/terraform

#11279 Update documentation for resources that don't support gcloud's syntax
  mmv1/third_party/terraform/website/docs/d/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_region_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/d/compute_snapshot.html.markdown
Labels: service/compute-instances, service/compute-pd

#11277 Update start and end date format
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#11304 Remove `multi_region_auxiliary` from `google_bigquery_reservation`
  mmv1/products/bigqueryreservation/Reservation.yaml
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
Labels: override-breaking-change, service/bigquery

#11259 Add folder level mute config for SCC v2
  mmv1/products/securitycenterv2/FolderMuteConfig.yaml
  mmv1/templates/terraform/examples/scc_v2_folder_mute_config_basic.tf.erb
  mmv1/third_party/terraform/services/securitycenterv2/resource_scc_v2_folder_mute_config_test.go
Labels: service/securitycenter

#11294 Fix static resource name in acceptance test TestAccVmwareengineNetworkPolicy_vmwareEngineNetworkPolicyFullExample
  mmv1/products/vmwareengine/NetworkPolicy.yaml
  mmv1/products/vmwareengine/go_NetworkPolicy.yaml
  mmv1/templates/terraform/examples/go/vmware_engine_network_policy_full.tf.tmpl
  mmv1/templates/terraform/examples/vmware_engine_network_policy_basic.tf.erb
  mmv1/templates/terraform/examples/vmware_engine_network_policy_full.tf.erb
Labels: service/vmwareengine

#11305 google_container_cluster: add Node auto-provisioning locations
  mmv1/third_party/terraform/services/container/go/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/go/resource_container_cluster_migratev1.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.erb
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.erb
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#11098 Add send_age_if_zero field and deprecate no_age.
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.erb
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.erb
  mmv1/third_party/terraform/website/docs/guides/version_6_upgrade.html.markdown
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#11296 Make TestAccAppEngineFlexibleAppVersion_update beta-only; contains beta-only field
  mmv1/third_party/terraform/services/appengine/resource_app_engine_flexible_app_version_test.go.erb
Labels: service/appengine

#11234 Move bigqueryanalyticshub beta to v1
  mmv1/products/bigqueryanalyticshub/product.yaml
Labels: service/bigquery
