Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-05, with the labels that each got.

#13829 Modify compute instance tests
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
Labels: service/compute-instances

#13830 workbench instance - Ignore irrelevant fields in update tests
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_shielded_config_test.go.tmpl
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.tmpl
Labels: service/notebooks

#13282 Terraform Integration for Capability
  mmv1/products/resourcemanager3/Capability.yaml
  mmv1/products/resourcemanager3/product.yaml
  mmv1/templates/terraform/custom_import/resource_manager_capability.go.tmpl
  mmv1/templates/terraform/examples/resource_manager_capability.tf.tmpl
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/resourcemanager3/resource_resource_manager_capability_test.go.tmpl
Labels: service/cloudresourcemanager-crm

#13497 feat: support Cloud SQL\'s new field connection_pool_config.
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#13727 Add directory services config field to Filestore instance in beta
  mmv1/products/filestore/Instance.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go.tmpl
Labels: service/filestore

#13764 feat: (storage) added sha512 in data object content
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content.go
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content_test.go
  mmv1/third_party/terraform/website/docs/d/storage_bucket_object_content.html.markdown
Labels: service/storage

#13833 Modify compute tests to get config for tgc testing
  mmv1/third_party/terraform/acctest/tgc_utils.go
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_test.go
Labels: service/compute-instances

#13722 add cleanup before build go/mm-sync-fix
  .ci/magician/cmd/generate_downstream.go
  .github/actions/build-downstream/action.yml
  .github/workflows/build-downstream.yml
  GNUmakefile
  docs/content/develop/add-fields.md
  docs/content/develop/add-iam-support.md
  docs/content/develop/add-resource.md
  docs/content/develop/generate-providers.md
  docs/content/develop/promote-to-ga.md
  docs/content/document/add-documentation.md
  docs/content/reference/make-commands.md
Labels: service/terraform

#13608 Feature/add grpc_with_tls field for healthcheck resource
  mmv1/products/compute/HealthCheck.yaml
  mmv1/products/compute/RegionHealthCheck.yaml
  mmv1/templates/terraform/encoders/health_check_type.tmpl
  mmv1/templates/terraform/examples/health_check_grpc_with_tls.tf.tmpl
  mmv1/templates/terraform/examples/health_check_grpc_with_tls_full.tf.tmpl
  mmv1/templates/terraform/examples/region_health_check_grpc_with_tls.tf.tmpl
  mmv1/templates/terraform/examples/region_health_check_grpc_with_tls_full.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_health_check_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_health_check_test.go.tmpl
Labels: service/compute-health

#13849 Allow in-place update for producer accept/reject lists
  mmv1/products/compute/NetworkAttachment.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_network_attachment_test.go.tmpl
Labels: service/private-service-connect-interfaces

#13855 Workbench: Metadata diff suppress checks the exact metadata key
  mmv1/templates/terraform/constants/workbench_instance.go.tmpl
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.tmpl
Labels: service/notebooks

#13865 modify tests to get config for tgc testing
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_test.go
Labels: service/compute-instances, service/cloudresourcemanager-crm

#13860 Added immutability support to Internal Ranges in Terraform.
  mmv1/products/networkconnectivity/InternalRange.yaml
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_internal_range_test.go
Labels: service/networkconnectivity-private-range

#13857 replacing abiu in cloud functions examples with a more meaningful name
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/templates/terraform/examples/cloudfunctions2_automatic_base_image_update.tf.tmpl
  mmv1/templates/terraform/examples/cloudfunctions2_on_deploy_base_image_update.tf.tmpl
Labels: service/cloudfunctions

#13839 Adding new fields to BackupVault & Backup to power a new feature called Cross Region Backups
  mmv1/products/netapp/Backup.yaml
  mmv1/products/netapp/BackupVault.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_test.go
Labels: service/netapp

#13820 Adding support for Dataplex Entry resource.
  mmv1/products/dataplex/Entry.yaml
  mmv1/templates/terraform/constants/dataplex_entry.go.tmpl
  mmv1/templates/terraform/custom_flatten/dataplex_entry_aspects.go.tmpl
  mmv1/templates/terraform/decoders/dataplex_entry.go.tmpl
  mmv1/templates/terraform/encoders/dataplex_entry.go.tmpl
  mmv1/templates/terraform/examples/dataplex_entry_basic.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_entry_full.tf.tmpl
  mmv1/templates/terraform/pre_read/dataplex_entry.go.tmpl
  mmv1/templates/terraform/pre_update/dataplex_entry.go.tmpl
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_entry_meta.yaml
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_entry_test.go
Labels: service/dataplex

#13843 Remove hard-coded GKE version for flexStart test
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#13762 Add default_time_zone to Spanner database resource
  mmv1/products/spanner/Database.yaml
  mmv1/templates/terraform/examples/spanner_database_basic.tf.tmpl
  mmv1/templates/terraform/post_create/spanner_database.go.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_database_test.go.tmpl
Labels: service/spanner

#13872 Update RegionalEndpoints examples to use the public hostname
  mmv1/products/networkconnectivity/RegionalEndpoint.yaml
  mmv1/templates/terraform/examples/network_connectivity_regional_endpoint_global_access.tf.tmpl
  mmv1/templates/terraform/examples/network_connectivity_regional_endpoint_regional_access.tf.tmpl
Labels: service/regional-endpoints

#13832 [AlloyDB] Terraform support for PSC service automation
  mmv1/products/alloydb/Instance.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
Labels: service/alloydb

#13792 Add knowledge_connector_settings to dialogflow_cx_flow/page
  mmv1/products/dialogflowcx/Flow.yaml
  mmv1/products/dialogflowcx/Page.yaml
  mmv1/templates/terraform/examples/dialogflowcx_flow_full.tf.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_page_full.tf.tmpl
  mmv1/third_party/terraform/services/dialogflowcx/resource_dialogflowcx_flow_test.go
  mmv1/third_party/terraform/services/dialogflowcx/resource_dialogflowcx_page_test.go
Labels: service/dialogflow

#13876 Fix typo around Windows Versions for GKE Clusters
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13827 Make Organization field in subjectConfig optional
  mmv1/products/privateca/CertificateAuthority.yaml
  mmv1/templates/terraform/examples/privateca_certificate_authority_basic_no_org.tf.tmpl
Labels: service/privateca

#13773 bigtable: add explicit disable automated backup on create for bigtabl…
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table_test.go
  mmv1/third_party/terraform/website/docs/r/bigtable_table.html.markdown
Labels: service/bigtableadmin

#13854 Revert "Support for Tags in google_dataproc_metastore_service resource"
  mmv1/products/metastore/Service.yaml
  mmv1/third_party/terraform/services/dataprocmetastore/resource_dataproc_metastore_service_test.go.tmpl
Labels: override-breaking-change, service/metastore

#13853 Revert "Adding tags field to Redis Instances for TagsR2401"
  mmv1/products/redis/Instance.yaml
  mmv1/third_party/terraform/services/redis/resource_redis_instance_test.go
Labels: override-breaking-change, service/redis-instance

#13775 Fix copy-paste errors in `google_storage_bucket` docs examples.
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#13885 Updated ACM from 1.18.2 to 1.21.0
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
Labels: service/gkehub

#13879 Prevent storagecontrol target project from being swept
  mmv1/third_party/terraform/services/storagecontrol/data_source_storage_control_project_intelligence_config_test.go
  mmv1/third_party/terraform/services/storagecontrol/resource_storage_control_project_intelligence_config_test.go
Labels: service/storage

#13331 feat(bigquery): added security_mode option for google_bigquery_routine
  mmv1/products/bigquery/Routine.yaml
  mmv1/templates/terraform/examples/bigquery_routine_basic.tf.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_routine_test.go
Labels: service/bigquery, disable-automatic-closure

#13245 Add missing disk related fields to instance_template resources
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#13696 Add field to support configuring new Media CDN feature (flexible shielding) via Terraform
  mmv1/products/networkservices/EdgeCacheOrigin.yaml
  mmv1/third_party/terraform/services/networkservices/resource_network_services_edge_cache_origin_test.go
Labels: service/networkservices-media-cdn

#13887 Switched force destroy to use a URL param instead of request body
  mmv1/products/gemini/CodeRepositoryIndex.yaml
  mmv1/templates/terraform/pre_delete/code_repository_index_force_delete.go.tmpl
Labels: service/gemini

#13889 Switched to only one bootstrapped code repository index to reduce quota issues
  mmv1/products/gemini/RepositoryGroup.yaml
  mmv1/third_party/terraform/services/gemini/resource_gemini_repository_group_test.go.tmpl
Labels: service/gemini

#13877 Update netapp tests to use bootstrapped networks
  mmv1/products/netapp/StoragePool.yaml
  mmv1/templates/terraform/examples/Storage_pool_create.tf.tmpl
  mmv1/templates/terraform/examples/Storage_pool_create_doc.tf.tmpl
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.tmpl
Labels: service/netapp

#13890 Framework template CRUD + SQL resource
  mmv1/api/resource.go
  mmv1/api/type.go
  mmv1/provider/template_data.go
  mmv1/provider/terraform.go
  mmv1/templates/terraform/resource_fw.go.tmpl
  mmv1/templates/terraform/schema_property_fw.go.tmpl
  mmv1/third_party/terraform/acctest/vcr_utils.go
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/sql/fw_resource_sql_user.go
  mmv1/third_party/terraform/services/sql/fw_resource_sql_user_test.go
Labels: service/pubsublite

#13892 Replace a hardcoded Kubernetes version with a current stable one.
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#13897 Add `Flow > eventHandlers > triggerFulfillment > enableGenerativeFall…
  mmv1/products/dialogflowcx/Flow.yaml
  mmv1/templates/terraform/examples/dialogflowcx_flow_full.tf.tmpl
  mmv1/third_party/terraform/services/dialogflowcx/resource_dialogflowcx_flow_test.go
Labels: service/dialogflow

#13888 Revert "Adding support for Dataplex Entry resource."
  mmv1/products/dataplex/Entry.yaml
  mmv1/templates/terraform/constants/dataplex_entry.go.tmpl
  mmv1/templates/terraform/custom_flatten/dataplex_entry_aspects.go.tmpl
  mmv1/templates/terraform/decoders/dataplex_entry.go.tmpl
  mmv1/templates/terraform/encoders/dataplex_entry.go.tmpl
  mmv1/templates/terraform/examples/dataplex_entry_basic.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_entry_full.tf.tmpl
  mmv1/templates/terraform/pre_read/dataplex_entry.go.tmpl
  mmv1/templates/terraform/pre_update/dataplex_entry.go.tmpl
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_entry_meta.yaml
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_entry_test.go
Labels: override-breaking-change, service/dataplex

#13902 fix: bigtable - avoid instance recreation due to node_scaling_factor addition in 6.34.0 for existing clusters
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance_internal_test.go
Labels: service/bigtableadmin

#13896 update bootstrapped vpc network name for netapp tests
  mmv1/products/netapp/Backup.yaml
  mmv1/products/netapp/StoragePool.yaml
  mmv1/products/netapp/Volume.yaml
  mmv1/products/netapp/VolumeQuotaRule.yaml
  mmv1/products/netapp/VolumeReplication.yaml
  mmv1/products/netapp/VolumeSnapshot.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.tmpl
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_quotaRule_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_replication_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_snapshot_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#13906 Fixed TestAccSpannerDatabase_spannerDatabaseBasicExample importstateverify
  mmv1/products/spanner/Database.yaml
Labels: service/spanner

#13899 make datasource google_projects universe domain aware
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_projects.go
Labels: service/cloudresourcemanager-crm

#13904 Switched TestAccContainerCluster_withFlexStart to use engine versions datasource
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#13828 Firebase App Hosting Domain, DefaultDomain and Traffic resources
  mmv1/products/firebaseapphosting/DefaultDomain.yaml
  mmv1/products/firebaseapphosting/Domain.yaml
  mmv1/products/firebaseapphosting/Traffic.yaml
  mmv1/templates/terraform/examples/firebase_app_hosting_default_domain_disabled.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_default_domain_full.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_default_domain_minimal.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_domain_full.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_domain_minimal.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_traffic_rollout_policy.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_traffic_rollout_policy_disabled.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_traffic_target.tf.tmpl
Labels: service/firebase

#13657 container: allow updating storage_pools
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#13869 Deprecate `google_beyondcorp_application`
  mmv1/products/beyondcorp/Application.yaml
  mmv1/templates/terraform/examples/beyondcorp_application_basic.tf.tmpl
  mmv1/templates/terraform/examples/beyondcorp_application_vpc.tf.tmpl
Labels: service/beyondcorp

#13441 feat(bigtable) Add support for deletion protection for Logical Views
  mmv1/products/bigtable/LogicalView.yaml
  mmv1/templates/terraform/examples/bigtable_logical_view.tf.tmpl
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_logical_view_test.go
Labels: service/bigtableadmin

#13898 Add `GenAppBuilderSettings` to Dialogflow CX `Agent` resource
  mmv1/products/dialogflowcx/Agent.yaml
  mmv1/templates/terraform/examples/dialogflowcx_agent_full.tf.tmpl
Labels: service/dialogflow

#13909 container: added in_transit_encryption_config
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13925 Update PC Create timeout
  mmv1/products/vmwareengine/PrivateCloud.yaml
Labels: service/vmwareengine

#13584 Add numeric_id to google_compute_instance_template
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
Labels: service/compute-instances

#13907 removed TestAccColabSchedule_colabScheduleFullExample from GA
  mmv1/products/colab/Schedule.yaml
  mmv1/templates/terraform/examples/colab_schedule_full.tf.tmpl
Labels: service/aiplatform-colab-enterprise

#13810 Adding lustre Instance datasource
  mmv1/products/lustre/Instance.yaml
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/lustre/data_source_lustre_instance.go
  mmv1/third_party/terraform/services/lustre/data_source_lustre_instance_test.go
  mmv1/third_party/terraform/website/docs/d/lustre_instance.html.markdown
Labels: service/lustre

#13905 Skipped additional dataproc gdc tests
  mmv1/products/dataprocgdc/ServiceInstance.yaml
  mmv1/third_party/terraform/services/dataprocgdc/resource_dataproc_gdc_application_environment_test.go
Labels: service/dataprocgdc

#13949 Add independent scaling fields (hyperdisk) to GA
  mmv1/products/netapp/StoragePool.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.tmpl
Labels: service/netapp

#13945 Change description of destination_project field in backup and restore channel resources.
  mmv1/products/gkebackup/BackupChannel.yaml
  mmv1/products/gkebackup/RestoreChannel.yaml
Labels: service/gkebackup

#13914 feat: expose the numeric `id` attribute as `generated_id` for the `google_compute_network_endpoint_group`
  mmv1/products/compute/NetworkEndpointGroup.yaml
  mmv1/third_party/terraform/services/compute/data_source_compute_network_endpoint_group_test.go
Labels: service/compute-networking-neg

#13926 Add fields to support for configuring Class ALB migration feature.
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_global_forwarding_rule_test.go.tmpl
Labels: service/compute-l7-load-balancer

#13658 container: allow updating windows_node_config in place
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#13952 remove template that no longer needs to be
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go
Labels: service/netapp

#13627 Removed cloud identity group set_computed_name post_create
  mmv1/products/cloudidentity/Group.yaml
Labels: service/cloudidentity-groups

#13628 Removed cloud identity group membership set_computed_name post_create
  mmv1/products/cloudidentity/GroupMembership.yaml
Labels: service/cloudidentity-groups

#13814 Add mode, inline cert iss & trust config to workload identity pool
  mmv1/products/iambeta/WorkloadIdentityPool.yaml
  mmv1/templates/terraform/examples/iam_workload_identity_pool_full.tf.tmpl
  mmv1/templates/terraform/examples/iam_workload_identity_pool_full_federation_only_mode.tf.tmpl
  mmv1/templates/terraform/examples/iam_workload_identity_pool_full_trust_domain_mode.tf.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_test.go
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_test.go.tmpl
  mmv1/third_party/terraform/services/iambeta/test-fixtures/trust_anchor_1.pem
  mmv1/third_party/terraform/services/iambeta/test-fixtures/trust_anchor_2.pem
  mmv1/third_party/terraform/services/iambeta/test-fixtures/trust_anchor_3.pem
  mmv1/third_party/terraform/services/iambeta/test-fixtures/trust_anchor_4.pem
Labels: service/run, service/iam-wlid

#13938 Check example vars
  mmv1/api/resource.go
  mmv1/api/resource/examples.go
  mmv1/api/type.go
  mmv1/products/accesscontextmanager/AuthorizedOrgsDesc.yaml
  mmv1/products/apigee/EnvgroupAttachment.yaml
  mmv1/products/apigee/InstanceAttachment.yaml
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/products/cloudbuild/Trigger.yaml
  mmv1/products/colab/Schedule.yaml
  mmv1/products/datastream/Stream.yaml
  mmv1/products/dialogflow/EntityType.yaml
  mmv1/products/eventarc/Trigger.yaml
  mmv1/products/firebaseapphosting/DefaultDomain.yaml
  mmv1/products/firebaseapphosting/Domain.yaml
  mmv1/products/firebaseextensions/Instance.yaml
  mmv1/products/netapp/Backup.yaml
  mmv1/products/securitycenter/OrganizationSccBigQueryExport.yaml
  mmv1/products/securitycenterv2/OrganizationSccBigQueryExport.yaml
  mmv1/products/securitycenterv2/OrganizationSccBigQueryExports.yaml
  mmv1/products/vmwareengine/ExternalAddress.yaml
  mmv1/templates/terraform/examples/bigquery_analyticshub_listing_subscription_basic.tf.tmpl
  mmv1/templates/terraform/examples/edgecontainer_local_control_plane_node_pool.tf.tmpl
  mmv1/templates/terraform/examples/gkebackup_backupchannel_basic.tf.tmpl
  mmv1/templates/terraform/examples/gkebackup_restorechannel_basic.tf.tmpl
  mmv1/templates/terraform/examples/instance_basic.tf.tmpl
Labels: service/terraform

#13946 Mark google_iam_oauth_client_credential client_secret as sensitive
  mmv1/products/iamworkforcepool/OauthClientCredential.yaml
Labels: service/iam-workforce

#13884 Promote network security intercept resources to GA.
  mmv1/products/networksecurity/InterceptDeployment.yaml
  mmv1/products/networksecurity/InterceptDeploymentGroup.yaml
  mmv1/products/networksecurity/InterceptEndpointGroup.yaml
  mmv1/products/networksecurity/InterceptEndpointGroupAssociation.yaml
  mmv1/templates/terraform/examples/network_security_intercept_deployment_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_intercept_deployment_group_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_intercept_endpoint_group_association_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_intercept_endpoint_group_basic.tf.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_deployment_group_test.go
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_deployment_test.go
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_endpoint_group_association_test.go
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_endpoint_group_test.go
Labels: service/networksecurityintegrations

#13910 H2C protocol added to backend_service and region_backend_service
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/examples/backend_service_external_managed.tf.tmpl
  mmv1/templates/terraform/examples/region_backend_service_balancing_mode.tf.tmpl
Labels: service/compute-l7-load-balancer

#13873 We shouldn't replace the url if `dialogflow_cx_custom_endpoint` is set.
  mmv1/products/dialogflowcx/Flow.yaml
  mmv1/templates/terraform/examples/dialogflowcx_flow_custom_endpoint.tf.tmpl
  mmv1/templates/terraform/pre_create/dialogflow_set_location.go.tmpl
  mmv1/templates/terraform/pre_create/dialogflowcx_set_location_skip_default_obj.go.tmpl
Labels: service/dialogflow

#13908 Add data source for `google_beyondcorp_security_gateway`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/beyondcorp/data_source_google_beyondcorp_security_gateway.go
  mmv1/third_party/terraform/services/beyondcorp/data_source_google_beyondcorp_security_gateway_test.go
  mmv1/third_party/terraform/website/docs/d/beyondcorp_security_gateway.html.markdown
Labels: service/beyondcorp

#13095 Terraform Support for Dataplex Glossary
  mmv1/products/dataplex/Glossary.yaml
  mmv1/templates/terraform/examples/dataplex_glossary_basic.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_glossary_full.tf.tmpl
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_glossary_test.go.tmpl
Labels: service/dataplex, disable-automatic-closure

#13901 Fixed TestAccComputeHealthCheck_tcpAndSsl_shouldFail
  mmv1/third_party/terraform/services/compute/resource_compute_health_check_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_health_check_test.go.tmpl
Labels: service/compute-health

#12819 Add `force_attach` to resource compute instance
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/tgc/tfdata/fake_resource_data_test.go
  mmv1/third_party/tgc_next/pkg/tfplan2cai/models/fake_resource_data_with_meta_test.go
Labels: service/compute-instances, disable-review-reminders

#13954 Fix the bug that required fields are not always in iam docs
  mmv1/api/resource.go
  mmv1/templates/terraform/datasource_iam.html.markdown.tmpl
  mmv1/templates/terraform/resource_iam.html.markdown.tmpl
Labels: service/terraform

#13966 Revert "Removed cloud identity group set_computed_name post_create"
  mmv1/products/cloudidentity/Group.yaml
Labels: service/cloudidentity-groups

#13970 Increase BeyondCorp AppGateway timeout from 20m to 40m
  mmv1/products/beyondcorp/AppGateway.yaml
Labels: service/beyondcorp

#13932 Add a new resource google_bigquery_row_access_policy
  mmv1/products/bigquery/RowAccessPolicy.yaml
  mmv1/templates/terraform/custom_expand/bigquery_row_access_policy_ref.go.tmpl
  mmv1/templates/terraform/examples/bigquery_row_access_policy_basic.tf.tmpl
  mmv1/templates/terraform/pre_delete/bigquery_row_access_policy.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_row_access_policy_test.go
Labels: service/bigquery

#13968 Fix typos
  mmv1/templates/terraform/examples/firebase_app_hosting_backend_github.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_build_github.tf.tmpl
Labels: service/firebase

#13983 Revert "Removed cloud identity group membership set_computed_name post_create"
  mmv1/products/cloudidentity/GroupMembership.yaml
Labels: service/cloudidentity-groups

#13973 Fixed permadiff on `product` in `google_gemini_logging_setting_binding`
  mmv1/products/gemini/LoggingSettingBinding.yaml
Labels: service/gemini

#13912 fix(storage): Remove flaky test for bucket's location change
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go
Labels: service/storage

#13982 Removed post_create for resourcemanager lien
  mmv1/products/resourcemanager/Lien.yaml
  mmv1/templates/terraform/post_create/lien.tmpl
Labels: service/cloudresourcemanager-crm

#13923 Terraform support for Category and Term Resources
  mmv1/products/dataplex/Glossary.yaml
  mmv1/products/dataplex/GlossaryCategory.yaml
  mmv1/products/dataplex/GlossaryTerm.yaml
  mmv1/templates/terraform/examples/dataplex_glossary_category_basic.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_glossary_category_full.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_glossary_term_basic.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_glossary_term_full.tf.tmpl
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_glossary_category_test.go
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_glossary_term_test.go
Labels: service/dataplex, override-multiple-resources

#13981 Removed firestore index post_create
  mmv1/products/firestore/Index.yaml
  mmv1/templates/terraform/post_create/index.go.tmpl
Labels: service/firestore-dataplane

#13989 removing `required_with` tag from `min`/`max_instances` fields in vpcaccess connector
  mmv1/products/vpcaccess/Connector.yaml
Labels: service/vpcaccess

#13996 container: add docs for user_managed_keys_config
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#14011 fix TestAccDataLossPreventionDiscoveryConfig_dlpDiscoveryConfigOrgFolderPausedExample
  mmv1/products/dlp/DiscoveryConfig.yaml
  mmv1/templates/terraform/examples/dlp_discovery_config_org_folder_paused.tf.tmpl
Labels: service/dlp

#14003 Fix apigee data residency test and example
  mmv1/templates/terraform/examples/apigee_organization_cloud_basic_data_residency.tf.tmpl
  mmv1/templates/terraform/examples/apigee_organization_cloud_basic_data_residency_test.tf.tmpl
Labels: service/apigee

#14012 Fix TestAccDataplexTaskDataplexTask_update
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_task_test.go
Labels: service/dataplex

#14027 Update project ID for oracledatabase's resources tests
  mmv1/products/oracledatabase/AutonomousDatabase.yaml
  mmv1/products/oracledatabase/CloudExadataInfrastructure.yaml
  mmv1/products/oracledatabase/CloudVmCluster.yaml
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_autonomous_database_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_autonomous_databases_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_cloud_exadata_infrastructure_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_cloud_exadata_infrastructures_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_cloud_vm_cluster_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_cloud_vm_clusters_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_db_nodes_test.go
  mmv1/third_party/terraform/services/oracledatabase/data_source_oracle_database_db_servers_test.go
Labels: service/oracledatabase

#14009 remove TestAccComputeHealthCheck_tcpAndSsl_shouldFail
  mmv1/third_party/terraform/services/compute/resource_compute_health_check_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_health_check_test.go.tmpl
Labels: service/compute-health

#14032 remove MANAGEMENT_AUTOMATIC from ACM tests
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
Labels: service/gkehub

#13819 Adding desired_auto_created_endpoints Virtual field to Memorystore instance
  mmv1/products/memorystore/Instance.yaml
  mmv1/templates/terraform/decoders/memorystore_instance.go.tmpl
  mmv1/templates/terraform/encoders/memorystore_instance.go.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_basic.tf.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_desired_user_and_auto_created_endpoints.tf.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_full.tf.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_persistence_aof.tf.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_secondary_instance.tf.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_standalone_full.tf.tmpl
  mmv1/third_party/terraform/services/memorystore/data_source_memorystore_instance_test.go
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/memorystore

#14004 address notebooks_instance flaky tests
  mmv1/products/notebooks/Instance.yaml
Labels: service/notebooks

#14006 Fix composer tests
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go
Labels: service/composer

#14008 fix flaky test TestAccComputeInstanceSettings_update
  mmv1/third_party/terraform/services/compute/resource_compute_instance_settings_test.go
Labels: service/compute-instances

#14033 Disable siteverification domain test
  mmv1/third_party/terraform/services/siteverification/resource_site_verification_web_resource_test.go
Labels: service/siteverification

#14014 make `gen_app_builder_settings` o+c in `google_dialogflow_cx_agent`
  mmv1/products/dialogflowcx/Agent.yaml
Labels: service/dialogflow

#14001 container: allow updating stack_type in place
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#13851 feat: implementation of spanner `instance_type` to be able to provision a `FREE_INSTANCE` via terraform
  mmv1/products/spanner/Instance.yaml
  mmv1/templates/terraform/encoders/spanner_instance.go.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#13963 added additionalPipelineOptions to google_dataflow_flex_template_job
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job.go.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_meta.yaml.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/dataflow_flex_template_job.html.markdown
Labels: service/dataflow

#13975 Removed post_create for identityplatform tenant
  mmv1/products/identityplatform/Tenant.yaml
  mmv1/templates/terraform/post_create/gcip_tenant.go.tmpl
Labels: service/identitytoolkit

#13920 Add workload identity pool namespace.
  mmv1/products/iambeta/WorkloadIdentityPoolNamespace.yaml
  mmv1/templates/terraform/constants/iam_workload_identity_pool_namespace.go.tmpl
  mmv1/templates/terraform/custom_check_destroy/iam_workload_identity_pool_namespace.go.tmpl
  mmv1/templates/terraform/examples/iam_workload_identity_pool_namespace_basic.tf.tmpl
  mmv1/templates/terraform/examples/iam_workload_identity_pool_namespace_full.tf.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_namespace_id_test.go.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_namespace_test.go.tmpl
Labels: service/iam-wlid

#14000 container: allow updating enable_multi_networking
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#13878 Cloud DMS PrivateConnection support for create_without_validation
  mmv1/products/databasemigrationservice/PrivateConnection.yaml
  mmv1/templates/terraform/examples/database_migration_service_private_connection.tf.tmpl
Labels: service/datamigration

#14019 Removing folder policy orchestrator tests from ga provider
  mmv1/third_party/terraform/services/osconfigv2/resource_os_config_v2_policy_orchestrator_for_folder_test.go.tmpl
Labels: service/osconfig

#13979 Removed IAP client post_create
  mmv1/products/iap/Client.yaml
  mmv1/templates/terraform/post_create/iap_client.go.tmpl
Labels: service/iap

#13972 Fixed permadiff on `product` in `google_gemini_release_channel_setting_binding`
  mmv1/products/gemini/ReleaseChannelSettingBinding.yaml
Labels: service/gemini

#13986 Fix TestAccDataSourceGoogleCloudBackupDRDataSource_basic
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_data_source_test.go.tmpl
Labels: service/backupdr

#13964 EdgeCacheService: Fixed `defaultTtl/maxTtl` Config validation failed error when switching `cache_mode`
  mmv1/products/networkservices/EdgeCacheService.yaml
  mmv1/templates/terraform/encoders/network_services_edge_cache_service.go.tmpl
  mmv1/third_party/terraform/services/networkservices/resource_network_services_edge_cache_service_test.go
Labels: service/networkservices-media-cdn

#13816 V2 worker pool
  mmv1/products/cloudrunv2/WorkerPool.yaml
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_basic.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_custom_audiences.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_directvpc.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_gpu.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_limits.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_mount_gcs.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_mount_nfs.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_multicontainer.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_secret.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_sql.tf.tmpl
  mmv1/templates/terraform/pre_delete/cloudrunv2_worker_pool_deletion_policy.go.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/data_source_google_cloud_run_v2_worker_pool.go
  mmv1/third_party/terraform/services/cloudrunv2/data_source_google_cloud_run_v2_worker_pool_test.go
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_worker_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/cloud_run_v2_worker_pool.html.markdown
Labels: service/run

#7405 docs: Updated argument descriptions in apigee_addons_config resource to match with corresponding REST API specs.
  mmv1/products/apigee/AddonsConfig.yaml
Labels: awaiting-approval, service/apigee

#13821 Feature gap: Add missed fields to `BackendService` and `RegionBackendService`
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/examples/backend_service_dynamic_forwarding.tf.tmpl
  mmv1/templates/terraform/examples/region_backend_service_dynamic_forwarding.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.tmpl
Labels: service/compute-l7-load-balancer

#13965 Removed colab schedule post_create logic related to setting name
  mmv1/templates/terraform/constants/router_nat.go.tmpl
  mmv1/templates/terraform/custom_flatten/name_from_self_link.tmpl
  mmv1/templates/terraform/post_create/colab_schedule.go.tmpl
  mmv1/third_party/cai2hcl/services/compute/compute_forwarding_rule.go
  mmv1/third_party/cai2hcl/services/compute/compute_region_backend_service.go
  mmv1/third_party/cai2hcl/services/compute/compute_region_health_check.go
  mmv1/third_party/terraform/services/osconfig/resource_os_config_os_policy_assignment.go
  mmv1/third_party/terraform/tpgresource/self_link_helpers.go
Labels: service/terraform

#13725 Add a copy file header to state the source file for handwritten files
  mmv1/provider/terraform.go
Labels: service/terraform

#13883 Add PSC fields to Filestore instance in beta
  mmv1/products/filestore/Instance.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go.tmpl
Labels: service/filestore

#13994 Fix TestAccContainerNodePool_resourceManagerTags
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/services/datafusion/resource_data_fusion_instance_test.go
  mmv1/third_party/terraform/services/filestore/resource_filestore_backup_test.go
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_google_folder_test.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_test.go
Labels: service/terraform

#13958 Combine all post replay templates into one
  .ci/magician/cmd/templates/vcr/non_exercised_tests.tmpl
  .ci/magician/cmd/templates/vcr/post_replay.tmpl
  .ci/magician/cmd/templates/vcr/test_analytics.tmpl
  .ci/magician/cmd/templates/vcr/with_replay_failed_tests.tmpl
  .ci/magician/cmd/templates/vcr/without_replay_failed_tests.tmpl
  .ci/magician/cmd/test_eap_vcr.go
  .ci/magician/cmd/test_terraform_vcr.go
  .ci/magician/cmd/test_terraform_vcr_test.go
Labels: service/accesscontextmanager

#13714 Adding Apigee Security Monitoring Condition resource support
  mmv1/products/apigee/SecurityMonitoringCondition.yaml
  mmv1/templates/terraform/custom_import/apigee_security_monitoring_condition.go.tmpl
  mmv1/templates/terraform/examples/apigee_security_monitoring_condition_basic.tf.tmpl
  mmv1/templates/terraform/examples/apigee_security_monitoring_condition_basic_test.tf.tmpl
Labels: service/apigee

#14057 Suppress the diff for false value of force_attach field
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
Labels: service/compute-instances

#13995 Allow updates to the mtu property in the Network resource.
  mmv1/products/compute/Network.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
Labels: service/compute-vpc

#14034 Add Managed Kafka Acl resource and tests.
  mmv1/products/managedkafka/Acl.yaml
  mmv1/templates/terraform/examples/managedkafka_acl_basic.tf.tmpl
  mmv1/third_party/terraform/services/managedkafka/resource_managed_kafka_acl_test.go
Labels: service/managedkafka

#13546 Promote firewall policy with rules resources to GA
  mmv1/products/compute/FirewallPolicyWithRules.yaml
  mmv1/products/compute/NetworkFirewallPolicyWithRules.yaml
  mmv1/products/compute/RegionNetworkFirewallPolicyWithRules.yaml
  mmv1/templates/terraform/examples/compute_firewall_policy_with_rules_full.tf.tmpl
  mmv1/templates/terraform/examples/compute_network_firewall_policy_with_rules_full.tf.tmpl
  mmv1/templates/terraform/examples/compute_region_network_firewall_policy_with_rules_full.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_firewall_policy_with_rules_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_with_rules_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_network_firewall_policy_with_rules_test.go.tmpl
Labels: service/network-security-distributed-firewall

#14020 container: add emphasis of service account attribute reference in docs
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13842 feat: `google_iam_workforce_pool_provider_key` resource creation
  mmv1/products/iamworkforcepool/WorkforcePoolProviderKey.yaml
  mmv1/templates/terraform/constants/iam_workforce_pool_provider_key.go.tmpl
  mmv1/templates/terraform/examples/iam_workforce_pool_provider_saml_key_basic.tf.tmpl
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_workforce_pool_provider_key_test.go
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_workforce_pool_workforce_pool_provider_key_id_test.go
Labels: service/iam-workforce

#13974 Add Mirror Percent to request_mirror_policy in URLMAP
  mmv1/products/compute/UrlMap.yaml
  mmv1/templates/terraform/examples/url_map_default_mirror_percent.tf.tmpl
  mmv1/templates/terraform/examples/url_map_path_matcher_default_mirror_percent.tf.tmpl
  mmv1/templates/terraform/examples/url_map_path_rule_mirror_percent.tf.tmpl
  mmv1/templates/terraform/examples/url_map_route_rule_mirror_percent.tf.tmpl
Labels: service/compute-l7-load-balancer

#14037 Unskip TestAccNetworkSecurityGatewaySecurityPolicyRule_multiple
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_gateway_security_policy_rule_test.go
Labels: service/networksecurity-swp

#13915 gkehub: datasource for gke_hub_membership resource
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/gkehub/data_source_google_gke_hub_membership.go
  mmv1/third_party/terraform/services/gkehub/data_source_google_gke_hub_membership_test.go
  mmv1/third_party/terraform/website/docs/d/gke_hub_feature.html.markdown
  mmv1/third_party/terraform/website/docs/d/gke_hub_membership.html.markdown
Labels: service/gkehub

#14059 Extend breaking change detector to work on new required and new optional with default
  docs/content/breaking-changes/breaking-changes.md
  tools/diff-processor/breaking_changes/breaking_changes.go
  tools/diff-processor/breaking_changes/field_diff.go
  tools/diff-processor/breaking_changes/field_diff_test.go
  tools/diff-processor/breaking_changes/mock_schema_diff_test.go
  tools/diff-processor/diff/diff.go
  tools/diff-processor/diff/diff_test.go
Labels: service/compute-instances, service/compute-router

#14026 feat: added `google_bigquery_table` data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/bigquery/data_source_google_bigquery_table.go
  mmv1/third_party/terraform/services/bigquery/data_source_google_bigquery_table_test.go
  mmv1/third_party/terraform/website/docs/d/bigquery_table.html.markdown
Labels: service/bigquery

#14039 Add Onprem Migration fields to Volume and Replication
  mmv1/products/netapp/Volume.yaml
  mmv1/products/netapp/VolumeReplication.yaml
Labels: service/netapp

#14002 Adds IP Filter feature support to google_storage_bucket resource.
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#14048 Add workload identity pool managed identity.
  mmv1/products/iambeta/WorkloadIdentityPoolManagedIdentity.yaml
  mmv1/templates/terraform/constants/iam_workload_identity_pool_managed_identity.go.tmpl
  mmv1/templates/terraform/custom_check_destroy/iam_workload_identity_pool_managed_identity.go.tmpl
  mmv1/templates/terraform/examples/iam_workload_identity_pool_managed_identity_basic.tf.tmpl
  mmv1/templates/terraform/examples/iam_workload_identity_pool_managed_identity_full.tf.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_managed_identity_test.go.tmpl
Labels: service/iam-wlid

#14061 update netapp network
  mmv1/products/netapp/Backup.yaml
  mmv1/products/netapp/StoragePool.yaml
  mmv1/products/netapp/Volume.yaml
  mmv1/products/netapp/VolumeQuotaRule.yaml
  mmv1/products/netapp/VolumeReplication.yaml
  mmv1/products/netapp/VolumeSnapshot.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_quotaRule_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_replication_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_snapshot_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#14070 Private CA - Differentiate unset and default values for is_ca/max_issuer_path_length in Certificate Templates
  mmv1/products/privateca/CertificateTemplate.yaml
  mmv1/templates/terraform/custom_expand/privateca_certificate_template_509_config.go.tmpl
  mmv1/templates/terraform/custom_flatten/privateca_certificate_template_509_config.go.tmpl
  mmv1/templates/terraform/examples/privateca_template_zero_max_issuer_path_length_null_ca.tf.tmpl
  mmv1/third_party/terraform/services/privateca/privateca_utils.go
  mmv1/third_party/terraform/services/privateca/resource_privateca_certificate_template_test.go
Labels: service/privateca

#13924 Add a new resource google_dataplex_entry
  mmv1/products/dataplex/Entry.yaml
  mmv1/templates/terraform/constants/dataplex_entry.go.tmpl
  mmv1/templates/terraform/custom_flatten/dataplex_entry_aspects.go.tmpl
  mmv1/templates/terraform/custom_import/dataplex_entry.go.tmpl
  mmv1/templates/terraform/decoders/dataplex_entry.go.tmpl
  mmv1/templates/terraform/encoders/dataplex_entry.go.tmpl
  mmv1/templates/terraform/examples/dataplex_entry_basic.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_entry_full.tf.tmpl
  mmv1/templates/terraform/pre_read/dataplex_entry.go.tmpl
  mmv1/templates/terraform/pre_update/dataplex_entry.go.tmpl
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_entry_meta.yaml
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_entry_test.go
Labels: service/dataplex

#14073 change yaml lint to only check relevant files for pull_request
  .github/workflows/unit-test-mmv1.yml
Labels: service/apigateway

#14089 Update resource_network_security_client_tls_policy_test.go.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_client_tls_policy_test.go.tmpl
Labels: service/network-security

#14105 Add documentation for `md5hexhash `field.
  mmv1/third_party/terraform/website/docs/r/storage_bucket_object.html.markdown
Labels: service/storage

#14109 docs: fix formatting mistake in `google_compute_security_policy` documentation
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: service/compute-security-policy

#14083 compute: Add example for `log_config` `optional_mode` and `optional_fields` in `google_compute_backend_service`.
  mmv1/products/compute/BackendService.yaml
  mmv1/templates/terraform/examples/backend_service_custom_metrics.tf.tmpl
Labels: service/compute-l7-load-balancer

#13836 Removed post-create setting of identity fields that aren't computed or in id_format
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/terraform

#14108 Add numeric_id to compute_instance_region_template
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#14130 Move enabling SecretManager versions out of the expand function
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/products/secretmanagerregional/RegionalSecretVersion.yaml
  mmv1/templates/terraform/constants/regional_secret_version.go.tmpl
  mmv1/templates/terraform/constants/secret_version.go.tmpl
  mmv1/templates/terraform/custom_expand/regional_secret_version_enable.go.tmpl
  mmv1/templates/terraform/custom_expand/secret_version_enable.go.tmpl
  mmv1/templates/terraform/custom_update/regional_secret_version.go.tmpl
  mmv1/templates/terraform/custom_update/secret_version.go.tmpl
  mmv1/templates/terraform/post_create/regional_secret_version.go.tmpl
  mmv1/templates/terraform/post_create/secret_version.go.tmpl
Labels: service/secretmanager

#14134 Deprecate PSS feature.
  mmv1/products/colab/RuntimeTemplate.yaml
Labels: service/aiplatform-colab-enterprise

#14093 fix: string based ordering for `google_compute_region_security_policy` causes recreate after apply
  mmv1/products/compute/RegionSecurityPolicy.yaml
  mmv1/templates/terraform/constants/region_security_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_security_policy_test.go.tmpl
Labels: service/compute-security-policy

#13522 Added support for NAT64 when configuring Router NAT
  mmv1/products/compute/RouterNat.yaml
  mmv1/products/dns/Policy.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_router_nat_test.go
  mmv1/third_party/terraform/services/dns/resource_dns_policy_test.go
Labels: service/compute-nat, service/cloud-dns

#14114 Update description for import source arguments
  mmv1/products/memorystore/Instance.yaml
  mmv1/products/redis/Cluster.yaml
Labels: service/redis-cluster, service/memorystore

#14143 Move instance settings fingerprint custom code to pre_*
  mmv1/products/compute/InstanceSettings.yaml
  mmv1/templates/terraform/custom_expand/compute_instance_settings_fingerprint.tmpl
  mmv1/templates/terraform/pre_create/compute_instance_settings_fingerprint.go.tmpl
Labels: service/compute-instances

#14146 Check for fields that are needed for the read URL explicitly
  mmv1/api/resource.go
  mmv1/api/resource_test.go
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/managedidentities
