Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-03, with the labels that each got.

#13209 Add new resource IAM OAuth Client for Workforce Identity Federation.
  mmv1/products/iamworkforcepool/OauthClient.yaml
  mmv1/products/iamworkforcepool/product.yaml
  mmv1/templates/terraform/constants/iam_oauth_client.go.tmpl
  mmv1/templates/terraform/custom_check_destroy/iam_oauth_client.go.tmpl
  mmv1/templates/terraform/examples/iam_oauth_client_basic.tf.tmpl
  mmv1/templates/terraform/examples/iam_oauth_client_full.tf.tmpl
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_oauth_client_test.go.tmpl
Labels: service/iam-workforce

#13206 Promote CSM network services resources to GA
  mmv1/products/networkservices/EndpointPolicy.yaml
  mmv1/products/networkservices/GrpcRoute.yaml
  mmv1/products/networkservices/HttpRoute.yaml
  mmv1/products/networkservices/Mesh.yaml
  mmv1/products/networkservices/ServiceBinding.yaml
  mmv1/products/networkservices/TcpRoute.yaml
  mmv1/products/networkservices/TlsRoute.yaml
  mmv1/templates/terraform/examples/network_services_endpoint_policy_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_endpoint_policy_empty_match.tf.tmpl
  mmv1/templates/terraform/examples/network_services_grpc_route_actions.tf.tmpl
  mmv1/templates/terraform/examples/network_services_grpc_route_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_grpc_route_matches_and_actions.tf.tmpl
  mmv1/templates/terraform/examples/network_services_http_route_actions.tf.tmpl
  mmv1/templates/terraform/examples/network_services_http_route_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_http_route_matches_and_actions.tf.tmpl
  mmv1/templates/terraform/examples/network_services_http_route_mesh_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_mesh_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_mesh_location.tf.tmpl
  mmv1/templates/terraform/examples/network_services_mesh_no_port.tf.tmpl
  mmv1/templates/terraform/examples/network_services_service_binding_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_tcp_route_actions.tf.tmpl
  mmv1/templates/terraform/examples/network_services_tcp_route_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_tcp_route_gateway_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_tcp_route_mesh_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_tls_route_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_tls_route_gateway_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_services_tls_route_mesh_basic.tf.tmpl
Labels: service/networkservices-traffic-director

#13238 Update the description of CryptoKeyVersion.state
  mmv1/products/kms/CryptoKeyVersion.yaml
Labels: service/cloudkms

#13214 Update Monitoring Alert Policy SQL Condition Documentation
  mmv1/products/monitoring/AlertPolicy.yaml
  mmv1/templates/terraform/examples/monitoring_alert_policy_sql_condition.tf.tmpl
Labels: service/monitoring-alerting

#13200 Fixes issue #18911 for Eventarc test flakiness due to IAM races
  mmv1/products/eventarc/Trigger.yaml
  mmv1/templates/terraform/examples/eventarc_trigger_with_channel_cmek.tf.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_google_channel_config_test.go
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_message_bus_test.go
Labels: service/eventarc

#13212 Add client scope
  mmv1/products/certificatemanager/Certificate.yaml
  mmv1/templates/terraform/examples/certificate_manager_client_auth_certificate.tf.tmpl
Labels: service/certificatemanager

#13072 Update IAM v3 documentation for Principal Access Boundary Policies, and Policy Bindings.
  mmv1/products/iam3/FoldersPolicyBinding.yaml
  mmv1/products/iam3/OrganizationsPolicyBinding.yaml
  mmv1/products/iam3/PrincipalAccessBoundaryPolicy.yaml
  mmv1/products/iam3/ProjectsPolicyBinding.yaml
Labels: service/iam-core

#13223 [AlloyDB] PSC Outbound Connectivity Support
  mmv1/products/alloydb/Instance.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
Labels: service/alloydb

#13254 Update the description of intercept resources.
  mmv1/products/networksecurity/InterceptDeployment.yaml
  mmv1/products/networksecurity/InterceptDeploymentGroup.yaml
  mmv1/products/networksecurity/InterceptEndpointGroup.yaml
  mmv1/products/networksecurity/InterceptEndpointGroupAssociation.yaml
Labels: service/networksecurityintegrations

#13255 Update the description of mirroring resources.
  mmv1/products/networksecurity/MirroringDeployment.yaml
  mmv1/products/networksecurity/MirroringDeploymentGroup.yaml
  mmv1/products/networksecurity/MirroringEndpointGroup.yaml
  mmv1/products/networksecurity/MirroringEndpointGroupAssociation.yaml
Labels: service/networksecurityintegrations

#13262 Add `description` field to intercept resources.
  mmv1/products/networksecurity/InterceptDeployment.yaml
  mmv1/products/networksecurity/InterceptDeploymentGroup.yaml
  mmv1/products/networksecurity/InterceptEndpointGroup.yaml
  mmv1/templates/terraform/examples/network_security_intercept_deployment_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_intercept_deployment_group_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_intercept_endpoint_group_basic.tf.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_deployment_generated_test.go.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_deployment_group_generated_test.go.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_intercept_endpoint_group_generated_test.go.tmpl
Labels: service/networksecurityintegrations

#13264 Remove note about beta permissions from google_compute_shared_vpc_service_project docs
  mmv1/third_party/terraform/website/docs/r/compute_shared_vpc_service_project.html.markdown
Labels: service/compute-vpc

#13211 Add SchedulingConfig.spot to TPU v2 VM
  mmv1/products/tpuv2/Vm.yaml
  mmv1/templates/terraform/examples/tpu_v2_vm_full.tf.tmpl
Labels: service/tpu

#12791 compute: Add `scheduling.termination_time` field to compute_instance resources
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/compute_instance_helpers_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#13234 Made nested query resources replace the whole resource instead of merging new over old
  mmv1/templates/terraform/nested_query.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_router_nat_test.go.tmpl
Labels: service/compute-nat

#13094 Add Optional Log Fields to google_cloud_region_backend_service
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.tmpl
Labels: service/compute-l7-load-balancer

#13063 Exactly one of breaking rule
  docs/content/breaking-changes/breaking-changes.md
  tools/diff-processor/breaking_changes/resource_diff.go
  tools/diff-processor/breaking_changes/resource_diff_test.go
  tools/diff-processor/diff/diff.go
  tools/diff-processor/diff/diff_test.go
  tools/diff-processor/diff/sets.go
  tools/diff-processor/diff/sets_test.go
Labels: service/terraform

#13258 Fix minor edit suggestions for IAM OAuth Client resource
  mmv1/products/iamworkforcepool/OauthClient.yaml
  mmv1/templates/terraform/constants/iam_oauth_client.go.tmpl
  mmv1/templates/terraform/custom_check_destroy/iam_oauth_client.go.tmpl
  mmv1/templates/terraform/examples/iam_oauth_client_basic.tf.tmpl
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_oauth_client_test.go.tmpl
Labels: service/iam-workforce

#13026 Migrate google_eventarc_channel resource from DCL to MMv1
  mmv1/api/resource/examples.go
  mmv1/products/eventarc/Channel.yaml
  mmv1/templates/terraform/custom_expand/eventarc_channel_name.go.tmpl
  mmv1/templates/terraform/custom_flatten/eventarc_channel_name.go.tmpl
  mmv1/templates/terraform/examples/eventarc_channel.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_channel_with_cmek.tf.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_channel_meta.yaml
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_channel_test.go
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_channel_test.go.tmpl
  mmv1/third_party/terraform/transport/error_retry_predicates.go
  tpgtools/overrides/eventarc/beta/channel.yaml
  tpgtools/overrides/eventarc/channel.yaml
  tpgtools/overrides/eventarc/samples/channel/basic.tf.tmpl
  tpgtools/overrides/eventarc/samples/channel/basic.yaml
  tpgtools/overrides/eventarc/samples/channel/meta.yaml
Labels: override-breaking-change, service/eventarc

#12922 Enhance subnetwork.yaml to allow purpose field to be patch-able
  mmv1/products/compute/Subnetwork.yaml
  mmv1/third_party/terraform/services/compute/data_source_google_compute_subnetworks_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_subnetwork_test.go.tmpl
Labels: service/compute-vpc

#13271 Adding IP Collection & IPv6 GCE Endpoint to Subnetwork Resource
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/examples/subnetwork_with_subnet_mode_pdp.tf.tmpl
Labels: service/compute-vpc

#13231 Add new resource IAM OAuth Client Credential for Workforce Identity Federation
  mmv1/products/iamworkforcepool/OauthClientCredential.yaml
  mmv1/templates/terraform/custom_check_destroy/iam_oauth_client_credential.go.tmpl
  mmv1/templates/terraform/examples/iam_oauth_client_credential_full.tf.tmpl
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_oauth_client_credential_test.go.tmpl
Labels: service/iam-workforce

#13078 make Firewall Policy Association mutable
  mmv1/products/compute/FirewallPolicyAssociation.yaml
  mmv1/templates/terraform/custom_update/firewall_policy_association_update.go.tmpl
  mmv1/templates/terraform/examples/firewall_policy_association_swapover.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_firewall_policy_association_test.go
Labels: service/network-security-distributed-firewall

#13290 Fix bad preamble on RMIG DS docs
  mmv1/third_party/terraform/website/docs/d/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#13289 Fix google_service_networking_peered_dns_domain docs
  mmv1/third_party/terraform/website/docs/r/google_service_networking_peered_dns_domain.html.markdown
Labels: service/service-networking

#13275 Fix TF: Failing test(s): TestAccWorkbenchInstance_updateState
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_shielded_config_test.go.tmpl
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.tmpl
Labels: service/notebooks

#13295 Fix issue#20603
  mmv1/products/discoveryengine/SearchEngine.yaml
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_search_engine_test.go
Labels: service/discoveryengine

#13250 Promote `singleInstanceAssignment` and `filter` to GA
  mmv1/products/compute/Autoscaler.yaml
Labels: service/compute-autoscaler

#13265 Add google_eventarc_pipeline resource
  mmv1/products/eventarc/Pipeline.yaml
  mmv1/templates/terraform/examples/eventarc_pipeline_with_cmek_and_avro_format.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_pipeline_with_http_destination.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_pipeline_with_oauth_and_protobuf_format.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_pipeline_with_oidc_and_json_format.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_pipeline_with_topic_destination.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_pipeline_with_workflow_destination.tf.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_message_bus_test.go
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_pipeline_test.go
Labels: service/eventarc

#13235 correct datasoruce doc file names
  mmv1/third_party/terraform/website/docs/d/cloud_identity_group_memberships.html.markdown
  mmv1/third_party/terraform/website/docs/d/cloud_identity_transitive_group_memberships.html.markdown
  mmv1/third_party/terraform/website/docs/d/kms_key_rings.html.markdown
Labels: service/cloudidentity-groups, service/cloudkms

#13279 Add support for continuous query to google_bigquery_job in beta
  mmv1/products/bigquery/Job.yaml
  mmv1/templates/terraform/examples/bigquery_job_query_continuous.tf.tmpl
Labels: service/bigquery

#13313 Rename a datasource markdown file name
  mmv1/third_party/terraform/website/docs/d/cloud_identity_group_transitive_memberships.html.markdown
Labels: service/cloudidentity-groups

#13178 feat: (storageinsights) added field parquet_options in google_storage_insights_report_config
  mmv1/products/storageinsights/ReportConfig.yaml
  mmv1/third_party/terraform/services/storageinsights/resource_storage_insights_report_config_test.go
Labels: service/storage

#13324 Add CreateTime & UpdateTime to google_dataproc_metastore_service
  mmv1/products/metastore/Service.yaml
Labels: service/metastore

#13329 Add UNRESTRICTED option to TargetHttpsProxy.tlsEarlyData.
  mmv1/products/compute/TargetHttpsProxy.yaml
Labels: service/compute-l7-load-balancer

#13323 Add CreateTime & UpdateTime to google_dataproc_metastore_federation
  mmv1/products/metastore/Federation.yaml
Labels: service/metastore

#12221 Added support for additional values KCP_HPA in `google_container_clus…
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#13240 impl(google_bigquery_table): exposing TableMetadataView query param
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go.tmpl
Labels: service/bigquery

#13040 Terraform config for Firebase App Hosting Backend resource
  mmv1/products/firebaseapphosting/Backend.yaml
  mmv1/products/firebaseapphosting/product.yaml
  mmv1/templates/terraform/examples/firebase_app_hosting_backend_full.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_backend_github.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_backend_minimal.tf.tmpl
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/firebaseapphosting/resource_firebase_app_hosting_backend_test.go
Labels: service/firebase

#13149 Remove immutable annotation from engine_version to support version upgrade.
  mmv1/products/memorystore/Instance.yaml
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/redis-instance

#13233 fix: correct output value path
  mmv1/third_party/terraform/website/docs/d/container_attached_versions.html.markdown
Labels: service/gkemulticloud

#13280 fix: handle responses without policies
  mmv1/third_party/terraform/services/accesscontextmanager/data_source_access_context_manager_access_policy.go
Labels: service/accesscontextmanager

#13326 bigtable: update automated backups documentation for bigtable table
  mmv1/third_party/terraform/website/docs/r/bigtable_table.html.markdown
Labels: service/bigtableadmin

#13299 Increase range of CloudSQL Query Insights string length & plans per minute to match Enterprise Plus limits
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
Labels: service/sqladmin-cp

#13213 Add bac to backend service
  mmv1/products/compute/BackendService.yaml
  mmv1/templates/terraform/examples/backend_service_tls_settings.tf.tmpl
Labels: service/compute-l7-load-balancer

#13093 Feature gap: Add missed `enable_flow_logs` & `state` to subnetwork
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/constants/subnetwork.tmpl
  mmv1/templates/terraform/custom_expand/subnetwork_log_config.go.tmpl
  mmv1/templates/terraform/custom_flatten/subnetwork_log_config.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_subnetwork_test.go.tmpl
  mmv1/third_party/tgc/tests/data/example_compute_subnetwork.json
  mmv1/third_party/tgc/tests/data/example_compute_subnetwork.tf
Labels: service/compute-vpc

#13263 spanner: Properly set fieldMask when removing autoscaling
  mmv1/templates/terraform/encoders/spanner_instance_update.go.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#13322 Promote network security mirroring resources to GA.
  mmv1/products/networksecurity/MirroringDeployment.yaml
  mmv1/products/networksecurity/MirroringDeploymentGroup.yaml
  mmv1/products/networksecurity/MirroringEndpointGroup.yaml
  mmv1/products/networksecurity/MirroringEndpointGroupAssociation.yaml
  mmv1/templates/terraform/examples/network_security_mirroring_deployment_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_mirroring_deployment_group_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_mirroring_endpoint_group_association_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_security_mirroring_endpoint_group_basic.tf.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_mirroring_deployment_group_test.go
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_mirroring_deployment_test.go
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_mirroring_endpoint_group_association_test.go
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_mirroring_endpoint_group_test.go
Labels: service/networksecurityintegrations

#13184 Migrate GA version of compute firewall policy
  mmv1/products/compute/FirewallPolicy.yaml
  mmv1/templates/terraform/examples/firewall_policy.tf.tmpl
  tpgtools/overrides/compute/beta/tpgtools_product.yaml
  tpgtools/overrides/compute/firewall_policy.yaml
  tpgtools/overrides/compute/samples/firewallpolicyrule/basic_fir_sec_rule.tf.tmpl
  tpgtools/overrides/compute/samples/firewallpolicyrule/basic_fir_sec_rule.yaml
  tpgtools/overrides/compute/samples/firewallpolicyrule/basic_fir_sec_rule_update.tf.tmpl
  tpgtools/overrides/compute/samples/firewallpolicyrule/meta.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicy/global.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicy/global.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicy/global_update.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicy/meta.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicy/regional.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicy/regional.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicy/regional_update.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/global.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/global.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/global_update.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/meta.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/regional.tf.tmpl
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/regional.yaml
  tpgtools/overrides/compute/samples/networkfirewallpolicyrule/regional_update.tf.tmpl
  tpgtools/overrides/compute/tpgtools_product.yaml
Labels: service/network-security-distributed-firewall

#13352 Resource list fallback to items index
  mmv1/templates/terraform/sweeper_file.go.tmpl
Labels: service/terraform

#13353 Wait for write propagation after creating an OS Login SSH key
  mmv1/products/oslogin/SSHPublicKey.yaml
  mmv1/templates/terraform/post_create/sshkeyfingerprint_and_sleep.go.tmpl
Labels: service/oslogin

#13348 Add DNS_SCOPE_UNSPECIFIED back and fix diffs
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13345 Support for service owned project number
  mmv1/products/alloydb/Cluster.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_test.go
Labels: service/alloydb

#13309 Added missing "force" (delete) argument to google_dataform_repository resource
  mmv1/products/dataform/Repository.yaml
  mmv1/templates/terraform/examples/dataform_repository.tf.tmpl
  mmv1/templates/terraform/examples/dataform_repository_with_cloudsource_repo.tf.tmpl
  mmv1/templates/terraform/pre_delete/dataform_repository.go.tmpl
Labels: service/dataform

#13274 Make Backend Service Custom Metrics tests available in ga
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/examples/backend_service_custom_metrics.tf.tmpl
  mmv1/templates/terraform/examples/region_backend_service_ilb_custom_metrics.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.tmpl
Labels: service/compute-l7-load-balancer

#13302 Add data source for retrieving a project iam custom role
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_project_iam_custom_role.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_project_iam_custom_role_test.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_project_iam_custom_roles.go
  mmv1/third_party/terraform/website/docs/d/project_iam_custom_role.html.markdown
Labels: service/iam-core

#13310 Add Managed Kafka ConnectCluster and Connector resources and tests
  mmv1/products/managedkafka/ConnectCluster.yaml
  mmv1/products/managedkafka/Connector.yaml
  mmv1/templates/terraform/examples/managedkafka_connect_cluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/managedkafka_connector_basic.tf.tmpl
Labels: service/managedkafka

#13293 Upgrade DCL to 1.78
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/clouddeploy/resource_clouddeploy_target_test.go
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/clouddeploy

#13190 Remove immutable annotation from nodeType to support vertical scaling for redis cluster.
  mmv1/products/redis/Cluster.yaml
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.tmpl
Labels: service/redis-cluster

#13019 Add `google_compute_images` data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/compute/data_source_google_compute_images.go.tmpl
  mmv1/third_party/terraform/services/compute/data_source_google_compute_images_test.go
  mmv1/third_party/terraform/website/docs/d/compute_images.html.markdown
Labels: service/compute-pd

#13193 Add disk related fields to google_compute_instance
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances

#13197 Add support for WindowsNodeConfig to GKE NodePool
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13325 Reconcile Dataproc Metastore Autoscaling Configs w/ API status
  mmv1/products/metastore/Service.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_max_scaling_factor.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_min_and_max_scaling_factor.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_min_scaling_factor.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_metastore_service_autoscaling_no_limit_config.tf.tmpl
Labels: service/metastore

#13261 feat: (storage) remove validation of max 2 items for data_locations in custom_placement_config field
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
Labels: override-breaking-change, service/storage

#13207 Add a diffSupressFunc() for template_gcs_path.
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job.go.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job_test.go.tmpl
Labels: service/dataflow

#13378 Revert "Add bac to backend service"
  mmv1/products/compute/BackendService.yaml
  mmv1/templates/terraform/examples/backend_service_tls_settings.tf.tmpl
Labels: service/compute-l7-load-balancer

#13371 feat: (storagetransfer) add metadata_options in transfer spec
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.tmpl
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_test.go
Labels: service/storage

#13188 Remove immutable annotation from node type to support vertical scaling for Valkey.
  mmv1/products/memorystore/Instance.yaml
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/redis-instance

#13278 Fix the issue that user can't use regional disk in global_instance_template
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.tmpl
Labels: service/compute-instances

#12689 Add storage_project_management_hub resource.
  mmv1/products/storagecontrol/ProjectIntelligenceConfig.yaml
  mmv1/products/storagecontrol/product.yaml
  mmv1/templates/terraform/constants/storage_control_intelligence.go.tmpl
  mmv1/templates/terraform/custom_create/storage_control_project_intelligence.go.tmpl
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/storagecontrol/data_source_storage_control_project_intelligence_config.go
  mmv1/third_party/terraform/services/storagecontrol/data_source_storage_control_project_intelligence_config_test.go
  mmv1/third_party/terraform/services/storagecontrol/resource_storage_control_project_intelligence_config_test.go
Labels: service/storage

#13368 Add new enum value for 400g interconnect
  mmv1/products/compute/Interconnect.yaml
Labels: service/compute-interconnect

#13363 Add default value to env.value to fix the plan diffs in cloud run services
  mmv1/products/cloudrun/Service.yaml
  mmv1/products/cloudrunv2/Service.yaml
Labels: override-breaking-change, service/run

#13359 Added pod_autoscaling field to google_container_cluster resource
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13381 Add support for the managed disaster recovery feature in google_bigquery_reservation
  mmv1/products/bigqueryreservation/Reservation.yaml
  mmv1/templates/terraform/examples/bigquery_reservation_with_disaster_recovery.tf.tmpl
  mmv1/third_party/terraform/services/bigqueryreservation/resource_bigquery_reservation_test.go
Labels: service/bigquery

#13301 Add data source for retrieving an organization iam custom role
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_organization_iam_custom_role.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_organization_iam_custom_role_test.go
  mmv1/third_party/terraform/website/docs/d/organization_iam_custom_role.html.markdown
Labels: service/iam-core

#13366 Add `locations` field to intercept deployment group.
  mmv1/products/networksecurity/InterceptDeploymentGroup.yaml
Labels: service/networksecurityintegrations

#13120 Adding magic module config for osconfigv2
  mmv1/products/osconfigv2/PolicyOrchestrator.yaml
  mmv1/products/osconfigv2/product.yaml
  mmv1/templates/terraform/examples/osconfigv2_policy_orchestrator_basic.tf.tmpl
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/osconfigv2/resource_os_config_v2_policy_orchestrator_test.go.tmpl
Labels: service/osconfig

#13395 Fix TestAccFirebaseAppHostingBackend
  mmv1/products/firebaseapphosting/Backend.yaml
  mmv1/templates/terraform/examples/firebase_app_hosting_backend_full.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_backend_minimal.tf.tmpl
Labels: service/firebase

#12369 Add support for shielded instance initial state
  mmv1/products/compute/Image.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_image_test.go.tmpl
  mmv1/third_party/terraform/tpgresource/common_diff_suppress.go.tmpl
  mmv1/third_party/terraform/tpgresource/common_diff_suppress_test.go
Labels: service/compute-pd

#13373 Add `connectedDeploymentGroup` and `associations` fields to intercept endpoint group.
  mmv1/products/networksecurity/InterceptEndpointGroup.yaml
Labels: service/networksecurityintegrations

#13387 Update google_network_management_connectivity_test
  mmv1/products/networkmanagement/ConnectivityTest.yaml
  mmv1/templates/terraform/examples/network_management_connectivity_test_endpoints.tf.tmpl
Labels: service/networkmanagement-connectivity-test

#13402 Remove by-invitation only from invokerIamDisabled documentation
  mmv1/products/cloudrunv2/Service.yaml
Labels: service/run

#13228 Use the location of the folder when configuring folder logging bucket
  mmv1/third_party/terraform/services/logging/data_source_google_logging_organization_settings_test.go
  mmv1/third_party/terraform/services/logging/resource_logging_bucket_config_test.go
  mmv1/third_party/terraform/services/logging/resource_logging_folder_settings_test.go
  mmv1/third_party/terraform/services/logging/resource_logging_organization_settings_test.go
Labels: service/logging

#13411 Promote google_chronicle_data_access_label resource of chronicle to GA
  mmv1/products/chronicle/DataAccessLabel.yaml
  mmv1/products/chronicle/product.yaml
  mmv1/templates/terraform/examples/chronicle_dataaccesslabel_basic.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_data_access_label_test.go.tmpl
Labels: service/chronicle

#13049 mw valkey terraform changes
  mmv1/products/memorystore/Instance.yaml
  mmv1/templates/terraform/examples/memorystore_instance_basic.tf.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_full.tf.tmpl
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/redis-instance

#13362 Fix cross-project listing subscriptions
  mmv1/products/bigqueryanalyticshub/ListingSubscription.yaml
  mmv1/templates/terraform/pre_read/bigqueryanalyticshub_listing_subscription.tmpl
  mmv1/third_party/terraform/services/bigqueryanalyticshub/resource_bigquery_analytics_hub_listing_subscription_test.go
Labels: service/bigquery

#13364 add ip_endpoints_config field to google_container_cluster
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13320 Instance lifecycle policy on failed health check action implementation
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager_meta.yaml.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_meta.yaml.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#13370 Add `locations` field to intercept endpoint group association.
  mmv1/products/networksecurity/InterceptEndpointGroupAssociation.yaml
Labels: service/networksecurityintegrations

#13418 Remove v1 version guards for GKE auto-monitoring
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13404 Make multiple secondary cluster operations non-concurrent
  mmv1/products/alloydb/Cluster.yaml
Labels: service/alloydb

#13372 Add `connectedDeploymentGroups` and `associations` fields to mirroring endpoint group.
  mmv1/products/networksecurity/MirroringEndpointGroup.yaml
Labels: service/networksecurityintegrations

#13367 Add `locations` field to mirroring deployment group.
  mmv1/products/networksecurity/MirroringDeploymentGroup.yaml
Labels: service/networksecurityintegrations

#13356 Add a new resource google_discovery_engine_sitemap
  mmv1/products/discoveryengine/Sitemap.yaml
  mmv1/templates/terraform/custom_check_destroy/discoveryengine_sitemap.go.tmpl
  mmv1/templates/terraform/custom_import/discoveryengine_sitemap_set_id.go.tmpl
  mmv1/templates/terraform/examples/discoveryengine_sitemap_basic.tf.tmpl
  mmv1/templates/terraform/post_read/discoveryengine_sitemap_post_read.go.tmpl
Labels: service/discoveryengine

#13068 Add a custom diff function for org_policy rules to fix permadiff
  mmv1/products/orgpolicy/Policy.yaml
  mmv1/templates/terraform/constants/org_policy_policy.go.tmpl
  mmv1/third_party/terraform/services/orgpolicy/resource_org_policy_policy_test.go
Labels: service/orgpolicy

#12841 feat: added `disabled_user_signup` and `disabled_user_deletion` to `google_identity_platform_tenant`
  mmv1/products/identityplatform/Tenant.yaml
  mmv1/third_party/terraform/services/identityplatform/resource_identity_platform_tenant_test.go
Labels: service/identitytoolkit

#13360 Fixed not being able to update preview status in SecurityPolicyRule and RegionSecurityPolicyRule
  mmv1/products/compute/RegionSecurityPolicyRule.yaml
  mmv1/products/compute/SecurityPolicyRule.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_region_security_policy_rule_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_rule_test.go.tmpl
Labels: service/compute-security-policy

#13335 Add Dataproc Metastore Database Resource for IAM support
  mmv1/products/metastore/Database.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_service_database_iam.tf.tmpl
  mmv1/templates/terraform/iam/example_config_body/dataproc_metastore_database_template.tf.tmpl
Labels: service/metastore

#13305 Add google_compute_region_backend_service Datasource
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/compute/data_source_google_compute_region_backend_service.go
  mmv1/third_party/terraform/services/compute/data_source_google_compute_region_backend_service_test.go
  mmv1/third_party/terraform/website/docs/d/compute_region_backend_service.html.markdown
Labels: service/compute-l7-load-balancer

#13386 Add storage_control_organization_intelligence_config resource.
  mmv1/products/storagecontrol/OrganizationIntelligenceConfig.yaml
  mmv1/templates/terraform/custom_create/storage_control_organization_intelligence.go.tmpl
  mmv1/templates/terraform/examples/storage_control_organization_intelligence_config_basic.tf.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/storagecontrol/data_source_storage_control_organization_intelligence_config.go
  mmv1/third_party/terraform/services/storagecontrol/data_source_storage_control_organizaton_intelligence_config_test.go
  mmv1/third_party/terraform/services/storagecontrol/resource_storage_control_organization_intelligence_config_test.go
Labels: service/storage

#13428 Clarify lifecycle of `google_secret_manager_secret_version` and `google_secret_manager_regional_secret_version` resource in documentation
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/products/secretmanagerregional/RegionalSecretVersion.yaml
Labels: service/secretmanager

#13427 Promote google_chronicle_watchlist resource of chronicle to GA
  mmv1/products/chronicle/Watchlist.yaml
  mmv1/templates/terraform/examples/chronicle_watchlist_basic.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_watchlist_without_id.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_watchlist_test.go.tmpl
Labels: service/chronicle

#13060 Adding Apigee Dns Zone resource support
  mmv1/products/apigee/DnsZone.yaml
  mmv1/templates/terraform/custom_import/apigee_dns_zone.go.tmpl
  mmv1/templates/terraform/examples/apigee_dns_zone_basic.tf.tmpl
  mmv1/templates/terraform/examples/apigee_dns_zone_basic_test.tf.tmpl
Labels: service/apigee

#13284 Add google_eventarc_enrollment resource
  mmv1/products/eventarc/Enrollment.yaml
  mmv1/templates/terraform/examples/eventarc_enrollment_with_pipeline_destination.tf.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_message_bus_test.go
Labels: service/eventarc

#13442 Fix google_storage_bucket documentation
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#13358 Cancel the LRO if anything fails while waiting on LRO for anywhere_cache_resource
  mmv1/products/storage/AnywhereCache.yaml
  mmv1/templates/terraform/custom_create/storage_anywhere_cache.go.tmpl
  mmv1/templates/terraform/custom_update/storage_anywhere_cache.go.tmpl
  mmv1/templates/terraform/post_create/storage_anywhere_cache_post_create.go.tmpl
  mmv1/third_party/terraform/services/storage/storage_operation.go
Labels: service/storage

#13449 Scope down RNEG lifecycle rule recommendation
  mmv1/products/compute/RegionNetworkEndpointGroup.yaml
Labels: service/compute-networking-neg

#13388 bigtable: fixing automated_backup_policy field for bigtable table
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table_test.go
  mmv1/third_party/terraform/website/docs/r/bigtable_table.html.markdown
Labels: service/bigtableadmin

#13269 spanner: fixed applying default_labels changes
  mmv1/templates/terraform/encoders/spanner_instance_update.go.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#13298 Adding New Subnet-Mode To PDP Mode Field
  mmv1/products/compute/PublicDelegatedPrefix.yaml
  mmv1/templates/terraform/examples/public_delegated_prefix_ipv6_subnet_mode.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_public_advertised_prefix_test.go
Labels: service/compute-ipam

#13447 added swp auto-gen router prefix to sweeper
  mmv1/products/compute/Router.yaml
Labels: service/compute-router

#12943 Add source_machine_image_encryption_key to google_compute_instance_from_machine_image resource
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image_test.go.tmpl
Labels: service/compute-instances

#13300 Add secret_manager_stored_password field to Datastream connection profiles
  mmv1/products/datastream/ConnectionProfile.yaml
  mmv1/templates/terraform/examples/datastream_connection_profile_postgres_secret_manager.tf.tmpl
Labels: service/datastream

#13450 Add the CONTINUOUS job type to google_bigquery_reservation_assignment documentation
  mmv1/products/bigqueryreservation/ReservationAssignment.yaml
Labels: service/bigquery

#13415 Increase page size for list services call
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project.go
Labels: service/cloudresourcemanager-crm

#13424 fix: (storage) added content_base64 field in google_storage_bucket_object_content datasource
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content.go
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content_test.go
  mmv1/third_party/terraform/website/docs/d/storage_bucket_object_content.html.markdown
Labels: service/storage

#13343 Add support for GPU redundancy to Cloud Run v2 service
  mmv1/products/cloudrun/Service.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloud_run_service_gpu.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_service_gpu.tf.tmpl
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.tmpl
Labels: service/run

#13375 Fixes posture tests
  mmv1/third_party/terraform/services/securityposture/resource_securityposture_posture_deployment_test.go
Labels: service/securityposture

#13454 Fix metadata permadiff for workbench instances
  mmv1/templates/terraform/constants/workbench_instance.go.tmpl
  mmv1/templates/terraform/examples/workbench_instance_full.tf.tmpl
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.tmpl
Labels: service/notebooks

#13444 Add Terraform support for antivirus threat override
  mmv1/products/networksecurity/SecurityProfile.yaml
  mmv1/templates/terraform/examples/network_security_security_profile_overrides.tf.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_security_profile_test.go.tmpl
Labels: service/network-security-distributed-firewall

#13458 Add 1 minute delay after project creation before running KMS KAJ test
  mmv1/third_party/terraform/services/kms/resource_kms_crypto_key_test.go.tmpl
Labels: service/cloudkms

#13389 Firebase App Hosting Build resource
  mmv1/products/firebaseapphosting/Build.yaml
  mmv1/templates/terraform/examples/firebase_app_hosting_build_full.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_build_github.tf.tmpl
  mmv1/templates/terraform/examples/firebase_app_hosting_build_minimal.tf.tmpl
Labels: service/firebase

#13446 Add Dataproc Metastore Table Resource for IAM support
  mmv1/products/metastore/Table.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_service_table_iam.tf.tmpl
  mmv1/templates/terraform/iam/example_config_body/dataproc_metastore_table_template.tf.tmpl
Labels: service/metastore

#13118 Add support to user-managed firewall rules for GKE Load Balancer Services
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_meta.yaml.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container, service/compute-pd

#13456 add new field binary_authorization_policy to cloudfunctions2
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/third_party/terraform/services/cloudfunctions2/resource_cloudfunctions2_function_test.go
Labels: service/cloudfunctions

#13355 Memorystore Valkey Multi vpc support
  mmv1/products/memorystore/Instance.yaml
  mmv1/products/memorystore/InstanceDesiredUserCreatedEndpoints.yaml
  mmv1/templates/terraform/custom_delete/memorystore_instance_desired_user_created_endpoints.go.tmpl
  mmv1/templates/terraform/custom_flatten/memorystore_instance_desired_user_created_connections_desired_endpoints.go.tmpl
  mmv1/templates/terraform/decoders/memorystore_instance.go.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_desired_user_and_auto_created_endpoints.tf.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_desired_user_created_endpoints.tf.tmpl
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/redis-instance

#13407 Add update label test for vpn gateways
  mmv1/third_party/terraform/services/compute/resource_compute_ha_vpn_gateway_test.go
Labels: service/compute-vpn

#13463 Add documentation for Storage Intelligence data sources.
  mmv1/third_party/terraform/website/docs/d/storage_control_folder_intelligence_config.html.markdown
  mmv1/third_party/terraform/website/docs/d/storage_control_organization_intelligence_config.html.markdown
  mmv1/third_party/terraform/website/docs/d/storage_control_project_intelligence_config.html.markdown
Labels: service/storage

#13429 Add pathMatchers[].routeRules[].customErrorResponsePolicy field to google_compute_url_map
  mmv1/products/compute/UrlMap.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_url_map_test.go.tmpl
Labels: service/compute-l7-load-balancer

#13417 Update basic GMK cluster terraform example to use auto rebalance
  mmv1/templates/terraform/examples/managedkafka_cluster_basic.tf.tmpl
Labels: service/managedkafka

#12714 add `external_credentials` support in provider block
  mmv1/third_party/terraform/fwmodels/provider_model.go.tmpl
  mmv1/third_party/terraform/fwprovider/framework_provider.go.tmpl
  mmv1/third_party/terraform/fwvalidators/framework_validators.go
  mmv1/third_party/terraform/provider/provider.go.tmpl
  mmv1/third_party/terraform/provider/provider_internal_test.go
  mmv1/third_party/terraform/provider/provider_test.go.tmpl
  mmv1/third_party/terraform/provider/provider_validators.go.tmpl
  mmv1/third_party/terraform/transport/config.go.tmpl
  mmv1/third_party/terraform/website/docs/guides/external_credentials_stacks.html.markdown
  mmv1/third_party/terraform/website/docs/guides/provider_reference.html.markdown
Labels: service/secretmanager

#13413 Access Context Manager - Add support for roles in service perimeter resources
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunResource.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterResource.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_serviceperimeters_custom_flatten.go.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_dry_run_egress_policy_granular_controls.tf.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_dry_run_ingress_policy_granular_controls.tf.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_egress_policy_granular_controls.tf.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_granular_controls.tf.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_ingress_policy_granular_controls.tf.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_dry_run_egress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_dry_run_ingress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_egress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_ingress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_test.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_services_perimeters_test.go
Labels: service/accesscontextmanager

#13476 Promote google_chronicle_rule resource of chronicle to GA
  mmv1/products/chronicle/Rule.yaml
  mmv1/templates/terraform/examples/chronicle_rule_basic.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_rule_with_data_access_scope.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_rule_with_force_deletion.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_rule_test.go.tmpl
Labels: service/chronicle

#13475 Promote google_chronicle_referencelist resource of chronicle to GA
  mmv1/products/chronicle/ReferenceList.yaml
  mmv1/templates/terraform/examples/chronicle_referencelist_basic.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_reference_list_test.go.tmpl
Labels: service/chronicle

#13482 Promote google_chronicle_retrohunt resource of chronicle to GA
  mmv1/products/chronicle/Retrohunt.yaml
  mmv1/templates/terraform/examples/chronicle_retrohunt_basic.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/chronicle_operation.go
Labels: service/chronicle

#13481 Promote google_chronicle_rule_deployment resource of chronicle to GA
  mmv1/products/chronicle/RuleDeployment.yaml
  mmv1/templates/terraform/examples/chronicle_ruledeployment_basic.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_ruledeployment_disabled.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_ruledeployment_run_frequency_missing.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_rule_deployment_test.go.tmpl
Labels: service/chronicle

#13477 Update Chronicle resources documentation to point to v1 rest documentation
  mmv1/products/chronicle/DataAccessLabel.yaml
  mmv1/products/chronicle/DataAccessScope.yaml
  mmv1/products/chronicle/Watchlist.yaml
Labels: service/chronicle

#13192 Add missing KMS fields to google_compute_instance
  mmv1/products/compute/Image.yaml
  mmv1/products/compute/Snapshot.yaml
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/tpgresource/field_helpers.go
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/tgc/tfdata/fake_resource_data_test.go
  mmv1/third_party/tgc_next/tfplan2cai/models/fake_resource_data_with_meta_test.go
Labels: service/compute-instances, service/compute-pd

#13432 Memorystore Instance Cross Instance Replication addition
  mmv1/products/memorystore/Instance.yaml
  mmv1/templates/terraform/examples/memorystore_instance_secondary_instance.tf.tmpl
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/redis-instance

#13445 Fix an unsafe type assertion in google_artifact_registry_repository
  mmv1/templates/terraform/constants/artifact_registry_repository.go.tmpl
Labels: service/artifactregistry

#13472 Add `md5authenticationkeys` to `google_compute_router`
  mmv1/products/compute/Router.yaml
  mmv1/templates/terraform/examples/compute_router_md5encrypted.tf.tmpl
Labels: service/compute-router

#13471 Add deletion_protection field to Metastore Federation
  mmv1/products/metastore/Federation.yaml
  mmv1/templates/terraform/examples/dataproc_metastore_federation_basic.tf.tmpl
  mmv1/templates/terraform/pre_delete/metastore_federation.go.tmpl
  mmv1/third_party/terraform/services/dataprocmetastore/resource_dataproc_metastore_federation_test.go
Labels: service/metastore

#13421 Add a test check function to get cai assets metadata
  mmv1/third_party/terraform/acctest/tgc_utils.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_test.go
Labels: service/cloudresourcemanager-crm

#13486 fix Composer docs (#21228)
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#13469 Implement pre update and query parameter options. Fix other various sweeper dependency connections
  mmv1/api/resource/sweeper.go
  mmv1/products/certificatemanager/Certificate.yaml
  mmv1/products/compute/Network.yaml
  mmv1/products/compute/ResourcePolicy.yaml
  mmv1/products/datafusion/Instance.yaml
  mmv1/products/datastream/PrivateConnection.yaml
  mmv1/products/integrations/AuthConfig.yaml
  mmv1/products/networksecurity/BackendAuthenticationConfig.yaml
  mmv1/products/networksecurity/FirewallEndpointAssociation.yaml
  mmv1/products/networksecurity/GatewaySecurityPolicy.yaml
  mmv1/products/networksecurity/InterceptDeploymentGroup.yaml
  mmv1/products/networksecurity/InterceptEndpointGroup.yaml
  mmv1/products/networksecurity/SecurityProfile.yaml
  mmv1/products/networksecurity/ServerTlsPolicy.yaml
  mmv1/products/networkservices/Gateway.yaml
  mmv1/products/redis/Cluster.yaml
  mmv1/products/sql/SourceRepresentationInstance.yaml
  mmv1/products/vmwareengine/ExternalAddress.yaml
  mmv1/products/vmwareengine/Network.yaml
  mmv1/products/vmwareengine/NetworkPeering.yaml
  mmv1/products/vmwareengine/NetworkPolicy.yaml
  mmv1/products/vmwareengine/PrivateCloud.yaml
  mmv1/templates/terraform/sweeper_file.go.tmpl
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_external_address_sweeper.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_network_sweeper.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_sweeper.go
Labels: service/terraform

#13485 Re-deprecate enable_flow_logs
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/constants/subnetwork.tmpl
  mmv1/templates/terraform/custom_expand/subnetwork_log_config.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_subnetwork_test.go.tmpl
  mmv1/third_party/tgc/tests/data/example_compute_subnetwork.json
  mmv1/third_party/tgc/tests/data/example_compute_subnetwork.tf
Labels: override-breaking-change, service/compute-vpc

#13487 Set a default value for envs in Cloud Run Job
  mmv1/products/cloudrunv2/Job.yaml
Labels: override-breaking-change, service/run

#13401 Adding automated backup config to Redis
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/custom_expand/redis_cluster_automated_backup_config.go.tmpl
  mmv1/templates/terraform/custom_flatten/redis_cluster_automated_backup_config.go.tmpl
  mmv1/templates/terraform/encoders/redis_cluster.go.tmpl
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.tmpl
Labels: service/redis-cluster, service/redis-instance

#13483 Remove beta launch stage from cloudrunv2_service_gpu example
  mmv1/templates/terraform/examples/cloudrunv2_service_gpu.tf.tmpl
Labels: service/run

#13479 Fixes https://github.com/hashicorp/terraform-provider-google/issues/21796
  mmv1/templates/terraform/examples/firebasehosting_version_cloud_functions.tf.tmpl
Labels: service/firebase
