Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-06, with the labels that each got.

#14173 doc: state possible `total_egress_bandwidth_tier` values
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container

#14136 NetworkAttachment is now optional in google_eventarc_pipeline
  mmv1/products/eventarc/Pipeline.yaml
  mmv1/templates/terraform/examples/eventarc_pipeline_with_topic_destination.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_pipeline_with_workflow_destination.tf.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_message_bus_test.go
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_pipeline_test.go
Labels: service/eventarc

#14164 feat: added 'data_source_id' for update requests through bigquery_data_transfer_config
  mmv1/templates/terraform/pre_update/bigquerydatatransfer_config.tmpl
Labels: service/bigquery

#14179 colab: fixed perma-diff in `google_colab_runtime_template` caused by the API returning a non-null default value.
  mmv1/products/colab/RuntimeTemplate.yaml
Labels: service/aiplatform-colab-enterprise

#14174 Add Curation resource of API hub
  mmv1/products/apihub/Curation.yaml
  mmv1/templates/terraform/examples/apihub_curation_basic.tf.tmpl
  mmv1/third_party/terraform/services/apihub/resource_apihub_curation_test.go
Labels: service/apihub

#14171 doc: update TPU topology link
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container

#14126 Enforce id validation for WorkloadIdentityPool Managed Identity
  mmv1/products/iambeta/WorkloadIdentityPoolManagedIdentity.yaml
  mmv1/products/iambeta/WorkloadIdentityPoolNamespace.yaml
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_managed_identity_id_test.go.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_namespace_test.go.tmpl
Labels: service/iam-wlid

#14192 Add example to network_security.backend_authentication_config
  mmv1/products/networksecurity/BackendAuthenticationConfig.yaml
Labels: service/networksecurity-mtls

#13588 Add MessageTransform to 'google_pubsub_topic'
  mmv1/products/pubsub/Topic.yaml
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_topic_test.go
Labels: service/pubsub

#13589 Add MessageTransform field to 'google_pubsub_subscription'
  mmv1/products/pubsub/Subscription.yaml
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
Labels: service/pubsub

#14197 colab: fixed perma-diff in google_colab_runtime_template caused by empty blocks.
  mmv1/products/colab/RuntimeTemplate.yaml
  mmv1/templates/terraform/examples/colab_runtime_template_full.tf.tmpl
Labels: service/aiplatform-colab-enterprise

#14186 Convert google_compute_firewall_policy_with_rules target_resources fields to RRs
  mmv1/products/compute/FirewallPolicyWithRules.yaml
Labels: service/network-security-distributed-firewall

#14208 fix(bigquery_dataset): Added logic for merging views and routines for google_bigquery_dataset_iam_member
  mmv1/third_party/terraform/services/bigquery/iam_bigquery_member_dataset.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_iam_member_test.go
Labels: service/bigquery

#13838 feat: `google_cloud_run_v2_job` support for `depends_on` and `startup_probe`
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.tmpl
Labels: service/run

#14177 fix multi-container test for worker pool
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_multicontainer.tf.tmpl
Labels: service/run

#14191 added delay b/w storage pool creation & volume creation
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_test.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go
Labels: service/netapp

#14051 fix: bug on `google_compute_router_nat` where changes to `auto_network_tier` are always showed after initial apply
  mmv1/products/compute/RouterNat.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_router_nat_test.go
Labels: service/compute-nat

#14212 Add Flex AutoTier support for storagePool and Volume
  mmv1/products/netapp/StoragePool.yaml
  mmv1/products/netapp/Volume.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.tmpl
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go.tmpl
Labels: service/netapp

#14091 Add `Tool` resource to product Dialgoflow CX
  mmv1/products/dialogflowcx/Agent.yaml
  mmv1/products/dialogflowcx/Tool.yaml
  mmv1/templates/terraform/custom_import/dialogflowcx_tool.go.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_tool_data_store.tf.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_tool_function.tf.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_tool_open_api.tf.tmpl
  mmv1/templates/terraform/post_delete/dialogflowcx_agent.go.tmpl
  mmv1/templates/terraform/pre_delete/dialogflowcx_agent.go.tmpl
  mmv1/third_party/terraform/services/dialogflowcx/resource_dialogflow_cx_tool_test.go
Labels: service/dialogflow

#13840 Update changes to BackupPlan with respect to disk and regional disk
  mmv1/products/backupdr/BackupPlan.yaml
Labels: service/backupdr

#14210 Document architecture field in disk.
  mmv1/products/compute/Disk.yaml
Labels: service/compute-pd

#14176 fw template update/mask
  mmv1/products/datafusion/Instance.yaml
  mmv1/templates/terraform/pre_update/datafusion_instance_update.go.tmpl
  mmv1/templates/terraform/resource_fw.go.tmpl
  mmv1/templates/terraform/update_mask_fw.go.tmpl
  mmv1/third_party/terraform/fwtransport/framework_utils.go
  mmv1/third_party/terraform/services/compute/fw_data_source_google_compute_network.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_android_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_apple_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_web_app_config.go.tmpl
Labels: service/firebase, service/datafusion

#14085 Remove the hard coded timeout while doing bucket deletion.
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
Labels: service/storage

#14118 Add headers, expectedOutputUrl, and expectedRedirectResponseCode fields to URL map
  mmv1/products/compute/UrlMap.yaml
  mmv1/templates/terraform/examples/url_map_test_expected_output_url.tf.tmpl
  mmv1/templates/terraform/examples/url_map_test_headers.tf.tmpl
  mmv1/templates/terraform/examples/url_map_test_redirect_response_code.tf.tmpl
Labels: service/compute-l7-load-balancer

#14216 Terraform should ignore "prodcurrent" and "prodprevious" when diff image subminor version for Dataproc clusters
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_internal_test.go
Labels: service/dataproc

#14153 Fix service account issue
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#13784 Make capacity immutable in google_network_security_address_group
  mmv1/products/networksecurity/AddressGroup.yaml
Labels: service/network-security-distributed-firewall

#14081 add default_route_action to regional url map under path_matcher
  mmv1/products/compute/RegionUrlMap.yaml
  mmv1/templates/terraform/examples/region_url_map_path_matcher_default_route_action.tf.tmpl
Labels: service/compute-l7-load-balancer

#13941 Make VCR correctly handle compound tests
  .ci/magician/cmd/templates/vcr/record_replay.tmpl
  .ci/magician/cmd/test_terraform_vcr.go
  .ci/magician/vcr/tester.go
  .ci/magician/vcr/tester_test.go
Labels: service/accesscontextmanager

#14231 disk sweeper pagination
  mmv1/third_party/terraform/services/compute/resource_compute_disk_sweeper.go
Labels: service/compute-pd

#14214 Fix runner to surface generic errors
  .ci/magician/exec/runner.go
Labels: service/accesscontextmanager

#14234 remove ignoredPorjectServices in google_project_service
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_service.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_service_internal_test.go
Labels: service/cloudresourcemanager-crm, service/serviceusage

#14193 Added Fingerprint to TargetHttpProxy and TartgetHttpsProxy
  mmv1/products/compute/TargetHttpProxy.yaml
  mmv1/products/compute/TargetHttpsProxy.yaml
  mmv1/templates/terraform/examples/target_http_proxy_fingerprint.tf.tmpl
  mmv1/templates/terraform/examples/target_https_proxy_fingerprint.tf.tmpl
Labels: service/compute-l7-load-balancer

#14225 Adding support for log_linked_dataset_query_user_email attribute for BigQuery Analytics Hub listings.
  mmv1/products/bigqueryanalyticshub/Listing.yaml
  mmv1/templates/terraform/examples/bigquery_analyticshub_listing_log_linked_dataset_query_user.tf.tmpl
Labels: service/bigquery

#13862 Fixed ServiceAttachment target_service region/location inconsistency when referencing a Secure Web Proxy on creation
  mmv1/third_party/terraform/tpgresource/field_helpers.go
Labels: service/private-service-connect-published-service

#14170 networkconnectivity: add `producer_instance_location` and `allowed_google_producers_resource_hierarchy_level` to `psc_config` for `google_network_connectivity_service_connection_policy`
  mmv1/products/networkconnectivity/ServiceConnectionPolicy.yaml
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_service_connection_policies_test.go
Labels: service/networkconnectivity-serviceautomation

#14240 Update for Docs for google_redis_cluster_user_created_connections to new url
  mmv1/products/redis/ClusterUserCreatedConnections.yaml
Labels: service/redis-cluster

#14195 Fix `target_server` validation for service attachment
  mmv1/templates/terraform/custom_expand/service_attachment_target_service.go.tmpl
Labels: service/private-service-connect-published-service

#14049 Fix issue on hubs in google_beyondcorp_security_gateway
  mmv1/products/beyondcorp/SecurityGateway.yaml
  mmv1/templates/terraform/constants/beyondcorp_security_gateway.go.tmpl
Labels: service/beyondcorp

#14260 add deprecation message to google_notebook_runtime
  mmv1/products/notebooks/Runtime.yaml
  mmv1/third_party/terraform/services/notebooks/resource_notebooks_instance_test.go
Labels: service/notebooks

#14258 Revert "Add Terraform Support for WireGroups."
  mmv1/products/compute/WireGroup.yaml
  mmv1/templates/terraform/custom_check_destroy/cross_site_network.go.tmpl
  mmv1/templates/terraform/custom_check_destroy/wire_group.go.tmpl
  mmv1/templates/terraform/custom_delete/cross_site_network.go.tmpl
  mmv1/templates/terraform/examples/compute_wire_group_basic.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_wire_group_test.go.tmpl
Labels: override-breaking-change

#14248 Added cipher_suite to VpnTunnel
  mmv1/products/compute/VpnTunnel.yaml
  mmv1/templates/terraform/examples/vpn_tunnel_cipher_suite.tf.tmpl
Labels: service/compute-vpn

#13959 Add Terraform support for dataplex recommendation api
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/dataplex/data_source_dataplex_data_quality_rules.go
  mmv1/third_party/terraform/services/dataplex/data_source_dataplex_data_quality_rules_test.go
  mmv1/third_party/terraform/website/docs/d/dataplex_data_quality_rules.html.markdown
Labels: service/dataplex

#14232 Update dimension description to match the behavior
  mmv1/products/dataplex/Datascan.yaml
Labels: service/dataplex

#14253 Launch domainName forwarding target to GA
  mmv1/products/dns/ManagedZone.yaml
  mmv1/third_party/terraform/services/dns/resource_dns_managed_zone_test.go.tmpl
Labels: service/cloud-dns

#14117 fix: (storage) added source_md5hash field in bucket object
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object.go
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object_test.go
  mmv1/third_party/terraform/website/docs/r/storage_bucket_object.html.markdown
Labels: service/storage

#14270 Promote CustomErrorResponsePolicy from beta
  mmv1/products/compute/UrlMap.yaml
  mmv1/templates/terraform/examples/url_map_custom_error_response_policy.tf.tmpl
Labels: service/compute-l7-load-balancer

#14242 Updated the bigquery_table.html schema description
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#14151 fix(securitypolicy): add ja4 fingerprint
  mmv1/products/compute/RegionSecurityPolicy.yaml
  mmv1/products/compute/RegionSecurityPolicyRule.yaml
  mmv1/products/compute/SecurityPolicyRule.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_region_security_policy_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_rule_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: service/compute-security-policy

#14266 Adding support for log_linked_dataset_query_user_email attribute for BigQuery Analytics Hub Data exchanges.
  mmv1/products/bigqueryanalyticshub/DataExchange.yaml
  mmv1/templates/terraform/examples/bigquery_analyticshub_data_exchange_log_linked_dataset_query_user.tf.tmpl
Labels: service/bigquery

#14281 Fix TestAccSpannerInstance_noNodeCountSpecified to skip VCR
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#14274 Add Terraform Support for Dataplex Discovery Scans
  mmv1/products/dataplex/Datascan.yaml
  mmv1/templates/terraform/examples/dataplex_datascan_basic_discovery.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_datascan_full_discovery.tf.tmpl
  mmv1/templates/terraform/examples/dataplex_datascan_full_quality_test.tf.tmpl
Labels: service/dataplex

#14238 Add Support for CSI
  mmv1/products/compute/Interconnect.yaml
  mmv1/templates/terraform/examples/compute_interconnect_basic.tf.tmpl
  mmv1/templates/terraform/examples/compute_interconnect_basic_test.tf.tmpl
Labels: service/compute-interconnect

#14180 Add lustre instance performance tiers
  mmv1/products/lustre/Instance.yaml
  mmv1/templates/terraform/examples/lustre_instance_basic.tf.tmpl
  mmv1/third_party/terraform/services/lustre/data_source_lustre_instance_test.go
  mmv1/third_party/terraform/services/lustre/resource_lustre_instance_test.go
Labels: override-breaking-change, service/lustre

#14052 allow sending propagatedConnectionLimit zero value for ServiceAttachment
  mmv1/products/compute/ServiceAttachment.yaml
  mmv1/templates/terraform/encoders/compute_service_attachment.go.tmpl
  mmv1/templates/terraform/update_encoder/compute_service_attachment.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_service_attachment_test.go
Labels: service/private-service-connect-published-service

#14247 [AlloyDB] Support for PSA Allocated IP Range Override
  mmv1/products/alloydb/Instance.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
Labels: service/alloydb

#14263 Fix the bug that sql instance can not enable mcp
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go.tmpl
Labels: service/sqladmin-cp

#14302 Add Pub/Sub Topic Source Support to Analytics Hub Listing
  mmv1/products/bigqueryanalyticshub/Listing.yaml
  mmv1/templates/terraform/examples/bigquery_analyticshub_listing_pubsub.tf.tmpl
  mmv1/templates/terraform/pre_update/bigqueryanalyticshub_listing.go.tmpl
  mmv1/third_party/terraform/services/bigqueryanalyticshub/resource_bigquery_analytics_hub_listing_test.go
Labels: service/bigquery

#14206 Adding KMS CMEK support for Dialogflow
  mmv1/products/dialogflow/EncryptionSpec.yaml
  mmv1/templates/terraform/examples/dialogflow_encryption_spec_basic.tf.tmpl
  mmv1/templates/terraform/pre_create/dialogflow_set_endpoint.go.tmpl
  mmv1/third_party/terraform/services/dialogflow/dialogflow_operation.go
Labels: service/dialogflow

#14287 container: added `release_channel_upgrade_target_version` to `google_container_engine_versions` data source
  mmv1/third_party/terraform/services/container/data_source_google_container_engine_versions.go
  mmv1/third_party/terraform/services/container/data_source_google_container_engine_versions_test.go
  mmv1/third_party/terraform/website/docs/d/container_engine_versions.html.markdown
Labels: service/container

#13614 feat(bigtable): support row key schema for table.
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table_meta.yaml
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table_test.go
Labels: service/bigtableadmin

#14204 Add new fields in QAS resource
  mmv1/products/cloudquotas/QuotaAdjusterSettings.yaml
Labels: service/serviceusage-quota

#14280 Add Plugin Instance resource of API hub
  mmv1/products/apihub/PluginInstance.yaml
  mmv1/templates/terraform/examples/apihub_plugin_instance_basic.tf.tmpl
Labels: service/apihub

#14299 Update AutokeyConfig.yaml
  mmv1/products/kms/AutokeyConfig.yaml
Labels: service/cloudkms

#14306 Fix for Dataplex full quality test failure
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_datascan_test.go
Labels: service/dataplex

#14307 Spanner MR CMEK Backup Schedule Integration
  mmv1/products/spanner/BackupSchedule.yaml
  mmv1/third_party/terraform/services/spanner/resource_spanner_schedule_backup_test.go
Labels: service/spanner

#14329 notebooks: fix test failures in `google_notebooks_instance`
  mmv1/templates/terraform/examples/notebook_instance_basic.tf.tmpl
  mmv1/templates/terraform/examples/notebook_instance_basic_gpu.tf.tmpl
  mmv1/templates/terraform/examples/notebook_instance_basic_stopped.tf.tmpl
  mmv1/templates/terraform/examples/notebook_instance_full.tf.tmpl
  mmv1/third_party/terraform/services/notebooks/resource_notebooks_instance_gpu_test.go.tmpl
  mmv1/third_party/terraform/services/notebooks/resource_notebooks_instance_state_test.go.tmpl
  mmv1/third_party/terraform/services/notebooks/resource_notebooks_instance_test.go
Labels: service/notebooks

#14305 Add support for GPU fields in Cloud Run v2 Job
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/templates/terraform/examples/cloudrunv2_job_gpu.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.tmpl
Labels: service/run

#14289 Adding effective_reserved_ip_range and fix for null value in redis datasource
  mmv1/products/redis/Instance.yaml
  mmv1/third_party/terraform/services/redis/data_source_redis_instance.go
  mmv1/third_party/terraform/services/redis/data_source_redis_instance_test.go
Labels: service/redis-instance

#14311 Update Access Context Manager Test for user types
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_access_level_test.go.tmpl
Labels: service/accesscontextmanager

#14310 Fix dns_record_set with failover example
  mmv1/third_party/terraform/website/docs/r/dns_record_set.html.markdown
Labels: service/cloud-dns

#14249 Add Network Firewall Policy "Policy Type" field
  mmv1/products/compute/NetworkFirewallPolicy.yaml
  mmv1/products/compute/NetworkFirewallPolicyWithRules.yaml
  mmv1/products/compute/RegionNetworkFirewallPolicy.yaml
  mmv1/products/compute/RegionNetworkFirewallPolicyWithRules.yaml
  mmv1/templates/terraform/examples/compute_region_network_firewall_policy_with_rules_roce.tf.tmpl
  mmv1/templates/terraform/examples/region_network_firewall_policy_roce.tf.tmpl
Labels: service/network-security-distributed-firewall

#14325 Update service perimeter test for user types
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_access_level_condition_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_test.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_services_perimeters_test.go
Labels: service/accesscontextmanager

#14169 Add fine-grained resource GenerativeSettings to DialogflowCX
  mmv1/products/dialogflowcx/GenerativeSettings.yaml
  mmv1/templates/terraform/custom_import/dialogflowcx_generative_settings.go.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_generative_settings_full.tf.tmpl
  mmv1/third_party/terraform/services/dialogflowcx/resource_dialogflowcx_generative_settings_test.go
Labels: service/dialogflow

#14338 Add CMEK support for Memorystore Instance
  mmv1/products/memorystore/Instance.yaml
  mmv1/templates/terraform/examples/memorystore_instance_full.tf.tmpl
Labels: service/memorystore

#14357 doc: correct reservation_affinity level
  mmv1/third_party/terraform/website/docs/r/container_node_pool.html.markdown
Labels: service/container

#14223 Add attestation rule to workload identity pool managed identity.
  mmv1/products/iambeta/WorkloadIdentityPoolManagedIdentity.yaml
  mmv1/templates/terraform/examples/iam_workload_identity_pool_managed_identity_full.tf.tmpl
  mmv1/templates/terraform/post_create/iam_workload_identity_pool_managed_identity.go.tmpl
  mmv1/templates/terraform/post_read/iam_workload_identity_pool_managed_identity.go.tmpl
  mmv1/templates/terraform/pre_create/iam_workload_identity_pool_managed_identity.go.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_managed_identity_test.go.tmpl
Labels: service/iam-wlid

#14365 firestore_database: Remove the deprecation message for deletion_policy
  mmv1/products/firestore/Database.yaml
Labels: service/firestore-controlplane

#14315 Adds new IP Filter access fields
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#14279 Add Plugin resource of API hub
  mmv1/products/apihub/Plugin.yaml
  mmv1/templates/terraform/examples/apihub_plugin_full.tf.tmpl
Labels: service/apihub

#14265 Add support for accelerated upgrade feature flags
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#14219 fix for scaling down to zero replica in Valkey
  mmv1/products/memorystore/Instance.yaml
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/memorystore

#14312 Add delay b/w storage pool creation & volume creation in backup test
  mmv1/third_party/terraform/services/netapp/resource_netapp_backup_test.go
Labels: service/netapp

#14344 alloydb: `machine_type` in the `machine_config` block is not yet GA in the API
  mmv1/products/alloydb/Instance.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go.tmpl
Labels: service/alloydb

#14384 Lustre Datasource Docs fix
  mmv1/third_party/terraform/website/docs/d/lustre_instance.html.markdown
Labels: service/lustre

#14119 Add resource_manager_tags support to Network api
  mmv1/products/compute/Network.yaml
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
Labels: service/compute-vpc

#13430 Add AnalysisRule resource for contactcenterinsights
  mmv1/products/contactcenterinsights/AnalysisRule.yaml
  mmv1/templates/terraform/examples/contact_center_insights_analysis_rule_basic.tf.tmpl
  mmv1/templates/terraform/examples/contact_center_insights_analysis_rule_full.tf.tmpl
  mmv1/templates/terraform/examples/contact_center_insights_analysis_rule_profile.tf.tmpl
  mmv1/third_party/terraform/services/contactcenterinsights/resource_contact_center_insights_analysis_rule_test.go
Labels: service/contactcenterinsights

#14340 Add datasource for google_redis_cluster
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/redis/data_source_redis_cluster.go
  mmv1/third_party/terraform/services/redis/data_source_redis_cluster_test.go
  mmv1/third_party/terraform/website/docs/d/redis_cluster.html.markdown
Labels: service/redis-cluster

#14167 Add suspended field to dataplex data scan rules
  mmv1/products/dataplex/Datascan.yaml
  mmv1/third_party/terraform/services/dataplex/resource_dataplex_datascan_test.go
Labels: service/dataplex

#14404 Fixes failing test: TestAccStorageBucketIamPolicy_destroy
  mmv1/third_party/terraform/services/storage/iam_storage_bucket_test.go
Labels: service/storage
