Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-07, with the labels that each got.

#14313 secretmanager: added `fetch_secret_data` to `google_secret_manager_secret_version` to be able to skip fetching the secret data
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secret_version.go
  mmv1/third_party/terraform/services/secretmanager/data_source_secret_manager_secret_version_test.go
  mmv1/third_party/terraform/website/docs/d/secret_manager_secret_version.html.markdown
Labels: service/secretmanager

#14417 Fix manual_assign type in google_gkeonprem_bare_metal_cluster
  mmv1/products/gkeonprem/BareMetalCluster.yaml
  mmv1/third_party/terraform/services/gkeonprem/resource_gkeonprem_bare_metal_cluster_test.go
Labels: override-breaking-change, service/gkeonprem

#14425 Add discoveryengine_datastore layout_parsing_config nested fields.
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/templates/terraform/examples/discoveryengine_datastore_document_processing_config_layout_full.tf.tmpl
Labels: service/discoveryengine

#14394 Add deletion_protection field to Secret Manager Secret
  mmv1/products/secretmanager/Secret.yaml
  mmv1/templates/terraform/examples/secret_config_basic.tf.tmpl
  mmv1/templates/terraform/pre_delete/secret_manager_secret.go.tmpl
  mmv1/third_party/terraform/services/secretmanager/resource_secret_manager_secret_test.go
Labels: service/secretmanager

#14422 Improve web doc field description order
  mmv1/templates/terraform/resource.html.markdown.tmpl
Labels: service/terraform

#14395 Add resource_manager_tags support to Route api
  mmv1/products/compute/Route.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_route_test.go
Labels: service/compute-vpc

#14361 Async PD: change no disk status to a retryable error
  mmv1/third_party/terraform/services/compute/resource_compute_disk_async_replication.go.tmpl
Labels: service/compute-pd

#14377 fix: (storagetransfer) path validation for GCS path source and sink
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.tmpl
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_test.go
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: service/storage, 7.0.0

#14376 Fix JWKS JSON permadiff for workload identity pool provider
  mmv1/products/iambeta/WorkloadIdentityPoolProvider.yaml
Labels: service/iam-wlid

#14475 use project name in TestAccComputeBackendBucket_backendBucketGlobalIlbExample
  mmv1/templates/terraform/examples/backend_bucket_global_ilb.tf.tmpl
Labels: service/compute-l7-load-balancer

#14447 Update service account creation to prevent failures due to eventual consistency
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account.go
Labels: service/iam-serviceaccount

#14477 added tf-test prefix to dataproc tests
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_job_test.go.tmpl
Labels: service/dataproc

#14434 Added support for SecurityPolicy requestBodyInspectionSize
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: service/compute-security-policy

#14469 tgc-revival: fix build errors from *AssetType constants
  mmv1/api/product.go
  mmv1/api/resource.go
  mmv1/templates/tgc_next/services/resource.go.tmpl
  mmv1/templates/tgc_next/tfplan2cai/resource_converter.go.tmpl
Labels: service/cloudfunctions

#14471 Adding Service_config resource to Backupdr
  mmv1/products/backupdr/ServiceConfig.yaml
  mmv1/templates/terraform/examples/backup_dr_service_config.tf.tmpl
Labels: service/backupdr

#14466 feat: Add a Firestore Document data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/firestore/data_source_google_firestore_document.go
  mmv1/third_party/terraform/services/firestore/data_source_google_firestore_document_test.go
  mmv1/third_party/terraform/website/docs/d/firestore_document.html.markdown
Labels: service/firestore-dataplane

#14448 promote admin cluster resource to GA
  mmv1/products/gkeonprem/VmwareAdminCluster.yaml
  mmv1/templates/terraform/examples/gkeonprem_vmware_admin_cluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/gkeonprem_vmware_admin_cluster_full.tf.tmpl
  mmv1/templates/terraform/examples/gkeonprem_vmware_admin_cluster_metallb.tf.tmpl
Labels: service/gkeonprem

#14451 artifactregistry: fix invalid cleanup policy in plan
  mmv1/templates/terraform/constants/artifact_registry_repository.go.tmpl
  mmv1/third_party/terraform/services/artifactregistry/resource_artifact_registry_repository_test.go.tmpl
Labels: service/artifactregistry

#14339 Add SecureSourceManager UpdateRepository
  mmv1/products/securesourcemanager/Repository.yaml
  mmv1/third_party/terraform/services/securesourcemanager/resource_secure_source_manager_repository_update_test.go
Labels: service/securesourcemanager

#14181 Feature gap: Add missed fields for Reservation resource
  mmv1/products/compute/Reservation.yaml
  mmv1/templates/terraform/examples/reservation_basic_beta.tf.tmpl
  mmv1/templates/terraform/examples/reservation_sharing_policy.tf.tmpl
  mmv1/templates/terraform/examples/reservation_source_instance_template.tf.tmpl
  mmv1/templates/terraform/examples/shared_reservation_beta.tf.tmpl
  mmv1/templates/terraform/update_encoder/reservation.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_reservation_test.go
Labels: service/compute-reservation

#14321 Add application awareness on interconnect
  mmv1/products/compute/Interconnect.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_interconnect_application_awareness_test.go.tmpl
Labels: service/compute-interconnect, disable-review-reminders

#14320 feat: (storage) add flag to force empty content type
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object.go
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object_test.go
  mmv1/third_party/terraform/website/docs/r/storage_bucket_object.html.markdown
Labels: service/storage

#14396 compute: data source for `google_compute_network_attachment`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/compute/data_source_google_compute_network_attachment.go
  mmv1/third_party/terraform/services/compute/data_source_google_compute_network_attachment_test.go
  mmv1/third_party/terraform/website/docs/d/compute_network_attachment.html.markdown
Labels: service/private-service-connect-interfaces

#14494 Mark accessLoggingConfig immutable in apigee instance
  mmv1/products/apigee/Instance.yaml
  mmv1/third_party/terraform/services/apigee/resource_apigee_instance_update_test.go
Labels: service/apigee

#14459 Adding flexible webhook support;
  mmv1/products/dialogflowcx/Webhook.yaml
  mmv1/templates/terraform/examples/dialogflowcx_webhook_flexible.tf.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_webhook_service_directory_flexible.tf.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_webhook_service_directory_standard.tf.tmpl
  mmv1/templates/terraform/examples/dialogflowcx_webhook_standard.tf.tmpl
Labels: service/dialogflow

#14506 Revert "Update service account creation to prevent failures due to eventual consistency"
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account.go
Labels: service/iam-serviceaccount

#14458 feat(bigtable): Add support for schema bundles
  mmv1/products/bigtable/SchemaBundle.yaml
  mmv1/templates/terraform/examples/bigtable_schema_bundle.tf.tmpl
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_schema_bundle_test.go
  mmv1/third_party/terraform/services/bigtable/test-fixtures/proto_schema_bundle.pb
  mmv1/third_party/terraform/services/bigtable/test-fixtures/proto_schema_bundle.proto
  mmv1/third_party/terraform/services/bigtable/test-fixtures/updated_proto_schema_bundle.pb
  mmv1/third_party/terraform/services/bigtable/test-fixtures/updated_proto_schema_bundle.proto
Labels: service/bigtableadmin

#14423 Add support for GPU fields in Cloud Run v2 Job (GA)
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/templates/terraform/examples/cloudrunv2_job_gpu.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.tmpl
Labels: service/run

#14495 Update beta api endpoint from v1beta1 to v1beta as v1beta1 will be deprecated soon
  mmv1/products/gkehub/Membership.yaml
  mmv1/products/gkehub/product.yaml
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: service/gkehub

#14401 Fix: Container Node Pool - Resource Manager Tags (test)
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#14454 Add deletion policy to Secure Source Manager instance
  mmv1/products/securesourcemanager/BranchRule.yaml
  mmv1/products/securesourcemanager/Instance.yaml
  mmv1/products/securesourcemanager/Repository.yaml
  mmv1/templates/terraform/examples/secure_source_manager_branch_rule_basic.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_branch_rule_with_fields.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_instance_basic.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_instance_cmek.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_instance_private.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_instance_private_psc_backend.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_instance_private_psc_endpoint.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_instance_workforce_identity_federation.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_repository_basic.tf.tmpl
  mmv1/templates/terraform/examples/secure_source_manager_repository_initial_config.tf.tmpl
  mmv1/templates/terraform/pre_delete/securesourcemanager_instance.go.tmpl
Labels: service/securesourcemanager

#14479 Delete notebooks location
  mmv1/products/notebooks/Location.yaml
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/notebooks

#14493 Add Mirror Percent to Request Mirror Policy in Regional Url Map
  mmv1/products/compute/RegionUrlMap.yaml
  mmv1/templates/terraform/examples/region_url_map_default_mirror_percent.tf.tmpl
  mmv1/templates/terraform/examples/region_url_map_path_matcher_default_mirror_percent.tf.tmpl
  mmv1/templates/terraform/examples/region_url_map_path_rule_mirror_percent.tf.tmpl
  mmv1/templates/terraform/examples/region_url_map_route_rule_mirror_percent.tf.tmpl
Labels: service/compute-l7-load-balancer

#14517 Modify allow autotiering field in netapp storage pools to mutable
  mmv1/products/netapp/StoragePool.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.tmpl
Labels: service/netapp

#14398 Add resource_manager_tags support to Subnetwork api
  mmv1/products/compute/Subnetwork.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_subnetwork_test.go.tmpl
Labels: service/compute-vpc

#14523 Fix artifactRegistryRepositoryRemoteAptExample test + update docs
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/examples/artifact_registry_repository_remote_apt.tf.tmpl
Labels: service/artifactregistry

#14524 tgc-revival: support google_compute_url_map
  mmv1/api/product/version.go
  mmv1/api/resource.go
  mmv1/products/compute/Address.yaml
  mmv1/products/compute/Disk.yaml
  mmv1/products/compute/UrlMap.yaml
  mmv1/products/compute/product.yaml
  mmv1/provider/template_data.go
  mmv1/templates/terraform/custom_expand/array_resourceref_with_validation.go.tmpl
  mmv1/templates/terraform/custom_expand/resourceref_with_validation.go.tmpl
  mmv1/templates/terraform/flatten_property_method.go.tmpl
  mmv1/templates/tgc_next/cai2hcl/full_to_relative_path.go.tmpl
  mmv1/templates/tgc_next/encoders/compute_address.go.tmpl
  mmv1/templates/tgc_next/encoders/compute_disk.go.tmpl
  mmv1/templates/tgc_next/tfplan2cai/expand_array_resourceref_with_validation.go.tmpl
  mmv1/templates/tgc_next/tfplan2cai/expand_property_method_tgc.go.tmpl
  mmv1/templates/tgc_next/tfplan2cai/expand_resourceref_with_validation.go.tmpl
  mmv1/third_party/tgc_next/pkg/tgcresource/utils.go
  mmv1/third_party/tgc_next/test/assert_test_files.go
Labels: service/terraform

#14541 Fixed conflicts in SDP settings for Model Armor
  mmv1/products/modelarmor/Template.yaml
Labels: service/modelarmor

#14363 Adding support for new Preview Feature resource and a test into a bet…
  mmv1/products/compute/PreviewFeature.yaml
  mmv1/templates/terraform/examples/preview_feature_basic.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_preview_features_test.go
Labels: service/compute

#14520 Add support for name in GcpUserAccessBinding
  mmv1/products/accesscontextmanager/GcpUserAccessBinding.yaml
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_gcp_user_access_binding_test.go
Labels: service/accesscontextmanager

#14428 sql: fix nil pointer while importing `google_sql_database` and remove invalid import_format
  mmv1/products/sql/Database.yaml
  mmv1/templates/terraform/pre_read/sql_database_activation_policy.tmpl
Labels: service/sqladmin-infra, disable-automatic-closure

#14534 Update dataproc Batch and dataproc SessionTemplate resource to support authentication config.
  mmv1/products/dataproc/Batch.yaml
  mmv1/products/dataproc/SessionTemplate.yaml
  mmv1/templates/terraform/examples/dataproc_batch_spark_full.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_session_templates_jupyter.tf.tmpl
  mmv1/templates/terraform/examples/dataproc_session_templates_jupyter_full.tf.tmpl
Labels: service/dataproc

#14568 Fixed dos line endings
  mmv1/templates/terraform/examples/network_connectivity_hub_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_connectivity_hub_with_export_psc.tf.tmpl
  mmv1/templates/terraform/examples/region_network_endpoint_group_appengine.tf.tmpl
  mmv1/templates/terraform/examples/region_network_endpoint_group_appengine_empty.tf.tmpl
  mmv1/templates/terraform/examples/region_network_endpoint_group_cloudrun.tf.tmpl
  mmv1/templates/terraform/examples/region_network_endpoint_group_functions.tf.tmpl
Labels: service/compute-networking-neg, service/network-connectivity-center

#14519 Add support for GPU redundancy to Cloud Run v2 job
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/templates/terraform/examples/cloudrunv2_job_gpu.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.tmpl
  mmv1/third_party/tgc/tests/data/example_cloud_run_v2_job.json
Labels: service/run

#14546 New resource: google_apigee_api_product
  mmv1/products/apigee/ApiProduct.yaml
  mmv1/templates/terraform/custom_import/apigee_api_product.go.tmpl
  mmv1/templates/terraform/examples/apigee_api_product_basic.tf.tmpl
  mmv1/templates/terraform/examples/apigee_api_product_basic_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_api_product_with_attributes.tf.tmpl
  mmv1/templates/terraform/examples/apigee_api_product_with_attributes_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_api_product_with_legacy_operation.tf.tmpl
  mmv1/templates/terraform/examples/apigee_api_product_with_legacy_operation_test.tf.tmpl
  mmv1/third_party/terraform/services/apigee/resource_apigee_api_product_update_test.go
Labels: service/apigee

#14557 Remove use of ENHANCED performance_monitoring_unit in tests for compute instances
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
Labels: service/compute-instances

#14570 Revise the deprecation message for discovery_endpoints in Memorystore Instance resource
  mmv1/products/memorystore/Instance.yaml
Labels: service/memorystore

#14499 Fix TestAccDNSManagedZone_dnsManagedZoneCloudLoggingExample
  mmv1/products/dns/ManagedZone.yaml
  mmv1/templates/terraform/examples/dns_managed_zone_cloud_logging.tf.tmpl
Labels: service/cloud-dns

#13328 Reservation Affinity for workbench instances
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/examples/workbench_instance_basic_gpu.tf.tmpl
  mmv1/templates/terraform/examples/workbench_instance_full.tf.tmpl
Labels: service/notebooks

#14588 Remove cloudrun add-on from resource_container_cluster_test
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#14585 Added `IdleTtl` field for dataproc session template resource.
  mmv1/products/dataproc/SessionTemplate.yaml
  mmv1/templates/terraform/examples/dataproc_session_templates_jupyter.tf.tmpl
Labels: service/dataproc

#14548 WBI EUC
  mmv1/products/workbench/Instance.yaml
  mmv1/templates/terraform/constants/workbench_instance.go.tmpl
  mmv1/templates/terraform/examples/workbench_instance_euc.tf.tmpl
Labels: service/notebooks

#14586 feat: add OdbNetwork support in OracleDatabase AutonomousDatabase
  mmv1/products/oracledatabase/AutonomousDatabase.yaml
  mmv1/templates/terraform/examples/oracledatabase_autonomous_database_odbnetwork.tf.tmpl
  mmv1/templates/terraform/examples/oracledatabase_autonomous_database_publicip.tf.tmpl
Labels: service/oracledatabase

#14587 feat: add OdbNetwork support in OracleDatabase CloudVmCluster resource
  mmv1/products/oracledatabase/CloudVmCluster.yaml
  mmv1/templates/terraform/examples/oracledatabase_cloud_vmcluster_odbnetwork.tf.tmpl
Labels: service/oracledatabase

#14538 Add a resource google_discovery_engine_recommendation_engine
  mmv1/products/discoveryengine/RecommendationEngine.yaml
  mmv1/templates/terraform/encoders/discovery_engine_recommendation_engine_hardcode_solution_type.go.tmpl
  mmv1/templates/terraform/examples/discoveryengine_recommendationengine_generic.tf.tmpl
  mmv1/templates/terraform/examples/discoveryengine_recommendationengine_media.tf.tmpl
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_recommendation_engine_test.go
Labels: service/discoveryengine

#14609 add support for updating iops, throughput, accessmode in google_compute_region_disk
  mmv1/products/compute/RegionDisk.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_region_disk_test.go.tmpl
Labels: service/compute-pd

#14612 Remove enable_flow_logs from google_compute_subnetwork
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/constants/subnetwork.tmpl
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/compute-vpc

#14578 Fixed incorrect immutable flag on linked_router_appliance_instances instances
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_spoke_test.go
Labels: service/network-connectivity-center

#14314 Adding Tags support for Regional Secrets
  mmv1/products/secretmanagerregional/RegionalSecret.yaml
  mmv1/third_party/terraform/services/secretmanagerregional/resource_secret_manager_regional_secret_test.go
Labels: service/secretmanager

#14618 Storage Insights Datasets Datasource
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/storageinsights/data_source_storage_insights_dataset_config.go
  mmv1/third_party/terraform/website/docs/d/storage_insights_dataset_config.html.markdown
Labels: service/storage

#14543 fixing permadiff create_without_validation
  mmv1/products/datastream/ConnectionProfile.yaml
  mmv1/templates/terraform/constants/datastream_connection_profile.go.tmpl
  mmv1/templates/terraform/pre_create/datastream_connection_profile.go.tmpl
  mmv1/third_party/terraform/services/datastream/resource_datastream_connection_profile_test.go
Labels: service/datastream

#14631 Removed stale TODO assignments
  .ci/magician/cmd/check_cassettes.go
  .ci/magician/cmd/create_test_failure_ticket.go
  .ci/magician/cmd/generate_comment.go
  mmv1/api/type.go
  mmv1/openapi_generate/parser.go
  mmv1/products/apigee/SecurityMonitoringCondition.yaml
  mmv1/products/appengine/FlexibleAppVersion.yaml
  mmv1/products/appengine/StandardAppVersion.yaml
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/products/bigquery/Job.yaml
  mmv1/products/bigquery/Table.yaml
  mmv1/products/binaryauthorization/Attestor.yaml
  mmv1/products/compute/Address.yaml
  mmv1/products/compute/Disk.yaml
  mmv1/products/compute/DiskType.yaml
  mmv1/products/compute/Firewall.yaml
  mmv1/products/compute/ForwardingRule.yaml
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/products/compute/Image.yaml
  mmv1/products/compute/Instance.yaml
  mmv1/products/compute/InstanceGroupManager.yaml
  mmv1/products/compute/RegionAutoscaler.yaml
  mmv1/products/compute/RegionDisk.yaml
  mmv1/products/compute/RegionInstanceGroupManager.yaml
  mmv1/products/compute/Router.yaml
  mmv1/products/compute/ServiceAttachment.yaml
  mmv1/products/compute/Snapshot.yaml
  mmv1/products/dns/ManagedZone.yaml
  mmv1/products/firestore/Index.yaml
  mmv1/products/gkebackup/BackupPlan.yaml
  mmv1/products/networksecurity/AddressGroup.yaml
  mmv1/products/osconfig/GuestPolicies.yaml
  mmv1/products/vertexai/Endpoint.yaml
  mmv1/products/workstations/WorkstationCluster.yaml
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/provider/provider.go
  mmv1/templates/terraform/examples/base_configs/iam_test_file.go.tmpl
  mmv1/templates/terraform/update_encoder/ssl_policy.tmpl
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/fwresource/framework_location.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance_test.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table.go
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_job_test.go.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_message_bus_test.go
  mmv1/third_party/terraform/services/runtimeconfig/resource_runtimeconfig_variable.go.tmpl
  mmv1/third_party/terraform/services/storage/iam_storage_bucket_test.go
  mmv1/third_party/terraform/services/storage/iam_storage_managed_folder_test.go
  mmv1/third_party/terraform/services/storage/resource_storage_object_acl_test.go
  mmv1/third_party/terraform/transport/error_retry_predicates.go
  tpgtools/property.go
  tpgtools/sample.go
  tpgtools/templates/resource.go.tmpl
  tpgtools/templates/serialization.go.tmpl
Labels: service/terraform

#14582 fix: (storage) remove client side bucket name validation as same validations being performed on API
  mmv1/products/storage/Bucket.yaml
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_600_migration.go
  mmv1/third_party/terraform/verify/validation.go
  mmv1/third_party/terraform/verify/validation_test.go
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#14642 Remove extra double quote in securesourcemanager docs
  mmv1/products/securesourcemanager/BranchRule.yaml
  mmv1/products/securesourcemanager/Instance.yaml
  mmv1/products/securesourcemanager/Repository.yaml
Labels: service/securesourcemanager

#14630 google_iap_settings: use billing project instead of GetProject
  mmv1/templates/terraform/custom_delete/clear_iap_settings.go.tmpl
Labels: service/iap

#14435 Add support for Lustre CSI Driver on GKE
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#14372 fix tests for worker pool
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_gpu.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_worker_pool_test.go.tmpl
Labels: service/run

#14624 Mark `load_balancing_scheme` field required.
  mmv1/products/networkservices/LbTrafficExtension.yaml
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/networkservices-service-extensions

#14669 Revert "Add support for GPU redundancy to Cloud Run v2 job"
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/templates/terraform/examples/cloudrunv2_job_gpu.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.tmpl
  mmv1/third_party/tgc/tests/data/example_cloud_run_v2_job.json
Labels: service/run

#14657 Add data source for retrieving Artifact Registry Docker images
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_images.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_images_test.go
  mmv1/third_party/terraform/website/docs/d/artifact_registry_docker_images.html.markdown
Labels: service/artifactregistry

#14346 Add Labels field to StoragePool
  mmv1/products/compute/StoragePool.yaml
  mmv1/templates/terraform/examples/compute_storage_pool_basic.tf.tmpl
  mmv1/templates/terraform/examples/compute_storage_pool_full.tf.tmpl
Labels: service/compute-pd

#14648 cloudfunctions2: changed `service` argument in `service_config` of `google_cloudfunctions2_function` to attribute
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/cloudfunctions

#14637 Adding support for missing AH fields
  mmv1/products/bigqueryanalyticshub/DataExchange.yaml
  mmv1/products/bigqueryanalyticshub/Listing.yaml
  mmv1/templates/terraform/examples/bigquery_analyticshub_public_data_exchange.tf.tmpl
  mmv1/templates/terraform/examples/bigquery_analyticshub_public_listing.tf.tmpl
  mmv1/third_party/terraform/services/bigqueryanalyticshub/resource_bigquery_analytics_hub_dataexchange_test.go
  mmv1/third_party/terraform/services/bigqueryanalyticshub/resource_bigquery_analytics_hub_listing_test.go
Labels: service/bigquery, disable-automatic-closure

#14691 Fix Lustre resource names to avoid leaks
  mmv1/third_party/terraform/services/lustre/data_source_lustre_instance_test.go
Labels: service/lustre

#14627 feat: define smt examples for pubsub topics and subscriptions
  mmv1/products/pubsub/Subscription.yaml
  mmv1/products/pubsub/Topic.yaml
  mmv1/templates/terraform/examples/pubsub_subscription_multiple_smts.tf.tmpl
  mmv1/templates/terraform/examples/pubsub_subscription_single_smt.tf.tmpl
  mmv1/templates/terraform/examples/pubsub_topic_multiple_smts.tf.tmpl
  mmv1/templates/terraform/examples/pubsub_topic_single_smt.tf.tmpl
Labels: service/pubsub

#14698 Added File Examples for Parameter Version Resources
  mmv1/products/parametermanager/ParameterVersion.yaml
  mmv1/products/parametermanagerregional/RegionalParameterVersion.yaml
  mmv1/templates/terraform/examples/parameter_version_with_json_format_with_file.tf.tmpl
  mmv1/templates/terraform/examples/parameter_version_with_yaml_format_with_file.tf.tmpl
  mmv1/templates/terraform/examples/regional_parameter_version_with_json_format_with_file.tf.tmpl
  mmv1/templates/terraform/examples/regional_parameter_version_with_yaml_format_with_file.tf.tmpl
  mmv1/third_party/terraform/services/parametermanager/test-fixtures/parameter_data_json_format.json
  mmv1/third_party/terraform/services/parametermanager/test-fixtures/parameter_data_yaml_format.yaml
  mmv1/third_party/terraform/services/parametermanagerregional/test-fixtures/regional_parameter_data_json_format.json
  mmv1/third_party/terraform/services/parametermanagerregional/test-fixtures/regional_parameter_data_yaml_format.yaml
Labels: service/parametermanager

#14692 container: add rbac config binding
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#14683 deprecate `google_service_account_key.project`
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_account_key.go
Labels: service/iam-serviceaccount

#14295 remove dependsOn field as it is not supported for workerpools and fix failing test.
  mmv1/products/cloudrunv2/WorkerPool.yaml
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/run, 7.0.0

#14555 backupretentioninheritance
  mmv1/products/backupdr/BackupVault.yaml
  mmv1/templates/terraform/examples/backup_dr_backup_vault_full.tf.tmpl
  mmv1/third_party/terraform/services/backupdr/resource_backup_dr_backup_vault_test.go
Labels: service/backupdr

#14552 google_cloudfunctions_function base image policy fields
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function.go
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_meta.yaml
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/cloudfunctions_function.html.markdown
Labels: service/cloudfunctions
