Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-10, with the labels that each got.

#15276 fix TestAccComputeProjectDefaultNetworkTier_basic
  mmv1/third_party/terraform/services/compute/resource_compute_project_default_network_tier_test.go
Labels: service/compute-vpc

#15268 GKE: Conditionally send the cpu_cfs_quota field based on presence in config
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#15279 Revert "Add activity journal feature for google_storage_insights_dataset_config"
  mmv1/products/storageinsights/DatasetConfig.yaml
  mmv1/templates/terraform/examples/storage_insights_dataset_config_excludes.tf.tmpl
  mmv1/templates/terraform/pre_update/storage_insights_dataset_config.go.tmpl
  mmv1/third_party/terraform/services/storageinsights/resource_storage_insights_dataset_config_test.go
Labels: override-breaking-change, service/storage

#15283 `resourceIdentity`: change identity debug from `fmt->log`
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/third_party/terraform/tpgresource/import.go
Labels: service/terraform

#15260 Update depraction date for IAP OAuth APIs.
  mmv1/products/iap/Brand.yaml
  mmv1/products/iap/Client.yaml
Labels: service/iap

#15239 adding source_instance_deletion_time
  mmv1/third_party/terraform/services/sql/data_source_sql_database_instance_latest_recovery_time.go
  mmv1/third_party/terraform/services/sql/data_source_sql_database_instance_latest_recovery_time_test.go
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp, service/sqladmin-dp

#15259 Promote some remaining vmwareengine fields
  mmv1/products/vmwareengine/Cluster.yaml
  mmv1/products/vmwareengine/Network.yaml
  mmv1/products/vmwareengine/PrivateCloud.yaml
Labels: service/vmwareengine

#13342 Added new profile type "URL_FILTERING" for SecurityProfile
  mmv1/products/networksecurity/SecurityProfile.yaml
  mmv1/products/networksecurity/SecurityProfileGroup.yaml
  mmv1/templates/terraform/custom_flatten/network_security_security_profile_url_filters_flatten.go.tmpl
  mmv1/templates/terraform/examples/network_security_security_profile_group_url_filtering.tf.tmpl
  mmv1/templates/terraform/examples/network_security_security_profile_url_filtering.tf.tmpl
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_security_profile_test.go.tmpl
Labels: service/network-security-distributed-firewall

#15295 `resourceIdentity`: remove productName character check
  mmv1/templates/terraform/examples/base_configs/test_file.go.tmpl
Labels: service/terraform

#15225 Promote params to v1 for google_compute_router resource
  mmv1/products/compute/Router.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_router_test.go
Labels: service/compute-router

#15252 Update MySQL switchover tests and docs to enable replica binlog before switchover
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/guides/sql_instance_switchover.html.markdown
Labels: service/sqladmin-cp

#15025 Add deletion_protection field to Memcache Instance
  mmv1/products/memcache/Instance.yaml
  mmv1/templates/terraform/examples/memcache_instance_basic.tf.tmpl
  mmv1/templates/terraform/pre_delete/memcache_instance.go.tmpl
  mmv1/third_party/terraform/services/memcache/resource_memcache_instance_test.go
Labels: service/memcache

#15311 Remove output_only restriction on OnPremVersion field
  mmv1/products/gkeonprem/VmwareNodePool.yaml
  mmv1/templates/terraform/examples/gkeonprem_vmware_node_pool_full.tf.tmpl
  mmv1/third_party/terraform/services/gkeonprem/resource_gkeonprem_vmware_node_pool_test.go
Labels: service/gkeonprem
