Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-09, with the labels that each got.

#14835 feat: (storage) added field aws_s3_compatible_data_source for google_storage_transfer_job resource
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_meta.yaml
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_test.go
  mmv1/third_party/terraform/website/docs/r/storage_transfer_job.html.markdown
Labels: service/storage

#15014 Correct documentation for disable_on_destroy default breaking change
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
  mmv1/third_party/terraform/website/docs/r/google_project_service.html.markdown
Labels: service/serviceusage

#15046 osconfig: fix permadiff where `patch_config.yum.minimal` doesn't send `false` for empty values
  mmv1/products/osconfig/PatchDeployment.yaml
  mmv1/templates/terraform/decoders/os_config_patch_deployment.go.tmpl
  mmv1/third_party/terraform/services/osconfig/resource_os_config_patch_deployment_test.go
Labels: service/osconfig

#15036 Fixes issue #24052 related to google_chronicle_reference_list resource
  mmv1/products/chronicle/ReferenceList.yaml
  mmv1/templates/terraform/examples/chronicle_referencelist_basic.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_reference_list_test.go
Labels: override-breaking-change, service/chronicle

#14611 Add singular data source for retrieving a Python package from an Artifact Registry repository
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_python_package.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_python_package_test.go
  mmv1/third_party/terraform/website/docs/d/artifact_registry_python_package.html.markdown
Labels: service/artifactregistry

#15067 fix TestAccContainerCluster_withNodeConfigKubeletConfigSettingsInNodePool
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#15061 Saasruntime autogen release
  mmv1/products/saasservicemgmt/Release.yaml
  mmv1/templates/terraform/examples/saas_runtime_release_basic.tf.tmpl
  mmv1/third_party/terraform/services/saasruntime/resource_saas_runtime_release_test.go.tmpl
Labels: service/saasservicemgmt

#15045 update DATA_GOVERNANCE field
  mmv1/products/tags/TagKey.yaml
  mmv1/third_party/terraform/services/tags/resource_tags_test.go
Labels: service/cloudresourcemanager-tags

#14821 Feature gap: Add labels and label_fingerprint fields to `google_compute_security_policy`
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_rule_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_security_policy_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_security_policy.html.markdown
Labels: service/compute-security-policy

#15068 Add new encryption_spec field
  mmv1/products/privateca/CaPool.yaml
  mmv1/templates/terraform/examples/privateca_capool_all_fields.tf.tmpl
Labels: service/privateca

#15108 runV2: add support for value "connector" on field "vpcAccess" on resource "google_cloudrunv2_worker_pool"
  mmv1/products/cloudrunv2/WorkerPool.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.tmpl
Labels: service/run

#15041 Feature gap: Add skip_guest_os_shutdown for scheduling in instance
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#14602 Add Feature Service attachment tunneling config
  mmv1/products/compute/ServiceAttachment.yaml
  mmv1/templates/terraform/examples/service_attachment_tunneling_config.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_service_attachment_tunneling_test.go.tmpl
Labels: service/private-service-connect-published-service

#14993 `resourceIdentity`: testing generation template
  mmv1/templates/terraform/examples/base_configs/test_file.go.tmpl
Labels: service/terraform

#15035 Add support for auto ipam configuration
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_meta.yaml.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#15136 Fix network field in google_compute_region_backend_service to force new on change
  mmv1/products/compute/RegionBackendService.yaml
Labels: service/compute-l7-load-balancer

#12275 Added new resource "WasmPlugin"
  mmv1/products/networkservices/LbRouteExtension.yaml
  mmv1/products/networkservices/LbTrafficExtension.yaml
  mmv1/products/networkservices/WasmPlugin.yaml
  mmv1/templates/terraform/custom_expand/wasm_plugin_skip_empty_versions.go.tmpl
  mmv1/templates/terraform/examples/wasm_plugin_basic_docker_repository.tf.tmpl
  mmv1/templates/terraform/examples/wasm_plugin_basic_generic_repository.tf.tmpl
  mmv1/third_party/terraform/services/networkservices/resource_network_services_lb_route_extension_test.go
  mmv1/third_party/terraform/services/networkservices/resource_network_services_lb_traffic_extension_test.go
  mmv1/third_party/terraform/services/networkservices/resource_network_services_wasm_plugin_test.go
  mmv1/third_party/terraform/services/networkservices/test-fixtures/compiled-package/plugin.config
  mmv1/third_party/terraform/services/networkservices/test-fixtures/compiled-package/plugin.wasm
Labels: service/networkservices-traffic-director, service/networkservices-media-cdn

#15154 cloudrunv2: promote mount options for GcsFuse volumes to GA
  mmv1/products/cloudrunv2/Job.yaml
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/products/cloudrunv2/WorkerPool.yaml
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_job_test.go.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_worker_pool_test.go
Labels: service/run

#15156 cloudrunv2: add support to startupProbe and livenessProbe to worker pool
  mmv1/products/cloudrunv2/WorkerPool.yaml
  mmv1/templates/terraform/examples/cloudrunv2_worker_pool_startup_liveness_probe.tf.tmpl
Labels: service/run

#14135 Terraform integration for adding multi party approval step id field to Entitlement
  mmv1/products/privilegedaccessmanager/Entitlement.yaml
Labels: service/privilegedaccessmanager

#15178 Add PSC support to google_vertex_ai_endpoint_with_model_garden_deployment
  mmv1/products/vertexai/EndpointWithModelGardenDeployment.yaml
  mmv1/templates/terraform/examples/vertex_ai_deploy_psc_endpoint.tf.tmpl
  mmv1/templates/terraform/examples/vertex_ai_deploy_psc_endpoint_automated.tf.tmpl
  mmv1/third_party/terraform/services/vertexai/resource_vertex_ai_deploy_test.go
Labels: service/aiplatform-prediction

#15047 Changes to support namespace label scoped backups
  mmv1/products/gkebackup/BackupPlan.yaml
  mmv1/templates/terraform/examples/gkebackup_backupplan_nslabels.tf.tmpl
Labels: service/gkebackup

#15175 Promoting Managed Kafka Connect to GA
  mmv1/products/managedkafka/ConnectCluster.yaml
  mmv1/products/managedkafka/Connector.yaml
  mmv1/templates/terraform/examples/managedkafka_connect_cluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/managedkafka_connector_basic.tf.tmpl
Labels: service/managedkafka, override-multiple-resources

#15206 workbench: fix workbench instance full test failing due to version being populated after resource creation causing metadata count diff
  mmv1/products/workbench/Instance.yaml
Labels: service/notebooks

#15129 Fix Issue 24131 : Add support for new_recognition_result_notification_config in google_dialogflow_conversation_profile
  mmv1/products/dialogflow/ConversationProfile.yaml
  mmv1/templates/terraform/examples/dialogflow_conversation_profile_recognition_result_notification.tf.tmpl
Labels: service/dialogflow

#14890 Add a new resource google_discovery_engine_data_connector
  mmv1/products/discoveryengine/DataConnector.yaml
  mmv1/templates/terraform/examples/discoveryengine_dataconnector_jira_basic.tf.tmpl
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_data_connector_test.go
Labels: service/discoveryengine

#15201 fix example error in logging_metric
  mmv1/templates/terraform/examples/logging_metric_logging_bucket.tf.tmpl
Labels: service/logging

#15229 fix TestAccLoggingFolderSettings_update in vcr
  mmv1/third_party/terraform/services/logging/resource_logging_folder_settings_test.go
Labels: service/logging

#15214 Add CMEK to vertexai IndexEndpoint
  mmv1/products/vertexai/IndexEndpoint.yaml
  mmv1/templates/terraform/examples/vertex_ai_index_endpoint_test.tf.tmpl
Labels: service/aiplatform-matching-engine

#14933 provider: automatically generate the `*_wo` and `*_wo_version` for write-only arguments + compute: added `write-only` support for `shared_secret ` argument for `google_compute_vpn_tunnel` resource
  docs/content/reference/field.md
  mmv1/api/resource.go
  mmv1/api/resource_test.go
  mmv1/api/type.go
  mmv1/api/type_test.go
  mmv1/main.go
  mmv1/products/compute/VpnTunnel.yaml
  mmv1/templates/terraform/custom_flatten/dataplex_entry_aspects.go.tmpl
  mmv1/templates/terraform/flatten_property_method.go.tmpl
  mmv1/templates/terraform/nested_property_write_only_documentation.html.markdown.tmpl
  mmv1/templates/terraform/property_documentation.html.markdown.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/templates/terraform/resource.html.markdown.tmpl
  mmv1/templates/terraform/schema_property.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_vpn_tunnel_test.go
  mmv1/third_party/terraform/tpgresource/utils.go
Labels: service/monitoring-alerting

#15179 Feature gap: Add `maxInFlightRequests*` and `trafficDuration` to `BackendService` and `RegionBackendService`
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.tmpl
Labels: service/compute-l7-load-balancer

#15213 added `data_source` and `rules_config_info` fields to the `google_backup_dr_backup_plan_associations`
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan_association.go
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan_association_test.go
  mmv1/third_party/terraform/website/docs/d/backup_dr_backup_plan_association.html.markdown
  mmv1/third_party/terraform/website/docs/d/backup_dr_backup_plan_associations.html.markdown
  mmv1/third_party/terraform/website/docs/d/backup_dr_data_source_reference.html.markdown
  mmv1/third_party/terraform/website/docs/d/backup_dr_data_source_references.html.markdown
Labels: service/backupdr

#15248 fix compute tests due to API error message change
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
Labels: service/compute-instances

#15170 `resourceIdentityGeneration`: use nil check instead of error when calling `identity()`
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/third_party/terraform/tpgresource/import.go
Labels: service/terraform

#15255 update machine type in TestAccComputeRegionInstanceTemplate_AdvancedMachineFeatures
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
Labels: service/compute-instances

#15247 fix flaky test TestAccComputeProjectDefaultNetworkTier_modify
  mmv1/third_party/terraform/services/compute/resource_compute_project_default_network_tier_test.go
Labels: service/compute-vpc

#15264 fix TestAccDialogflowConversationProfile_dialogflowConversationProfileRecognitionResultNotificationExample
  mmv1/products/dialogflow/ConversationProfile.yaml
  mmv1/templates/terraform/examples/dialogflow_conversation_profile_recognition_result_notification.tf.tmpl
Labels: service/dialogflow

#15263 Add actions.save_findings.output_config.storage_path field to google_data_loss_prevention_job_trigger.
  mmv1/products/dlp/JobTrigger.yaml
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_job_trigger_test.go
Labels: service/dlp

#15269 increased `google_lustre_instance` creation timeout
  mmv1/products/lustre/Instance.yaml
Labels: service/lustre
