Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-01, with the labels that each got.

#12611 adding datasource for autokeyconfig
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/kms/data_source_google_kms_auotokey_config.go.tmpl
  mmv1/third_party/terraform/services/kms/data_source_google_kms_auotokey_config_test.go.tmpl
  mmv1/third_party/terraform/services/kms/kms_utils.go
  mmv1/third_party/terraform/website/docs/d/kms_autokey_config.html.markdown
Labels: service/cloudkms

#12679 Update the official documentation for google_sql_database_instance
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12663 Fix TestAccComputeSnapshot_encryptionCMEK
  mmv1/third_party/terraform/services/compute/resource_compute_snapshot_test.go
Labels: service/compute-pd

#12649 Add post-create/post-update sleep to KMS AutokeyConfig
  mmv1/products/kms/AutokeyConfig.yaml
Labels: service/cloudkms

#12600 Secure Web Proxy deleteSWGAutoGenRouter wait the operation to finish
  mmv1/templates/terraform/constants/network_services_gateway.go.tmpl
Labels: service/networkservices-traffic-director

#12680 Modify the doc templates to generate the unique anchor name for nested properties
  mmv1/api/type.go
  mmv1/templates/terraform/nested_property_documentation.html.markdown.tmpl
  mmv1/templates/terraform/property_documentation.html.markdown.tmpl
Labels: service/terraform

#12632 Promote Suspend/Resume to GA
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_group_manager_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance_group_manager.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: service/compute-managed

#12638 Add google_chronicle_data_access_label resource to chronicle
  mmv1/products/chronicle/DataAccessLabel.yaml
  mmv1/templates/terraform/examples/chronicle_dataaccesslabel_basic.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_data_access_label_test.go.tmpl
Labels: service/chronicle

#12647 Add google_chronicle_data_access_scope resource to chronicle
  mmv1/products/chronicle/DataAccessScope.yaml
  mmv1/templates/terraform/examples/chronicle_dataaccessscope_with_asset_namespace.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_dataaccessscope_with_dataaccesslabel.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_dataaccessscope_with_denied_labels.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_dataaccessscope_with_ingestion_label.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_dataaccessscope_with_logtype.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_data_access_scope_test.go.tmpl
Labels: service/chronicle

#12671 Fixes boolean fields in the ShieldedInstanceConfig struct for dataproc clusters
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
Labels: service/dataproc

#12678 Add warning notes for field loginHint and gcipSettings in IAP Settings.
  mmv1/products/iap/Settings.yaml
Labels: service/iap

#12690 Allow read of PC type from API response to enable non-standard PC imports
  mmv1/products/vmwareengine/PrivateCloud.yaml
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_test.go
Labels: service/vmwareengine

#12623 feat: support a new field server_ca_pool of Cloud SQL instances
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12677 Fix typo in google_iap_settings docs
  mmv1/products/iap/Settings.yaml
Labels: service/iap

#12624 Mark vcenter field in VMware cluster resource as default from api
  mmv1/products/gkeonprem/VmwareCluster.yaml
Labels: service/gkeonprem

#12703 Add post_read custom_code
  mmv1/api/resource/custom_code.go
  mmv1/products/accesscontextmanager/ServicePerimeterResource.yaml
  mmv1/templates/terraform/nested_query.go.tmpl
  mmv1/templates/terraform/post_read/access_context_manager_service_perimeter_resource.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/terraform

#12682 Add health_check and external_endpoints to google_dns_record_set
  mmv1/third_party/terraform/services/dns/resource_dns_record_set.go
  mmv1/third_party/terraform/services/dns/resource_dns_record_set_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/dns_record_set.html.markdown
Labels: service/cloud-dns

#12666 Fixes PermaDiff Issue in `google_storage_transfer_job.aws_s3_data_source.aws_access_key` field
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.tmpl
Labels: service/storage

#12485 Allow for `IPV6_ONLY` stackType configurations
  mmv1/products/compute/Subnetwork.yaml
  mmv1/templates/terraform/examples/subnetwork_ipv6_only_external.tf.tmpl
  mmv1/templates/terraform/examples/subnetwork_ipv6_only_internal.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances, service/compute-vpc

#12616 Added new Apigee resource /v1/organizations/<apigee_org>/environments/<apigee_env>/addonsConfig
  mmv1/products/apigee/EnvironmentAddonsConfig.yaml
  mmv1/templates/terraform/custom_import/apigee_env_addons.go.tmpl
  mmv1/templates/terraform/decoders/apigee_env_addons.go.tmpl
  mmv1/templates/terraform/examples/apigee_env_addons_analytics_test.tf.tmpl
  mmv1/templates/terraform/examples/apigee_env_addons_enable_analytics.tf.tmpl
Labels: service/apigee

#12413 Fix ApigeeOrganization update response type.
  mmv1/products/apigee/Organization.yaml
  mmv1/third_party/terraform/services/apigee/resource_apigee_organization_update_test.go
Labels: service/apigee

#12687 convert databaseVersion enum to string
  mmv1/products/sql/SourceRepresentationInstance.yaml
Labels: service/sqladmin-cp

#12718 Failing test(s): TestAccComputeInterconnect_computeInterconnectBasicTestExample
  mmv1/templates/terraform/examples/interconnect_attachment_dedicated.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_interconnect_macsec_test.go
Labels: service/compute-interconnect

#12697 Cloud Router Standard BPS Terraform Beta to GA support
  mmv1/products/compute/Network.yaml
  mmv1/products/compute/Route.yaml
  mmv1/templates/terraform/examples/network_bgp_best_path_selection_mode.tf.tmpl
  mmv1/templates/terraform/examples/network_bgp_best_path_selection_mode_standard.tf.tmpl
  mmv1/templates/terraform/examples/network_bgp_best_path_selection_mode_standard_custom_fields.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
Labels: service/compute-vpc

#12710 chore: Move Traffic Extensions example server image
  mmv1/templates/terraform/examples/network_services_lb_traffic_extension_basic.tf.tmpl
Labels: service/networkservices-service-extensions

#12720 Add google_chronicle_rule resource to chronicle
  mmv1/products/chronicle/Rule.yaml
  mmv1/templates/terraform/examples/chronicle_rule_basic.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_rule_with_data_access_scope.tf.tmpl
  mmv1/templates/terraform/examples/chronicle_rule_with_force_deletion.tf.tmpl
  mmv1/templates/terraform/post_create/chronicle_rule_id.go.tmpl
  mmv1/templates/terraform/pre_delete/chronicle_rule.go.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_rule_test.go.tmpl
Labels: service/chronicle

#12601 CodeRepositoryIndex cascade deletion
  mmv1/products/gemini/CodeRepositoryIndex.yaml
  mmv1/templates/terraform/pre_delete/code_repository_index_force_delete.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_code_repository_index_test.go.tmpl
Labels: service/gemini

#11156 add a subcommand into diff processor to detect missing docs
  tools/diff-processor/cmd/detect_missing_docs.go
  tools/diff-processor/cmd/detect_missing_docs_test.go
  tools/diff-processor/detector/detector.go
  tools/diff-processor/detector/detector_test.go
  tools/diff-processor/documentparser/document_parser.go
  tools/diff-processor/documentparser/document_parser_test.go
  tools/diff-processor/testdata/resource.html.markdown
  tools/diff-processor/testdata/website/docs/r/a_resource.html.markdown
Labels: disable-review-reminders, disable-automatic-closure

#12722 Attachment 100g
  mmv1/products/compute/InterconnectAttachment.yaml
Labels: service/compute-interconnect

#12725 Change ServicePerimeterResource to use a policy level mutex lock
  mmv1/products/accesscontextmanager/ServicePerimeterResource.yaml
  mmv1/templates/terraform/custom_import/access_context_manager_service_perimeter_resource.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_service_perimeter_resource.go.tmpl
Labels: service/accesscontextmanager

#12729 Add google_chronicle_rule_deployment resource to chronicle
  mmv1/products/chronicle/RuleDeployment.yaml
  mmv1/templates/terraform/examples/chronicle_ruledeployment_basic.tf.tmpl
  mmv1/third_party/terraform/services/chronicle/resource_chronicle_rule_deployment_test.go.tmpl
Labels: service/chronicle

#12646 Support Swithcover for MySQL and PostgreSQL
  mmv1/third_party/terraform/services/sql/data_source_sql_database_instances.go
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/guides/sql_instance_switchover.html.markdown
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12738 Updated data_access_label_id description for google_chronicle_data_ac…
  mmv1/products/chronicle/DataAccessLabel.yaml
Labels: service/chronicle

#12607 Add support for Updating Container Image
  mmv1/templates/terraform/pre_update/workbench_instance.go.tmpl
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.tmpl
Labels: service/notebooks

#12739 Add official documentation link for URL map
  mmv1/products/compute/UrlMap.yaml
Labels: service/compute-l7-load-balancer

#12706 Colab runtime template
  mmv1/products/colab/RuntimeTemplate.yaml
  mmv1/products/colab/product.yaml
  mmv1/templates/terraform/examples/colab_runtime_template_basic.tf.tmpl
  mmv1/templates/terraform/examples/colab_runtime_template_full.tf.tmpl
  mmv1/templates/terraform/examples/colab_runtime_template_no_name.tf.tmpl
  mmv1/templates/terraform/post_create/colab_runtime_template.tmpl
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
Labels: service/notebooks

#12667 artifactregistry: accept all valid durations
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/constants/artifact_registry_repository.go.tmpl
  mmv1/templates/terraform/custom_expand/duration_to_seconds.go.tmpl
  mmv1/templates/terraform/examples/artifact_registry_repository_cleanup.tf.tmpl
Labels: service/artifactregistry

#12735 Finish converting ACM resources to use policy mutex lock
  mmv1/products/accesscontextmanager/AccessLevel.yaml
  mmv1/products/accesscontextmanager/AccessLevelCondition.yaml
  mmv1/products/accesscontextmanager/AccessLevels.yaml
  mmv1/products/accesscontextmanager/AccessPolicy.yaml
  mmv1/products/accesscontextmanager/AuthorizedOrgsDesc.yaml
  mmv1/products/accesscontextmanager/EgressPolicy.yaml
  mmv1/products/accesscontextmanager/IngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunResource.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterResource.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
  mmv1/templates/terraform/custom_import/access_context_manager_service_perimeter_egress_policy.go.tmpl
  mmv1/templates/terraform/custom_import/access_context_manager_service_perimeter_ingress_policy.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_access_level_condition.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_egress_policy.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_ingress_policy.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_service_perimeter_dry_run_egress_policy.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_service_perimeter_dry_run_ingress_policy.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_service_perimeter_dry_run_resource.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_service_perimeter_egress_policy.go.tmpl
  mmv1/templates/terraform/encoders/access_context_manager_service_perimeter_ingress_policy.go.tmpl
Labels: service/accesscontextmanager

#12749 Fixed TestAccNetworkServicesGateway_update
  mmv1/products/networkservices/Gateway.yaml
  mmv1/templates/terraform/pre_update/network_services_gateway.go.tmpl
  mmv1/templates/terraform/update_encoder/network_services_gateway.go.tmpl
  mmv1/third_party/terraform/services/networkservices/resource_network_services_gateway_test.go
Labels: service/networkservices-traffic-director

#12736 Add etags to acm_service_perimeter_resource
  mmv1/products/accesscontextmanager/ServicePerimeterResource.yaml
  mmv1/templates/terraform/post_read/access_context_manager_service_perimeter_resource.go.tmpl
  mmv1/templates/terraform/pre_create/access_context_manager_service_perimeter_resource.go.tmpl
  mmv1/templates/terraform/pre_delete/access_context_manager_service_perimeter_resource.go.tmpl
Labels: service/accesscontextmanager

#12753 updated DataStore.yaml to add 'advancedSiteSearchConfig'
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/templates/terraform/examples/discoveryengine_datastore_advanced_site_search_config.tf.tmpl
Labels: service/discoveryengine

#12733 Re-enable KMS KeyHandle tests
  mmv1/products/kms/KeyHandle.yaml
Labels: service/cloudkms

#12744 Add Azure Event Hubs ingestion fields to `google_pubsub_topic`
  mmv1/products/pubsub/Topic.yaml
  mmv1/templates/terraform/examples/pubsub_topic_ingestion_azure_event_hubs.tf.tmpl
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_topic_test.go
Labels: service/pubsub

#12573 Add support for AlloyDB Cluster Major Version Upgrade
  mmv1/products/alloydb/Cluster.yaml
  mmv1/templates/terraform/pre_update/alloydb_cluster.go.tmpl
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_cluster_test.go
Labels: service/alloydb

#12699 Resume vmwareengine terraform tests
  mmv1/third_party/terraform/services/vmwareengine/data_source_google_vmwareengine_network_peering_test.go
  mmv1/third_party/terraform/services/vmwareengine/data_source_google_vmwareengine_network_policy_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_cluster_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_external_address_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_network_peering_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_network_policy_test.go
  mmv1/third_party/terraform/services/vmwareengine/resource_vmwareengine_private_cloud_test.go
Labels: service/vmwareengine

#12716 add enforce_in_transit field in google_pubsub_topic
  mmv1/products/pubsub/Topic.yaml
  mmv1/templates/terraform/examples/pubsub_topic_geo_restricted.tf.tmpl
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_topic_test.go
Labels: service/pubsub

#12664 Fix nodeConfigDefaults on cluster create.
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container, disable-review-reminders

#12567 Fix diff suppress function ignoring additive_vpc_scope_dns_domain in Autopilot clusters
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12715 Colab runtime
  mmv1/products/colab/Runtime.yaml
  mmv1/products/colab/RuntimeTemplate.yaml
  mmv1/templates/terraform/encoders/colab_runtime.go.tmpl
  mmv1/templates/terraform/examples/colab_runtime_basic.tf.tmpl
  mmv1/templates/terraform/examples/colab_runtime_full.tf.tmpl
  mmv1/third_party/terraform/services/colab/colab_operation.go
Labels: service/container

#12747 Promote gemini_* resources to ga
  mmv1/products/gemini/CodeRepositoryIndex.yaml
  mmv1/products/gemini/RepositoryGroup.yaml
  mmv1/products/gemini/product.yaml
  mmv1/templates/terraform/examples/gemini_code_repository_index_basic.tf.tmpl
  mmv1/templates/terraform/examples/gemini_repository_group_basic.tf.tmpl
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/services/gemini/iam_gemini_repository_group_test.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_code_repository_index_test.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_repository_group_test.go.tmpl
Labels: service/gemini

#12762 [#20905] Add network scope and src network fields to fw policy rules
  mmv1/products/compute/FirewallPolicyRule.yaml
  mmv1/products/compute/FirewallPolicyWithRules.yaml
  mmv1/products/compute/NetworkFirewallPolicyRule.yaml
  mmv1/products/compute/NetworkFirewallPolicyWithRules.yaml
  mmv1/products/compute/RegionNetworkFirewallPolicyRule.yaml
  mmv1/products/compute/RegionNetworkFirewallPolicyWithRules.yaml
  mmv1/templates/terraform/examples/compute_firewall_policy_with_rules_full.tf.tmpl
  mmv1/templates/terraform/examples/compute_network_firewall_policy_with_rules_full.tf.tmpl
  mmv1/templates/terraform/examples/compute_region_network_firewall_policy_with_rules_full.tf.tmpl
  mmv1/templates/terraform/examples/firewall_policy_rule.tf.tmpl
  mmv1/templates/terraform/examples/firewall_policy_rule_network_scope.tf.tmpl
  mmv1/templates/terraform/examples/network_firewall_policy_rule.tf.tmpl
  mmv1/templates/terraform/examples/network_firewall_policy_rule_network_scope_egress.tf.tmpl
  mmv1/templates/terraform/examples/network_firewall_policy_rule_network_scope_ingress.tf.tmpl
  mmv1/templates/terraform/examples/region_network_firewall_policy_rule.tf.tmpl
  mmv1/templates/terraform/examples/region_network_firewall_policy_rule_network_scope_egress.tf.tmpl
  mmv1/templates/terraform/examples/region_network_firewall_policy_rule_network_scope_ingress.tf.tmpl
Labels: service/network-security-distributed-firewall

#12355 fix: Router custom-learned-route-priority undefined behavior
  mmv1/third_party/terraform/services/compute/resource_compute_router_bgp_peer_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_router_peer.html.markdown
Labels: service/compute-router

#11932 Add IAM resources to `google_compute_instance_template`
  mmv1/products/compute/InstanceTemplate.yaml
  mmv1/templates/terraform/examples/instance_template_basic.tf.tmpl
Labels: service/compute-instances

#12712 Add tags field to Filestore Instances for TagsR2401
  mmv1/products/filestore/Instance.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
Labels: service/filestore

#12746 Document import syntax for compute_project_metadata_item
  mmv1/third_party/terraform/website/docs/r/compute_project_metadata_item.html.markdown
Labels: service/compute-instances

#12793 Fix TestAccApigeeEndpointAttachment_apigeeEndpointAttachmentBasicTestExample
  mmv1/products/apigee/EndpointAttachment.yaml
  mmv1/third_party/terraform/services/apigee/resource_apigee_endpoint_attachment_test.go
Labels: service/apigee

#12796 Implemented simpler IAM bootstrapping logic
  mmv1/third_party/terraform/acctest/bootstrap_iam_test_utils.go
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
Labels: service/composer

#12763 Add missing pagination for data source google_service_accounts
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_accounts.go
Labels: awaiting-approval, service/iam-serviceaccount

#12755 Adding Labels to Interconnect Attachments
  mmv1/products/compute/InterconnectAttachment.yaml
  mmv1/templates/terraform/examples/interconnect_attachment_basic.tf.tmpl
  mmv1/templates/terraform/examples/interconnect_attachment_dedicated.tf.tmpl
  mmv1/templates/terraform/post_create/interconnect_attachment.go.tmpl
Labels: service/compute-interconnect

#12803 Adding pdpScope field to PAP resource
  mmv1/products/compute/PublicAdvertisedPrefix.yaml
  mmv1/templates/terraform/examples/public_advertised_prefixes_pdp_scope.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_public_advertised_prefix_test.go
Labels: service/compute-ipam

#12728 container: fixed resourceManagerTags tests
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#12797 Iam bootstrapping generation
  docs/content/reference/resource.md
  docs/content/test/test.md
  mmv1/api/resource/examples.go
  mmv1/products/healthcare/DicomStore.yaml
  mmv1/products/healthcare/FhirStore.yaml
  mmv1/products/pubsub/Subscription.yaml
  mmv1/provider/template_data.go
  mmv1/templates/terraform/examples/base_configs/iam_test_file.go.tmpl
  mmv1/templates/terraform/examples/base_configs/test_file.go.tmpl
  mmv1/templates/terraform/iam/iam_test_setup.go.tmpl
Labels: service/pubsub, service/healthcare

#12548 Redis cluster Multi vpc support
  mmv1/products/redis/Cluster.yaml
  mmv1/products/redis/ClusterUserCreatedConnections.yaml
  mmv1/templates/terraform/custom_delete/redis_cluster_user_created_connections.go.tmpl
  mmv1/templates/terraform/examples/redis_cluster_user_and_auto_created_connections.tf.tmpl
  mmv1/templates/terraform/examples/redis_cluster_user_created_connections.tf.tmpl
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.tmpl
Labels: service/redis-cluster

#12824 Increase timeout on google_dataproc_metastore_service to 75m (from 60m)
  mmv1/products/metastore/Service.yaml
Labels: service/metastore

#12779 Add 5s to the billing project wait + network deletion retry wait in google_project
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project.go
Labels: service/cloudresourcemanager-crm

#12822 Removed usage of bootstrap PSA role helpers
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/products/compute/MachineImage.yaml
  mmv1/third_party/terraform/services/cloudfunctions2/resource_cloudfunctions2_function_test.go
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.tmpl
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job_test.go.tmpl
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_subscription_test.go
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_topic_test.go
  mmv1/third_party/terraform/services/spanner/resource_spanner_database_test.go.tmpl
  mmv1/third_party/terraform/services/workflows/resource_workflows_workflow_test.go.tmpl
Labels: service/terraform

#12708 Add data source for keyhandle list
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/kms/data_source_google_kms_key_handles.go
  mmv1/third_party/terraform/services/kms/data_source_google_kms_key_handles_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/kms_key_handles.html.markdown
Labels: service/cloudkms

#12737 Fix global_forwarding_rule labels
  mmv1/products/compute/GlobalForwardingRule.yaml
  mmv1/templates/terraform/pre_create/compute_global_forwarding_rule.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_global_forwarding_rule_test.go.tmpl
Labels: service/compute-l7-load-balancer

#12794 Support apigee environment properties update
  mmv1/products/apigee/Environment.yaml
Labels: service/apigee

#12190 `google_artifact_registry_repository`: Fix perma-diff in maven_config
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/constants/artifact_registry_repository.go.tmpl
  mmv1/third_party/terraform/services/artifactregistry/resource_artifact_registry_repository_test.go.tmpl
Labels: service/artifactregistry

#12816 Support new Network Security Integration security profile types
  mmv1/products/networksecurity/SecurityProfile.yaml
  mmv1/products/networksecurity/SecurityProfileGroup.yaml
  mmv1/templates/terraform/examples/network_security_security_profile_group_intercept.tf.tmpl
  mmv1/templates/terraform/examples/network_security_security_profile_group_mirroring.tf.tmpl
  mmv1/templates/terraform/examples/network_security_security_profile_intercept.tf.tmpl
  mmv1/templates/terraform/examples/network_security_security_profile_mirroring.tf.tmpl
Labels: service/network-security-distributed-firewall

#12698 Fix failing test: "TestAccComputeInstance_bootAndAttachedDisk_interface"
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
Labels: service/compute-instances

#12805 container: fixed `TestAccContainerNodePool_defaultDriverInstallation`
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#12765 Add AwsMsk & ConfluentCloud to 'google_pubsub_topic'
  mmv1/products/pubsub/Topic.yaml
  mmv1/templates/terraform/examples/pubsub_topic_ingestion_aws_msk.tf.tmpl
  mmv1/templates/terraform/examples/pubsub_topic_ingestion_confluent_cloud.tf.tmpl
  mmv1/third_party/terraform/services/pubsub/resource_pubsub_topic_test.go
Labels: service/pubsub

#12798 Fix failing TestAccDataflowJob tests.
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job_test.go.tmpl
Labels: service/dataflow

#12829 Make (R)IGM.PerInstanceConfigs lock on Instance name, not IGM
  mmv1/products/compute/PerInstanceConfig.yaml
  mmv1/products/compute/RegionPerInstanceConfig.yaml
Labels: service/compute-managed

#12795 Add etag to service perimeter dry run resource
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunResource.yaml
  mmv1/templates/terraform/post_read/access_context_manager_service_perimeter_dry_run_resource.go.tmpl
  mmv1/templates/terraform/pre_create/access_context_manager_service_perimeter_dry_run_resource.go.tmpl
Labels: service/accesscontextmanager

#12788 Correct SecurityGateway to be global only
  mmv1/products/beyondcorp/SecurityGateway.yaml
  mmv1/templates/terraform/examples/beyondcorp_security_gateway_basic.tf.tmpl
  mmv1/third_party/terraform/services/beyondcorp/resource_beyondcorp_security_gateway_test.go
Labels: override-breaking-change, service/beyondcorp

#12659 Add foreign type info and definition to google_bigquery_table beta
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_internal_test.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#12838 alloydb: marked `google_alloydb_user.password` as sensitive
  mmv1/products/alloydb/User.yaml
Labels: service/alloydb

#12809 Include Export Ranges IPv6 Support
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/templates/terraform/examples/network_connectivity_spoke_linked_vpc_network_ipv6_support.tf.tmpl
Labels: service/network-connectivity-center

#12802 Add inputs for filtering service accounts with data source google_service_accounts
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_accounts.go
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_accounts_test.go
  mmv1/third_party/terraform/verify/validation.go
  mmv1/third_party/terraform/website/docs/d/service_accounts.html.markdown
Labels: service/iam-serviceaccount

#12844 Use the v2alpha1 Cloud TPU API version in the google-beta Terraform provider
  mmv1/products/tpuv2/product.yaml
Labels: service/tpu

#12836 Fix Spanner Instance `force_delete` backup bug
  mmv1/templates/terraform/pre_delete/spanner_instance.go.tmpl
Labels: service/spanner

#12808 fix: Router advertised-route-priority undefined behavior
  mmv1/third_party/terraform/services/compute/resource_compute_router_bgp_peer_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_router_peer.html.markdown
Labels: service/compute-router

#12834 Update resource tag definition doc link for google_bigquery_dataset and google_bigquery_table
  mmv1/products/bigquery/Dataset.yaml
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#12589 Network profile and RDMA v1 support
  mmv1/products/compute/Network.yaml
  mmv1/third_party/terraform/services/compute/data_source_google_compute_network.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/website/docs/d/compute_network.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances, service/compute-vpc

#12806 cloudfunctions: bootstraped IAM roles for service agent
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function_test.go.tmpl
Labels: service/cloudfunctions

#12856 Fix Firestore field deletion for wildcard fields
  mmv1/products/firestore/Field.yaml
  mmv1/templates/terraform/custom_delete/firestore_field_delete.go.tmpl
  mmv1/templates/terraform/examples/firestore_field_wildcard.tf.tmpl
Labels: service/firestore-dataplane

#12681 Add support for the metricsGcpServiceAccountEmail field in ConfigManagement Fleet-level default config
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.tmpl
Labels: service/gkehub

#12777 Fixed cluster resource limits maximum to be marked as required in docs.
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: override-breaking-change, service/container

#12085 Add `tags` and `workflow_tags` fields to `google_workflows_workflow` resource. Fixes b/374990996
  mmv1/products/workflows/Workflow.yaml
  mmv1/templates/terraform/examples/workflow_tags.tf.tmpl
  mmv1/third_party/terraform/services/workflows/resource_workflows_workflow_test.go.tmpl
Labels: service/workflows, disable-automatic-closure

#12818 Modify Quota Adjuster Settings documentation
  mmv1/products/cloudquotas/QuotaAdjusterSettings.yaml
Labels: service/serviceusage-quota, disable-review-reminders

#12653 Add support for parameter manager parameter version datasource `google_parameter_manager_parameter_version`
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/parametermanager/data_source_parameter_manager_parameter_version.go.tmpl
  mmv1/third_party/terraform/services/parametermanager/data_source_parameter_manager_parameter_version_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/parameter_manager_parameter_version.html.markdown
Labels: awaiting-approval

#12807 resourcemanager: skipped checking `display_name` for test
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_service_accounts_test.go
Labels: service/iam-serviceaccount

#12867 Add test for flex pool no zone
  mmv1/products/netapp/StoragePool.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.tmpl
Labels: service/netapp

#12847 support sweepable prefixes, and regions, and surface errors
  mmv1/api/resource/sweeper.go
  mmv1/templates/terraform/sweeper_file.go.tmpl
  mmv1/third_party/terraform/sweeper/gcp_sweeper.go
Labels: service/terraform

#12878 Adding API Docs for secret manager based resources
  mmv1/products/secretmanager/Secret.yaml
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/products/secretmanagerregional/RegionalSecret.yaml
  mmv1/products/secretmanagerregional/RegionalSecretVersion.yaml
Labels: service/secretmanager

#12874 Adding API Docs for google_securityposture_posture for registry
  mmv1/products/securityposture/Posture.yaml
Labels: service/securityposture

#12868 feat(spanner): support encryption config in google_spanner_schedule_backup resource
  mmv1/products/spanner/BackupSchedule.yaml
  mmv1/templates/terraform/examples/spanner_backup_schedule_daily_full.tf.tmpl
  mmv1/templates/terraform/examples/spanner_backup_schedule_daily_incremental.tf.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_schedule_backup_test.go
Labels: service/spanner

#12840 Add MaxRunDuration
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#12875 Adding API Docs for google_securityposture_posture_deployment for registry
  mmv1/products/securityposture/PostureDeployment.yaml
Labels: service/securityposture

#12857 Mark `content` in storage object content data source as computed
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content.go
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content_test.go
  mmv1/third_party/terraform/website/docs/d/storage_bucket_object_content.html.markdown
Labels: service/storage

#12787 Add corner case check for null value in expandSqlServerAuditConfig function
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
Labels: service/sqladmin-cp

#12879 upgrade dcl to 1.77
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_workflow_template_test.go.tmpl
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/dataproc, service/assuredworkloads

#12782 Add IAM policy to SecurityGateway.yaml
  mmv1/products/beyondcorp/SecurityGateway.yaml
Labels: service/beyondcorp

#12877 Add DSF on resource_labels in node_config
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
Labels: service/container

#12900 Adding API Docs for google_resource_manager_lien for registry
  mmv1/products/resourcemanager/Lien.yaml
Labels: service/cloudresourcemanager-crm

#12883 Make google_chronicle_retrohunt resource of chronicle beta-only
  mmv1/products/chronicle/Retrohunt.yaml
Labels: service/chronicle

#12901 omit sweeper generation for subresources
  mmv1/provider/terraform.go
Labels: service/terraform

#12865 Create Subnetwork.yaml with new purpose called PEER_MIGRATION
  mmv1/products/compute/Subnetwork.yaml
Labels: service/compute-vpc

#12872 Adding API Docs for google_workbench_instance for registry
  mmv1/products/workbench/Instance.yaml
Labels: service/notebooks

#12761 Memorystore Cluster_Disabled : Rename Standalone value in Mode field to Cluster_Disabled
  mmv1/products/memorystore/Instance.yaml
  mmv1/templates/terraform/decoders/memorystore_instance.go.tmpl
  mmv1/templates/terraform/examples/memorystore_instance_standalone_full.tf.tmpl
Labels: service/redis-instance

#12837 Add Security Gateway Application resource
  mmv1/products/beyondcorp/Application.yaml
  mmv1/templates/terraform/examples/beyondcorp_security_gateway_application_basic.tf.tmpl
  mmv1/third_party/terraform/services/beyondcorp/resource_beyondcorp_application_test.go
Labels: service/beyondcorp

#12864 Allow parallelization of per instance config deletions by not locking on the IGM
  mmv1/templates/terraform/custom_delete/per_instance_config.go.tmpl
  mmv1/templates/terraform/custom_delete/region_per_instance_config.go.tmpl
Labels: service/compute-managed

#12907 Update ChatEngine documentation
  mmv1/products/discoveryengine/ChatEngine.yaml
Labels: service/discoveryengine

#12916 Revert "Make nodepool concurrent ops scale better (#12488)"
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#12926 Add diff suppression for the renewal_plan field in google_bigquery_capacity_commitment
  mmv1/products/bigqueryreservation/CapacityCommitment.yaml
Labels: service/bigquery

#12909 Unskipped tests for tpg-20574
  mmv1/products/datafusion/Instance.yaml
  mmv1/third_party/terraform/services/datafusion/resource_data_fusion_instance_test.go
Labels: service/datafusion

#12914 Adding IP Collection To Forwarding Rule
  mmv1/products/compute/ForwardingRule.yaml
  mmv1/templates/terraform/constants/compute_forwarding_rule.go.tmpl
  mmv1/templates/terraform/examples/forwarding_rule_externallb_byoipv6.tf.tmpl
  mmv1/third_party/terraform/acctest/test_utils.go.tmpl
Labels: service/compute-l7-load-balancer

#12820 bigquery analyticshub listing subscription
  mmv1/products/bigqueryanalyticshub/ListingSubscription.yaml
  mmv1/templates/terraform/examples/bigquery_analyticshub_listing_subscription_basic.tf.tmpl
  mmv1/templates/terraform/post_create/analytics_hub_subscription.go.tmpl
  mmv1/templates/terraform/post_import/analytics_hub_subscription.go.tmpl
  mmv1/templates/terraform/pre_create/bigquery_analyticshub_subscription.tmpl
Labels: service/bigquery

#12532 Support for projects in EgressSource
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_serviceperimeters_custom_flatten.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_dry_run_egress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_egress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_test.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_services_perimeters_test.go
  mmv1/third_party/tgc/tests/data/example_access_context_manager_service_perimeter.json
  mmv1/third_party/tgc/tests/data/example_access_context_manager_service_perimeter.tf
Labels: service/accesscontextmanager

#11897 Adding replication field for Filestore Instance
  mmv1/products/filestore/Instance.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
Labels: service/filestore

#12902 Add fields to support configuring new Media CDN features via Terraform.
  mmv1/products/networkservices/EdgeCacheService.yaml
  mmv1/third_party/terraform/services/networkservices/resource_network_services_edge_cache_service_test.go
Labels: service/networkservices-media-cdn

#12855 Add Network Firewall Policy Policy Packet Mirroring Rule resource
  mmv1/products/compute/NetworkFirewallPolicyPacketMirroringRule.yaml
  mmv1/templates/terraform/examples/compute_network_firewall_policy_packet_mirroring_rule.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_packet_mirroring_rule_test.go.tmpl
Labels: service/network-security-distributed-firewall

#12912 Adding API Docs for google_privileged_access_manager_entitlement for registry
  mmv1/products/privilegedaccessmanager/Entitlement.yaml
Labels: service/privilegedaccessmanager
