Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-02, with the labels that each got.

#12919 Beyondcorp application
  mmv1/products/beyondcorp/Application.yaml
  mmv1/templates/terraform/examples/beyondcorp_security_gateway_application_basic.tf.tmpl
  mmv1/third_party/terraform/services/beyondcorp/resource_beyondcorp_application_test.go
Labels: service/beyondcorp

#12894 Add Gemini Release Channel Setting resource
  mmv1/products/gemini/ReleaseChannelSetting.yaml
  mmv1/templates/terraform/examples/gemini_release_channel_setting_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_release_channel_setting_test.go.tmpl
Labels: service/gemini

#12884 workbench: Fix a bug with instance metadata being removed not working as expected
  mmv1/templates/terraform/constants/workbench_instance.go.tmpl
  mmv1/templates/terraform/pre_update/workbench_instance.go.tmpl
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.tmpl
Labels: service/notebooks

#12869 Adding API Docs for resource_compute_interconnect_attachment for registry
  mmv1/products/compute/InterconnectAttachment.yaml
Labels: service/compute-interconnect

#12876 Adding API Docs for google_secure_source_manager_repository and google_secure_source_manager_branch_rule for registry
  mmv1/products/securesourcemanager/BranchRule.yaml
  mmv1/products/securesourcemanager/Repository.yaml
Labels: service/securesourcemanager

#12881 Fixed datastream connection profile test
  mmv1/products/datastream/ConnectionProfile.yaml
  mmv1/templates/terraform/examples/datastream_connection_profile_postgresql_private_connection.tf.tmpl
Labels: service/datastream

#12949 CodeRepositoryIndex promote force_destroy to GA
  mmv1/templates/terraform/pre_delete/code_repository_index_force_delete.go.tmpl
Labels: service/gemini

#12804 Adding Mode & Allocatable Prefix Length to PDP for IPv6 Prefixes
  mmv1/products/compute/PublicAdvertisedPrefix.yaml
  mmv1/products/compute/PublicDelegatedPrefix.yaml
  mmv1/templates/terraform/examples/public_delegated_prefixes_ipv6.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_public_advertised_prefix_test.go
Labels: service/compute-ipam

#12952 Fix GKE CPA tests so that cluster creation waits for CA creation.
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#12452 Feat add cas custom cdp aia support
  mmv1/products/privateca/CertificateAuthority.yaml
  mmv1/templates/terraform/examples/privateca_certificate_authority_basic_with_custom_cdp_aia_urls.tf.tmpl
Labels: service/privateca

#12688 Add Terraform Support for GKE Auto-Monitoring
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container, awaiting-approval

#12956 fix: update apigee_api doc
  mmv1/third_party/terraform/website/docs/r/apigee_api.html.markdown
Labels: service/apigee

#12962 Fix missing bootstrap IAM for GKE SA to create CPA clusters.
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#11357 Migrate google_compute_firewall_policy resource from DCL to MMv1
  mmv1/products/compute/FirewallPolicy.yaml
  mmv1/templates/terraform/constants/compute_firewall_policy_operation.go.tmpl
  mmv1/templates/terraform/examples/firewall_policy.tf.tmpl
  mmv1/templates/terraform/post_create/compute_firewall_policy.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_firewall_policy_rule_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_firewall_policy.html.markdown
  tpgtools/overrides/compute/beta/firewall_policy.yaml
Labels: service/network-security-distributed-firewall

#12938 Add support for baseImageUri and buildInfo in Cloud Run V2 Service.template.containers
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_service_function.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.tmpl
Labels: service/run

#12960 Removed google_project_service resources that modified the default project's enabled services from tests
  mmv1/third_party/terraform/services/cloudquotas/resource_cloud_quotas_quota_adjuster_settings_test.go.tmpl
Labels: service/serviceusage-quota

#12968 Update StandardApVersion.yaml to reflect new default for automaticSca…
  mmv1/products/appengine/StandardAppVersion.yaml
Labels: service/appengine

#12934 Fix google_dns_managed_zone update
  mmv1/templates/terraform/custom_expand/sd_full_url.tmpl
  mmv1/third_party/terraform/services/dns/resource_dns_managed_zone_test.go.tmpl
Labels: service/cloud-dns

#12957 Make scope optional for google_compute_(region_)resize_request so that the default can be taken from the provider configuration
  mmv1/products/compute/RegionResizeRequest.yaml
  mmv1/products/compute/ResizeRequest.yaml
Labels: service/compute-managed

#12976 Revert "Fix google_dns_managed_zone update"
  mmv1/templates/terraform/custom_expand/sd_full_url.tmpl
  mmv1/third_party/terraform/services/dns/resource_dns_managed_zone_test.go.tmpl
Labels: service/cloud-dns

#12854 fix: (storage) update doc to link google_storage_bucket_object_content in google_storage_bucket_object
  mmv1/third_party/terraform/website/docs/r/storage_bucket_object.html.markdown
Labels: service/storage

#12978 Fix google_dns_managed_zone update
  mmv1/templates/terraform/custom_expand/sd_full_url.tmpl
  mmv1/third_party/terraform/services/dns/resource_dns_managed_zone_test.go.tmpl
Labels: service/cloud-dns

#12971 Updated AlertPolicy resource to include sql condition types.
  mmv1/products/monitoring/AlertPolicy.yaml
  mmv1/third_party/terraform/services/monitoring/resource_monitoring_alert_policy_test.go
Labels: service/monitoring-alerting

#12983 Fix google_storage_bucket HNS example
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#12858 Fix error details type on google_database_migration_service_migration_job
  mmv1/products/databasemigrationservice/MigrationJob.yaml
  mmv1/templates/terraform/custom_flatten/dms_migration_job_error_details.tmpl
Labels: service/datamigration

#12975 make authz extension wire_format O+C
  mmv1/products/networkservices/AuthzExtension.yaml
  mmv1/third_party/terraform/services/networkservices/resource_network_services_authz_extension_test.go
Labels: override-breaking-change

#12972 Fix various product headings in the Registry
  mmv1/products/apihub/product.yaml
  mmv1/products/bigqueryanalyticshub/product.yaml
  mmv1/products/blockchainnodeengine/product.yaml
  mmv1/products/certificatemanager/product.yaml
  mmv1/products/datacatalog/product.yaml
  mmv1/products/dlp/product.yaml
  mmv1/products/metastore/product.yaml
  mmv1/products/networkmanagement/product.yaml
  mmv1/products/networksecurity/product.yaml
  mmv1/products/networkservices/product.yaml
  mmv1/products/publicca/product.yaml
  mmv1/products/securitycenterv2/product.yaml
  mmv1/third_party/terraform/website/docs/d/backup_dr_backup.html.markdown
  mmv1/third_party/terraform/website/docs/d/backup_dr_backup_plan_association.html.markdown
  mmv1/third_party/terraform/website/docs/d/backup_dr_backup_vault.html.markdown
  mmv1/third_party/terraform/website/docs/d/backup_dr_data_source.html.markdown
  mmv1/third_party/terraform/website/docs/d/backup_dr_management_server.html.markdown
  mmv1/third_party/terraform/website/docs/d/certificate_manager_certificate_map.html.markdown
  mmv1/third_party/terraform/website/docs/d/certificate_manager_certificates.html.markdown
  mmv1/third_party/terraform/website/docs/d/dataproc_metastore_service.markdown
Labels: service/terraform

#12665 Add new resource netapp volumes quotaRules
  mmv1/products/netapp/VolumeQuotaRule.yaml
  mmv1/templates/terraform/examples/netapp_volume_quota_rule_basic.tf.tmpl
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_quotaRule_sweeper.go
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_quotaRule_test.go
Labels: service/netapp

#12984 Removed tags from update tests
  mmv1/third_party/terraform/services/workflows/resource_workflows_workflow_test.go.tmpl
Labels: service/workflows

#12966 Adds storage_operation to handle LRO related operations
  mmv1/third_party/terraform/services/storage/storage_operation.go
Labels: service/storage

#12990 Fix TestAccSpannerInstance_spannerInstanceWithAutoscalingExample
  mmv1/products/spanner/Instance.yaml
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#12896 Add Gemini Gemini Gcp Enablement Setting resource
  mmv1/products/gemini/GeminiGcpEnablementSetting.yaml
  mmv1/templates/terraform/examples/gemini_gemini_gcp_enablement_setting_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_gemini_gcp_enablement_setting_test.go.tmpl
Labels: service/gemini

#12964 Change bootstrapped CodeRepositoryIndex debug label
  mmv1/products/gemini/RepositoryGroup.yaml
  mmv1/third_party/terraform/services/gemini/iam_gemini_repository_group_test.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_repository_group_test.go.tmpl
Labels: service/gemini

#12992 Split resource schema diff returned to magician by added/modified/removed
  .ci/magician/cmd/generate_comment.go
  .ci/magician/cmd/generate_comment_test.go
  .ci/magician/cmd/mock_runner_test.go
  tools/diff-processor/cmd/breaking_changes.go
  tools/diff-processor/cmd/changed_schema_resources.go
  tools/diff-processor/cmd/changed_schema_resources_test.go
  tools/diff-processor/cmd/detect_missing_docs.go
  tools/diff-processor/cmd/detect_missing_tests.go
  tools/diff-processor/cmd/root.go
  tools/diff-processor/cmd/schema_diff.go
  tools/diff-processor/cmd/schema_diff_test.go
  tools/diff-processor/go.mod
  tools/diff-processor/go.sum
Labels: service/alloydb

#12932 Add title field in directional policy rules.
  mmv1/products/accesscontextmanager/ServicePerimeter.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeters.yaml
  mmv1/templates/terraform/custom_flatten/accesscontextmanager_serviceperimeters_custom_flatten.go.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_dry_run_egress_policy.tf.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_dry_run_ingress_policy.tf.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_egress_policy.tf.tmpl
  mmv1/templates/terraform/examples/access_context_manager_service_perimeter_ingress_policy.tf.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_dry_run_egress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_dry_run_ingress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_egress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_ingress_policy_test.go
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_service_perimeter_test.go.tmpl
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_services_perimeters_test.go
  mmv1/third_party/tgc/tests/data/example_access_context_manager_service_perimeter.json
  mmv1/third_party/tgc/tests/data/example_access_context_manager_service_perimeter.tf
Labels: service/accesscontextmanager

#12988 dlp update test fix - avoid tag collisions
  mmv1/third_party/terraform/services/datalossprevention/resource_data_loss_prevention_discovery_config_test.go
Labels: service/dlp

#12970 Marked network scope tests as beta-only and removed network scope from other tests
  mmv1/products/compute/FirewallPolicyRule.yaml
  mmv1/products/compute/NetworkFirewallPolicyRule.yaml
  mmv1/products/compute/RegionNetworkFirewallPolicyRule.yaml
  mmv1/templates/terraform/examples/firewall_policy_rule.tf.tmpl
  mmv1/templates/terraform/examples/firewall_policy_rule_network_scope.tf.tmpl
  mmv1/templates/terraform/examples/network_firewall_policy_rule_network_scope_egress.tf.tmpl
  mmv1/templates/terraform/examples/network_firewall_policy_rule_network_scope_ingress.tf.tmpl
  mmv1/templates/terraform/examples/region_network_firewall_policy_rule_network_scope_egress.tf.tmpl
  mmv1/templates/terraform/examples/region_network_firewall_policy_rule_network_scope_ingress.tf.tmpl
Labels: service/network-security-distributed-firewall

#12989 Fixed TestAccComposerEnvironment_fixPyPiPackages
  mmv1/third_party/terraform/services/composer/resource_composer_environment_test.go.tmpl
Labels: service/composer

#12986 ignore ImportStateVerify update_time in SecureSourceManagerInstance
  mmv1/products/securesourcemanager/Instance.yaml
Labels: service/securesourcemanager

#13007 Marked gemini/LoggingSetting as beta-only
  mmv1/products/gemini/LoggingSetting.yaml
Labels: override-breaking-change, service/gemini

#13005 make TestAccFilestoreInstance_replication sweepable
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
Labels: service/filestore

#13009 Made filestore backup tests use sweepable resources
  mmv1/products/filestore/Backup.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_backup_test.go
Labels: service/filestore

#12985 Add support for new flags in Container node_kubelet_config.
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#12973 Fix IAM Policy Datasource header
  mmv1/templates/terraform/datasource_iam.html.markdown.tmpl
Labels: service/terraform

#12832 Migrate google_eventarc_trigger resource from DCL to MMv1
  mmv1/products/eventarc/Trigger.yaml
  mmv1/products/eventarc/product.yaml
  mmv1/provider/terraform_tgc.go
  mmv1/templates/terraform/custom_expand/eventarc_trigger_destination_workflow.go.tmpl
  mmv1/templates/terraform/custom_expand/eventarc_trigger_transport_pubsub_topic.go.tmpl
  mmv1/templates/terraform/examples/eventarc_trigger_with_channel_cmek.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_trigger_with_cloud_run_destination.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_trigger_with_http_destination.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_trigger_with_path_pattern_filter.tf.tmpl
  mmv1/templates/terraform/examples/eventarc_trigger_with_workflow_destination.tf.tmpl
  mmv1/third_party/terraform/fwmodels/provider_model.go.tmpl
  mmv1/third_party/terraform/services/eventarc/eventarc_utils.go
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_trigger_meta.yaml
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_trigger_test.go
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_trigger_test.go.tmpl
  tpgtools/overrides/eventarc/beta/trigger.yaml
  tpgtools/overrides/eventarc/samples/trigger/basic.tf.tmpl
  tpgtools/overrides/eventarc/samples/trigger/basic.yaml
  tpgtools/overrides/eventarc/samples/trigger/basic_update_transport.tf.tmpl
  tpgtools/overrides/eventarc/samples/trigger/basic_update_transport_2.tf.tmpl
  tpgtools/overrides/eventarc/samples/trigger/meta.yaml
  tpgtools/overrides/eventarc/trigger.yaml
Labels: override-breaking-change, service/eventarc

#12963 Feature gap: add `gracefulShutdown` field for beta
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#12981 Fixed error message when naming disks
  mmv1/products/compute/Disk.yaml
Labels: service/compute-pd

#13028 add fix for bbdc private tests
  mmv1/third_party/terraform/services/cloudbuildv2/resource_cloudbuildv2_connection_test.go
Labels: service/cloudbuild

#13027 Fix instances where no items found in region by continuing to next region
  mmv1/api/resource/sweeper.go
  mmv1/products/colab/Schedule.yaml
  mmv1/products/datacatalog/Taxonomy.yaml
  mmv1/products/monitoring/MonitoredProject.yaml
  mmv1/templates/terraform/sweeper_file.go.tmpl
Labels: service/terraform

#12955 Update cluster versions in TestAccContainerNodePool_concurrent
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#12895 Add Gemini Release Channel Setting Binding resource
  mmv1/products/gemini/ReleaseChannelSettingBinding.yaml
  mmv1/templates/terraform/examples/gemini_release_channel_setting_basic.tf.tmpl
  mmv1/templates/terraform/examples/gemini_release_channel_setting_binding_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_release_channel_setting_binding_test.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_release_channel_setting_test.go.tmpl
Labels: service/gemini

#13016 Change description of Gemini Data Sharing With Google Setting Resource
  mmv1/products/gemini/DataSharingWithGoogleSetting.yaml
Labels: service/gemini

#13017 Change description of Gemini Gcp Enablement Setting Resource
  mmv1/products/gemini/GeminiGcpEnablementSetting.yaml
Labels: service/gemini

#12893 Add Gemini Logging Setting Binding resource
  mmv1/products/gemini/LoggingSettingBinding.yaml
  mmv1/templates/terraform/examples/gemini_logging_setting_basic.tf.tmpl
  mmv1/templates/terraform/examples/gemini_logging_setting_binding_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_logging_setting_binding_test.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_logging_setting_test.go.tmpl
Labels: service/gemini

#13018 Change description of Gemini Release Channel Setting Resource
  mmv1/products/gemini/ReleaseChannelSetting.yaml
Labels: service/gemini

#13036 Promote Gemini Gcp Enablement Setting from google-beta to google
  mmv1/products/gemini/GeminiGcpEnablementSetting.yaml
  mmv1/templates/terraform/examples/gemini_gemini_gcp_enablement_setting_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_gemini_gcp_enablement_setting_test.go.tmpl
Labels: service/gemini

#13010 Switched bigquery_connection_sql_with_cmek example to bootstrap IAM for bootstrapped crypto key access
  mmv1/products/bigqueryconnection/Connection.yaml
  mmv1/templates/terraform/examples/bigquery_connection_sql_with_cmek.tf.tmpl
Labels: service/bigquery

#13031 Remove random string from bootstrap resource name
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#12993 Set PageSize to 1000 when fetch images from GAR
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_docker_image.go
Labels: service/artifactregistry

#13015 Change description of Gemini Logging Setting Resource
  mmv1/products/gemini/LoggingSetting.yaml
Labels: service/gemini

#13024 Bump Gateway Security Policy example to GA
  mmv1/products/networksecurity/GatewaySecurityPolicy.yaml
  mmv1/templates/terraform/examples/network_security_gateway_security_policy_tls_inspection_basic.tf.tmpl
Labels: service/networksecurity-swp

#13014 Update the description of the configs to reflect continuous export
  mmv1/products/securitycenterv2/FolderNotificationConfig.yaml
  mmv1/products/securitycenterv2/OrganizationNotificationConfig.yaml
  mmv1/products/securitycenterv2/ProjectNotificationConfig.yaml
Labels: service/securitycenter

#12903 Add etag checks to ACM directional policy resources
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterDryRunIngressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterEgressPolicy.yaml
  mmv1/products/accesscontextmanager/ServicePerimeterIngressPolicy.yaml
  mmv1/templates/terraform/pre_create/access_context_manager_service_perimeter_dry_run_egress_policy.go.tmpl
  mmv1/templates/terraform/pre_create/access_context_manager_service_perimeter_dry_run_ingress_policy.go.tmpl
  mmv1/templates/terraform/pre_create/access_context_manager_service_perimeter_egress_policy.go.tmpl
  mmv1/templates/terraform/pre_create/access_context_manager_service_perimeter_ingress_policy.go.tmpl
  mmv1/templates/terraform/pre_delete/access_context_manager_service_perimeter_dry_run_egress_policy.go.tmpl
  mmv1/templates/terraform/pre_delete/access_context_manager_service_perimeter_dry_run_ingress_policy.go.tmpl
  mmv1/templates/terraform/pre_delete/access_context_manager_service_perimeter_egress_policy.go.tmpl
  mmv1/templates/terraform/pre_delete/access_context_manager_service_perimeter_ingress_policy.go.tmpl
Labels: service/accesscontextmanager

#13045 Update sql_database_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12853 Add Firebase Data Connect Service
  mmv1/products/firebasedataconnect/Service.yaml
  mmv1/products/firebasedataconnect/product.yaml
  mmv1/templates/terraform/examples/firebasedataconnect_service_basic.tf.tmpl
  mmv1/templates/terraform/pre_delete/firebasedataconnect_service.go.tmpl
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/firebasedataconnect/resource_firebase_data_connect_service_test.go
Labels: service/firebase

#13043 Allow updating persistent disk size and disk type in cloud workstations
  mmv1/products/workstations/WorkstationConfig.yaml
  mmv1/third_party/terraform/services/workstations/resource_workstations_workstation_config_test.go.tmpl
Labels: service/workstations

#13047 exclude sweeper for edgenetwork_interconnect_attachement
  mmv1/products/edgenetwork/InterconnectAttachment.yaml
  mmv1/products/edgenetwork/Network.yaml
  mmv1/products/edgenetwork/Subnet.yaml
Labels: service/edgenetwork

#12940 Adding in datasource for google_alloydb_instance
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/alloydb/data_source_alloydb_database_instance.go
  mmv1/third_party/terraform/services/alloydb/data_source_alloydb_database_instance_test.go
  mmv1/third_party/terraform/website/docs/d/alloydb_instance.html.markdown
Labels: service/alloydb

#12866 Add labels property to HA VPN Gateway
  mmv1/products/compute/HaVpnGateway.yaml
  mmv1/templates/terraform/examples/ha_vpn_gateway_ipv6.tf.tmpl
Labels: service/compute-vpn

#12996 Update Composer configuration description to inform configuration is not supported in Composer 3
  mmv1/third_party/terraform/services/composer/resource_composer_environment.go.tmpl
  mmv1/third_party/terraform/website/docs/r/composer_environment.html.markdown
Labels: service/composer

#13053 Update create_url updateMask for google_chronicle_rule_deployment res…
  mmv1/products/chronicle/RuleDeployment.yaml
  mmv1/templates/terraform/pre_create/chronicle_rule_deployment.go.tmpl
Labels: service/chronicle

#13022 docs: google_container_cluster private endpoint enforcement location
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13054 Migrate google_eventarc_google_channel_config resource from DCL to MMv1
  mmv1/products/eventarc/GoogleChannelConfig.yaml
  mmv1/templates/terraform/examples/eventarc_google_channel_config_with_cmek.tf.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_google_channel_config_meta.yaml
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_google_channel_config_test.go
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_google_channel_config_test.go.tmpl
  tpgtools/overrides/eventarc/beta/google_channel_config.yaml
  tpgtools/overrides/eventarc/google_channel_config.yaml
  tpgtools/overrides/eventarc/samples/googlechannelconfig/basic.tf.tmpl
  tpgtools/overrides/eventarc/samples/googlechannelconfig/basic.yaml
  tpgtools/overrides/eventarc/samples/googlechannelconfig/meta.yaml
Labels: override-breaking-change, service/eventarc

#13058 Adding API Docs for Composer datasources and resources
  mmv1/third_party/terraform/website/docs/d/composer_environment.html.markdown
  mmv1/third_party/terraform/website/docs/d/composer_image_versions.html.markdown
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_config_map.html.markdown
  mmv1/third_party/terraform/website/docs/d/composer_user_workloads_secret.html.markdown
Labels: service/composer

#13034 Promote Gemini Logging Setting from google-beta to google
  mmv1/products/gemini/LoggingSetting.yaml
  mmv1/templates/terraform/examples/gemini_logging_setting_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_logging_setting_test.go
Labels: service/gemini

#12581 Network peering routes config updates
  mmv1/products/compute/NetworkPeeringRoutesConfig.yaml
  mmv1/templates/terraform/examples/network_peering_routes_config_basic.tf.tmpl
  mmv1/templates/terraform/examples/network_peering_routes_config_gke.tf.tmpl
Labels: service/compute-network-peering

#12899 Promote workload identity federation data sources to ga
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/iambeta/data_source_iam_workload_identity_pool.go.tmpl
  mmv1/third_party/terraform/services/iambeta/data_source_iam_workload_identity_pool_provider.go.tmpl
  mmv1/third_party/terraform/services/iambeta/data_source_iam_workload_identity_pool_provider_test.go.tmpl
  mmv1/third_party/terraform/services/iambeta/data_source_iam_workload_identity_pool_test.go.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_id_test.go.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_provider_id_test.go.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_provider_test.go.tmpl
  mmv1/third_party/terraform/services/iambeta/resource_iam_workload_identity_pool_test.go.tmpl
Labels: service/iam-wlid

#13074 Fix iam3 tests by adding delay before using boundary policy
  mmv1/products/iam3/OrganizationsPolicyBinding.yaml
  mmv1/products/iam3/ProjectsPolicyBinding.yaml
  mmv1/templates/terraform/examples/iam_organizations_policy_binding.tf.tmpl
  mmv1/templates/terraform/examples/iam_projects_policy_binding.tf.tmpl
  mmv1/third_party/terraform/services/iam3/resource_iam_organizations_policy_binding_test.go.tmpl
  mmv1/third_party/terraform/services/iam3/resource_iam_projects_policy_binding_test.go.tmpl
Labels: service/iam-core

#13075 fix backup vault tests
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_test.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_data_source_test.go.tmpl
Labels: service/backupdr

#12672 Add missing fields to compute resources [KMS and disks]
  mmv1/products/compute/Image.yaml
  mmv1/products/compute/Snapshot.yaml
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/tpgresource/field_helpers.go
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances, service/compute-pd

#13056 Update date for upcoming AppEngine standardSchedulerSettings maxInsta…
  mmv1/products/appengine/StandardAppVersion.yaml
Labels: service/appengine

#13071 implement better header for most mmv1 files
  mmv1/api/resource.go
  mmv1/api/resource_test.go
  mmv1/provider/template_data.go
  mmv1/templates/terraform/datasource_iam.html.markdown.tmpl
  mmv1/templates/terraform/iam_policy.go.tmpl
  mmv1/templates/terraform/sweeper_file.go.tmpl
Labels: service/terraform

#12482 Add NetworkConfig to TPU v2 QueuedResource
  mmv1/products/tpuv2/QueuedResource.yaml
  mmv1/templates/terraform/examples/tpu_v2_queued_resource_full.tf.tmpl
Labels: service/tpu

#13079 Update sql_database_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#12692 Add Terraform for BBC and BBDC to Developer Connect
  mmv1/products/developerconnect/Connection.yaml
  mmv1/templates/terraform/examples/developer_connect_connection_bbc.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_connection_bbc_doc.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_connection_bbdc.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_connection_bbdc_doc.tf.tmpl
  mmv1/third_party/terraform/services/developerconnect/resource_developer_connect_connection_test.go.tmpl
Labels: service/developerconnect

#13073 Fix TestAccStorageTransferJob_posixSink
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_test.go
Labels: service/storage

#13080 Fixes issue #21346 related to google_chronicle_rule_deployment resource
  mmv1/products/chronicle/RuleDeployment.yaml
  mmv1/templates/terraform/custom_create/chronicle_rule_deployment.go.tmpl
  mmv1/templates/terraform/examples/chronicle_ruledeployment_disabled.tf.tmpl
  mmv1/templates/terraform/pre_create/chronicle_rule_deployment.go.tmpl
Labels: service/chronicle

#13084 Implement improved header for rest of resource files
  mmv1/templates/terraform/examples/base_configs/iam_test_file.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/templates/terraform/resource.html.markdown.tmpl
  mmv1/templates/terraform/resource_iam.html.markdown.tmpl
  mmv1/templates/tgc/resource_converter.go.tmpl
  mmv1/templates/tgc/resource_converter_iam.go.tmpl
  mmv1/third_party/terraform/services/parallelstore/resource_parallelstore_instance_test.go.tmpl
Labels: service/terraform

#13099 Deprecate google_data_catalog_tag_template
  mmv1/products/datacatalog/TagTemplate.yaml
Labels: service/datacatalog

#13097 Deprecate google_data_catalog_entry_group
  mmv1/products/datacatalog/EntryGroup.yaml
Labels: service/datacatalog

#13107 Revert "Update sql_database_instance.html.markdown (#13079)"
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#13104 Removed delete operation support for apigee organization
  mmv1/products/apigee/Organization.yaml
Labels: service/apigee

#13108 Add new dataproc label to test checks
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_upgrade_test.go
Labels: service/dataproc

#13066 feat(spanner): support google_spanner_instance_partition
  mmv1/products/spanner/InstancePartition.yaml
  mmv1/templates/terraform/encoders/spanner_instance_partition.go.tmpl
  mmv1/templates/terraform/examples/spanner_instance_partition_basic.tf.tmpl
  mmv1/templates/terraform/pre_update/spanner_instance_partition.go.tmpl
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_partition_test.go
Labels: service/spanner

#12906 Add Gemini Data Sharing With Google Setting Binding resource
  mmv1/products/gemini/DataSharingWithGoogleSettingBinding.yaml
  mmv1/templates/terraform/examples/gemini_data_sharing_with_google_setting_basic.tf.tmpl
  mmv1/templates/terraform/examples/gemini_data_sharing_with_google_setting_binding_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_data_sharing_with_google_setting_binding_test.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_data_sharing_with_google_setting_test.go.tmpl
Labels: service/gemini

#13091 Promoting BackupDR Resources to GA.
  mmv1/products/backupdr/BackupPlan.yaml
  mmv1/products/backupdr/BackupPlanAssociation.yaml
  mmv1/products/backupdr/ManagementServer.yaml
  mmv1/templates/terraform/examples/backup_dr_backup_plan_simple.tf.tmpl
  mmv1/templates/terraform/examples/backup_dr_bpa.tf.tmpl
  mmv1/templates/terraform/examples/backup_dr_management_server.tf.tmpl
  mmv1/templates/terraform/examples/backup_dr_management_server_test.tf.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan.go
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan_association.go
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan_association_test.go
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_backup_plan_test.go
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_management_server.go
  mmv1/third_party/terraform/services/backupdr/data_source_backup_dr_management_server_test.go
Labels: service/backupdr

#12800 EphemeralWriteOnly: add `secret_data_wo` in `google_secret_version`
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/templates/terraform/custom_expand/secret_version_access.go.tmpl
  mmv1/templates/terraform/custom_flatten/secret_version_access.go.tmpl
  mmv1/templates/terraform/examples/secret_version_basic_write_only.tf.tmpl
  mmv1/templates/terraform/examples/secret_version_with_base64_string_secret_data_write_only.tf.tmpl
  mmv1/templates/terraform/validation/secret_version.go.tmpl
  mmv1/third_party/terraform/services/secretmanager/resource_secret_manager_secret_version_test.go.tmpl
Labels: service/secretmanager

#12967 EphemeralWriteOnly: add `secretAccessKeyWo`
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/templates/terraform/constants/bigquery_data_transfer.go.tmpl
  mmv1/templates/terraform/encoders/bigquery_data_transfer.go.tmpl
  mmv1/templates/terraform/validation/bigquery_data_transfer_config.go.tmpl
Labels: service/bigquery

#13124 Fix a broken e2e test - TestAccGKEHubFeatureMembership_gkehubFeatureAcmAllFields
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
Labels: service/gkehub

#13011 EphemeralWriteOnly: add `password_wo` field to `google_sql_user`
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
Labels: service/sqladmin-infra

#12783 EphemeralWriteOnly: add `rsaEncryptionKeyWo`+`rawKeyWo` in `compute_disk` / `region_compute_disk`
  mmv1/products/compute/Disk.yaml
  mmv1/products/compute/RegionDisk.yaml
  mmv1/templates/terraform/custom_flatten/compute_key_flatten.go.tmpl
  mmv1/templates/terraform/custom_flatten/compute_rsa_key_flatten.go.tmpl
  mmv1/templates/terraform/decoders/disk.tmpl
  mmv1/templates/terraform/encoders/disk.tmpl
  mmv1/templates/terraform/examples/disk_basic_wo.tf.tmpl
  mmv1/templates/terraform/examples/region_disk_disk_encryption_key_wo.tf.tmpl
  mmv1/templates/terraform/validation/compute_disk.go.tmpl
  mmv1/templates/terraform/validation/compute_region_disk.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_disk_test.go.tmpl
Labels: service/compute-pd

#13088 Bigtable: fixes updating clusters with autoscaling
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance_test.go
Labels: service/bigtableadmin

#13127 remove or fix various sweepers
  mmv1/products/apigee/AppGroup.yaml
  mmv1/products/apigee/Developer.yaml
  mmv1/products/apigee/Envgroup.yaml
  mmv1/products/apigee/Environment.yaml
  mmv1/products/apigee/Instance.yaml
  mmv1/products/apigee/Organization.yaml
  mmv1/products/billingbudget/Budget.yaml
  mmv1/products/dataprocgdc/ServiceInstance.yaml
  mmv1/products/iamworkforcepool/WorkforcePool.yaml
  mmv1/products/iamworkforcepool/WorkforcePoolProvider.yaml
  mmv1/products/integrations/Client.yaml
  mmv1/products/networksecurity/AuthorizationPolicy.yaml
  mmv1/products/networksecurity/ClientTlsPolicy.yaml
  mmv1/products/securitycentermanagement/ProjectSecurityHealthAnalyticsCustomModule.yaml
  mmv1/products/siteverification/WebResource.yaml
  mmv1/products/tags/TagBinding.yaml
  mmv1/products/tags/TagKey.yaml
  mmv1/products/tags/TagValue.yaml
Labels: service/terraform

#11972 Deprecate google_notebooks_location since it is not an actual resource
  mmv1/products/notebooks/Location.yaml
Labels: service/notebooks

#13132 Skipped tests for tpg#20975
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#13081 fix: (storagetransfer) added logging_config for storage transfer job
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.tmpl
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_test.go
  mmv1/third_party/terraform/website/docs/r/storage_transfer_job.html.markdown
Labels: service/storage

#13137 Fixes issue #21482 related to google_eventarc_trigger name with Firestore sources
  mmv1/products/eventarc/Trigger.yaml
  mmv1/templates/terraform/custom_expand/eventarc_trigger_name.go.tmpl
  mmv1/templates/terraform/examples/eventarc_trigger_with_firestore_source.tf.tmpl
Labels: service/eventarc

#13138 Fix TestAccSpannerInstance_spannerInstanceWithAutoscaling in replaying mode
  mmv1/third_party/terraform/services/spanner/resource_spanner_instance_test.go
Labels: service/spanner

#13037 Add maxStreamDuration to global UrlMap
  mmv1/products/compute/UrlMap.yaml
  mmv1/templates/terraform/examples/url_map_traffic_director_path_partial.tf.tmpl
Labels: service/compute-l7-load-balancer

#13145 Clarify the default behavior for IAP OAuth client fields in backend services
  mmv1/products/compute/BackendService.yaml
  mmv1/products/compute/RegionBackendService.yaml
Labels: service/compute-l7-load-balancer

#12043 Detect missing docs for datasource
  tools/diff-processor/cmd/detect_missing_docs.go
  tools/diff-processor/cmd/detect_missing_docs_test.go
  tools/diff-processor/cmd/root.go
  tools/diff-processor/detector/detector.go
  tools/diff-processor/detector/detector_test.go
  tools/diff-processor/go.mod
  tools/diff-processor/go.sum
  tools/diff-processor/testdata/website/docs/d/a_resource.html.markdown
Labels: disable-review-reminders, disable-automatic-closure

#12897 Add Gemini Gemini Gcp Enablement Setting Binding resource
  mmv1/products/gemini/GeminiGcpEnablementSettingBinding.yaml
  mmv1/templates/terraform/examples/gemini_gemini_gcp_enablement_setting_basic.tf.tmpl
  mmv1/templates/terraform/examples/gemini_gemini_gcp_enablement_setting_binding_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_gemini_gcp_enablement_setting_binding_test.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_gemini_gcp_enablement_setting_test.go.tmpl
Labels: service/gemini

#13096 Deprecate google_data_catalog_entry
  mmv1/products/datacatalog/Entry.yaml
Labels: service/datacatalog

#13157 Only use FilenameOverride for Go files
  mmv1/provider/terraform.go
Labels: service/networkmanagement-connectivity-test

#13136 Adding Datasource for Memorystore
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/memorystore/data_source_memorystore_instance.go
  mmv1/third_party/terraform/services/memorystore/data_source_memorystore_instance_test.go
  mmv1/third_party/terraform/website/docs/d/memorystore_instance.html.markdown
Labels: service/redis-instance

#13166 Promote Major Version Upgrade Feature to GA
  mmv1/templates/terraform/pre_update/alloydb_cluster.go.tmpl
Labels: service/alloydb

#13146 Add information about failing member into the error message
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_iam_binding_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_iam_member_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_iam_policy_test.go.tmpl
  mmv1/third_party/terraform/tpgiamresource/resource_iam_member.go
Labels: service/cloudresourcemanager-crm

#13168 Promote Gemini Gcp Enablement Setting Binding from google-beta to google
  mmv1/products/gemini/GeminiGcpEnablementSettingBinding.yaml
  mmv1/templates/terraform/examples/gemini_gemini_gcp_enablement_setting_binding_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_gemini_gcp_enablement_setting_binding_test.go.tmpl
Labels: service/gemini

#13013 Add policyMode field
  mmv1/products/networkconnectivity/Hub.yaml
  mmv1/templates/terraform/examples/network_connectivity_hub_policy_mode.tf.tmpl
Labels: service/network-connectivity-center

#13119 fix: (storage) fix multi location rpo test case
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.tmpl
Labels: service/storage

#12946 Add missing field to disks and support InstantSnapshot
  mmv1/products/compute/Disk.yaml
  mmv1/products/compute/InstantSnapshot.yaml
  mmv1/templates/terraform/examples/instant_snapshot_basic.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instant_snapshot_test.go.tmpl
  mmv1/third_party/terraform/services/compute/test-fixtures/empty-image.tar.gz
Labels: service/compute-pd

#13025 Fix AlloyDB availabilityType documentation
  mmv1/products/alloydb/Instance.yaml
Labels: service/alloydb

#13098 Deprecate google_data_catalog_tag
  mmv1/products/datacatalog/Tag.yaml
Labels: service/datacatalog

#13067 Promoted Instance NetworkAttachment field to V1;
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/data_source_google_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/compute_instance.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_instance.html.markdown
Labels: service/compute-instances

#13153 update google_folder doc to include deletion_protection
  mmv1/third_party/terraform/website/docs/r/google_folder.html.markdown
Labels: service/cloudresourcemanager-crm

#13174 added enum UPGRADE_INFO_EVENT for notification filter
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_migratev1.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13130 Fixes issue #21347 related to google_chronicle_rule_deployment resource
  mmv1/products/chronicle/RuleDeployment.yaml
  mmv1/templates/terraform/constants/chronicle_rule_deployment.go.tmpl
  mmv1/templates/terraform/custom_create/chronicle_rule_deployment.go.tmpl
  mmv1/templates/terraform/examples/chronicle_ruledeployment_run_frequency_missing.tf.tmpl
  mmv1/templates/terraform/pre_update/chronicle_rule_deployment.go.tmpl
Labels: service/chronicle

#13042 Add google_eventarc_message_bus resource
  mmv1/products/eventarc/MessageBus.yaml
  mmv1/templates/terraform/examples/eventarc_message_bus_with_cmek.tf.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_message_bus_test.go
Labels: service/eventarc

#13033 Encode b64_mac_key in base64url, not in base64
  mmv1/products/publicca/ExternalAccountKey.yaml
  mmv1/templates/terraform/custom_create/public_ca_external_account_key.go.tmpl
  mmv1/templates/terraform/custom_flatten/publicca_b64url_mac_key.go.tmpl
  mmv1/third_party/terraform/verify/validation.go
Labels: service/publicca

#13135 feature: ephemeral write-only support
  mmv1/api/resource.go
  mmv1/api/resource/custom_code.go
  mmv1/api/resource/docs.go
  mmv1/api/type.go
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/templates/terraform/constants/bigquery_data_transfer.go.tmpl
  mmv1/templates/terraform/custom_expand/secret_version_access.go.tmpl
  mmv1/templates/terraform/custom_flatten/secret_version_access.go.tmpl
  mmv1/templates/terraform/decoders/bigquery_data_transfer.go.tmpl
  mmv1/templates/terraform/encoders/bigquery_data_transfer.go.tmpl
  mmv1/templates/terraform/examples/secret_version_basic_write_only.tf.tmpl
  mmv1/templates/terraform/examples/secret_version_with_base64_string_secret_data_write_only.tf.tmpl
  mmv1/templates/terraform/flatten_property_method.go.tmpl
  mmv1/templates/terraform/nested_property_documentation.html.markdown.tmpl
  mmv1/templates/terraform/nested_property_write_only_documentation.html.markdown.tmpl
  mmv1/templates/terraform/property_documentation.html.markdown.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/templates/terraform/resource.html.markdown.tmpl
  mmv1/templates/terraform/schema_property.go.tmpl
  mmv1/templates/terraform/validation/bigquery_data_transfer_config.go.tmpl
  mmv1/templates/terraform/validation/secret_version.go.tmpl
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/secretmanager/resource_secret_manager_secret_version_test.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
  mmv1/third_party/terraform/website/docs/guides/using_write_only_attributes.html.markdown
  mmv1/third_party/terraform/website/docs/r/sql_user.html.markdown
  tpgtools/property.go
  tpgtools/templates/resource.go.tmpl
Labels: service/terraform

#13177 Add examples for AlloyDB Major Version Upgrade
  mmv1/products/alloydb/Cluster.yaml
  mmv1/templates/terraform/examples/alloydb_cluster_after_upgrade.tf.tmpl
  mmv1/templates/terraform/examples/alloydb_cluster_before_upgrade.tf.tmpl
Labels: service/alloydb

#13204 fix type check panic on `GetRawConfigAt`
  mmv1/templates/terraform/constants/bigquery_data_transfer.go.tmpl
Labels: service/bigquery

#13044 Add location field to google_network_services_grpc_route
  mmv1/products/networkservices/GrpcRoute.yaml
  mmv1/templates/terraform/examples/network_services_grpc_route_location.tf.tmpl
  mmv1/templates/terraform/state_migrations/network_services_grpc_route.go.tmpl
Labels: service/networkservices-traffic-director

#13187 Update to use a regional template bucket
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_job_test.go.tmpl
Labels: service/dataflow

#13183 Extra attributes saml support
  mmv1/products/iamworkforcepool/WorkforcePoolProvider.yaml
  mmv1/templates/terraform/examples/iam_workforce_pool_provider_saml_full.tf.tmpl
  mmv1/third_party/terraform/services/iamworkforcepool/resource_iam_workforce_pool_provider_test.go.tmpl
Labels: service/iam-workforce

#12944 fix: (storage) bucket policy delete 412 error
  mmv1/products/storage/Bucket.yaml
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/storage/iam_storage_bucket.go
  mmv1/third_party/terraform/services/storage/iam_storage_bucket_test.go
  mmv1/third_party/terraform/website/docs/d/storage_bucket_iam_policy.html.markdown
  mmv1/third_party/terraform/website/docs/r/storage_bucket_iam.html.markdown
Labels: service/storage

#13191 Update document for Dataproc cluster ProvisioningModelMix field
  mmv1/third_party/terraform/website/docs/r/dataproc_cluster.html.markdown
Labels: service/dataproc

#13021 Fix: Address issue hashicorp#19621 in discoveryengine module
  mmv1/products/discoveryengine/ChatEngine.yaml
  mmv1/products/discoveryengine/DataStore.yaml
  mmv1/products/discoveryengine/Schema.yaml
  mmv1/products/discoveryengine/SearchEngine.yaml
  mmv1/products/discoveryengine/TargetSite.yaml
  mmv1/templates/terraform/examples/discoveryengine_targetsite_advanced.tf.tmpl
  mmv1/templates/terraform/examples/discoveryengine_targetsite_basic.tf.tmpl
  mmv1/third_party/terraform/services/discoveryengine/discovery_engine_operation.go
Labels: service/discoveryengine

#13169 Update Gemini Logging Setting Binding Resource - Change product possible values
  mmv1/products/gemini/LoggingSettingBinding.yaml
Labels: service/gemini

#13122 add region_ssl_policy data source
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/compute/data_source_google_compute_region_ssl_policy.go
  mmv1/third_party/terraform/services/compute/data_source_google_compute_region_ssl_policy_test.go
Labels: service/compute-l7-load-balancer

#13208 Update PrivateCloud documentation to include the expected stretch cluster location format
  mmv1/products/vmwareengine/PrivateCloud.yaml
Labels: service/vmwareengine

#13076 Adds resource manager tags field in Workstations cluster resource.
  mmv1/products/workstations/WorkstationCluster.yaml
  mmv1/templates/terraform/examples/workstation_cluster_tags.tf.tmpl
Labels: service/workstations

#12947 Add a functionality to create a snapshot before a disk is deleted
  mmv1/products/compute/Disk.yaml
  mmv1/products/compute/RegionDisk.yaml
  mmv1/templates/terraform/pre_delete/detach_disk.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_disk_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_disk_test.go.tmpl
Labels: service/compute-pd

#13150 Fix perma-diff in `google_container_cluster` when `cluster_dns_scope` is unspecified
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: override-breaking-change, service/container

#13133 fix: compute instance internal ipv6 prefix length is not set in creation and read in syncing
  mmv1/third_party/terraform/services/compute/compute_instance_helpers.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
Labels: service/compute-instances

#13218 Added SUNDAY as a day of the week
  mmv1/products/backupdr/BackupPlan.yaml
Labels: service/backupdr

#13185 Stop setting the description field of google_gke_hub_membership
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
Labels: service/gkehub

#12704 SWP Policy Rule - Mitigate multiple rules issue
  mmv1/products/networksecurity/GatewaySecurityPolicyRule.yaml
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_gateway_security_policy_rule_test.go
Labels: service/networksecurity-swp, disable-review-reminders
