Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-04, with the labels that each got.

#13493 Add enable_advanced_cluster to VMware user and admin cluster resources.
  mmv1/products/gkeonprem/VmwareAdminCluster.yaml
  mmv1/products/gkeonprem/VmwareCluster.yaml
  mmv1/templates/terraform/examples/gkeonprem_vmware_cluster_manuallb.tf.tmpl
  mmv1/third_party/terraform/services/gkeonprem/resource_gkeonprem_vmware_cluster_test.go.tmpl
Labels: service/gkeonprem

#13494 Add support for timedPromoteReleaseRule and repairRolloutRule automation rules and new Deploy Policy resource
  mmv1/products/clouddeploy/Automation.yaml
  mmv1/products/clouddeploy/DeployPolicy.yaml
  mmv1/templates/terraform/examples/clouddeploy_automation_full.tf.tmpl
  mmv1/templates/terraform/examples/clouddeploy_deploy_policy_basic.tf.tmpl
  mmv1/templates/terraform/examples/clouddeploy_deploy_policy_full.tf.tmpl
  mmv1/third_party/terraform/services/clouddeploy/resource_clouddeploy_automation_test.go
  mmv1/third_party/terraform/services/clouddeploy/resource_clouddeploy_deploy_policy_test.go
Labels: service/clouddeploy

#13511 Make sure test file is removed after test run
  mmv1/third_party/terraform/services/storage/data_source_storage_bucket_object_content_test.go
Labels: service/storage

#13414 Adding magic module config for PolicyOrchestratorForOrganization [osconfigv2]
  mmv1/products/osconfigv2/PolicyOrchestratorForOrganization.yaml
  mmv1/templates/terraform/examples/osconfigv2_policy_orchestrator_for_organization_basic.tf.tmpl
  mmv1/third_party/terraform/services/osconfigv2/resource_os_config_v2_policy_orchestrator_for_organization_test.go.tmpl
Labels: service/osconfig

#13508 Add ddl update criteria to google_spanner_database docs
  mmv1/products/spanner/Database.yaml
Labels: service/spanner

#13398 Feature gap: Add `groupPlacementPolicy.tpuTopology`
  mmv1/products/compute/ResourcePolicy.yaml
  mmv1/templates/terraform/examples/resource_policy_placement_policy_tpu_topology.tf.tmpl
Labels: service/compute-instances

#13319 Add Gemini Code Tools Setting resource
  mmv1/products/gemini/CodeToolsSetting.yaml
  mmv1/templates/terraform/examples/gemini_code_tools_setting_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_code_tools_setting_test.go.tmpl
Labels: service/gemini

#13403 Adding in automated backup config to memorystore
  mmv1/products/memorystore/Instance.yaml
  mmv1/templates/terraform/custom_expand/memorystore_instance_automated_backup_config.go.tmpl
  mmv1/templates/terraform/custom_flatten/memorystore_instance_automated_backup_config.go.tmpl
  mmv1/templates/terraform/encoders/memorystore_instance.go.tmpl
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/redis-instance

#13518 Promote Gemini Code Tools Setting from google-beta to google
  mmv1/products/gemini/CodeToolsSetting.yaml
  mmv1/templates/terraform/examples/gemini_code_tools_setting_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_code_tools_setting_test.go.tmpl
Labels: service/gemini

#12939 Made resources set fields used in the ID format on post-create
  mmv1/api/resource.go
  mmv1/products/firebasehosting/Release.yaml
  mmv1/products/firebasehosting/Version.yaml
  mmv1/templates/terraform/decoders/firebasehosting_release.go.tmpl
  mmv1/templates/terraform/decoders/firebasehosting_version.go.tmpl
  mmv1/templates/terraform/post_create/firebasehosting_version_immediate_finalize.tmpl
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/terraform

#13337 Add Gemini Code Tools Setting Binding resource
  mmv1/products/gemini/CodeToolsSettingBinding.yaml
  mmv1/templates/terraform/examples/gemini_code_tools_setting_binding_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_code_tools_setting_binding_test.go.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_code_tools_setting_test.go.tmpl
Labels: service/gemini

#13470 Colab: Use location instead of region for Colab resources in base_url
  mmv1/products/colab/product.yaml
Labels: service/aiplatform-colab-enterprise

#13453 Set `return_partial_success=true` in GKE Hub GetFeature call to ensure partial results are returned when a region is down
  mmv1/products/gkehub2/Feature.yaml
  mmv1/third_party/tgc/tests/data/example_gke_hub_feature.json
Labels: service/gkehub

#13515 add tiering_policy to volume replication create
  mmv1/products/netapp/Volume.yaml
  mmv1/products/netapp/VolumeReplication.yaml
  mmv1/templates/terraform/examples/netapp_volume_replication_create.tf.tmpl
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_replication_test.go
Labels: service/netapp

#13521 Removed duplicate code in bigquery connection post_create
  mmv1/products/bigqueryconnection/Connection.yaml
  mmv1/templates/terraform/post_create/bigquery_connection_id.go.tmpl
Labels: service/bigquery

#13519 Removed accesscontextmanager.AccessPolicy post_create custom code
  mmv1/products/accesscontextmanager/AccessPolicy.yaml
  mmv1/templates/terraform/post_create/accesspolicy.tmpl
Labels: service/accesscontextmanager

#13524 Promote Gemini Code Tools Setting Binding from google-beta to google
  mmv1/products/gemini/CodeToolsSettingBinding.yaml
  mmv1/templates/terraform/examples/gemini_code_tools_setting_binding_basic.tf.tmpl
  mmv1/third_party/terraform/services/gemini/resource_gemini_code_tools_setting_binding_test.go.tmpl
Labels: service/gemini

#13523 Add session settings support to access context
  mmv1/products/accesscontextmanager/GcpUserAccessBinding.yaml
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_gcp_user_access_binding_test.go
Labels: service/accesscontextmanager

#13504 Change API link and add automation doc
  mmv1/products/networkconnectivity/ServiceConnectionPolicy.yaml
Labels: service/networkconnectivity-serviceautomation

#13464 feat: (storage) added md5hexhash field in storage object
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object.go
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object_test.go
Labels: service/storage

#13478 Fixes issue #21773 for Eventarc test failures due to beta-only resources
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_google_api_source_test.go.tmpl
  mmv1/third_party/terraform/services/eventarc/resource_eventarc_message_bus_test.go
Labels: service/eventarc

#13525 Adds `trial_config` field to Storage Intelligence Resources.
  mmv1/products/storagecontrol/FolderIntelligenceConfig.yaml
  mmv1/products/storagecontrol/OrganizationIntelligenceConfig.yaml
  mmv1/products/storagecontrol/ProjectIntelligenceConfig.yaml
Labels: service/storage

#13540 Removed duplicate code from Cloud Build Trigger post_create
  mmv1/templates/terraform/post_create/cloudbuild_trigger_id.go.tmpl
Labels: service/cloudbuild

#13512 Suppress diffs in the Fleet block between null vs {} vs {project = ""}
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#13536 monitoring: added `password_wo` write-only field to `google_monitoring_uptime_check_config`
  mmv1/products/monitoring/UptimeCheckConfig.yaml
  mmv1/templates/terraform/encoders/uptime_check_config.go.tmpl
  mmv1/templates/terraform/examples/uptime_check_config_http_password_wo.tf.tmpl
  mmv1/third_party/terraform/services/monitoring/resource_monitoring_uptime_check_config_test.go
Labels: service/monitoring-uptime

#13435 Fix failing Managed Kafka Connect resource test failures
  mmv1/products/managedkafka/ConnectCluster.yaml
  mmv1/products/managedkafka/Connector.yaml
  mmv1/templates/terraform/examples/managedkafka_connect_cluster_basic.tf.tmpl
  mmv1/templates/terraform/examples/managedkafka_connector_basic.tf.tmpl
Labels: service/managedkafka

#13259 Add KMS fields to `google_compute_image`
  mmv1/products/compute/Image.yaml
  mmv1/products/compute/Snapshot.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_image_test.go.tmpl
Labels: service/compute-pd

#13555 skip tests that use time.Now in VCR
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_machine_image_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_from_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
Labels: service/compute-instances

#13531 Add example and test to showcase count increase/decrease for backend service
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/examples/region_backend_service_dynamic_backend_count.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.tmpl
Labels: service/compute-l7-load-balancer

#13545 fix #21905
  mmv1/third_party/terraform/services/compute/data_source_google_compute_images_test.go
Labels: service/compute-pd

#13466 Add terraform scripts for FS2.0 IAM - FeatureView, FeatureOnlineStore…
  mmv1/products/vertexai/FeatureGroup.yaml
  mmv1/products/vertexai/FeatureOnlineStore.yaml
  mmv1/products/vertexai/FeatureOnlineStoreFeatureview.yaml
  mmv1/templates/terraform/iam/example_config_body/vertex_ai_feature_group.tf.tmpl
  mmv1/templates/terraform/iam/example_config_body/vertex_ai_feature_online_store.tf.tmpl
  mmv1/templates/terraform/iam/example_config_body/vertex_ai_feature_online_store_featureview.tf.tmpl
Labels: service/aiplatform-featurestore

#13527 Provide support for deleting pending caches present on bucket, This w…
  mmv1/third_party/terraform/services/storage/resource_storage_anywhere_cache_test.go
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
Labels: service/storage

#13582 Fix TestAccDiscoveryEngineDataStore_discoveryengineDatastoreDocumentProcessingConfigLayoutExample by using unstructured DataStore.
  mmv1/templates/terraform/examples/discoveryengine_datastore_document_processing_config_layout.tf.tmpl
Labels: service/discoveryengine

#13534 Add Account Connector resource for Developer Connect
  mmv1/products/developerconnect/AccountConnector.yaml
  mmv1/templates/terraform/examples/developer_connect_account_connector_github.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_account_connector_gitlab.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_account_connector_google.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_account_connector_rovo.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_account_connector_sentry.tf.tmpl
  mmv1/third_party/terraform/services/developerconnect/resource_developer_connect_account_connector_test.go.tmpl
Labels: service/developerconnect

#13573 Update GMK Cluster terraform documentation to reflect only one subnet per network
  mmv1/products/managedkafka/Cluster.yaml
Labels: service/managedkafka

#13529 Pub/Sub - Change Allowed Persistence Regions to Set in 'google_pubsub_topic'
  mmv1/products/pubsub/Topic.yaml
Labels: override-breaking-change, service/pubsub

#13550 Adding Redis cluster import sources
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/custom_flatten/redis_cluster_gcs_source.go.tmpl
  mmv1/templates/terraform/custom_flatten/redis_cluster_managed_backup_source.go.tmpl
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.tmpl
Labels: service/redis-cluster

#13597 Netapp volume documentation correction
  mmv1/products/netapp/Volume.yaml
Labels: service/netapp

#13568 Modify tests with tags field
  mmv1/third_party/terraform/services/datafusion/resource_data_fusion_instance_test.go
  mmv1/third_party/terraform/services/filestore/resource_filestore_backup_test.go
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_folder_test.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_test.go
Labels: service/datafusion

#13572 add warning to mlengine and fix filestore_instance test
  mmv1/products/mlengine/Model.yaml
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
Labels: service/aiplatform-prediction, service/filestore

#13600 Add new Firestore index and database options
  mmv1/products/firestore/Database.yaml
  mmv1/products/firestore/Index.yaml
  mmv1/templates/terraform/examples/firestore_database_enterprise.tf.tmpl
  mmv1/templates/terraform/examples/firestore_index_datastore_mode.tf.tmpl
  mmv1/templates/terraform/examples/firestore_index_mongodb_compatible_scope.tf.tmpl
  mmv1/templates/terraform/examples/firestore_index_sparse_any.tf.tmpl
Labels: service/firestore-controlplane, service/firestore-dataplane

#13574 Added VCP test for IAP integration in cloudrun v1
  mmv1/products/cloudrun/Service.yaml
  mmv1/templates/terraform/examples/cloud_run_service_iap.tf.tmpl
  mmv1/third_party/terraform/services/cloudrun/resource_cloud_run_service_test.go.tmpl
Labels: service/run

#13520 Handle custom decoders as part of setting fields in post_create
  mmv1/api/resource.go
  mmv1/api/resource_test.go
  mmv1/products/bigqueryanalyticshub/ListingSubscription.yaml
  mmv1/products/monitoring/MonitoredProject.yaml
  mmv1/templates/terraform/decoders/bigqueryanalyticshub_listing_subscription.go.tmpl
  mmv1/templates/terraform/post_create/analytics_hub_subscription.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/bigquery

#13577 Adding Memorystore import sources
  mmv1/products/memorystore/Instance.yaml
  mmv1/third_party/terraform/services/memorystore/resource_memorystore_instance_test.go
Labels: service/redis-instance

#13615 Redis import source update
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/custom_flatten/redis_cluster_gcs_source.go.tmpl
  mmv1/templates/terraform/custom_flatten/redis_cluster_managed_backup_source.go.tmpl
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.tmpl
Labels: override-breaking-change, service/redis-cluster

#13612 Move project and org policy orchestrators to ga
  mmv1/products/osconfigv2/PolicyOrchestrator.yaml
  mmv1/products/osconfigv2/PolicyOrchestratorForOrganization.yaml
  mmv1/templates/terraform/examples/osconfigv2_policy_orchestrator_basic.tf.tmpl
  mmv1/templates/terraform/examples/osconfigv2_policy_orchestrator_for_organization_basic.tf.tmpl
  mmv1/third_party/terraform/services/osconfigv2/resource_os_config_v2_policy_orchestrator_for_organization_test.go.tmpl
  mmv1/third_party/terraform/services/osconfigv2/resource_os_config_v2_policy_orchestrator_test.go.tmpl
Labels: service/osconfig

#13538 Removed Chronicle Rule post_create
  mmv1/products/chronicle/Rule.yaml
  mmv1/templates/terraform/post_create/chronicle_rule_id.go.tmpl
Labels: disable-review-reminders, service/chronicle

#13539 Removed Chronicle Watchlist post_create
  mmv1/products/chronicle/Watchlist.yaml
  mmv1/templates/terraform/post_create/chronicle_watchlist_id.go.tmpl
Labels: disable-review-reminders, service/chronicle

#13575 Added IAP Enable/Disable flag in cloudrunv2 service.
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_service_iap.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.tmpl
Labels: service/run

#13607 Promote external catalog table options and foreign type info and definition to google_bigquery_table GA
  mmv1/products/bigquery/Table.yaml
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
  mmv1/third_party/terraform/website/docs/r/bigquery_table.html.markdown
Labels: service/bigquery

#13620 Skip TestAccNetworkSecurityGatewaySecurityPolicyRule_multiple before the underly issue is fixed
  mmv1/third_party/terraform/services/networksecurity/resource_network_security_gateway_security_policy_rule_test.go
Labels: service/networksecurity-swp

#13621 test: add ACC test for customer-managed CAS CA instances.
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#13532 Removed set_computed_name post_create for bigquerydatatransfer config
  mmv1/products/bigquerydatatransfer/Config.yaml
Labels: service/bigquery, service/cloudidentity-groups, service/dialogflow, disable-review-reminders

#13571 Add ScopedAccessSettings
  mmv1/products/accesscontextmanager/GcpUserAccessBinding.yaml
  mmv1/third_party/terraform/services/accesscontextmanager/resource_access_context_manager_gcp_user_access_binding_test.go
Labels: service/accesscontextmanager

#13640 Removed osconfig patchdeployment set_computed_name post_create
  mmv1/products/osconfig/PatchDeployment.yaml
Labels: service/osconfig

#13633 Removed integrations authconfig set_computed_name post_create
  mmv1/products/integrations/AuthConfig.yaml
Labels: service/integrations

#13645 Removed securitycenterv2 organizationsource set_computed_name post_create
  mmv1/products/securitycenterv2/OrganizationSource.yaml
Labels: service/securitycenter

#13583 Deprecate `run_as_service_account` field in client
  mmv1/products/integrations/Client.yaml
  mmv1/templates/terraform/examples/integrations_client_full.tf.tmpl
  mmv1/templates/terraform/examples/integrations_client_service_account.tf.tmpl
Labels: service/integrations

#13604 Update importMethod enum values in KeyRingImportJob
  mmv1/products/kms/KeyRingImportJob.yaml
Labels: service/cloudkms

#13616 Add DEBIAN_SNAPSHOT option to publicRepository/repositoryBase in Repository.yaml
  mmv1/products/artifactregistry/Repository.yaml
Labels: service/artifactregistry

#13637 Removed monitoring notificationchannel set_computed_name post_create
  mmv1/products/monitoring/NotificationChannel.yaml
Labels: service/monitoring-alerting

#13647 Removed securityscanner scanconfig set_computed_name post_create
  mmv1/products/securityscanner/ScanConfig.yaml
Labels: service/websecurityscanner

#13579 resource_sql_database_instance.go normalizes failover_dr_replica_name name for diff
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
Labels: service/sqladmin-cp

#13651 Made firewall policy with rules ignore decoding operations on create
  mmv1/templates/terraform/decoders/resource_compute_firewall_policy_with_rules.go.tmpl
Labels: service/network-security-distributed-firewall

#13631 Removed dialogflow intent set_computed_name post_create
  mmv1/products/dialogflow/Intent.yaml
Labels: service/dialogflow

#13586 Modified Network Connectivity Internal Range terraform config to support exclude CIDR ranges feature.
  mmv1/products/networkconnectivity/InternalRange.yaml
  mmv1/templates/terraform/examples/network_connectivity_internal_ranges_exclude_cidr.tf.tmpl
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_internal_range_test.go
Labels: service/networkconnectivity-private-range

#13283 feat: (storagebatchoperations) added new resource storage batch operations
  mmv1/products/storagebatchoperations/Job.yaml
  mmv1/products/storagebatchoperations/product.yaml
  mmv1/templates/terraform/custom_flatten/storage_batch_operations_job_delete_object.go.tmpl
  mmv1/templates/terraform/custom_update/storage_batch_operations_job.go.tmpl
  mmv1/templates/terraform/examples/storage_batch_operations_job.tf.tmpl
  mmv1/templates/terraform/pre_delete/storage_batch_operations_job.go.tmpl
  mmv1/third_party/terraform/.teamcity/components/inputs/services_beta.kt
  mmv1/third_party/terraform/.teamcity/components/inputs/services_ga.kt
  mmv1/third_party/terraform/services/storagebatchoperations/resource_storage_batch_operations_job_test.go
Labels: service/storage

#13599 add retain_backups_on_delete field to google_sql_database_instance
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#13596 Add a new field allow_cross_region to resource ChatEngine.
  mmv1/products/discoveryengine/ChatEngine.yaml
  mmv1/templates/terraform/examples/discoveryengine_chat_engine_existing_dialogflow_agent.tf.tmpl
Labels: service/discoveryengine

#13565 Adding tags field to Redis Instances for TagsR2401
  mmv1/products/redis/Instance.yaml
  mmv1/third_party/terraform/services/redis/resource_redis_instance_test.go
Labels: service/redis-instance

#13673 colab: fixed perma-diff in `google_colab_runtime_template` caused by not returning default values.
  mmv1/products/colab/RuntimeTemplate.yaml
Labels: service/notebooks, service/aiplatform-colab-enterprise

#13595 Add Operation to healthcare pipeline job creation and update
  mmv1/products/healthcare/PipelineJob.yaml
  mmv1/templates/terraform/examples/healthcare_pipeline_job_backfill.tf.tmpl
Labels: service/healthcare

#13629 Removed dialogflow entitytype set_computed_name post_create
  mmv1/products/dialogflow/EntityType.yaml
Labels: service/dialogflow

#13664 docs: Add default maxRetries value to the Cloud Run Jobs description
  mmv1/products/cloudrunv2/Job.yaml
Labels: service/run

#13642 Removed securitycenter projectnotificationconfig set_computed_name post_create
  mmv1/products/securitycenter/ProjectNotificationConfig.yaml
Labels: service/securitycenter

#13644 Removed securitycenterv2 organizationnotificationconfig set_computed_name post_create
  mmv1/products/securitycenterv2/OrganizationNotificationConfig.yaml
Labels: service/securitycenter

#13649 workbench instance - Ignore irrelevant fields in update tests
  mmv1/third_party/terraform/services/workbench/resource_workbench_instance_test.go.tmpl
Labels: service/notebooks

#13661 monitoring: add logCheckFailures to uptime checks
  mmv1/products/monitoring/UptimeCheckConfig.yaml
  mmv1/templates/terraform/examples/uptime_check_config_http.tf.tmpl
Labels: service/monitoring-uptime

#13671 added machine_type field in alloyDB instance's machine_config object
  mmv1/products/alloydb/Instance.yaml
  mmv1/third_party/terraform/services/alloydb/resource_alloydb_instance_test.go
Labels: service/alloydb

#13610 fix: (storage) add delete object functionality in bucket sweeper
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_sweeper.go
Labels: service/storage

#13151 Suppressing diff for database_version for MySQL 8.0
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_internal_test.go
Labels: service/sqladmin-cp

#13513 Support custom subject alternative name for CloudSQL instances
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#13648 Increase timeout for discovery_engine_target_site
  mmv1/products/discoveryengine/TargetSite.yaml
Labels: service/discoveryengine

#13619 Factored setting of post-create id format fields into a separate function
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/terraform

#13659 container: allow updating confidential_nodes in place for node_pool
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#13643 Removed securitycenter source set_computed_name post_create
  mmv1/products/securitycenter/Source.yaml
Labels: service/securitycenter

#13641 Removed securitycenter notificationconfig set_computed_name post_create
  mmv1/products/securitycenter/NotificationConfig.yaml
Labels: service/securitycenter

#13646 Removed securitycenterv2 projectnotificationconfig set_computed_name post_create
  mmv1/products/securitycenterv2/ProjectNotificationConfig.yaml
Labels: service/securitycenter

#13680 Add assistiveExperiencesEnabled to observability config
  mmv1/products/alloydb/Instance.yaml
Labels: service/alloydb

#13605 Promote external catalog dataset options to google_bigquery_dataset GA
  mmv1/products/bigquery/Dataset.yaml
  mmv1/templates/terraform/examples/bigquery_dataset_external_catalog_dataset_options.tf.tmpl
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_dataset_test.go
Labels: service/bigquery

#13159 Add a test check function to get compute cai assets metadata
  mmv1/third_party/terraform/acctest/tgc_utils.go
  mmv1/third_party/terraform/services/compute/resource_compute_instance_test.go.tmpl
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_test.go
Labels: service/compute-instances

#13678 Add Backdate Duration to Issuance Policy
  mmv1/products/privateca/CaPool.yaml
  mmv1/templates/terraform/examples/privateca_capool_all_fields.tf.tmpl
Labels: service/privateca

#13622 Fix perma-diff in google_identity_platform_config for default false values
  mmv1/products/identityplatform/Config.yaml
  mmv1/templates/terraform/custom_flatten/identity_platform_config_forward_inbound_credentials.go.tmpl
  mmv1/templates/terraform/custom_flatten/identity_platform_config_multi_tenant.go.tmpl
  mmv1/templates/terraform/examples/identity_platform_config_with_false_values.tf.tmpl
Labels: service/identitytoolkit

#13692 Added NestedQuery handling to PostCreateSetComputedFields
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/bigquery, service/datacatalog, service/cloudresourcemanager-crm

#13695 Removed unnecessary check for name in spanner database post_create
  mmv1/templates/terraform/post_create/spanner_database.go.tmpl
Labels: service/spanner

#13561 Feature gap: Add `backends.preference`, `maxStreamDuration` and `cdnPolicy.requestCoalescing` to BackendService
  mmv1/products/compute/BackendService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_backend_service_test.go.tmpl
Labels: service/compute-l7-load-balancer

#13675 Fix documentation example for datastream connection profile
  mmv1/templates/terraform/examples/datastream_connection_profile_salesforce.tf.tmpl
Labels: service/datastream

#13712 Don't render nested properties in top level required arguments section in dcl resources doc
  tpgtools/property.go
  tpgtools/templates/resource.html.markdown.tmpl
Labels: service/terraform

#13688 Add cloud run service to iap iam policy
  mmv1/products/iap/CloudRunService.yaml
Labels: service/iap

#13059 Resource policy attachment
  mmv1/products/compute/ResourcePolicyAttachment.yaml
  mmv1/templates/terraform/decoders/compute_resource_policy_attachment.go.tmpl
  mmv1/templates/terraform/encoders/compute_resource_policy_attachment.go.tmpl
  mmv1/templates/terraform/examples/compute_resource_policy_attachment_basic.tf.tmpl
  mmv1/templates/terraform/pre_delete/compute_resource_policy_attachment.go.tmpl
Labels: service/compute-instances, disable-review-reminders

#13700 Removed trailing skip vcrs related to https://github.com/hashicorp/terraform-provider-google/issues/14158
  mmv1/products/firebase/WebApp.yaml
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_web_app_config_test.go.tmpl
Labels: service/firebase

#13626 Added IPv6 support for Internal Ranges in Terraform.
  mmv1/products/networkconnectivity/InternalRange.yaml
  mmv1/templates/terraform/examples/network_connectivity_internal_ranges_ipv6.tf.tmpl
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_internal_range_test.go
Labels: service/networkconnectivity-private-range

#13677 Fix for
  mmv1/products/compute/NetworkFirewallPolicyRule.yaml
  mmv1/templates/terraform/constants/network_firewall_policy_rule.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_network_firewall_policy_rule_test.go.tmpl
Labels: service/network-security-distributed-firewall

#13684 Upgrade DCL to 1.79.0
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/gkehub/resource_gke_hub_feature_membership_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/gke_hub_feature_membership.html.markdown
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/gkehub

#13698 Removed unused required: true from two resources' name fields to make sure it's clear that these fields are not required
  mmv1/products/spanner/Instance.yaml
  mmv1/products/spanner/InstanceConfig.yaml
Labels: service/spanner

#13697 Fix for the google_compute_router_route_policy - unable to create route policy with priority 0.
  mmv1/products/compute/RouterRoutePolicy.yaml
  mmv1/templates/terraform/custom_expand/expand_route_policy_terms.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_router_route_policy_test.go.tmpl
Labels: service/compute-router

#13706 data.google_certificate_manager_certificates : explain attributes
  mmv1/third_party/terraform/website/docs/d/certificate_manager_certificates.html.markdown
Labels: service/certificatemanager

#13182 Update ManagedZone.yaml and add domain name to forwarding config and make ipv4Address optional
  mmv1/products/dns/ManagedZone.yaml
  mmv1/third_party/terraform/services/dns/resource_dns_managed_zone_test.go.tmpl
Labels: service/cloud-dns

#13660 container: allow updating gvnic in place for node_pool
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#13713 use bootstrapped network for gke cluster tests
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
Labels: service/container

#13720 Adding API Docs for CA Pool
  mmv1/products/privateca/CaPool.yaml
Labels: service/privateca

#13702 Promoting Redis tests from Beta to GA
  mmv1/third_party/terraform/services/redis/resource_redis_cluster_test.go.tmpl
Labels: service/redis-cluster

#13693 Switched async post-create setting of fields to check id format instead of 'identity'
  mmv1/products/chronicle/Retrohunt.yaml
  mmv1/templates/terraform/decoders/chronicle_retrohunt.go.tmpl
  mmv1/templates/terraform/post_create/chronicle_retrohunt_id.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
Labels: service/terraform

#13724 Modifies AnywhereCache Deletion logic in `google_storage_bucket` resource
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
Labels: service/storage

#13547 folder policy orchestrator
  mmv1/products/osconfigv2/PolicyOrchestratorForFolder.yaml
  mmv1/templates/terraform/examples/osconfigv2_policy_orchestrator_for_folder_basic.tf.tmpl
  mmv1/third_party/terraform/services/osconfigv2/resource_os_config_v2_policy_orchestrator_for_folder_test.go.tmpl
Labels: service/osconfig

#13730 Remove extra permission required for doing a destory in resource_storage_bucket
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
Labels: service/storage

#13613 Add example and test for managing dynamic backend services
  mmv1/products/compute/BackendService.yaml
  mmv1/templates/terraform/examples/backend_service_dynamic_backends.tf.tmpl
Labels: service/compute-l7-load-balancer

#13734 added sweepable prefixes for compute disk
  mmv1/third_party/terraform/services/compute/resource_compute_disk_sweeper.go
Labels: service/compute-pd

#13683 Fix the delta lake test in google_bigquery_table_test
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table_test.go
Labels: service/bigquery

#13710 Adding documentation and examples for Apigee data residency
  mmv1/products/apigee/Organization.yaml
  mmv1/templates/terraform/examples/apigee_organization_cloud_basic_data_residency.tf.tmpl
  mmv1/templates/terraform/examples/apigee_organization_cloud_basic_data_residency_test.tf.tmpl
Labels: service/apigee

#13549 feat(LbTrafficExtension): Add LBTrafficExtension metadata support
  mmv1/products/networkservices/LbTrafficExtension.yaml
  mmv1/templates/terraform/examples/network_services_lb_traffic_extension_basic.tf.tmpl
  mmv1/third_party/terraform/services/networkservices/resource_network_services_lb_traffic_extension_test.go
Labels: service/networkservices-service-extensions

#13611 Add tags to Secret Manager Secret TagsR2401
  mmv1/products/secretmanager/Secret.yaml
  mmv1/third_party/terraform/services/secretmanager/resource_secret_manager_secret_test.go.tmpl
Labels: service/secretmanager

#13685 Add TF support for data-cache-count for GKE Data Cache
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13731 Expand Account Connector terraform to add new providers
  mmv1/products/developerconnect/AccountConnector.yaml
  mmv1/templates/terraform/examples/developer_connect_account_connector_datastax.tf.tmpl
  mmv1/templates/terraform/examples/developer_connect_account_connector_new_relic.tf.tmpl
  mmv1/third_party/terraform/services/developerconnect/resource_developer_connect_account_connector_test.go.tmpl
Labels: service/developerconnect

#13729 Add documentation and example for the deployment_override field
  mmv1/third_party/terraform/website/docs/r/gke_hub_feature_membership.html.markdown
Labels: service/gkehub

#13585 Add disk_id to google_compute_region_disk
  mmv1/products/compute/RegionDisk.yaml
Labels: service/compute-pd

#13690 Add response_type to google_identity_platform_oauth_idp_config
  mmv1/products/identityplatform/OauthIdpConfig.yaml
  mmv1/templates/terraform/examples/identity_platform_oauth_idp_config_basic.tf.tmpl
  mmv1/third_party/terraform/services/identityplatform/resource_identity_platform_oauth_idp_config_test.go
Labels: service/identitytoolkit

#13578 feat(dataplex): add `notification_report` to `google_dataplex_datascan` resource
  mmv1/products/dataplex/Datascan.yaml
  mmv1/templates/terraform/examples/dataplex_datascan_full_quality.tf.tmpl
Labels: service/dataplex

#13630 Removed dialogflow fulfillment set_computed_name post_create
  mmv1/products/dialogflow/Fulfillment.yaml
Labels: service/dialogflow

#13251 Add support for Materialized Views
  mmv1/products/bigtable/MaterializedView.yaml
  mmv1/templates/terraform/examples/bigtable_materialized_view.tf.tmpl
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_materialized_view_test.go
Labels: service/bigtableadmin

#13591 Adding Memcache Instance datasource
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/memcache/data_source_memcache_instance.go
  mmv1/third_party/terraform/services/memcache/data_source_memcache_instance_test.go
  mmv1/third_party/terraform/website/docs/d/memcache_instance.html.markdown
Labels: service/memcache

#13752 Update cos-cloud/cos-105-lts occurrences to a supported LTS (121)
  mmv1/templates/terraform/examples/compute_mig_resize_request.tf.tmpl
  mmv1/templates/terraform/examples/compute_rmig_resize_request.tf.tmpl
Labels: service/compute-managed

#13749 Increase WorkstationCluster operations to 120m
  mmv1/products/workstations/WorkstationCluster.yaml
Labels: service/workstations

#13751 Increase SecureSourceManager Instance operations to 120m
  mmv1/products/securesourcemanager/Instance.yaml
Labels: service/securesourcemanager

#13236 Update disk type schema field to support db-c4a-highmem-4 tier
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go.tmpl
  mmv1/third_party/tgc/tests/data/example_google_datastream_stream.json
  mmv1/third_party/tgc/tests/data/example_google_datastream_stream_append_only.json
  mmv1/third_party/tgc/tests/data/example_sql_database_instance.json
  mmv1/third_party/tgc/tests/data/sql.json
Labels: override-breaking-change, service/sqladmin-cp

#13756 Expect error when clearing custom performance in Filestore
  mmv1/third_party/terraform/services/filestore/resource_filestore_instance_test.go
Labels: service/filestore

#13663 Add custom performance support for netapp storage pools
  mmv1/products/netapp/StoragePool.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_storage_pool_test.go.tmpl
Labels: service/netapp

#13757 Remove bad ExpectError from data. google_kms_crypto_key_latest_versio…
  mmv1/third_party/terraform/services/kms/data_source_google_kms_crypto_key_latest_version_test.go
Labels: service/cloudkms

#13765 Improve documentation for `google_compute_backend_bucket.cdn_policy`
  mmv1/products/compute/BackendBucket.yaml
Labels: service/compute-l7-load-balancer

#13306 Add support for Logical Views
  mmv1/products/bigtable/LogicalView.yaml
  mmv1/templates/terraform/examples/bigtable_logical_view.tf.tmpl
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_logical_view_test.go
Labels: service/bigtableadmin

#13763 feat: (storage) added time_created and updated timestamps for storage bucket
  mmv1/third_party/terraform/services/storage/resource_storage_bucket.go.tmpl
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/storage_bucket.html.markdown
Labels: service/storage

#13758 Allow empty rollback block.
  mmv1/products/clouddeploy/Automation.yaml
  mmv1/templates/terraform/examples/clouddeploy_automation_basic.tf.tmpl
  mmv1/third_party/terraform/services/clouddeploy/resource_clouddeploy_automation_test.go
Labels: service/clouddeploy

#13542 feat: support new output-only field dns_names for Cloud SQL instances
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_meta.yaml
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: awaiting-approval, service/sqladmin-cp, disable-review-reminders

#13241 Added missing KMS fields to instance_template resources
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#13767 Update `google_alloydb_instance.network_config` to be O+C
  mmv1/products/alloydb/Instance.yaml
Labels: service/alloydb

#13755 Use optimized for embedding search in google_vertex_ai_feature_online_store example
  mmv1/templates/terraform/examples/vertex_ai_featureonlinestore_featureview_with_vector_search.tf.tmpl
Labels: service/aiplatform-featurestore

#13748 Update gpu_driver_version to say driver autoinstallation is default on
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13768 Fix image name used in tests to be randomized and sweepable
  mmv1/third_party/terraform/services/compute/resource_compute_instance_template_test.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_instance_template_test.go.tmpl
Labels: service/compute-instances

#13691 Add flex start
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#13379 Add managed_private_network
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go.tmpl
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_meta.yaml.tmpl
  mmv1/third_party/terraform/website/docs/r/storage_transfer_job.html.markdown
Labels: service/storage
