Repository GoogleCloudPlatform/magic-modules, pull requests merged in 2025-08, with the labels that each got.

#14694 fix TestAccDiscoveryEngineCmekConfig_* tests
  mmv1/products/discoveryengine/CmekConfig.yaml
  mmv1/templates/terraform/examples/discoveryengine_cmekconfig_default.tf.tmpl
  mmv1/third_party/terraform/services/discoveryengine/resource_discovery_engine_cmek_config_test.go
Labels: service/discoveryengine

#14595 Add support for dataproc cluster_tier
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster.go
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_meta.yaml
  mmv1/third_party/terraform/services/dataproc/resource_dataproc_cluster_test.go
  mmv1/third_party/terraform/website/docs/r/dataproc_cluster.html.markdown
Labels: service/dataproc

#14706 Add error checking to calls of nodePoolNodeConfigUpdate
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#14704 Support singProcessOOMKill in node_kubelet_config
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#14718 Keep the gateway id not changed in update test
  mmv1/third_party/terraform/services/apigateway/resource_api_gateway_gateway_test.go.tmpl
Labels: service/apigateway

#14510 Add the PSA write endpoint
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#14721 Add singular data source for retrieving an Artifact Registry version
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_version.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_version_test.go
  mmv1/third_party/terraform/website/docs/d/artifact_registry_version.html.markdown
Labels: service/artifactregistry

#14730 Add service account to datasource tests
  mmv1/third_party/terraform/services/composer/data_source_google_composer_environment_test.go
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_config_map_test.go
  mmv1/third_party/terraform/services/composer/data_source_google_composer_user_workloads_secret_test.go
Labels: service/composer

#14695 support updating user_managed_keys_config on GKE Clusters
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
Labels: service/container

#14743 Remove dynamic block from pubsub tests
  mmv1/templates/terraform/examples/pubsub_subscription_multiple_smts.tf.tmpl
  mmv1/templates/terraform/examples/pubsub_topic_multiple_smts.tf.tmpl
Labels: service/pubsub

#14709 feat: (vertexai) add rag_engine_config resource support
  mmv1/products/vertexai/RagEngineConfig.yaml
  mmv1/templates/terraform/custom_delete/vertex_ai_rag_engine_config.go.tmpl
  mmv1/templates/terraform/examples/vertex_ai_rag_engine_config_basic.tf.tmpl
  mmv1/templates/terraform/examples/vertex_ai_rag_engine_config_scaled.tf.tmpl
  mmv1/templates/terraform/examples/vertex_ai_rag_engine_config_unprovisioned.tf.tmpl
  mmv1/third_party/terraform/services/vertexai/resource_vertex_ai_rag_engine_config_test.go
Labels: service/aiplatform-rag-engine

#14686 google_compute_service_attachment: allow use of global target forwarding rules
  mmv1/products/compute/ServiceAttachment.yaml
  mmv1/templates/terraform/custom_expand/service_attachment_target_service.go.tmpl
  mmv1/templates/terraform/examples/service_attachment_cross_region_ilb.tf.tmpl
Labels: service/private-service-connect-published-service

#14766 feat: support PSC outbound's network attachment field
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#14569 fix(bigquery_dataset): fixed handling of non-legacy roles for access …
  mmv1/products/bigquery/Dataset.yaml
  mmv1/templates/terraform/constants/bigquery_dataset.go.tmpl
  mmv1/templates/terraform/examples/bigquery_dataset_basic.tf.tmpl
Labels: service/bigquery

#14427 feat:(storagetransfer) added federated identity config for azure storage transfer
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job.go
  mmv1/third_party/terraform/services/storagetransfer/resource_storage_transfer_job_meta.yaml
  mmv1/third_party/terraform/website/docs/r/storage_transfer_job.html.markdown
Labels: service/storage

#14693 Add singular data source for retrieving a package from an Artifact Registry repository
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_package.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_package_test.go
  mmv1/third_party/terraform/website/docs/d/artifact_registry_package.html.markdown
Labels: service/artifactregistry

#14756 fix sweepers for resources with overridden names
  mmv1/api/resource.go
  mmv1/products/storagetransfer/AgentPool.yaml
Labels: service/terraform

#14522 Add HA Policy to Regional Backend Services
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/templates/terraform/examples/region_backend_service_ha_policy.tf.tmpl
  mmv1/templates/terraform/examples/region_backend_service_ha_policy_manual_leader.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_ha_policy_manual_leader_update_test.go
Labels: service/compute-l7-load-balancer

#14726 Add advanced_options_config to regional security policies.
  mmv1/products/compute/RegionSecurityPolicy.yaml
  mmv1/templates/terraform/examples/region_security_policy_with_advanced_options.tf.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_region_security_policy_test.go.tmpl
Labels: service/compute-security-policy

#14791 make event_type required in `google_cloudfunctions2_function` resource
  mmv1/products/cloudfunctions2/Function.yaml
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/cloudfunctions

#14598 Lakshman single datasource generation
  mmv1/api/resource.go
  mmv1/products/iap/Client.yaml
  mmv1/provider/template_data.go
  mmv1/provider/terraform.go
  mmv1/templates/terraform/datasource.go.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/iap/data_source_iap_client.go
Labels: service/terraform

#14230 provider: eliminated the need to manually add `*_wo` and `*_wo_version` for write-only properties
  docs/content/reference/field.md
  mmv1/api/resource.go
  mmv1/api/resource_test.go
  mmv1/api/type.go
  mmv1/api/type_test.go
  mmv1/main.go
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/products/monitoring/UptimeCheckConfig.yaml
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/templates/terraform/flatten_property_method.go.tmpl
Labels: override-breaking-change, service/bigquery, service/monitoring-uptime, service/secretmanager

#14757 Make LinkedVpcNetwork mutable
  mmv1/products/networkconnectivity/Spoke.yaml
  mmv1/third_party/terraform/services/networkconnectivity/resource_network_connectivity_spoke_test.go
Labels: service/network-connectivity-center

#14811 Fix google_apigee_sharedflow_deployment import
  mmv1/third_party/terraform/services/apigee/resource_apigee_sharedflow_deployment.go
Labels: service/apigee

#14814 Revert "Fix partial match regexes"
  mmv1/templates/terraform/custom_import/extract_taxonomy.go.tmpl
  mmv1/templates/terraform/custom_import/vertex_ai_tensorboard_import.go.tmpl
  mmv1/third_party/terraform/services/apigee/resource_apigee_api.go
  mmv1/third_party/terraform/services/apigee/resource_apigee_flowhook.go
  mmv1/third_party/terraform/services/apigee/resource_apigee_keystores_aliases_key_cert_file.go
  mmv1/third_party/terraform/services/apigee/resource_apigee_keystores_aliases_pkcs12.go
  mmv1/third_party/terraform/services/apigee/resource_apigee_sharedflow.go
  mmv1/third_party/terraform/services/apigee/resource_apigee_sharedflow_deployment.go
  mmv1/third_party/terraform/services/bigquery/resource_bigquery_table.go.tmpl
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_authorized_view.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_instance.go
  mmv1/third_party/terraform/services/bigtable/resource_bigtable_table.go
  mmv1/third_party/terraform/services/cloudfunctions/resource_cloudfunctions_function.go
  mmv1/third_party/terraform/services/compute/resource_compute_instance.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_instance_group.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_project_metadata_item.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_target_pool.go.tmpl
  mmv1/third_party/terraform/services/dns/resource_dns_record_set.go
  mmv1/third_party/terraform/services/osconfig/resource_os_config_os_policy_assignment.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_folder_organization_policy.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_iam_custom_role.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_project_organization_policy.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_service_account.go
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  tpgtools/ignored_handwritten/custom_import.go
Labels: service/terraform

#14702 Add plural data source for retrieving Artifact Registry tags
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_tags.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_tags_test.go
  mmv1/third_party/terraform/website/docs/d/artifact_registry_tags.html.markdown
Labels: service/artifactregistry

#14795 remove default vals and custom code for `publicRepository` in artifact registry repository
  mmv1/products/artifactregistry/Repository.yaml
  mmv1/templates/terraform/pre_create/artifact_registry_remote_repository.go.tmpl
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/artifactregistry

#14786 `google_vertex_ai_index` fields made required
  mmv1/products/vertexai/Index.yaml
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/aiplatform-matching-engine

#14685 Add support for new flags in Container node kubelet and linux config.
  mmv1/third_party/terraform/services/container/node_config.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_cluster_test.go.tmpl
  mmv1/third_party/terraform/services/container/resource_container_node_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#14601 Add capability related fields to the folder schema
  mmv1/third_party/terraform/services/resourcemanager/data_source_google_folder.go
  mmv1/third_party/terraform/services/resourcemanager/resource_google_folder.go
  mmv1/third_party/terraform/services/resourcemanager3/resource_resource_manager_capability_test.go.tmpl
  mmv1/third_party/terraform/website/docs/d/folder.html.markdown
  mmv1/third_party/terraform/website/docs/r/google_folder.html.markdown
Labels: service/cloudresourcemanager-crm

#14802 Treat skip_initial_version_creation as a create-only parameter for Cloud KMS keys
  mmv1/products/kms/CryptoKey.yaml
  mmv1/templates/terraform/custom_import/kms_crypto_key.go.tmpl
  mmv1/third_party/terraform/services/kms/resource_kms_crypto_key_test.go.tmpl
Labels: service/cloudkms

#14826 fix TestAccDataFusionInstance_dataFusionInstanceCmekExample
  mmv1/templates/terraform/examples/data_fusion_instance_cmek.tf.tmpl
Labels: service/datafusion

#14817 beyondcorp iam deprecation
  mmv1/api/resource/iam_policy.go
  mmv1/products/beyondcorp/Application.yaml
  mmv1/templates/terraform/datasource_iam.html.markdown.tmpl
  mmv1/templates/terraform/resource_iam.html.markdown.tmpl
Labels: service/terraform

#14849 google_dialogflow_conversation_profile
  mmv1/products/dialogflow/ConversationProfile.yaml
  mmv1/templates/terraform/custom_flatten/conversation_profile_context_filter_settings.go.tmpl
  mmv1/templates/terraform/custom_flatten/conversation_profile_suggestion_trigger_settings.go.tmpl
  mmv1/templates/terraform/examples/dialogflow_conversation_profile_basic.tf.tmpl
  mmv1/third_party/terraform/services/dialogflow/resource_dialogflow_conversation_profile_test.go
Labels: service/dialogflow

#14852 upgrade dcl to 1.81.0
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  tpgtools/go.mod
  tpgtools/go.sum
  tpgtools/overrides/apikeys/samples/key/service_account_key.tf.tmpl
  tpgtools/overrides/apikeys/samples/key/service_account_key.yaml
Labels: service/apikeys

#14844 datasource migration for storagecontrol
  mmv1/products/storagecontrol/FolderIntelligenceConfig.yaml
  mmv1/products/storagecontrol/OrganizationIntelligenceConfig.yaml
  mmv1/products/storagecontrol/ProjectIntelligenceConfig.yaml
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/storagecontrol/data_source_storage_control_folder_intelligence_config.go
  mmv1/third_party/terraform/services/storagecontrol/data_source_storage_control_organization_intelligence_config.go
  mmv1/third_party/terraform/services/storagecontrol/data_source_storage_control_project_intelligence_config.go
Labels: service/storage

#14828 Add new fields in Agent resource for Dialogflow CX service
  mmv1/products/dialogflowcx/Agent.yaml
  mmv1/templates/terraform/examples/dialogflowcx_agent_full.tf.tmpl
Labels: service/dialogflow

#14854 Convert advertised_ip_ranges from List to Set
  mmv1/products/compute/Router.yaml
  mmv1/templates/terraform/constants/router.go.tmpl
  mmv1/templates/terraform/custom_flatten/compute_router_range.go.tmpl
  mmv1/third_party/terraform/services/compute/resource_compute_router_peer.go.tmpl
Labels: service/compute-router

#14724 Add max instance count field to Cloud Run Service
  mmv1/products/cloudrunv2/Service.yaml
  mmv1/templates/terraform/examples/cloudrunv2_service_basic.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_service_gpu.tf.tmpl
  mmv1/templates/terraform/examples/cloudrunv2_service_sql.tf.tmpl
  mmv1/third_party/terraform/services/cloudrunv2/resource_cloud_run_v2_service_test.go.tmpl
Labels: service/run, service/iap

#14530 add Developer Connect Triggers to Cloudbuild
  mmv1/products/cloudbuild/Trigger.yaml
  mmv1/templates/terraform/examples/cloudbuild_trigger_developer_connect_pull.tf.tmpl
  mmv1/templates/terraform/examples/cloudbuild_trigger_developer_connect_push.tf.tmpl
  mmv1/templates/terraform/examples/cloudbuild_trigger_developer_connect_push_branch.tf.tmpl
Labels: service/cloudbuild

#14878 Fix Lustre timeout failures
  mmv1/products/lustre/Instance.yaml
  mmv1/third_party/terraform/services/lustre/data_source_lustre_instance_test.go
Labels: service/lustre

#14914 updated organization security policies
  mmv1/products/compute/OrganizationSecurityPolicy.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_organization_security_policy_test.go.tmpl
Labels: service/network-security-distributed-firewall

#14653 Adding restoreBackup support for sql db instance using backupdr_backup
  mmv1/third_party/terraform/acctest/bootstrap_test_utils.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance.go.tmpl
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_meta.yaml
  mmv1/third_party/terraform/services/sql/resource_sql_database_instance_test.go.tmpl
  mmv1/third_party/terraform/transport/config.go.tmpl
  mmv1/third_party/terraform/website/docs/r/sql_database_instance.html.markdown
Labels: service/sqladmin-cp

#14804 Add singular data source for retrieving an NPM package from an Artifact Registry repository
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_npm_package.go
  mmv1/third_party/terraform/services/artifactregistry/data_source_artifact_registry_npm_package_test.go
  mmv1/third_party/terraform/website/docs/d/artifact_registry_npm_package.html.markdown
Labels: service/artifactregistry

#14887 Deprecation of Field allow_fewer_zone_deployment
  mmv1/products/memorystore/Instance.yaml
  mmv1/products/redis/Cluster.yaml
Labels: service/redis-cluster, service/memorystore

#14937 fixed issue where a failed creation on container_node_pool would result in an unrecoverable tainted state
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#14889 Breaking Change: Remove allow_fewer_zones_deployment from Memorystore and Redis Cluster
  mmv1/products/memorystore/Instance.yaml
  mmv1/products/redis/Cluster.yaml
  mmv1/templates/terraform/examples/memorystore_instance_full.tf.tmpl
  mmv1/templates/terraform/examples/redis_cluster_aof.tf.tmpl
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: service/redis-cluster, service/memorystore

#14942 Revert " provider: eliminated the need to manually add `*_wo` and `*_…
  docs/content/reference/field.md
  mmv1/api/resource.go
  mmv1/api/resource_test.go
  mmv1/api/type.go
  mmv1/api/type_test.go
  mmv1/main.go
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/products/monitoring/UptimeCheckConfig.yaml
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/templates/terraform/flatten_property_method.go.tmpl
Labels: service/bigquery, service/monitoring-uptime, service/secretmanager

#14941 Standardized required_with behavior for write-only fields
  mmv1/products/bigquerydatatransfer/Config.yaml
  mmv1/products/monitoring/UptimeCheckConfig.yaml
  mmv1/products/secretmanager/SecretVersion.yaml
  mmv1/third_party/terraform/services/sql/resource_sql_user.go
  mmv1/third_party/terraform/services/sql/resource_sql_user_test.go
  mmv1/third_party/terraform/website/docs/guides/version_7_upgrade.html.markdown
Labels: override-breaking-change, service/terraform

#14943 fix other scenario for node_pool not exist
  mmv1/third_party/terraform/services/container/resource_container_node_pool.go.tmpl
Labels: service/container

#14977 Plugin Framework feature branch merge
  .ci/magician/cmd/test_terraform_vcr.go
  mmv1/api/resource.go
  mmv1/api/type.go
  mmv1/products/datafusion/Instance.yaml
  mmv1/provider/template_data.go
  mmv1/provider/terraform.go
  mmv1/templates/terraform/pre_update/fw_datafusion_instance_update.go.tmpl
  mmv1/templates/terraform/resource_fw.go.tmpl
  mmv1/templates/terraform/schema_property_fw.go.tmpl
  mmv1/templates/terraform/update_mask_fw.go.tmpl
  mmv1/third_party/terraform/acctest/vcr_utils.go
  mmv1/third_party/terraform/fwprovider/framework_provider.go.tmpl
  mmv1/third_party/terraform/fwresource/field_helpers.go
  mmv1/third_party/terraform/fwresource/framework_import.go
  mmv1/third_party/terraform/fwresource/framework_import_test.go
  mmv1/third_party/terraform/fwtransport/framework_utils.go
  mmv1/third_party/terraform/fwvalidators/framework_validators.go
  mmv1/third_party/terraform/fwvalidators/framework_validators_test.go
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/apigee/fw_resource_apigee_keystores_aliases_key_cert_file.go
  mmv1/third_party/terraform/services/apigee/resource_apigee_keystores_aliases_key_cert_file.go
  mmv1/third_party/terraform/services/compute/fw_data_source_google_compute_network.go.tmpl
  mmv1/third_party/terraform/services/compute/fw_data_source_google_compute_network_test.go
  mmv1/third_party/terraform/services/compute/image.go
  mmv1/third_party/terraform/services/dataflow/resource_dataflow_flex_template_job_test.go.tmpl
  mmv1/third_party/terraform/services/dns/resource_dns_managed_zone_test.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_android_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_apple_app_config.go.tmpl
  mmv1/third_party/terraform/services/firebase/data_source_google_firebase_web_app_config.go.tmpl
  mmv1/third_party/terraform/services/pubsublite/fw_resource_pubsub_lite_reservation.go
  mmv1/third_party/terraform/services/pubsublite/fw_resource_pubsub_lite_reservation_test.go
  mmv1/third_party/terraform/services/sql/fw_resource_sql_user.go
  mmv1/third_party/terraform/services/sql/fw_resource_sql_user_test.go
  mmv1/third_party/terraform/services/storage/fw_resource_storage_notification.go
  mmv1/third_party/terraform/services/storage/fw_storage_notification_state_upgraders.go
  mmv1/third_party/terraform/services/storage/resource_storage_notification.go
  mmv1/third_party/terraform/services/storage/resource_storage_notification_test.go
  mmv1/third_party/terraform/website/docs/r/apigee_keystores_aliases_key_cert_file.html.markdown
Labels: service/storage, service/firebase, service/apigee

#14641 note: removed deprecated status for field detect_md5hash
  mmv1/third_party/terraform/services/storage/resource_storage_bucket_object.go
  mmv1/third_party/terraform/website/docs/r/storage_bucket_object.html.markdown
Labels: service/storage, disable-review-reminders

#14981 Add provisioned_throughput to the public documentation for instance template
  mmv1/third_party/terraform/website/docs/r/compute_instance_template.html.markdown
  mmv1/third_party/terraform/website/docs/r/compute_region_instance_template.html.markdown
Labels: service/compute-instances

#14767 SWP: Add support for value "EXPLICIT_ROUTING_MODE" on field "routing_mode" on resource "google_network_services_gateway"
  mmv1/products/networkservices/Gateway.yaml
  mmv1/third_party/terraform/services/networkservices/resource_network_services_gateway_test.go
  mmv1/third_party/terraform/tpgresource/common_diff_suppress.go
Labels: service/networkservices-traffic-director

#14880 altered datasource url usage
  mmv1/api/resource.go
  mmv1/products/cloudrun/Service.yaml
  mmv1/templates/terraform/datasource.go.tmpl
  mmv1/third_party/terraform/provider/provider_mmv1_resources.go.tmpl
  mmv1/third_party/terraform/services/cloudrun/data_source_cloud_run_service.go
Labels: service/run

#14930 add GKE default disk_type notes
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#14929 added qos support
  mmv1/products/netapp/StoragePool.yaml
  mmv1/products/netapp/Volume.yaml
  mmv1/third_party/terraform/services/netapp/resource_netapp_volume_test.go.tmpl
Labels: service/netapp

#14125 `resourceIdentity`: add Identity support in MMv1/DCL resources
  mmv1/api/resource.go
  mmv1/api/resource/custom_code.go
  mmv1/products/apigee/AddonsConfig.yaml
  mmv1/products/iap/Brand.yaml
  mmv1/templates/terraform/custom_identity_read/apigee_addons.go.tmpl
  mmv1/templates/terraform/custom_identity_read/iap_brand.go.tmpl
  mmv1/templates/terraform/custom_identity_schema/addons_config.go.tmpl
  mmv1/templates/terraform/custom_identity_schema/apigee_addons.go.tmpl
  mmv1/templates/terraform/custom_identity_schema/iap_brand.go.tmpl
  mmv1/templates/terraform/resource.go.tmpl
  mmv1/third_party/terraform/tpgresource/import.go
  mmv1/third_party/terraform/tpgresource/resource_test_utils.go
  mmv1/third_party/terraform/tpgresource/utils.go
  mmv1/third_party/tgc/tfdata/fake_resource_data.go
  mmv1/third_party/tgc_next/go.mod
  mmv1/third_party/tgc_next/go.sum
  mmv1/third_party/tgc_next/pkg/tfplan2cai/models/fake_resource_data.go
  tpgtools/id.go
  tpgtools/property.go
  tpgtools/resource.go
  tpgtools/templates/resource.go.tmpl
Labels: service/terraform

#14935 Upgrade DCL 1.83.0
  mmv1/third_party/terraform/go.mod
  mmv1/third_party/terraform/go.sum
  mmv1/third_party/terraform/services/cloudbuild/resource_cloudbuild_worker_pool_test.go.tmpl
  mmv1/third_party/terraform/website/docs/r/cloudbuild_worker_pool.html.markdown
  tpgtools/go.mod
  tpgtools/go.sum
Labels: service/gkehub, service/cloudbuild

#14948 Fix non-idempotent behavior in google_compute_region_network_endpoint_group when network is omitted
  mmv1/products/compute/RegionNetworkEndpointGroup.yaml
  mmv1/templates/terraform/examples/region_network_endpoint_group_psc_service_attachment.tf.tmpl
Labels: service/compute-networking-neg

#14898 feat: enable default_from_api flag for ODB Network related fields in Oracledatabase AutonomousDatabase resource
  mmv1/products/oracledatabase/AutonomousDatabase.yaml
Labels: service/oracledatabase

#14837 Add resource_manager_tags support to Region Backend Service api
  mmv1/products/compute/RegionBackendService.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_region_backend_service_test.go.tmpl
Labels: service/compute-l7-load-balancer

#14986 Fixed TestAccApigeeSecurityAction_apigeeSecurityActionFull test setup
  mmv1/third_party/terraform/services/apigee/resource_apigee_security_action_test.go
Labels: service/apigee

#14264 Compute public delagated sub prefix list support
  mmv1/products/compute/PublicDelegatedPrefix.yaml
  mmv1/third_party/terraform/services/compute/resource_compute_public_advertised_prefix_test.go
Labels: service/compute-ipam

#14872 autogeneration of tests for singular datasources
  mmv1/api/resource.go
  mmv1/api/resource/datasource.go
  mmv1/products/cloudrun/Service.yaml
  mmv1/products/storagecontrol/FolderIntelligenceConfig.yaml
  mmv1/products/storagecontrol/OrganizationIntelligenceConfig.yaml
  mmv1/products/storagecontrol/ProjectIntelligenceConfig.yaml
  mmv1/provider/template_data.go
  mmv1/provider/terraform.go
  mmv1/templates/terraform/examples/base_configs/datasource_test_file.go.tmpl
  mmv1/third_party/terraform/services/iap/data_source_iap_client_test.go
Labels: service/redis-cluster, service/iap

#14932 Document deprecated GKE Enterprise fields.
  mmv1/third_party/terraform/services/container/resource_container_cluster.go.tmpl
  mmv1/third_party/terraform/website/docs/r/container_cluster.html.markdown
Labels: service/container

#15032 Bumped version for GKE Hub Feature test to fix test failures
  mmv1/third_party/terraform/services/gkehub2/resource_gke_hub_feature_test.go.tmpl
Labels: service/gkehub

#15030 Fixed typo in TestAccApigeeSecurityAction_apigeeSecurityActionFull config
  mmv1/third_party/terraform/services/apigee/resource_apigee_security_action_test.go
Labels: service/apigee
